<!DOCTYPE html>
<html lang="en" ng-app="RideEventsApp">
<head>
    <meta charset="utf-8">
    <title>WAYbetter - Ride Events</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="/static/css/bootstrap/css/bootstrap.min.css">
    <style type="text/css">
        body {
            padding-top: 50px;
        }
    </style>
    <link rel="stylesheet" href="/static/css/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/static/css/jquery-ui-1.8.14.smoothness.css" type="text/css" media="all">
    <style type="text/css">
        .ui-widget {
            font-family: inherit;
            font-size: inherit;
        }

        .input-prepend .prepend-text {
            min-width: 35px;
        }

        .navbar .container {
            margin-left: 20px;
        }

        form .input-prepend {
            margin-right: 4px;
        }
        form button {
            margin-top: 5px;
        }

        .table-striped tbody tr.selected td {
            background-color: #0074CC;
            color: white;
        }

        #map {
            width: 100%;
            min-height: 800px;
            height: 100%;
            margin-top: 4px;
        }

        #map img {
            max-width: none;
        }
        .left-column {
            overflow-y: auto;
            max-height: 800px;
        }

        .rides-table tr {
            cursor: pointer;
        }

        .status-list > li {
            font-weight: bold;
        }

        .status-list > li > span {
            font-weight: normal;
        }

        .time {
            font-size: smaller;
            color: #999;
        }
        .stop_marker {
            position: absolute;
            cursor: pointer;
        }
        .position_marker {
            height: 7px;
            width: 7px;
            background: #8c0019;
            border-radius: 50%;
            position: absolute;
            cursor: pointer;
        }
        .speed-marker {
            height: 7px;
            width: 7px;
            position: absolute;
            cursor: crosshair;
        }

        [ng\:cloak], [ng-cloak], .ng-cloak {
          display: none;
        }
    </style>

</head>
<body class="ng-cloak">
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a href="#" class="brand">Ride Events</a>

        </div>
    </div>
</div>
<div class="container-fluid" ng-controller="RideEventsCtrl">
    <div class="row-fluid">
        <div class="span4 left-column">
            <form class="form-inline">
                <div class="input-prepend">
                    <span class="add-on prepend-text" id="">From</span><input type='text' ng-model='from_date' ui-date
                                                                              class="input-small">
                </div>
                <div class="input-prepend">
                    <span class='add-on prepend-text'>To</span><input type='text' ng-model='to_date' ui-date
                                                                      class="input-small">
                </div>

                <button ng-click="fetchRides()" class=' btn btn-primary btn-large'><i
                        class="icon-thumbs-up icon-white"></i> Load Events
                </button>
        
                <label class="checkbox">
                    <input type="checkbox" ng-model="show_route" ng-change="toggleRoute()">Show Route
                </label>

            </form>

            <resource-loading-notification></resource-loading-notification>

            <p class="lead" ng-show="sharing_rides">(( sharing_rides.length )) Sharing Rides</p>
            <table class='table table-striped table-condensed rides-table' ng-cloak ng-show="sharing_rides">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Time</th>
                    <th>Taxi</th>
                    <th>From</th>
                    <th>To</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="ride in sharing_rides" ng-click="showEvents(ride)" ng-class="isSelected(ride)">
                    <td>(( ride.id ))</td>
                    <td>(( ride.stops[0].time ))</td>
                    <td>(( ride.taxi ))</td>
                    <td>(( ride.stops[0].address ))</td>
                    <td>(( ride.stops[ride.stops.length - 1].address ))</td>
                    <td><button class="btn btn-mini" ng-click="refreshEvents(ride)"><i class="icon-refresh"></i></button></td>
                </tr>
                </tbody>
            </table>
            <p class="lead" ng-show="pickmeapp_rides">(( pickmeapp_rides.length )) PickMeApp Rides</p>
            <table class='table table-striped table-condensed rides-table' ng-cloak ng-show="pickmeapp_rides">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Time</th>
                    <th>Taxi</th>
                    <th>From</th>
                    <th>To</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="ride in pickmeapp_rides" ng-click="showEvents(ride)" ng-class="isSelected(ride)">
                    <td>(( ride.id ))</td>
                    <td>(( ride.stops[0].time ))</td>
                    <td>(( ride.taxi ))</td>
                    <td>(( ride.stops[0].address ))</td>
                    <td>(( ride.stops[1].address ))</td>
                    <td><button class="btn btn-mini" ng-click="refreshEvents(ride)"><i class="icon-refresh"></i></button></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="span8">
            <div id="map" class='thumbnail'></div>
        </div>
    </div>
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/static/js/libs/jquery-1.6.4.min.js">\x3C/script>')</script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
<script>window.jQuery.ui || document.write('<script src="/static/js/libs/jquery-ui-1.8.13.min.js">\x3C/script>')</script>
<script type="text/javascript" src="/static/js/libs/angular-1.0.0.min.js"></script>
<script type="text/javascript" src="/static/js/libs/angular-ui.min.js"></script>
<script type="text/javascript" src="/static/js/libs/underscore.min.js"></script>
<script type="text/javascript" src="/static/css/bootstrap/js/bootstrap-tooltip.js"></script>
<script type="text/javascript" src="/static/css/bootstrap/js/bootstrap-popover.js"></script>
<script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false&language=he"></script>

<script type="text/javascript" src="/static/js/utils.js"></script>
<script type="text/javascript" src="/static/js/helpers.js"></script>

<script type="text/javascript">
    angular.module('ResourceLoadingNotification', [])
            .directive('resourceLoadingNotification', function factory($http) {
                var directiveDefinitionObject = {
                    template:'<div class="alert" ng-hide="isLoadingAlertHidden()">' +
                            '<strong >Loading...</strong>' +
                            '</div>',
                    replace:true,
                    restrict:'E',
                    link:function postLink(scope, iElement, iAttrs) {
                        scope.isLoadingAlertHidden = function () {
                            return $http.pendingRequests.length === 0;
                        };
                        scope.$watch(scope.isLoadingAlertHidden, function (parameters) {
                            if (scope.isLoadingAlertHidden()) {
                                $("button").removeClass("disabled");
                                $("input").removeAttr("disabled");
                            } else {
                                $("button").addClass("disabled");
                                $("input").attr("disabled", "");
                            }
                            console.log("isLoadingAlertHidden" + scope.isLoadingAlertHidden());
                        });


                    }
                };
                return directiveDefinitionObject;
            });


    var m = angular.module('RideEventsApp', ['ui', 'ResourceLoadingNotification']);
    m.config(function ($interpolateProvider) {
        $interpolateProvider.startSymbol('((');
        $interpolateProvider.endSymbol('))');
    });


</script>

<script type="text/javascript" src="/static/js/infobubble.js"></script>
<script type="text/javascript">

    // custom markers
    function PositionMarker(latLng, tooltip, map, class_name) {
        this.latlng_ = latLng;
        this.tooltip_ = tooltip;
        this.class_name = class_name || "position_marker";
        this.setMap(map);
    }
    PositionMarker.prototype = new google.maps.OverlayView();
    PositionMarker.prototype.setVisible = function(visible) {
      if (visible) {
          this.div_.style.display = "none";
      } else {
          this.div_.style.display = "";
      }
    };
    PositionMarker.prototype.draw = function() {
      var me = this;

      // Check if the div has been created.
      var div = this.div_;
      if (!div) {
        // Create a overlay text DIV

        div = this.div_ = document.createElement('DIV');
        // Create the DIV representing our StopMarker
        div.className = this.class_name;
        $(div).tooltip({
            title: me.tooltip_
        });

        google.maps.event.addDomListener(div, "click", function(event) {
          google.maps.event.trigger(me, "click");
        });

        // Then add the overlay to the DOM
        var panes = this.getPanes();
        panes.overlayImage.appendChild(div);
      }

      // Position the overlay
      var point = this.getProjection().fromLatLngToDivPixel(this.latlng_);
      if (point) {
        div.style.left = point.x + 'px';
        div.style.top = point.y + 'px';
      }
    };
    PositionMarker.prototype.remove = function() {
      // Check if the overlay was on the map and needs to be removed.
      if (this.div_) {
        this.div_.parentNode.removeChild(this.div_);
        this.div_ = null;
      }
    };
    PositionMarker.prototype.getPosition = function() {
        return this.latlng_;
    };

    
    // custom labels
    function LabelMarker(label, popover_title, popover_content, latLng, map, class_name) {
        this.latlng_ = latLng;
        this.label_ = label;
        this.popover_content_ = popover_content;
        this.popover_title_ = popover_title;
        this.class_name_ = class_name || "label-important";

        this.setMap(map);
    }
    LabelMarker.prototype = new google.maps.OverlayView();
    LabelMarker.prototype.setVisible = function(visible) {
      if (visible) {
          this.div_.style.display = "none";
      } else {
          this.div_.style.display = "";
      }
    };
    LabelMarker.prototype.draw = function() {
      var me = this;

      // Check if the div has been created.
      var div = this.div_;
      if (!div) {
        // Create a overlay text DIV

        div = this.div_ = document.createElement('DIV');
        // Create the DIV representing our StopMarker
        div.className = "stop_marker label " + me.class_name_;
        div.textContent = me.label_;

        this.updatePopover();

        google.maps.event.addDomListener(div, "click", function(event) {
          google.maps.event.trigger(me, "click");
        });

        // Then add the overlay to the DOM
        var panes = this.getPanes();
        panes.overlayImage.appendChild(div);
      }

      // Position the overlay
      var point = this.getProjection().fromLatLngToDivPixel(this.latlng_);
      if (point) {
        div.style.left = point.x + 'px';
        div.style.top = point.y + 'px';
      }
    };
    LabelMarker.prototype.remove = function() {
      // Check if the overlay was on the map and needs to be removed.
      if (this.div_) {
        this.div_.parentNode.removeChild(this.div_);
        this.div_ = null;
      }
    };
    LabelMarker.prototype.getContent = function () {
        return this.popover_content_;
    };
    LabelMarker.prototype.setContent = function (content) {
        this.popover_content_ = content;
        this.updatePopover();
    };
    LabelMarker.prototype.updatePopover = function() {
        var me = this;
        $(me.div_).popover({
          title: me.popover_title_,
          content: me.popover_content_
        });
    };
    LabelMarker.prototype.getPosition = function() {
        return this.latlng_;
    };


    // custom polylines
    function Polyline(latLng1, latLng2, map, options){
        var me = this;
        this.speed = undefined;
        this.color = undefined;
        this.poly = new google.maps.Polyline({
            path:[latLng1, latLng2],
            visible: options.visible
        });
        this.poly.setMap(map);

        var marker;
        google.maps.event.addListener(this.poly, 'mouseover', function(e){
            marker = new PositionMarker(new google.maps.LatLng(e.latLng.lat(), e.latLng.lng()), parseInt(me.speed) + " kph", map, "speed-marker");
            marker.draw();
        });
        google.maps.event.addListener(this.poly, 'mouseout', function(e){
            marker.remove();
            // marker.setMap(null);
        });
    }
    Polyline.prototype.destroy = function(){
        this.poly.setMap(null);
    };
    Polyline.prototype.show = function(){
        this.poly.setOptions({visible: true});
    };
    Polyline.prototype.hide = function(){
        this.poly.setOptions({visible: false});
    };
    Polyline.prototype.setSpeed = function(speed){
        this.speed = speed;
        
        var min_speed = 0, max_speed = 100;
        var rel_speed = speed / (max_speed - min_speed);

        var r = parseInt(255*(1-rel_speed));
        var g = parseInt(255*rel_speed);
        var b = 0;

        var color = "rgb(" + r + "," + g + ", " + b + ")";
        this.setColor(color);
    };
    Polyline.prototype.setColor = function(color){
        this.color = color;
        this.poly.setOptions({strokeColor:color});
    };


    var rides;
    function initMap() {
        GoogleMapHelper.init({
            map_element:'map',
            map_options:{
                center:new google.maps.LatLng(32.115985, 34.835441),
                streetViewControl:false,
                keyboardShortcuts:false,
                mapTypeId:google.maps.MapTypeId.ROADMAP
            }
        });
    }

    $(function () {
        initMap();
    });


    // controller
    function RideEventsCtrl($scope, $http) {
        var yesterday = new Date();
        yesterday.setDate(new Date().getDate() - 1);
        $scope.sharing_rides = [];
        $scope.pickmeapp_rides = [];
        $scope.from_date = yesterday;
        $scope.to_date = new Date();
        $scope.selected_ride = undefined;
        $scope.polylines = [];
        $scope.show_route = true;

        $scope.reset = function () {
            selected_ride = undefined;
            GoogleMapHelper.clearMarkers();
            GoogleMapHelper.removeMarker("all");
            GoogleMapHelper.info_bubbles = {};
            angular.forEach($scope.polylines, function (poly, idx) {
                poly.destroy();
            });
            $scope.polylines = [];
        };

        $scope.toggleRoute = function(){
            var f = ($scope.show_route) ? "show" : "hide";
            angular.forEach($scope.polylines, function(poly, idx){
                poly[f].call(poly);
            });

        };
        $scope.isSelected = function (ride) {
            return $scope.selected_ride == ride ? "selected" : "";
        };

        $scope.fetchRides = function (ride_id) {
            $scope.reset();
            $http.get('{% url fleet.views.get_ride_events %}', {params:{from_date:$scope.from_date.toISOString(), to_date:$scope.to_date.toISOString(), ride_id:ride_id }}).success(
                    function (data) {
                        console.log(data);
                        if (ride_id) { // update only this ride
                            var ride, index;
                            if (data[0].type == "sharing") {
                                ride = _.find($scope.sharing_rides, function(r) { return r.id == ride_id });
                                index = _.indexOf($scope.sharing_rides, ride);
                                $scope.sharing_rides[index] = data[0];
                                $scope.showEvents($scope.sharing_rides[index]);
                            } else {
                                ride = _.find($scope.pickmeapp_rides, function(r) { return r.id == ride_id });
                                index = _.indexOf($scope.pickmeapp_rides, ride);
                                $scope.pickmeapp_rides[index] = data[0];
                                $scope.showEvents($scope.pickmeapp_rides[index]);
                            }
                        } else {
                            $scope.sharing_rides = _.filter(data, function (e) {
                                return e.type === 'sharing'
                            });
                            $scope.sharing_rides = _.sortBy($scope.sharing_rides, function(r) { return r.stops[0].time }).reverse();
                            $scope.pickmeapp_rides = _.filter(data, function (e) {
                                return e.type === 'pickmeapp'
                            });
                            $scope.pickmeapp_rides = _.sortBy($scope.pickmeapp_rides, function(r) { return r.stops[0].time }).reverse();

                        }
                    }).error(function () {
                        console.error("Error");
                    });
        };

        $scope.showEvents = function (ride) {
            $scope.reset();
            $scope.selected_ride = ride;
            var position_events = _.filter(ride.events, function (e) {
                return e.status == "{{ position_changed }}"
            });
            var status_events = _.filter(ride.events, function (e) {
                return e.status != "{{ position_changed }}"
            });

            angular.forEach(status_events, function (e, index) {
                $scope.showEvent(index, e);
            });
            angular.forEach(position_events, function (e, index) {
                $scope.showPositionEvent(index, e);
                // draw polyline
                if (index > 0) {
                    $scope.drawPolyline(index, position_events[index - 1], e);
                }
            });
            angular.forEach(ride.stops, function(stop, index) {
               $scope.showStop(index, stop);
            });

            setTimeout(function () {
                GoogleMapHelper.fitMarkers();
            }, 600);

        };
        $scope.refreshEvents = function(ride) {
            $scope.fetchRides(ride.id);

        };
        $scope.showStop = function(index, stop) {
            var marker_id = "stop_" + stop.lat + "_" + stop.lon;
            var latLng = new google.maps.LatLng(stop.lat, stop.lon);
            GoogleMapHelper.markers[marker_id] = new LabelMarker(index + 1, stop.address, "Estimated Time: " + stop.time, latLng, GoogleMapHelper.map);

        };
        $scope.showPositionEvent = function (index, event) {
            console.debug("show position event: ", event);
            if (!(event.lat && event.lon)) {
                console.log("skipping event: ", event);
                return;
            }
            var event_id = "position_" + event.lat + "_" + event.lon + "_" + event.time;
            GoogleMapHelper.markers[event_id] = new PositionMarker(new google.maps.LatLng(event.lat, event.lon), event.time, GoogleMapHelper.map);

        };
        $scope.drawPolyline = function(index, event1, event2){
            var p1 = new google.maps.LatLng(event1.lat, event1.lon),
                p2 = new google.maps.LatLng(event2.lat, event2.lon);
            var poly = new Polyline(p1, p2, GoogleMapHelper.map, {visible: $scope.show_route});
            $scope.polylines.push(poly);

            // calc speed
            var q1 = new LatLon(event1.lat, event1.lon);
            var q2 = new LatLon(event2.lat, event2.lon);
            var distance = q1.distanceTo(q2, 2); // km
            var duration = (new Date(event2.time) - new Date(event1.time)) / 1000; // seconds
            var speed = 3600 * distance / duration;
            poly.setSpeed(speed);
        };
        $scope.showEvent = function (index, event) {
            console.debug("show event: ", event);
            if (!(event.lat && event.lon)) {
                console.log("skipping event: ", event);
                return;
            }
            var event_id = "status_" + event.lat + "_" + event.lon;

            var marker = GoogleMapHelper.markers[event_id];
            var content, current_content;
            if (!marker) {
                current_content = $('<ul class="status-list unstyled"></ul>');
                var latLng = new google.maps.LatLng(event.lat, event.lon);
                marker = new LabelMarker("E", "Ride Events", current_content, latLng, GoogleMapHelper.map, "label-info");
                GoogleMapHelper.markers[event_id] = marker;
            } else {
                current_content = $(marker.getContent());
            }
            content = $('<li><span class="index label label-info"></span> <span class="status"></span></li><li><span class="time"></span></li>');
            content.find(".status").text(event.status);
            content.find(".time").text(event.time);
            content.find(".index").text(index + 1);
            current_content.append(content);
            marker.setContent(current_content[0]);
        };

        $scope.fetchRides();

    }
</script>

</body>
</html>

