{% extends "admin/map_city_area.html" %}
{% block extrahead %}
    {{ block.super }}

    <script type="text/javascript">
        $(function() {
            $.extend(MapPointsHelper, {
                hotspot_fill_color      : 'yellow',
                hotspot_stroke_color    : 'black',
                hotsport_marker_image   : '/static/images/taxi_station_marker.png',
                hotsport_marker_offset  : {x:21, y:45},
                hotspot_radius          : 50,
                city_area_re            : /city_area_\d$/

            });
        });
    </script>
{% endblock %}