{% extends "wb_base_site.html" %}
{% load i18n %}
{% load value_from_settings %}
{% block htmlclass %}login_page{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <style>
        #site-content{
            width: 650px;
            padding: 35px 25px;
        }
        #top-container{
            width: 680px;
        }
        label {
            padding-right: 15px;
            font-weight: bold;
            font-size: 13px;
        }

        .centered {
            text-align: center;
        }

        .wb_button {
            min-width: 113px;
        }

        #login_or_join {
            margin: 0 auto;
        }

        .rtl label {
            padding-right: 0;
            padding-left: 15px;
        }

        #id_username, #id_password {
            width: 280px;
        }

        .spacer-row {
            height: 15px;
        }

        .forgot-password-row {
            text-align: right;
        }

        .rtl .forgot-password-row {
            text-align: left;
        }

        #buttons{
            padding-top: 15px;
        }

        .login-button-row {
            padding: 10px 0;
            text-align: right;
        }

        .rtl .login-button-row {
            text-align: left;
        }

        #not_member_text {
            padding-right: 15px;
            font-size: 13px;
        }

        .rtl #not_member_text {
            padding-right: 0;
            padding-left: 15px;
        }

        .vrule-cntr {
            padding: 0 35px;
        }

        .vrule {
            height: 115px;
            width: 0;
            border-left: 1px solid gray;
            margin: 0 auto;
        }

        .or {
            padding: 4px 0;
        }

        #fb_login_button {
            width: 155px;
        }

        .errorlist {
            list-style: none;
        }

        .errorlist li {
            color: red;
        }

    </style>
{% endblock %}

{% block top_left %}
    {% if request.session.current_order %} {# CURRENT_ORDER_KEY #}
        {% trans "Login to Complete Your Order" %}
    {% else %}
        {% trans "Login To Your Account" %}
    {% endif %}
{% endblock %}

{% block top_right %}
    <span>{% trans "New to WAYbetter?" %}</span>
    <a href="{% url join %}" class="wb_link">{% trans "Join!" %}</a>
{% endblock %}

{% block content %}
    <table id="login_or_join">
        <tr>
            <td>
                {{ form.non_field_errors }}
                <form method="post" id="login-form">{% csrf_token %}
                    <table>
                        <input type="hidden" name="next" value="{{ next }}"/>
                        <input type="hidden" name="token" id="id_token">

                        <tr class="login-input-row">
                            <td>
                                <label for="id_username">{% trans 'Email' %}:</label>
                            </td>
                            <td>
                                <input type="email" name="username" id="id_username"/>
                            </td>
                        </tr>
                        <tr class="spacer-row"></tr>
                        <tr class="login-input-row">
                            <td>
                                <label for="id_password">{% trans 'Password' %}:</label>
                            </td>
                            <td>
                                <input type="password" name="password" id="id_password"/>
                            </td>
                        </tr>
                        <tr class="forgot-password-row">
                            <td colspan="2">
                                {% trans "Forgot password" %}
                                <a class="wb_link" href="{% url sharing.passenger_controller.verify_passenger %}">{% trans "Click Here" %}</a>
                            </td>
                        </tr>
                    </table>

                    <div id="buttons">
                        <div class="login-button-row">
                            <input type="submit" class="wb_button" value="{% trans 'Login' %}"/>
                        </div>
                        <div class="login-button-row">
                            <span id="not_member_text" class="bold">{% trans "Not a WAYbetter member" %}?</span>
                            <button id="join_btn" class="wb_button blue">{% trans "Join Now" %}</button>
                        </div>
                    </div>
                </form>

            </td>
            <td class="vrule-cntr">
                <div class="vrule"></div>
                <div class="or centered">{% trans "OR" %}</div>
                <div class="vrule"></div>
            </td>
            <td>
                {#                <a id="fb_login_button" href="{% value_from_settings FACEBOOK_LOGIN_LINK %}"></a>#}
                <a id="fb_login_button"></a>

                <div style="text-align: center">{% trans "Coming Soon" %}...</div>
            </td>
        </tr>

    </table>
    <script type="text/javascript">

        $(function () {
            init();
            $("#id_username").bind("change blur", function () {
                $(this).val($(this).val().toLowerCase());
            });

            $("#join_btn").click(function (e) {
                e.preventDefault();
                window.location.href = "{% url join %}";
            });
        });

        function readToken() {
            var token = air("read_token");
            document.getElementById("id_token").value = token;
            return token;
        }

        function init() {
            document.getElementById("id_username").focus();
            var token = readToken();
            if (token) {
                var login_form = document.getElementById("login-form");
                login_form.action = "/services/login_workstation/";
                login_form.submit();
            }
        }

    </script>
{% endblock %}
