{% extends "admin/base_site.html" %}
{% load i18n %}

{% block content %}
    <form method="post" action=".">
      {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>

      <input type="submit" value="{% trans 'Submit' %}" />
    </form>
<p>{% trans "You are now registered. An SMS verification code was sent to you, please fill it in to activate your account." %}</p>
    <form method="post" action=".">
      {% csrf_token %}
        <table>
            {{ verification_form.as_table }}
        </table>

      <input type="submit" value="{% trans 'Submit' %}" />
    </form>
        
{% endblock %}
