{% load i18n %}
{% load ajax_form_utils %}
<script type="text/javascript" src="/static/js/jquery.ajax_forms.js"></script>
<script type="text/javascript" src="/static/js/jquery.ajax_forms.validation.js"></script>

<script>
    var form_config = {
        dialog_config : {
            title: "{% trans 'Join WAYbetter' %}",
            width: 290
        }
    };
    $(function() {
        $('#business_interest_form').validation({% render_ajax_fields form %});
        $("#submit").click(function(e) {
            e.preventDefault();
            var form = $("#business_interest_form");
            if (! form[0].validate()) {
                return false;
            }
            Registrator.doSubmitInterest(form, Registrator.config.urls.business_interest_form_template);
        });
    });
</script>
<style type="text/css">

</style>

<div id="business_interest_dialog">
    <div id="content">
        <p>
            {% trans "Please fill the following details and we will contact you" %}
        </p>

        <form id="business_interest_form">
            {{ form.as_p }}
        </form>
    </div>
    <div id="button_container">
        <button id="submit" class="wb_button purple">{% trans 'Send' %}</button>
        <button id="close" class="wb_button gray">{% trans 'Cancel' %}</button>
    </div>
</div>