{% load i18n %}
<script>
    var form_config = {
        dialog_config:{
            title:"{% trans "What are Hotspots" %}?",
            width:"400px"
        }
    };
    $(function () {

        $("#share_email").click(function () {
            window.location.href = SocialHelper.getEmailShareLink();
        });
        $("#share_twiter").click(function () {
            window.location.href = SocialHelper.getTwitterShareLink();
        });
        $("#share_facebook").click(function () {
            window.location.href = SocialHelper.getFacebookShareLink();
        });

        $("#submit_hs_interest").click(function (e) {
            var form = $("#hotspot_interest_form");
            $.ajax({
                url:'{% url interests.views.hotspot_interest %}',
                type:'POST',
                data:form.serialize(),
                dataType:"json",
                success:function (response) {
                    if (!response.errors) {   // no errors!
                        $("#hotspot_interest_form, #submit_hs_interest, .ui-dialog-title").hide();
                        $("#thank_you").after($("#pickmeapp_footer")).show();
                    } else {                    // we got errors
                        $(".errorlist").remove();
                        $.each(response.errors, function (i, error) {
                            for (var field_name in error) {
                                var $errors = $("<ul class='errorlist'></ul>").hide();
                                $.each(error[field_name], function (i, val) {
                                    $errors.append($("<li></li>").text(val));
                                });
                                $("input[name=" + field_name + "]").after($errors);
                                $errors.fadeIn('fast');
                            }
                        });
                    }
                }
            });
            return false;

        });
    });

</script>
<style type="text/css">
    #hotspot_interest_dialog * {
        font-size: 13px;
    }

    #pickmeapp_footer {
        margin-top: 15px;
        background: url("/static/images/wb_site/pickmeapp_icon.png") left top no-repeat;
        padding-left: 45px;
        height: 40px;
    }
    .rtl #pickmeapp_footer {
        background-position: right top;
        padding-left: 0;
        padding-right: 45px;
    }

    table{
        width: 100%;
        border-spacing: 2px 6px;
        position: relative;
        bottom: 5px;
        vertical-align: top;
    }
    input {
        width: 100%;
    }
    #id_suggestion{
        width: 275px;
    }

    p {
        margin-top: 5px;
    }

    #sharing_buttons{
        margin: 55px 0;
    }

    ul.errorlist{
        margin: 0;
        padding: 0;
    }

</style>

<div id="hotspot_interest_dialog" class="dialog interest_dialog">
    <div id="content" class="content">
        <form id="hotspot_interest_form">
            <p>
                {% trans "Hotspots are places or events in-which WAYbetter operates and offers fixed low ride prices due to the high amounts of users who share taxi rides." %}
            </p>
            <hr>
            <p><span class="bold">{% trans "You choose the Hotspots" %}!</span></p>

            <p>
                {% trans "Popular places will be added to the HotSpots list. Together we will spread across the city a  smart, efficient, green and affordable transportation network." %}
            </p>
            <table class="field_container">
                <tbody>
                <tr>
                    <td><label for="id_suggestion">{% trans "My Suggestion" %}:</label></td>
                    <td colspan="2"><input id="id_suggestion" type="text" name="suggestion" maxlength="500"></td>
                </tr>
                <tr>
                    <td><label for="id_email">{% trans "My Email" %}:</label></td>
                    <td><input id="id_email" type="text" name="email" maxlength="75"></td>
                    <td>
                        <button id="submit_hs_interest" class="wb_button purple">{% trans 'Send' %}</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
        <div id="pickmeapp_footer">
            <hr>
            <p>{% trans "In the meantime, you can order a private taxi with using" %}
                <a class="wb_link" target="_blank" href="{% url pickmeapp %}">PickMeApp.co.il</a>
            </p>
        </div>

        <div id="thank_you" class="hidden">
            <p>{% trans "Oh, tell your friends... Thanks!" %}</p>

            <div id="sharing_buttons">
                <div id="share_facebook" class="share_button clickable"><span class="wb_link">Share</span></div>
                <div id="share_twiter" class="share_button clickable"><span class="wb_link">Share</span></div>
                <div id="share_email" class="share_button clickable"><span class="wb_link">Email</span></div>
            </div>
        </div>
    </div>
</div>