{% load i18n %}
<script>
    var form_config = {
        dialog_config:{
            title:"{% trans "What are HotSpots" %}?",
            width:"400px"
        }
    };
    $(function () {
        $(".small-loader").hide();

        $("#share_email").click(function() {
            window.location.href = SocialHelper.getEmailShareLink();
        });
        $("#share_twiter").click(function() {
            window.location.href = SocialHelper.getTwitterShareLink();
        });
        $("#share_facebook").click(function() {
            window.location.href = SocialHelper.getFacebookShareLink();
        });

        $("#submit_hs_interest").click(function (e) {
            var form = $("#hotspot_interest_form");
            var $loader = $("#button_container .small-loader");
            $.ajax({
                url:'{% url interests.views.hotspot_interest %}',
                type:'POST',
                data:form.serialize(),
                dataType:"json",
                beforeSend:function () {
                    $loader.show();
                },
                success:function (response) {
                    if (!response.errors) {   // no errors!
                        $("#hotspot_interest_form, #submit_hs_interest, .ui-dialog-title").hide();
                        $("#thank_you, #close").show();
                    } else {                    // we got errors
                        $(".errorlist").remove();
                        $.each(response.errors, function (i, error) {
                            for (var field_name in error) {
                                var $errors = $("<ul class='errorlist'></ul>").hide();
                                $.each(error[field_name], function (i, val) {
                                    $errors.append($("<li></li>").text(val));
                                });
                                $("input[name=" + field_name + "]").after($errors);
                                $errors.fadeIn('fast');
                            }
                        });
                    }
                },
                complete:function () {
                    $loader.hide();
                }

            });
            return false;

        });
    });

</script>
<style type="text/css">
    .small-loader {
        display: inline-block;
    }

    .errorlist {
        font-size: 13px;
    }
</style>

<div id="pilot_interest_dialog" class="dialog interest_dialog">
    <div id="content" class="content">
        <form id="hotspot_interest_form">
            <p>
                {% trans "Hotspots are places or events in-which WAYbetter operates and offers fixed low ride prices due to the high amounts of users who share taxi rides." %}
            </p>
            <p>
                {% trans "You choose the HotSpots! <br/>Popular places will be added to the HotSpots list. Together we will spread across the city a  smart, efficient, green and affordable transportation network." %}
            </p>
            <hr>
            {% trans "Where would you like WAYbetter service" %}?
            <table class="field_container">
                {{ form.as_table }}
            </table>
        </form>
        <div id="thank_you" class="hidden">
            <p>{% trans "Oh, tell your friends... Thanks!" %}</p>
            <div id="sharing_buttons">
                <div id="share_facebook" class="share_button clickable"><span class="wb_link">Share</span></div>
                <div id="share_twiter" class="share_button clickable"><span class="wb_link">Share</span></div>
                <div id="share_email" class="share_button clickable"><span class="wb_link">Email</span></div>
            </div>
        </div>
    </div>
    <div id="button_container">
        <button id="submit_hs_interest" class="wb_button purple">{% trans 'Send' %}</button>
        <div class="small-loader hidden"></div>
        <button id="close" class="wb_button purple hidden">{% trans 'Close' %}</button>
    </div>
</div>