{% load i18n %}
{% load ajax_form_utils %}
<script type="text/javascript" src="/static/js/jquery.ajax_forms.js"></script>
<script type="text/javascript" src="/static/js/jquery.ajax_forms.validation.js"></script>

<script>
    var form_config = {
        dialog_config : {
            title: "{% trans 'Looks Cool!' %}",
            width: 350
        }
    };
    $(function() {
        $('#mobile_interest_form').validation({% render_ajax_fields form %});
        $("#submit").click(function(e) {
            e.preventDefault();
            var form = $("#mobile_interest_form");
            if (! form[0].validate()) {
                return false;
            }
            Registrator.doSubmitInterest(form, Registrator.config.urls.mobile_interest_form_template);
        });
    });
</script>
<style type="text/css">
    .errorlist > li {
        color: red;
        font-size: 14px;
    }

    #mobile_interest_form #id_email {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    #submit {
        width: 180px;
    }

</style>

<div id="content">
    <p>
        {% trans "Please notify me when the app is ready for download" %}
    </p>

    <form id="mobile_interest_form">
        {{ form }}
    </form>
</div>
<div id="button_container">
    <button id="submit" class="wb_button gold">{% trans 'Send' %}</button>
    <button id="close" class="wb_button gray">{% trans 'Close' %}</button>
</div>
