{% load i18n %}
<script>
    var form_config = {
        dialog_config : {
            title: "{% trans 'We are currently running a private alpha' %}",
            width: "400px"
        }
    };
    $(function() {
        $("#submit").click(function(e) {
            var form = $("#pilot_interest_form");

            $.ajax({
                url: '{% url interests.views.pilot_interest %}',
                type: 'POST',
                data: form.serialize(),
                dataType: "json",
                success: function(response) {
                    if (! response.errors) {   // no errors!
                        $("#pilot_interest_form, #submit").hide();
                        $("#thank_you").fadeIn("fast");
                    } else {                    // we got errors
                        $(".errorlist").remove();
                        $.each(response.errors, function(i, error) {
                            for (var field_name in error) {
                                var $errors = $("<ul class='errorlist'></ul>").hide();
                                $.each(error[field_name], function(i, val) {
                                    $errors.append($("<li></li>").text(val));
                                });
                                $("input[name=" + field_name + "]").before($errors);
                                $errors.fadeIn('fast');
                            }
                        });
                    }

                }
            });
            return false;

        });

        $("#share_email").click(function() {
            window.shareByEmail();
        });
        $("#share_twiter").click(function() {
            window.location.href = window.shareByTwitter();
        });
        $("#share_facebook").click(function() {
            window.location.href = window.shareByFB();
        });
    });

</script>
<style type="text/css">

</style>

<div id="pilot_interest_dialog" class="dialog">
    <div id="content" class="content">
        <form id="pilot_interest_form">
            <p>
                {% trans "If you would like to be one of the first to use the service please leave your email." %}
            </p>
            <div class="field_container">
                {{ form.as_p }}
            </div>
        </form>

        <div id="thank_you" class="hidden">
            <p>{% trans "Thanks. We'll contact you soon." %}</p>

            <div id="sharing_buttons">
                <div id="share_facebook" class="share_button clickable"><span class="wb_link">Share</span></div>
                <div id="share_twiter" class="share_button clickable"><span class="wb_link">Share</span></div>
                <div id="share_email" class="share_button clickable"><span class="wb_link">Email</span></div>
            </div>
        </div>
    </div>
    <div id="button_container">
        <button id="submit" class="wb_button purple">{% trans 'Send' %}</button>
    </div>
</div>

