{% load value_from_settings %}
<html>
<head>
    <title></title>
</head>
<body style="direction:rtl;">
<p style="text-align: center;">
    <img width="207" height="207" src="http://{% value_from_settings DEFAULT_DOMAIN %}/static/images/wb_site/email_logo.jpg"/>
    <br>
    <span style="font-weight:bold">הצטרפו לדרכינו המשותפת!</span>
    <br>
    מעכשיו אפשר לנסוע במונית ספיישל משותפת ולחסוך עד 80% ממחיר הנסיעה.
</p>

<p>
    היתרון הגדול של WAYbetter הוא שאתם לא צריכים לחפש שותפים לנסיעה ולא צריכים לעשות כלום כדי לשלם פחות, רק להזמין
    נסיעה,
    <span style="font-weight:bold">ולשלם את המחיר המופחת, אפילו אם נסעתם לבד.</span>
    <br>
    בנוסף אנו מתחייבים לשמור על רמת שירות גבוהה ולא להוסיף יותר מדקות בודדות למסלול הנסיעה שלכם.
</p>

<p>
    <span style="font-weight:bold">איך זה מתאפשר?</span>
    <br>
    בשלב זה אנו מאפשרים להזמין נסיעה מפתח הבית שלכם למגוון "נקודות-מרכזיות" בעיר: שכונות מגורים, אירועים, מרכזי עסקים
    וכו'... (וחזרה). לנקודות אלו אנו יודעים כי יש די ביקוש כדי לייעל את צי המוניות ולהבטיח חסכון משמעותי.
</p>

<p>זכרו, WAYbetter היא בשביל ובזכות משתמשיה.
    אתם אלה המאפשרים לייעל את המוניות וכך להוזיל את מחירן. ככל שיותר אנשים יזמינו ב-WAYbetter כך מחירי הנסיעה יצנחו,
    הזמינות תגדל, ואיזורי הכיסוי יתרחבו, עד שנרשת את העיר כולה.
</p>

<p style="font-weight:bold;">איך אתם יכולים לעזור?</p>
<ol>
    <li>סעו. כל נסיעה מאפשרת לייעל ולהוזיל, לכם ולשאר החברים ב WAYbetter.</li>
    <li>ספרו לחברים- המליצו להם לנסות את השירות (זה חכם, נוח, מהיר, סביבתי ועוד...)</li>
    <li>ספרו לנו מה הנקודות המרכזיות שלכם (כאן). כך נוכל להוסיף איזורי כיסוי נוספים ולרשת את העיר כולה.</li>
</ol>

<p style="text-align: center;">
    <a href="http://{% value_from_settings DEFAULT_DOMAIN %}" style="font-weight:bold">הזמינו עכשיו</a>
    ונתראה במונית...
    <br>
    חברי WAYbetter
</p>
<br>
<br>
<table style="width: 100%; text-align: center; direction: ltr;">
    <tr>
        <td><a href="http://{% value_from_settings DEFAULT_DOMAIN %}">Home</a></td>
        <td>|</td>
        <td><a href="{% value_from_settings APPLE_WAYBETTER_ITUNES_URL  %}">iPhone App</a></td>
        <td>|</td>
        <td><a href="{% value_from_settings ANDROID_MARKET_APP_URL  %}">Android App</a></td>
        <td>|</td>
        <td><a href="{% value_from_settings FACEBOOK_APP_URL  %}">Our Facebook</a></td>
    </tr>
</table>

</body>
</html>