<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/jquery-ui.min.js"></script>
    <script src="/static/js/jqtouch.js" type="application/x-javascript" charset="utf-8"></script>
    <script src="/static/js/utils.js"></script>
    
    <style type="text/css" media="screen">@import "/static/css/jqtouch.css";</style>
    <style type="text/css" media="screen">@import "/static/css/themes/jqt/theme.css";</style>
    <link rel="stylesheet" type="text/css" href="/static/css/waybetter.mobile.css" />
    <!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}css/ie.css{% endblock %}" /><![endif]-->
    {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}css/rtl.css{% endblock %}" />{% endif %}
    {% block extrastyle %}{% endblock %}

    {% block extrahead %}
    {% endblock %}

{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
<!-- Google Analytics -->
    <script type="text/javascript">
        $.jQTouch({
            statusBar: 'black',
            startupScreen: '/static/img/webapp_open.png',
            cacheGetRequests: false
        });
    </script>
</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">

    <div id="home" class="current">
        <!-- Top Control -->
        <div class="gray_header " id="top_control">
        {% block topcontrol %}{% endblock topcontrol %}
        </div>
        <!-- END Top Control -->

        <!-- Content -->
        {% block content %}{% endblock %}
        <!-- END Content -->
        <div id="bottom_toolbar" class="">
        {% block bottom_toolbar %}{% endblock %}
        </div>
    </div>
    <div id="settings"></div>

<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18077675-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{%  block extra-body %}{% endblock %}
</body>

</html>
