{#<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.2//EN"#}
{#"http://www.openmobilealliance.org/tech/DTD/xhtml-mobile12.dtd">#}
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>WAYbetter</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/jquery-ui.min.js"></script>
    <script src="/static/js/jqtouch.js" type="application/x-javascript" charset="utf-8"></script>
    <script src="/static/js/utils.js"></script>
    <script type="text/javascript" src="/static/js/wb_init.js"></script>
    <script type="text/javascript">
       var $jqt = $.jQTouch({
            statusBar: 'black',
            addGlossToIcon: false,
            cacheGetRequests: false,
            preloadImages: ['/static/images/mobile/loader.gif', '/static/images/mobile/gps_refresh_cancel.png']
        });
		var addToHomeConfig = {
			animationIn:'drop',		// Animation In
			animationOut:'fade',		// Animation Out
            message: 'he_il',
		};
    </script>
    <script type="application/javascript" src="/static/js/add2home.js"></script>
    <style type="text/css" media="screen">@import "/static/css/jqtouch.css";</style>
    <style type="text/css" media="screen">@import "/static/css/themes/apple/theme.css";</style>
    <link rel="stylesheet" href="/static/css/add2home.css">
    <link rel="stylesheet" type="text/css" href="/static/css/waybetter.mobile.css" />
    {% if station %}
        <link rel="apple-touch-startup-image" href="{{ station.app_splash_url }}">
        <link rel="apple-touch-icon-precomposed" media="screen and (resolution: 163dpi)" href="{{ station.app_icon_url }}" />
        <link rel="apple-touch-icon-precomposed" media="screen and (resolution: 326dpi)" href="{{ station.app_icon_url }}" />
    {% else %}
        <link rel="apple-touch-startup-image" href="/static/images/mobile/pre-image.jpg">
        <link rel="apple-touch-icon-precomposed" media="screen and (resolution: 163dpi)" href="/static/images/mobile/icon.png" />
        <link rel="apple-touch-icon-precomposed" media="screen and (resolution: 326dpi)" href="/static/images/mobile/icon_114.png" />
    {% endif %}

    <!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}css/ie.css{% endblock %}" /><![endif]-->
    {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}/static/css/rtl.mobile.css{% endblock %}" />{% endif %}
    {% block extrastyle %}{% endblock %}

    {% block extrahead %}
    {% endblock %}

{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
<!-- Google Analytics -->
</head>
{% load i18n %}

<body id="jqt" class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">

    <div id="home" class="current">
        <!-- Top Control -->
        <div id="gray_header" id="top_control">
        {% block topcontrol %}{% endblock topcontrol %}
        </div>
        <!-- END Top Control -->
        <!-- Content -->
        <div id="content">
            {% block content %}
            {% endblock content %}
        </div>
        <!-- END Content -->
    </div>
    <div id="resolve_addresses">
        <div class="toolbar">
            <h1>{% trans 'Select Address' %}</h1>
            <a class="back" href="#">{% trans 'Cancel' %}</a>
        </div>
        <ul class="edgetoedge">
        </ul>
    </div>
    <div id="sms_dialog">
        <div class="toolbar">
            <h1>{% trans 'Verification' %}</h1>
            <a class="back" href="#">{% trans 'Back' %}</a>
        </div>
        <form id="verification_form">
            <input type="hidden" name="country" value="{{ country_id }}" />
            <ul class="edit rounded">
                <li><label>{% trans 'Enter your mobile number' %}</label>
                    <div>
                        <input type="tel" class="big_text" name="local_phone" id="local_phone" />
                    </div>
                </li>
                <li><button class="wb_button blue" type="button" id="send_code">{% trans 'Send Verification Code' %}</button></li>
                <li><label>{% trans 'Enter verification code' %}</label>
                    <input type="tel" name="verification_code" id="verification_code" />
                </li>
                <li><button class="wb_button blue" type="button" id="finish_verification">{% trans 'Finish' %}</button></li>
            </ul>
        </form>
    </div>

<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18077675-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{%  block extra-body %}{% endblock %}
</body>

</html>
