{% extends "base_site.html" %}
{% load i18n %}
{% block extrahead %}
    {{ block.super }}
    <script src="/static/js/registration.js"></script>
{% endblock %}

{% block join_or_login %}
    {% if not request.user.station %}
        <div id="station_login">
            <form method="post" action="{% url station_login %}" id="station_login_form">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {% if form.username.errors %}
                    <div class="error-label">{% trans 'Username:' %} </div>
                    {{ form.username.errors }}
                {% endif %}
                {% if form.password.errors %}
                    <div class="error-label">{% trans 'Password:' %} </div>
                    {{ form.password.errors }}
                {% endif %}
                <p>
                    <label for="id_username">
                        {% trans 'Username:' %}
                    </label>
                    {{ form.username }}
                </p>
                <p>
                    <label for="id_password">
                        {% trans 'Password:' %}
                    </label>
                    {{ form.password }}
                </p>
                <input type="hidden" name="next" value="{{ next }}">
            <input type="submit" class="wb_button gray" value="{% trans 'Login' %}"/>
            </form>
        </div>
    {% endif %}
{% endblock %} 
{% block sub-header %}
    {% trans 'Smart Tools for Smart Taxi Stations' %}
{% endblock %}

{% block content %}
        Welcome taxi stations!
{% endblock %}
{% block footer %}
{{ block.super}}
<span id="footer-links">
    <a href="{% url ordering.passenger_controller.info_pages %}#about">{% trans 'About' %}</a>
    <a href="{% url ordering.passenger_controller.info_pages %}#press">{% trans 'Press' %}</a>
    <a href="{% url ordering.passenger_controller.info_pages %}#help">{% trans 'Help' %}</a>
    <a href="{% url ordering.passenger_controller.info_pages %}#terms">{% trans 'Terms' %}</a>
    <a href="{% url ordering.passenger_controller.passenger_home %}">{% trans 'Passengers home' %}</a>
</span>
<span id="footer-copyright">
    &copy; {% trans '2010 WAYbetter' %}
</span>
{% endblock footer %}
