{% extends "base_site.html" %}
{% load i18n %}
{% block join_or_login %}
    {% if not request.user.station %}
        <div id="station_login">
            <form method="post" action="{% url django.contrib.auth.views.login %}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="hidden" name="next" value="{% url ordering.station_controller.stations_home %}">
            <input type="submit" class="wb_button gray" value="{% trans 'Login' %}"/>
            </form>
        </div>
    {% endif %}
{% endblock %} 
{% block sub-header %}
    {% trans 'Smart Tools for Smart Taxi Stations' %}
{% endblock %}

{% block content %}
        Welcome taxi stations!
{% endblock %}
{% block footer %}
{{ block.super}}
<span id="footer-links">
    <a href="#">{% trans 'About' %}</a>
    <a href="#">{% trans 'Press' %}</a>
    <a href="#">{% trans 'Help' %}</a>
    <a href="#">{% trans 'Terms' %}</a>
    <a href="{% url ordering.passenger_controller.passenger_home %}">{% trans 'Passengers home' %}</a>
</span>
<span id="footer-copyright">
    &copy; {% trans '2010 WAYbetter' %}
</span>
{% endblock footer %}
