{% extends "connected_page.html" %}
{% load i18n %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="/static/css/openid.css" />
<link rel="stylesheet" href="/static/css/socialauth.css" />
{% endblock extrastyle %}

{% block doc_ready %}
{{ block.super }}
<script>
    $(document).ready(function() {
         Registrator.init({
             urls            : {
                 error_form_template                : '{% url common.registration.get_error_form %}',
                 login_form_template                : '{% url common.registration.get_login_form %}',
                 reg_form_template                  : '{% url common.registration.get_registration_form %}',
                 credentials_form_template          : '{% url common.registration.get_credentials_form %}',
                 phone_form_template                : '{% url common.registration.get_phone_form %}',
                 cant_login_form_template           : '{% url common.registration.get_cant_login_form %}',
                 phone_code_form_template           : '{% url common.registration.get_phone_code_form %}',
                 feedback_form_template             : '{% url common.registration.feedback %}',
                 mobile_interest_form_template      : '{% url interests.views.mobile_interest %}'
             }
         });
 
        $("input[placeholder]").placeHeld();
        $('marquee').marquee();
        $("#tabs li:first").addClass("first_tab");
        $("#tabs li:last").addClass("last_tab");
        $('#join_link').click(function () {
            Registrator.doJoin();
            return false;
        });
        $("#login_link").click(function () {
            Registrator.openLoginDialog(function() {
                 window.location.href = "{{ request.path }}";
            });
        });
     });
</script>
{% endblock %}
        
{% block join_or_login %}
    <strong>
        <a href="#" id="join_link">{% trans 'Join!' %}</a> | <a href="#" id="login_link">{% trans 'Login' %}</a>
    </strong>
{% endblock %}