{% load i18n %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
<html>
<body>
{% if show_include_text %}
    <div>Following is a copy of the mail sent to the business.</div>
    <hr/>
{% endif %}
<div {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
    {% blocktrans %}
        Hi {{ name }}!<br><br>
        Thank you for joining <b>WAYbetter</b>.<br>

        <b>Your password is: {{ password }}</b>
        You can change it from the 'Profile' tab.<br><br>

        To start using our service please visit <a href="{{ link }}/?show_login=true">{{ pretty_link }}</a><br>
    {% endblocktrans %}
</div>
</body>
</html>