{% load i18n %}

{% load ajax_form_utils %}

<div id="business_tab_container">
    <h1>{% trans "Book your taxi with WAYbetter and save time and money" %}</h1>
    <div id="business_text">
        <h2>{% trans 'Advantages' %}:</h2>
        <ul>
            <li>{% trans 'One click order' %}</li>
            <li>{% trans 'No holding on the phone while searching for a taxi' %}</li>
            <li>{% trans 'We partner with the best taxi stations in your area' %}</li>
            <li>{% trans 'Track and manage your orders' %}</li>
            <li>{% trans 'Choose a preffered station to receive your orders first or exclusively' %}</li>
            <li>{% trans 'Suggest our service to your station' %}</li>
        </ul>
        <button id="business_login_btn" class="wb_button blue wide">{% trans 'Login' %}</button>
    </div>
    <div id="business_interest">
        <h2>{% trans "Fill in your details to join us" %}</h2>
        <form id="business_interest_form" method="post" action="{% url ordering.passenger_controller.business_tab %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" id="business_join_btn" class="wb_button purple wide" value="{% trans 'Join' %}">
        </form>
    </div>
</div>

<script>
    $(function() {

        $("#business_login_btn").click(function(){
            Registrator.openLoginDialog(function(){
                window.location.href = "/";
            });
        });

        var thanks_dialog_title = '{% trans "Thank you" %}',
                thanks_dialog_html = '{% trans "We will contact you" %}',
                error_dialog_title = '{% trans "Error" %}',
                error_dialog_html = '{% trans "There was an error saving your details" %}';

        var $form = $('#business_interest_form');
        $form.validation({% render_ajax_fields form %});
        $form.unbind("submit").submit(function(e) {
            e.preventDefault();
            if ($form.find("input[type=submit]").attr("disabled")) {
                return false;
            }

            if (! ($(this)[0].validate())) {
                return false;
            }

            $form.find(".errorlist").fadeOut('fast', function() {
                $(this).remove();
            }); // remove previous errors

            $form.find("input[type=submit]").button("disable");
            $(this).ajaxSubmit({
                        dataType: "json",
                        complete: function() {
                            $form.filter("input[type=submit]").button("enable");
                        },
                        success: function(response) {
                            if (! response.errors) {   // no errors!
                                openDialog(thanks_dialog_title, thanks_dialog_html, function() {
                                    window.location.href = "/";
                                });
                            } else {                    // we got errors
                                $.each(response.errors, function(i, error) {
                                    for (var field_name in error) {
                                        var $errors = $("<ul class='errorlist'></ul>").hide();
                                        $.each(error[field_name], function(i, val) {
                                            $errors.append($("<li></li>").text(val));
                                        });
                                        $("input[name=" + field_name + "]").before($errors);
                                        $errors.fadeIn('fast');
                                    }
                                });
                            }
                        },
                        error: function(XMLHttpRequest, textStatus, errorThrown) {
                            openDialog(error_dialog_title, error_dialog_html);
                        }
                    });
            return false;
        });
    });
</script>
