{% extends "base_site.html" %}
{% load i18n %}
{% block extrahead %}
    {{ block.super }}
    <script>
    $(document).ready(function() {
        $("#tabs").tabs();
        $("li.taxi_tab").unbind("click").bind("click", function() {
            window.location.href = "/";
        })
    });
    </script>
    <style type="text/css">
    </style>

{% endblock extrahead %}
{% block content %}
 <div id="tabs" class="info">
    <ul>
        <li><a title="about" href="#about">{% trans 'About' %}</a></li>
        <li><a title="press" href="#press">{% trans 'Press' %}</a></li>
        {% comment %}
        <li><a title="help" href="#help">{% trans "Help" %}</a></li>
        {% endcomment %}
        <li><a title="terms" href="#terms">{% trans "Terms" %}</a></li>
        <li class="taxi_tab"><a>{% trans "TAXI" %}</a></li>
    </ul>
    <div id="about">
        {% include "about.html" %}
    </div>
    <div id="press">
        {% include "press.html" %}
    </div>
    <div id="help">
        {% include "help.html" %}
    </div>
    <div id="terms">
        {% include "terms.html" %}
    </div>
    <div id="taxi"></div>
</div>
{% endblock %}
