{% load i18n %}
<style type="text/css">
    #mobile {
        text-align: center;
    }
    #mobile #mobile_text > div > div.sub_title {
        font-size: 20px;
        color: black;
        text-align: left;
    }
    #mobile #mobile_text > div > span {
        color: #EC008C;
        font-weight: bold;
    }
    #mobile #mobile_text > div {
        top: 30%;
        position: absolute;
        color: #00AEEF;
        font-size: 40px;
        width: 330px;
    }
    #mobile #mobile_text {
        /*display: inline-block;*/
        direction: ltr;
        float:right;
        text-align: left;
        width: 300px;
        /*margin-left: 340px;*/
    }
    #mobile #mobile-footer > a{
        color: #EC008C;
    }
    #mobile #mobile-footer {
        width:100%;
        font-size: 17px;
        background-image: url(/static/images/mobile_logos.png);
        background-position: 622px 0;
        background-repeat: no-repeat;
        margin-top: 3px;
        margin-bottom: 3px;
        height: 27px;
        padding-top: 5px;
    }
    #mobile #container {
        width: 550px;
        height: 400px;
        margin-right: 100px;
        margin-top: 20px;
    }
    #mobile #mobile_image {
        float: left;
    }

    /* rtl */
    #mobile #mobile_text > div > div.sub_title {
        text-align: right;
        direction: rtl;
    }
    #mobile #mobile-footer {
        background-position: 570px 0;
    }
</style>
<div id="mobile">
    <div id="container">
        <div id="mobile_text">
            <div>
                <span>TAXI</span>Pick Me App &trade;
                <div class="sub_title">
                    {% trans 'Try www.waybetter.com from your iPhone and order a taxi in style!' %}
                </div>
            </div>
        </div>
        <img id="mobile_image" src="/static/images/mobiles.png">

    </div>

    <div id="mobile-footer">{% trans "Coming soon apps for all smartphones" %} <a id="keep_me_updated" href="#">{% trans 'Keep me updated' %}</a></div>
</div>
