{% load i18n %}
<div id="mobile">
    <div id="container">
        <div id="mobile_text">
            <div>
                <span>TAXI</span>Pick Me App &trade;
                <div class="sub_title">
                    {% trans 'Try www.waybetter.com from your iPhone and order a taxi in style!' %}
                </div>
            </div>
        </div>
        <img id="mobile_image" src="/static/images/mobiles.png">

    </div>

    <div id="mobile-footer">{% trans "Coming soon apps for all smartphones" %} <a id="keep_me_updated" href="#">{% trans 'Keep me updated' %}</a></div>
</div>
