{% extends "base.html" %}
{% load i18n %}

{% block extrastyle %}
    {{ block.super }}

    <style type="text/css">
        #the_script {
            width: 400px;
        }
    </style>
{% endblock extrastyle %}

{% block doc_ready %}
    <script type="text/javascript">
        $(document).ready(function() {
            $("#generator select").change(function() {
                $("#the_script").contents().find("body").html("");
                if ($(this).val() != "") {
                    $("#generator").ajaxSubmit({
                                dataType: "json",
                                success: function(response) {
                                    if (response.error) {
                                        openDialog("{% trans 'Error' %}", response.error);
                                    }
                                    else {
                                        $("#the_script").contents().find("body").html(response.script);
                                    }
                                },
                                error: function() {
                                    openDialog("{% trans 'Error' %}", "{% trans 'Please try again' %}");
                                }
                            });
                }
            })
        });
    </script>

{% endblock doc_ready %}
{% block content %}
    <div class="white-bg">
        <h1>{% trans 'Mobile redirect generator' %}</h1>
        <form id="generator" method="post" action="{% url ordering.station_controller.get_mobile_redirect_js %}">
            {% csrf_token %}
            <label for="id_station">{% trans 'Select a station to get javascript redirect code: ' %}</label>
            <select name="station" id="id_station">
                <option value="" selected="selected">{% trans 'Select station' %}</option>
                {% for station in stations %}
                    <option value="{{ station.id }}">{{ station.name }}</option>
                {% endfor %}
            </select>
        </form>
        <iframe id="the_script"></iframe>
    </div>

{% endblock content %}
