{% load i18n %}
<div id="mobile">
    <div id="container">
        <div id="mobile_text">
            <div>
                <span>TAXI</span>Pick Me App &trade;
                <div class="sub_title">
                    {% trans 'The best taxi booking iPhone app' %}
                </div>
                <div class="download">
                    {% trans "Downdload Now" %}
                    
                    <a href="http://itunes.apple.com/il/app/pickmeapp/id444681703?mt=8&uo=4" target="itunes_store"><img src="/static/images/app_store_badge.png" alt="PickMeApp - WAYbetter" style="border: 0;"/></a>
                </div>
            </div>
        </div>
        <img id="mobile_image" src="/static/images/mobiles.png">

    </div>

</div>
