
{% load i18n %}

{% if not is_popup %}
    {% block extrastyle %}
        {{ block.super }}
        <link rel="stylesheet" type="text/css" href="/static/css/order_history.css" />
    {% endblock %}
{% endif %}

{% if not is_popup %}
    {% block extrahead %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.timers-1.2.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.ui.stars.min.js"></script>
    <script type="text/javascript" src="/static/js/utils.js"></script>
    <script type="text/javascript" src="/static/js/ordering.js"></script>
    {% endblock  %}
{% endif %}
{% block content %}
<div>
	<input type="text" id="keywords" />
    <input type="button" id='search_button' class="wb_button blue" value="{% trans 'Search' %}"/>
    <input type="button" id='reset_button' class="wb_button blue" value="{% trans 'Reset' %}"/>
</div>
<div id="orders_history_grid"></div>
<div id="orders_history_pager"></div>

<script>
{% autoescape off %}
(function () {
    OrderHistoryHelper.init({
        order_history_url:          "{{ history_data_url }}",
        order_history_columns:      {{ order_history_columns }},
        order_history_column_names: {{ order_history_column_names }},
        order_history_fields:       {{ order_history_fields }},
        page_label:                 "{% trans 'Page' %}",
        of_label:                   "{% trans 'of' %}",
        rating_choices:             {{ rating_choices }},
    {% if rating_disabled %}
        rating_disabled:            true,
    {% endif %}
    });


})();
{% endautoescape %}
</script>

{% endblock content %}