{% load i18n %}


<script>
$.getJSON("{% url ordering.passenger_controller.get_orders_data %}", function(data, textStatus) {
    init_grid(data);
});



function init_grid(data) {
    $("#orders_history_grid").jqGrid({
        data:               data,
        beforeSelectRow:    function () { return false }, // disable row selection
        loadComplete:   function (pgButton) {
            SelectFromHistoryHelper.updateGrid();
        },
        datatype:           'local',
        height:             'auto',
        rowNum:             15,
        autowidth:          true,
        hoverrows:          false,
        scroll:             false,
//        shrinkToFit:        false,
//        forceFit:           true,
        rowList:            [10,15,20],
        colNames:           [
            '{% trans 'Order' %}',
            '{% trans 'Date' %}',
            '{% trans 'From' %}',
            '{% trans 'To' %}',
            '{% trans 'Station' %}'
        ],
        colModel:           [
            { name:'Order', index:'amount', width:60, sorttype:"int", hidden: true },
            { name:'Date', index:'invdate', width:96, sorttype:"date" },
            { name:'From', index:'text', width:200, sorttype:"text" },
            { name:'To', index:'text', width:200, sorttype:"text" },
            { name:'Station', index:'text', width:80, align:"right", sorttype:"text" }
        ],
        pager:              "#porders_history_grid",
        viewrecords:        true,
        sortname:           'Date',
        sortorder:          'desc',
    });
}


</script>


<table id="orders_history_grid"></table>
<div id="porders_history_grid"></div>

