{% extends "base.html" %}
{% load i18n %}

{% block extrastyle %}
    {{ block.super }}
    <style type="text/css">
        body {
            background-image: none;
        }
    </style>


{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript" src="/static/js/ordering.js"></script>
{% endblock  %}
{% block content %}
<div>
	<input type="text" id="keywords" />
    <input type="button" id='search_button' class="wb_button blue" value="{% trans 'Search' %}"/>
    <input type="button" id='reset_button' class="wb_button blue" value="{% trans 'Reset' %}"/>
</div>
<div id="orders_history_grid"></div>
<div id="orders_history_pager"></div>

<script>
{% autoescape off %}
(function () {
    OrderHistoryHelper.init({
        order_history_url:          "{{ history_data_url }}",
        order_history_columns:      {{ order_history_columns }},
        order_history_column_names: {{ order_history_column_names }},
        order_history_fields:       {{ order_history_fields }},
        page_label:                 "{% trans 'Page' %}",
        of_label:                   "{% trans 'of' %}",
        rating_choices:             {{ rating_choices }},
    {% if rating_disabled %}
        rating_disabled:            true,
    {% endif %}
    });


})();
{% endautoescape %}
</script>

{% endblock content %}