{% load i18n %}
<div id="order_tracker"></div>

<script type="text/javascript" src="/_ah/channel/jsapi"></script>

<script>
    channel = undefined;
    socket = undefined;
    (function() {
        getOrder = function(order) {
            var $order = $("#order_tracker #order_" + order.pk);
            if ($order.length == 0)
                return undefined;
            else
                return $order.first();
        };

        buildOrder = function(order) {
            var $address_list =
                    $("<ul class='tracker_address_list'></ul>")
                            .append($("<li class='tracker_from'></li>").text(order.from_raw))
                            .append($("<li class='tracker_to'></li>").text(order.to_raw)),
                    $info_container = $("<div class='tracker_info_container'></div>")
                            .append($("<span class='tracker_station'></span>").attr('id', 'station_' + order.pk))
                            .append($("<span class='tracker_info'></span>").attr('id', 'info_' + order.pk)),
                    $details_container = $("<div class='tracker_details_container'></div")
                            .append($("<button class='tracker_button wb_button gray'></button>").text("{% trans 'Close' %}").attr('id', 'close_btn_' + order.pk).hide())
                            .append($("<div class='tracker_indicator'></div>").attr('id', 'indicator_' + order.pk))
                            .append($("<div class='tracker_station_phone'></div>").attr('id', 'station_phone_' + order.pk).hide());

            var $order = $("<div class='tracker_order'></div>").attr('id', 'order_' + order.pk)
                    .append($address_list).append($info_container).append($details_container);

            if (order.to_raw == "") {
                $address_list.find(".tracker_to").hide();
            }

            $($order).hide().prependTo("#order_tracker").slideDown('slow');
        };

        renderOrder = function(order) {
            var $order = getOrder(order),
                    $station = $("#station_" + order.pk),
                    $station_phone = $("#station_phone_" + order.pk),
                    $info = $("#info_" + order.pk),
                    $indicator = $("#indicator_" + order.pk),
                    $close_btn = $("#close_btn_" + order.pk);


            switch (order.status) {
                case {{ PENDING }}: case {{ ASSIGNED }}:
                    $order.addClass("searching");
                    $indicator.addClass("searching").text("{% trans 'Please wait' %}");
                    $info.addClass("searching").text(order.info);
                    $station.text(order.station).effect("highlight", 1000);
                    break;
                case {{ ACCEPTED }}:
                    $order.addClass("accepted");

                    if (! order.pickup_time_sec) {
                        $info.text("{% trans 'Order finished!' %}");
                    }
                    // future order, show pickup mode
                    else {
                        $indicator.addClass("accepted");
                        $station.text(order.station);
                        $info.removeClass("searching").addClass("accepted").text(order.info).effect("highlight", 1000);
                        $station_phone.text("{% trans 'Changes: '%}" + order.station_phone).fadeIn();

                        var minutes = Math.floor(order.pickup_time_sec / 60),
                                seconds_remainder = order.pickup_time_sec % 60,
                                initial_value = (seconds_remainder) ? minutes + 1 : minutes,
                                minute_label = (initial_value == 1) ? "{% trans 'minute' %}" : "{% trans 'minutes' %}";

                        $indicator.val(initial_value).text("{% trans 'Pickup in' %}" + " " + initial_value + " " + minute_label)
                                .oneTime(seconds_remainder * 1000, function() {
                            updateTimer(order)
                        });

                    }
                    break;
                case {{ ORDER_FAILED }}:
                    $order.addClass("failed");
                    $station.fadeOut();
                    $indicator.fadeOut();
                    $info.removeClass("searching").addClass("failed").text("{{ FAILED_MSG }}");
                    $close_btn.fadeIn().click(function() {
                        $order.slideUp();
                    });
                    break;
            }
        };

        updateTimer = function(order) {
            var $order = getOrder(order),
                    $station = $("#station_" + order.pk),
                    $info = $("#info_" + order.pk),
                    $indicator = $("#indicator_" + order.pk),
                    $close_btn = $("#close_btn_" + order.pk);

            var new_val = Math.max(0, $indicator.val() - 1);
            if (new_val == 0) {
                $info.removeClass("accepted").text("{% trans 'Have a pleasant ride!' %}").effect("highlight", 1000);
                $station.fadeOut();
                $close_btn.fadeIn().click(function() {
                    $order.slideUp();
                });
                $indicator.fadeOut();
            }
            else {
                var minute_label = (new_val == 1) ? "{% trans 'minute' %}" : "{% trans 'minutes' %}";
                $indicator.text("{% trans 'Pickup in' %}" + " " + new_val + " " + minute_label).effect("highlight", 1000)
                        .oneTime(60 * 1000, function() {
                    updateTimer(order)
                });
            }

            $indicator.val(new_val);
        };

        isValidOrder = function(order) {
            return Boolean(order.pk > 0);  // small test that the msg is valid
        };

        onMessage = function(msg) {
            var order = JSON.parse(msg.data);

            if (isValidOrder(order)) {
                var $order = getOrder(order);
                if (! $order) {
                    buildOrder(order);
                }

                renderOrder(order);
            }
        };

        openChannel = function() {
            channel = new goog.appengine.Channel('{{ token }}');
            socket = channel.open();
//            socket.onopen = function() {
//                if (console && console.log) {
//                    console.log("channel opened with token:" + "{{ token }}");
//                }
//            };
            socket.onerror = function(error) {
//                alert("onerror: " + error.code + ":" + error.description + " token is: {{ token }}");
                window.location.href = "/";
            };
            socket.onclose = function() {
//                alert("on close");
                window.location.href = "/";
            };
            socket.onmessage = onMessage;
        };

        initOrderTracker = function() {
            openChannel();

            var recent_orders = {{ tracker_history|safe }};
            if (recent_orders) {
                for (var count = 0; count < recent_orders.length; count++) {
                    var order = JSON.parse(recent_orders[count]);
                    if (isValidOrder(order)) {
                        buildOrder(order);
                        renderOrder(order);
                    }
                }
            }
        };

        $(function() {
            initOrderTracker();
        });
    })()
</script>
