{% load i18n %}

<script type="text/javascript" src="/static/js/jquery.ajax_forms.js"></script>
<script type="text/javascript" src="/static/js/jquery.ajax_forms.validation.js"></script>
{% load ajax_form_utils %}
<form action="{% url ordering.passenger_controller.edit_profile %}" method="post" id="profile_form">
    {% csrf_token %}
    <div id="field_container">
    {% if passenger.business %}
        <p>
            <label>{% trans 'name' %}:</label>
            {{ name }}
        </p>
        <p>
            <label>{% trans 'address' %}:</label>
            {{ address }}
        </p>
        <p>
            <label>{% trans 'username' %}:</label>
            {{ username }}
        </p>
    {% else %}
        <p>
            <label>{% trans 'Phone number' %}:</label>
            <span id="current_phone">{{ phone }}</span>
            <a id="change_phone" href="#">{% trans 'Change' %}</a>
        </p>
        <p>
            <label>{% trans 'Email' %}:</label>{{ email }}
        </p>
    {% endif %}
    {{ form.as_p }}
    </div>
 <input type="submit" id="save_profile_changes" value="{% trans 'Save Changes' %}" class="wb_button blue"/>

</form>


<script>
$(function() {
    var changes_saved_msg = "{% trans 'Changes saved successfully' %}";
    var error_msg = "{% trans 'Error while saving changes' %}";
    $("#change_phone").click(function(){
        Registrator.openPhoneDialog(function(new_phone) {
            if (new_phone) {
                $("#current_phone").text(new_phone).effect("highlight", {}, 3000);
            }
        });
    });
    $('#profile_form').validation({% render_ajax_fields form %});

    $('#profile_form').submit(function(e) {
        e.preventDefault();
        if ($("#profile_form input[type=submit]").attr("disabled")) {
            return false;
        }

        if (! $(this)[0].validate()) {
            return false;
        }

        $("#profile_form input[type=submit]").button("disable");

        $(this).ajaxSubmit({
            dataType: "json",
            complete: function() {
                $("#profile_form input[type=submit]").button("enable");
            },
            success: function(order_status) {
                openDialog("{% trans 'OK' %}", changes_saved_msg)
            },
            error: function(){
                openDialog("{% trans 'error' %}", error_msg)
            }
        });
        return false;
    });

});

</script>
