{% extends "base_passenger.html" %}
{% load i18n %}

{% block extrahead %}
{{ block.super }}
<script src="/static/js/jquery.form.js"></script>
<script src="/static/js/ordering.js"></script>
<script src="http://api.navigator.telmap.com/maps/api/js?sensor=false"></script>
<script>
    $(document).ready(function() {
        OrderingHelper.init({
            resolve_address_url:        "{% url ordering.passenger_controller.resolve_address %}",
            resolve_coordinate_url:     "{% url ordering.passenger_controller.resolve_coordinates %}",
            estimation_service_url:     "{% url ordering.passenger_controller.estimate_ride_cost %}",
            not_a_passenger_response:   "{{ not_a_passenger }}",
            not_a_user_response:        "{{ not_a_user }}",
            telmap_user:                "{{ telmap_user }}",
            telmap_password:            "{{ telmap_password}}",
        });
        $("#tabs").tabs({

            ajaxOptions: {
                error: function(xhr, status, index, anchor) {
                    $(anchor.hash).html("Couldn't load this tab. We'll try to fix this as soon as possible. If this wouldn't be a demo.");
                }
            }
        });
        SelectFromHistoryHelper.init($("#tabs"), { fetch_address_url: "{% url ordering.passenger_controller.get_order_address %}" });

        

    });

</script>
{% endblock %}

{% block content %}
                <div id="roller">
                    <span class="img fade left-fade"></span>
                    <span class="img fade right-fade"></span>{{ marquee_text }}
                    <marquee behavior="scroll" scrollamount="1" direction="left" width="870">
                        Coming soon... &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;::&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; The easiest way to get a taxi! &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; WAYbetter are the best  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;::
                    </marquee>
				</div>
				<div id="yellow_header" class="round">
					<span id="taxi_tab" class="img"><h1>{% trans 'TAXI' %}</h1></span>
					<div>
						<p>
							{% trans 'Book Now (FREE)' %}
						</p>
					</div>
				</div>
                <div class="gray_header">
					<form id="order_form" method="post" action="{% url ordering.passenger_controller.book_order %}">
                        {% csrf_token %}
                        {% for field in form %}
                            {% if field.name in hidden_fields %}
                                {{ field.as_hidden }}
                            {% else %}
                                <input type="hidden" id="id_geocoded_{{ field.name }}" name="geocoded_{{ field.name }}"/>
                            {%  endif %}
                        {% endfor %}
                        <ul>
                            <li>
                                <input type=text class="big_text a_marker marker_disabled" id="id_from_raw" name="from_raw" placeholder="{% trans 'Enter pickup address' %}"/>
                            </li>
                            <li>
                                <input type=text class="big_text b_marker marker_disabled" id="id_to_raw" name="to_raw" placeholder="{% trans 'Enter drop-off address' %}"/>
                            </li>
                        </ul>
						<button class="order_button" id="order_button"></button>
					</form>
					<div id="map_container">
                        <div id="map"></div>
                        <div id="map_overlay_left"></div>
                        <div id="map_overlay_top"></div>
					</div>
                    <div id="ride_cost_estimate"></div>
                    <div class="clear"></div>
				</div>
        <div id="tabs">
        {% if request.user.passenger %}
                <ul>
                    <li><a href="{% url ordering.passenger_controller.get_passenger_orders_history %}">{% trans 'Ride History' %}</a></li>
                    <li><a href="{% url ordering.passenger_controller.profile_page %}">{% trans 'My Profile' %}</a></li>
                </ul>
        {% else %}
            <ul>
                <li><a href="#stations">{% trans 'Taxi Stations' %}</a></li>
                <li><a href="#mobile">{% trans 'Mobile' %}</a></li>
                <li><a href="#about">{% trans "What's This?" %}</a></li>
            </ul>
            <div id="stations">
                Stations
            </div>
            <div id="mobile">
                Mobile
            </div>
            <div id="about" style="text-align:center">
                <img src="/static/images/1_2_3.png" alt="explanation" />
            </div>
        {% endif %}
        </div>

        <div id="dialog"></div>
{% endblock content %}
{% block footer %}
{{ block.super}}
<span id="footer-links">
    <a href="#">{% trans 'About' %}</a>
    <a href="#">{% trans 'Press' %}</a>
    <a href="#">{% trans 'Help' %}</a>
    <a href="#">{% trans 'Terms' %}</a>
    <a href="{% url ordering.station_controller.stations_home %}">{% trans 'Station Entrance' %}</a>
</span>
<span id="footer-copyright">
    &copy; {% trans '2010 WAYbetter' %}
</span>
{% endblock footer %}