{% extends "base_passenger.html" %}
{% load i18n %}
{% block page_specific_head %}
<script type="text/javascript" src="/static/js/jquery.form.js"></script>
<script type="text/javascript" src="/static/js/ordering.js"></script>
{% endblock %}

{% block content %}
        <script language="javascript">

            $(document).ready(function() {
                OrderingHelper.init({
                    unresolved_label:           "{% trans 'Could not resolve address' %}",
                    resolve_address_url:        "{% url ordering.passenger_controller.resolve_address %}",
                    estimation_service_url:     "{% url ordering.passenger_controller.estimate_ride_cost %}",
                    not_a_passenger_response:   "{{ not_a_passenger }}",
                    not_a_user_response:        "{{ not_a_user }}"
                })
            });

        </script>
        <div id="greeting">
            {% trans "Welcome" %} {{ user.username }}!
        </div>
        <div class="form_container" style="width:500px">

            <form method="post" id="order_form" name="order_form" action="{% url ordering.passenger_controller.book_order %}">
                {% csrf_token %}
                {% for field in form %}
                    <div class="fieldWrapper">
                        {% if field.name in hidden_fields %}
                            {{ field.as_hidden }}
                        {% else %}
                            {{ field.errors }}
                            {{ field.label_tag }} {{ field }}
                            <div id="indicator_for_{{ field.name }}" style="display:none;"><img src="/static/img/indicator.gif"></div>
                            <input type="hidden" id="id_geocoded_{{ field.name }}" name="geocoded_{{ field.name }}">
                            <p id="choices_for_{{ field.name }}"></p>
                        {%  endif %}
                    </div>

                {% endfor %}
                <hr>
                <div id="map" style="width:300px;height:300px;">
                </div>
                <div id="ride_cost_estimate"></div>
                <input id="order_button" type="submit" value="{% trans "Book" %}">
            </form>
        </div>
        <script type="text/javascript">
		<!--
		    g_waze_config = {
				div_id:"map",
				locale : "israel",
				center_lon:34.7898,
				center_lat:32.08676,
				zoom:8,
                token:"{{ waze_token }}",
				alt_base_layer:"israel_colors",
				alt_map_servers:"http://ymap1.waze.co.il/wms-c/",
                //callback:onInit//,
				//framed_cloud_image_url:"http://www.waze.co.il/test_api/cloud.png"
			};
		-->
		</script>
        <script type="text/javascript" src="http://www.waze.co.il/js/WazeEmbeddedMapNoJQuery.js"></script>
{% endblock content %}
{% block footer %}
 {{ block.super}}
<a href="{% url stations.views.stations_home %}">{% trans 'Taxi Stations' %}</a>
{% if request.user.is_authenticated %}
    | <a href="{% url ordering.passenger_controller.get_passenger_orders %}">{% trans 'My orders' %}</a>
{% endif %}
{% endblock footer %}