{% load i18n %}
<script>
    var form_config = {
        dialog_config : {
            title: "{% trans '' %}",
        },
        urls: {

        },
        message: {
            
        }
    };
</script>
<form id="phone_verification_form">
    <table>
        <tr>
            <td>
                <label for="country">{% trans 'Country' %}</label>
                <select name="country" id="country">
                {% for country in countries %}
                    <option value="{{ country.id }}">{{ country.name|truncatewords:3 }} ({{ country.dial_code }})</option>
                {% endfor %}
                </select> 
            </td>
        </tr>
        <tr>
            <td>
                <label for="local_phone">{% trans 'Local mobile phone' %}</label>
                <input name="local_phone" id="local_phone">
            </td>
        </tr>
        <tr>
            <td>
                <button id="send_sms_verification">{% trans 'Send SMS Verification' %}</button>
            </td>
        </tr>
        <tr>
            <td>
                <label for="sms_code">{% trans 'Enter SMS code' %}</label>
                <input name="sms_code" id="sms_code">
            </td>
        </tr>
    </table>
</form>
