{% load i18n %}
<style type="text/css">
    #side_bar.press {
        width: 230px;
    }
    #main_content.press {
        width: 65%;
    }
    #side_bar.press ul > li > a {
        width: auto;
    }
    #side_bar.press ul > li > div {
        color:black;
        font-style: italic;
        font-size: 13px;
        padding-top: 10px;
    }
    #embed_code {
        width: 470px;
        height: 40px;;
        font-size: 12px;
        font-family: monospace;
        text-align: left;
        direction: ltr;
    }
</style>
<div id="wrapper">
    <div id="side_bar" class="press">
        <h1>{% trans "Press Materials" %}</h1>

        <ul>
            <li>
                <a href='/static/images/press_images/WAYbetter_images_catalog.pdf'>{% trans "Image Catalog" %}</a>
                <div>{% trans 'Smaller images and download links' %}</div>
            </li>
            <li>
                <a href='/static/images/press_images/Founders.zip'>{% trans "Founders Images" %}</a>
                <div>{% trans 'Print and web resolutions' %}</div>
            </li>
            <li>
                <a href='/static/images/press_images/Founders_And_Station.zip'>{% trans "Founders Images with Hamshuhrar Station" %}</a>
                <div>{% trans 'The founders together with the first station to join' %}</div>
            </li>
            <li>
                <a href='/static/images/press_images/Cool_Photos.zip'>{% trans "Cool Photos" %}</a>
                <div>{% trans 'A colletion of cool and useful photos' %}</div>
            </li>
            <li>
                <a href='/static/images/press_images/WAYbetter_Logos.zip'>{% trans "WAYbetter Logo" %}</a>
                <div>{% trans 'Logos on B&W background' %}</div>
            </li>
            <li>
                <a href='/static/images/press_images/WAYbetter_ScreenShots.zip'>{% trans "Screenshots" %}</a>
                <div>{% trans 'Screenshots of our website and iPhone app' %}</div>
            </li>
        </ul>
    </div>
    <div id="main_content" class="press">
        <iframe title="YouTube video player" width="480" height="390" src="http://www.youtube.com/embed/0GKmb1-lYTg?rel=0" frameborder="0" allowfullscreen></iframe>
        <h1>{% trans 'Embed video code:' %}</h1>
        <textarea id="embed_code">
<iframe title="YouTube video player" width="480" height="390" src="http://www.youtube.com/embed/0GKmb1-lYTg?rel=0" frameborder="0" allowfullscreen></iframe>
        </textarea>
    </div>
    <div class="clear"></div>
</div>
