<!DOCTYPE html>
<html lang="en" ng-app="M2MApp">
<head>
    <meta charset="utf-8">
    <title>WAYbetter - Staff M2M</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="/static/css/bootstrap/css/bootstrap.min.css">
    <style type="text/css">
        body {
            padding-top: 50px;
        }
    </style>
    <link rel="stylesheet" href="/static/css/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/static/css/jquery-ui-1.8.14.smoothness.css" type="text/css" media="all">
    <style type="text/css">
        .ui-widget {
            font-family: inherit;
            font-size: inherit;
        }

        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none;
        }

        form input[type='text'] {
            width: 300px;
        }
    </style>

</head>
<body class="ng-cloak">
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a href="#" class="brand">Staff M2M</a>
        </div>
    </div>
</div>

<div class="container" ng-controller="M2MController">
    <form action="" class="well" name="booking_form">
        {% csrf_token %}
        <label for="pickup_address">Pickup</label>
        <input type="text" id="pickup_address" ng-model="pickup.formatted_address" wb-pac="pickup">
        <label for="dropoff_address">Dropoff</label>
        <input type="text" id="dropoff_address" ng-model="dropoff.formatted_address" wb-pac="dropoff">
        <label for="pickup_time">Time</label>
        <input type="text" ng-model="pickup_time" id="pickup_time">
        <label>Num Seats</label>
        <label class="radio" ng-repeat="val in [1,2,3]">
            <input type="radio" name="num_seats" ng-model="order_settings.num_seats" value="(( val ))">
            (( val ))
        </label>
    </form>
    <button class="btn btn-large" ng-click="getOffers()">Get Offers</button>
    <table class="table" ng-show="offers">
        <thead>
        <tr>
            <th>Price</th>
            <th>Time</th>
            <th>Private</th>
            <th>ID</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="offer in offers" id="offer_(( offer.ride_id ))" ng-click="bookRide(offer.ride_id)">
                <td>(( offer.price | number:1 ))</td>
                <td>(( offer.time | date:'short' ))</td>
                <td>(( offer.private ))</td>
                <td>(( offer.ride_id ))</td>
            </tr>
        </tbody>
    </table>
</div>


<script src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false&language=he"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/js/libs/underscore.min.js"></script>
<script type="text/javascript" src="/static/js/libs/angular-1.0.0.min.js"></script>
<script type="text/javascript" src="/static/js/libs/angular-ui.min.js"></script>
<script type="text/javascript">
    var m = angular.module('M2MApp', [])
            .directive("wbPac", function () {
                return {
                    restrict:'A',
                    link:function (scope, element, attrs) {
                        var pac_name = attrs.wbPac + '_pac';
                        scope[pac_name] = new google.maps.places.Autocomplete(element[0], {});
                        google.maps.event.addListener(scope[pac_name], 'place_changed', function () {
                            var place = scope[pac_name].getPlace();
                            scope[attrs.wbPac].fromPlace(place);
                        });
                    }
                }
            })
            .config(function ($interpolateProvider) {
                $interpolateProvider.startSymbol('((');
                $interpolateProvider.endSymbol('))');
            });


    function Address() {
        this.street = undefined;
        this.house_number = undefined;
        this.city_name = undefined;
        this.country_code = undefined;
        this.lat = undefined;
        this.lng = undefined;
        this.formatted_address = undefined;

        this.fromJSON = function(json){
            var obj = angular.fromJson(json);
            this.street = obj.street;
            this.house_number = obj.house_number;
            this.city_name = obj.city_name;
            this.country_code = obj.country_code;
            this.lat = obj.lat;
            this.lng = obj.lng;
            this.formatted_address = obj.formatted_address;
        };

        this.fromPlace = function (place) {
            function _getAddressComponent(type) {
                var res = undefined;
                $.each(place.address_components, function (i, component) {
                    if (component.types && $.inArray(type, component.types) > -1) {
                        res = component.short_name;
                        return; // break
                    }
                });

                return res;
            }

            this.street = _getAddressComponent("route");
            this.house_number = _getAddressComponent("street_number");
            this.city_name = _getAddressComponent("locality");
            this.country_code = _getAddressComponent("country");
            this.lat = place.geometry.location.lat();
            this.lng = place.geometry.location.lng();
            this.formatted_address = place.formatted_address;
        };
    }

    function M2MController($scope, $http) {
        $scope.init = function(){
            $scope.times = ["8:00", "9:00"];
            $scope.pickup = new Address();
            $scope.dropoff = new Address();
            $scope.pickup_time = new Date();
            $scope.order_settings = {
                num_seats:1,
                debug:true
            };
            $scope.offers = [];

            $scope.pickup.fromJSON('{"street":"אלנבי","house_number":"1","city_name":"תל אביב יפו","country_code":"IL","lat":32.0736683,"lng":34.76546570000005,"formatted_address":"אלנבי 1, תל אביב יפו, ישראל"}');
            $scope.dropoff.fromJSON('{"street":"מרגולין","house_number":"1","city_name":"תל אביב יפו","country_code":"IL","lat":32.0586624,"lng":34.78742,"formatted_address":"מרגולין 1, תל אביב יפו, ישראל"}')

        };


        $scope.getOffers = function () {
            $http.post("{% url ordering.ordering_controller.get_offers %}", {
                pickup:$scope.pickup,
                dropoff:$scope.dropoff,
                pickup_dt: new Date($scope.pickup_time).toUTCString(),
                settings:$scope.order_settings
            })
            .success(function (data, status, headers, config) {
                $scope.offers = data;
            })
        };

        $scope.bookRide = function(ride_id){
            $http.post("{% url ordering.ordering_controller.book_ride %}", {
                pickup:$scope.pickup,
                dropoff:$scope.dropoff,
                pickup_dt:new Date($scope.pickup_time).toUTCString(),
                settings:$scope.order_settings,
                ride_id: ride_id
            }).success(function (data, status) {
                        console.log(data);
                    });
        };

        $scope.init();

    }

</script>

</body>
</html>

