
{% load i18n %}
<script type="text/javascript" src="/static/js/jquery.formset.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.ajax_forms.js"></script>
<script type="text/javascript" src="/static/js/jquery.ajax_forms.validation.js"></script>

{% load ajax_form_utils %}
<form enctype="multipart/form-data" id="profile_form" action="{% url ordering.station_controller.station_profile %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}

    {% for p_form in phone_formset.forms %}
    <div class="phone_formset">
        <label for="{{ p_form.local_phone.name }}">{{ p_form.local_phone.label }}:</label>
        <p>
            {{ p_form.local_phone.errors }}
            {{ p_form.local_phone }}
        </p>
        {{ p_form.station }}
        {{ p_form.DELETE}}
        {{ p_form.id }}
    </div>
    {% endfor %}
    {{ phone_formset.management_form }}
 <input type="submit" id="id_save_station_profile" class="wb_button blue" value="{% trans 'Save Changes' %}"/>
</form>

<script>

$(function() {
    update_options({
        parent_id_selector:     "#id_country_id",
        target_id_selector:     "#id_city_id",
        url:                    "{% url ordering.station_controller.get_cities_for_country %}"
    });
    var validations =  {% render_ajax_fields form %};
    {% for p_form in phone_formset.forms %}
         $.extend(validations, {% render_ajax_fields p_form %});
    {% endfor %}
    $('#profile_form').validation(validations);
    $(".phone_formset").formset({
        prefix: '{{ phone_formset.prefix }}'
    });

    $('#profile_form').unbind("submit").submit(function(e) {
        e.preventDefault();
        if ($("#profile_form input[type=submit]").attr("disabled")) {
            return false;
        }

        if (! $(this)[0].validate()) {
            return false;
        }

        $("#profile_form .errorlist").fadeOut('fast', function() {
            $(this).remove();
        }); // remove previous errors
        
        $("#profile_form input[type=submit]").button("disable");
        $(this).ajaxSubmit({
            dataType: "json",
            complete: function() {
                $("#profile_form input[type=submit]").button("enable");
            },
            success: function(response) {
                if (! response.errors ) {   // no errors!
                    // reload selected tab to show updated logo
                    $("#tabs").tabs("load", $("#tabs").tabs("option", "selected"));
                    alert('Changes saved!');
                } else {                    // we got errors
                    $.each(response.errors, function(i, error) {
                        for (var field_name in error) {
                            var $errors = $("<ul class='errorlist'></ul>").hide();
                            $.each(error[field_name], function(i, val) {
                                $errors.append($("<li></li>").text(val));
                            });
                            $("input[name=" + field_name + "]").before($errors);
                            $errors.fadeIn('fast');
                        }
                    });
                }
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                alert('There was an error saving you data');
            }
        });
        return false;
    });

    $("#id_address").autocomplete({
        source:     function(request, response) {
            var data = {
                address:    request.term,
                country_id:    $("#id_country_id").val(),
                city_id:       $("#id_city_id").val()
            };
            $.ajax({
                url:        "{% url ordering.station_controller.resolve_address %}",
                data:       data,
                dataType:   "json",
                success:    function(results) {
                    var items = $.map(results, function(result) {
                        var address = result.street_address;

                        if (result.house_number) {
                            address += " " + result.house_number;
                        }
                        return {
                            label:  address,
                            value:  address,
                            lon:    result.lon,
                            lat:    result.lat
                        }
                    });
                    response(items);
                }
            });
        },
        select:     function(event, ui) {
            $("#id_number_of_taxis").focus();
            $("#id_lon").val(ui.item.lon);
            $("#id_lat").val(ui.item.lat);
        }
    });

    $("#id_address").change(function() {
        $("#id_lon, #id_lat").val("");
    });
});

</script>