{% load i18n %}
<script>
    $(function() {
        $(".more_details").hide();
        $(".station_row button").click(function () {
            window.location.href = $(this).attr("href");
        });
        $(".toggle_details").click(function(e) {
            var elem = this;
            var row = $(this).parent().parent();
            var details = $(".more_details", row);
            if (details.is(":hidden")) {
                var max_height = $(".station_details", row).height();
                row.animate({ "max-height": max_height + "px" }, 500, function() {
                    details.fadeIn("fast");
                    $(elem).text("{% trans 'Less details' %}");
                });
            } else {
                details.fadeOut("fast");
                $(elem).text("{% trans 'More details' %}");
                row.animate({ "max-height": "120px" }, 500, function() {
                });
            }
            e.preventDefault();
        });
    })
</script>
<div id="station_entrance">
    <p>
        {% trans 'Station Manager?' %}
        <a href="{% url ordering.station_controller.stations_home %}">{% trans 'Station Entrance' %}</a>
    </p>
</div>
{% for station in stations_data %}
<div class="station_row">
    <div class="station_logo">
        {% autoescape off %}
            {{ station.logo }}
        {% endautoescape %}
    </div>
    <div class="station_details">
        <h1>
            {{ station.name }}
        </h1>
        <p>
            {{ station.description }}
        </p>
        <div class="more_details">
            <div class="website">
                <a href="{{ station.website }}">{{ station.website }}</a>
            </div>
            <div class="address">
                {{ station.address }}
            </div>
            <div class="phones">
                {{ station.phones }}
            </div>
        </div>
        <a class="toggle_details" href="#">
            {% trans "More details" %}
        </a>
        {% if station.station_page_url %}
            <button class="wb_button gold" href="{{ station.station_page_url }}">{% trans "Book a Taxi Now" %}</button>
        {% endif %}
    </div>
</div>
{% endfor %}
