{% extends "base_station.html" %}
{% load i18n %}
{% block page_specific_head %}
<script type="text/javascript" src="/static/js/jquery.form.js"></script>
<script type="text/javascript" src="/static/js/registration.js"></script>
<script type="text/javascript" src="/static/js/ordering.js"></script>
{% endblock %}

{% block content %}

    <script type="text/javascript">
        $(document).ready(function() {
            Registrator.init({
                urls            : {
                    station_interest_form_template     : '{% url interests.views.station_interest %}'
                }
            });

            $("#tabs").tabs({
                ajaxOptions: {
                    error: function(xhr, status, index, anchor) {
                        $(anchor.hash).html("Couldn't load this tab. We'll try to fix this as soon as possible.");
                    }
                }
            });
            $("#tabs").bind('tabsselect', function(event, ui) {
                window.location.href=ui.tab;
            });
            $(".big_red").click(function() {
                Registrator.openStationInterestDialog();
            })
        });

    </script>
    {% if request.user.station %}
       <div id="tabs">
           <ul>
               <li>
                   <a title="history" href="{% url ordering.station_controller.get_station_orders_history %}">{% trans 'Rides history' %}</a>
               </li>
               <li>
                   <a title="profile" href="{% url ordering.station_controller.station_profile %}">{% trans 'Profile' %}</a>
               </li>
               <li>
                   <a title="download" href="{% url ordering.station_controller.download_workstation %}">{% trans 'Workstations' %}</a>
               </li>
           </ul>
       </div>
    {% else %}
        <div class="content round_10">
            <div id="diagram_column">
                <div id="diagram"></div>
                <button class="big_red">{% trans 'Join' %}</button>
            </div>
            <div id="info">
                <h1>{% trans 'WHY CONNECT?' %}</h1>
                <p>
                    {% trans "Simply because it's good for business!<br>You get safe exposure to a wide range of passengers you couldn't approach before!" %}
                </p>

                <h1>{% trans 'WHAT WILL YOU GET?' %}</h1>
                <ul>
                    <li>
                        {% trans "Terminal software (FREE)<br>Easy to use software that allows you to handle the orders" %}
                    </li>
                    <li>
                        {% trans "Personal internet page on www.waybetter.com and private ordering tool (FREE)" %}
                    </li>
                    <li>
                        {% trans "Your own ordering tool at your website (FREE)" %}
                    </li>
                    <li>
                        {% trans "Web application for smart-phone users (FREE)<br>Users will be able to book rides from your website using iPhones, Blackberry, Android and more!" %}
                    </li>
                    <li>
                        {% trans "Serve WAYbetter clients<br>WAYbetter has a fast growing user-base of people who need a taxi. Be the one who serves them in your city" %}
                    </li>
                </ul>
                
            </div>
        </div>
    {% endif %}

{% endblock content %}
