{% extends "base_site.html" %}
{% load i18n %}
{% block content %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/utils.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.form.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.ajax_forms.js"></script>
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.ajax_forms.validation.js"></script>
<script type="text/javascript" src="/static/js/jquery.formset.min.js"></script>

{% load ajax_form_utils %}
<form enctype="multipart/form-data" id="profile_form" action="{% url ordering.station_controller.station_profile %}" method="post" id="profile_form">
    {% csrf_token %}
    {{ form.as_p }}

    {% for p_form in phone_formset.forms %}
    <div class="phone_formset">
        <label for="{{ p_form.local_phone.name }}">{{ p_form.local_phone.label }}:</label>
        {{ p_form.local_phone.errors }}
        {{ p_form.local_phone }}
        {{ p_form.station }}
        {{ p_form.DELETE}}
        {{ p_form.id }}
    </div>
    {% endfor %}
    {{ phone_formset.management_form }}
 <input type="submit" value="{% trans 'Save Changes' %}"/>
</form>
{% endblock %}
{% block footer %}

<script>
$(document).ready(function() {
    update_options({
        parent_id_selector:     "#id_country_id",
        target_id_selector:     "#id_city_id",
        url:                    "{% url ordering.station_controller.get_cities_for_country %}"
    });
    $("#profile_form input[type=submit]").button();
    $('#profile_form').validation({% render_ajax_fields form %});
    {% for p_form in phone_formset.forms %}
    $('#profile_form').validation({% render_ajax_fields p_form %});
    {% endfor %}
    $(".phone_formset").formset({
        prefix: '{{ phone_formset.prefix }}'
    });

    $('#profile_form').unbind("submit").submit(function(e) {
        e.preventDefault();
        if ($("#profile_form input[type=submit]").attr("disabled")) {
            return false;
        }

        if (! $(this)[0].validate()) {
            return false;
        }

        $("#profile_form input[type=submit]").button("disable");

        $(this).ajaxSubmit({
            dataType: "json",
            complete: function() {
                $("#profile_form input[type=submit]").button("enable");
            },
            success: function(order_status) {
                $("#tabs").tabs("load", $("#tabs").tabs("option", "selected")); // reload selected tab
                alert('Changes saved!');
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                alert('There was an error saving you data');
            }
        });
        return false;
    });
});
$(function() {
});

</script>
{% endblock %}