{% extends "base.html" %}
{% load i18n %}

{% block bodyclass %}clean_body{% endblock %}
{% block mainclass %}clean_main{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="/static/css/redmond/jquery-ui-1.8.5.custom.css" type="text/css" media="all"/>
    <style>
        #ui-datepicker-div {
            font-size: 0.9em;
        }
        .ui-tabs .ui-tabs-nav li a {
            float: none;
        }
        .ui-widget-header .ui-state-default {
            font-weight: normal;
        }
    </style>

{% endblock %}

{% block content %}
    <div class="station_analytics">
        <form id="date_picker" method="post" action="{% url ordering.station_controller.station_analytics %}">
            {% csrf_token %}
            {{ form }}
        </form>

        <h2>{% trans 'analytics report' %} ({{ station_name }}) :<span id="header_date"></span></h2>

        <div id="analytics_container">
            <h2 id="error_msg"></h2>
            <img id="station_analytics_loading" src='/static/images/indicator_small.gif'/>

            <div id="pie_chart_container"></div>
            <div id="ride_summary_container"></div>
            <hr/>
            <div id="history_container">
                <div id="history_table">
                    <div id="assignments_history_grid" class="orders_history_grid"></div>
                    <div id="orders_history_controls">
                        <div id="assignments_history_pager" class="orders_history_pager"></div>
                    </div>
                </div>
                <div id="history_sidebar">
                    <form id="status_picker" method="get"
                          action="{% url ordering.station_controller.get_station_assignments_history_data %}">
                        <span class="bold">{% trans "Show" %}:</span><br/>

                        <p>
                            <input type="checkbox" id="id_accepted" value="{{ accepted }}" name="accepted"
                                   checked="checked"/>
                            <label for="id_accepted" class="order_accepted">{% trans 'Accepted rides' %}</label>
                        </p>

                        <p>
                            <input type="checkbox" id="id_ignored" value="{{ ignored }}" name="ignored"
                                   checked="checked"/>
                            <label for="id_ignored" class="order_ignored">{% trans 'Ignored rides' %}</label>
                        </p>

                        <p>
                            <input type="checkbox" id="id_rejected" value="{{ rejected }}" name="rejected"
                                   checked="checked"/>
                            <label for="id_rejected" class="order_rejected">{% trans 'Rejected rides' %}</label>
                        </p>
                    </form>

                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>

{% endblock %}

{% block doc_ready %}
    <script type="text/javascript" src="/static/js/libs/highcharts.min.js"></script>
    <script type="text/javascript">

        var hasSVG = true;
        {% if workstation_agent %}
            hasSVG = false;
        {% endif %}

        loadHistory = function(params) {
            params.start_date = $("#id_start_date").val();
            params.end_date = $("#id_end_date").val();
            $("#history_table").hide();
            OrderHistoryHelper.loadHistory(params);
        };

        loadHistoryCallback = function() {
            $("[order_id]").each(function(i, e) {
                switch ($(e).data("status")) {
                    case {{ accepted }}:
                        $(e).addClass("order_accepted");
                        break;
                    case {{ ignored }}:
                    case {{ not_taken }}:
                        $(e).addClass("order_ignored");
                        break;
                    case {{ rejected }}:
                        $(e).addClass("order_rejected");
                        break;
                }
            });
            $("#history_table").show();
        };

        renderChart = function(data, total_count) {
            if (hasSVG) {
                renderPieChart(data, total_count);
            }
            else {
                $("#ride_summary_container").empty();
                $("#ride_summary_container").append($("<h2>{% trans 'Ride summary' %}</h2>")).append($("<ul></ul>"));
                $.each(data, function(i, e) {
                    var $li = $("<li></li>").text(e.name + "\t: " + e.y + " {% trans 'rides'%} (" + Math.round(this.y / total_count * 100) + "%)");
                    $("#ride_summary_container ul").append($li);
                });
                $("#ride_summary_container ul").append($("<li></li>").addClass("total_count").text("{% trans 'Total' %}: " + total_count));
            }

        };

        renderPieChart = function(data, total_count) {
            chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'pie_chart_container',
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: ''
                },
                tooltip: {
                    formatter: function() {
                        return Math.round(this.y / total_count * 100) + '%';
                    }
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            color: '#000000',
                            connectorColor: '#000000',
                            style: {
                                font: '15px Trebuchet MS, Verdana, sans-serif'
                            },
                            formatter: function() {
                                return this.point.name + ' : ' + this.y + '  {% trans "Rides" %}';
                            }
                        }
                    }
                },
                series: [
                    {
                        type: 'pie',
                        data: data
                    }
                ]
            });
        };

        $(function() {
            $("#station_analytics_loading").hide();

            var date_options = { dateFormat: 'dd/mm/yy' };
            if (! $("#id_start_date").hasClass("hasDatepicker")) {
                $("#id_start_date").datepicker($.extend({}, date_options, {
                    maxDate: -1,
                    defaultDate: -7
                }));
                $("#id_start_date").datepicker("setDate", "{{ start_date }}");
            }
            if (! $("#id_end_date").hasClass("hasDatepicker")) {
                $("#id_end_date").datepicker($.extend({}, date_options, {
                    defaultDate: 0
                }));
                $("#id_end_date").datepicker("setDate", "{{ end_date }}");
            }

            $("#ui-datepicker-div").hide(); // pops up on page load
            $("#header_date").text($("#id_start_date").val() + " - " + $("#id_end_date").val());

            {% autoescape off %} // JSON var's
                var history_config = {
                    id_history_grid:            "assignments_history_grid",
                    id_history_pager:           "assignments_history_pager",
                    order_history_columns:      {{ order_history_columns }},
                    order_history_column_names: {{ order_history_column_names }},
                    order_history_fields:       {{ order_history_fields }},
                    order_history_url:          "{% url ordering.station_controller.get_station_assignments_history_data %}",
                    page_label:                 "{% trans 'Page' %}",
                    of_label:                   "{% trans 'of' %}",
                    rating_disabled:            true,
                    sorting_disabled:           true,
                    load_history_on_init:       false,
                    load_history_callback:      loadHistoryCallback
                };

                var init_params = {'page': 1, 'start_date': $("#id_start_date").val(), 'end_date': $("#id_end_date").val()};

                renderChart({{ pie_data }}, {{ total_count }});
                OrderHistoryHelper.init(history_config);
                loadHistory(init_params);
            {% endautoescape %}


            $("#id_start_date, #id_end_date").change(function() {
                $("#station_analytics_loading").show();
                $.ajax({
                    url: "{% url ordering.station_controller.station_analytics %}",
                    type: "POST",
                    dataType: 'json',
                    data: $("#date_picker").serialize(),
                    success: function(response) {
                        $("#header_date").text($("#id_start_date").val() + " - " + $("#id_end_date").val());
                        $("#error_msg").text("");
                        $("#station_analytics_loading").hide();

                        if (response.error) {
                            $("#error_msg").text("{% trans 'There was an error loading the data.' %}");
                        }
                        else {
                            if (response.pie_data && response.total_count) {
                                renderChart(response.pie_data, response.total_count);
                                loadHistory(init_params);
                                $("#ride_summary_container, #pie_chart_container, #history_container").show();
                            }
                            else {
                                $("#error_msg").text("{% trans 'No data' %}");
                                $("#ride_summary_container, #pie_chart_container, #history_container").hide();
                            }
                        }
                    }

                });
            });

            $("#status_picker [type=checkbox]").change(function() {
                var last_one_checked = $.grep($("#status_picker [type=checkbox]"),
                        function(e, i) {
                            return $(e).attr("checked")
                        }).length == 0;

                if (last_one_checked) {
                    $(this).attr("checked", "checked");
                    return true;
                }
                else {
                    var status_list = [];

                    $.each($("#status_picker [type=checkbox]"), function(index, element) {
                        if ($(element).attr("checked")) {
                            status_list.push(parseInt($(element).attr("value"), 10));
                        }
                    });

                    var params = init_params;
                    params.status_list = JSON.stringify(status_list);
                    loadHistory(params);
                }
            });

        });

    </script>
{% endblock %}