{% extends "connected_page.html" %}
{% load i18n %}

{% block title %}
        {% trans "Workstation page" %}
{% endblock title %}
{% block extrastyle %}
    <style type="text/css">
    *  {
		font-family: Arial, Calibri, sans-serif;
		font-weight: Bold;
        margin: 0;
	}
    #orders {
        /*position: absolute;*/
        /*top:0;*/
        width: 330px;
        direction: rtl;
        padding:0;
        border:none;
    }
    #connection_status {
        width: 330px;
        direction: rtl;
        padding:0;
        border:none;
    }
	.order {
		background: -webkit-gradient(linear, left top, left bottom, from(#565656), to(#000000));
		height: 32px;
        position: relative;
        padding-top: 12px;
        padding-left: 5px;

	}
    #orders div div, #connection_status div {
        display: inline-block;
    }    
    .order > div {
        margin: 0 4px;
    }
	.order > div:first-child {
		/*padding-left: 7px;*/
	}
	.order > div:last-child {
		/*padding-right: 7px;*/
	}

	#orders .button_txt {
		color: black;
		text-shadow: #e6e6e6 0 1px 0;
	}
    #orders .button_txt:disabled {
        color: gray;
    }
	#orders .button_bg {
		background: -webkit-gradient(linear, left top, left bottom, from(#ececec), to(#8f8f8f));
		/* border: 1px solid  black; */
		-webkit-border-radius: 5px;
		width: 40px;
		height: 23px;
		padding-top: 5px;
		padding-left: 6px;
        text-align: center;
        position: relative;
        bottom: 5px;
        float: left;
	}
	#orders .button_bg:hover{
		background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#b9b9b9));
		cursor: pointer;
		/* border: 1px solid  black; */
	}
	#orders .button_bg:active{
		color: white;
		background: -webkit-gradient(linear, left top, left bottom, from(#929292), to(#929292));
		text-shadow: none;
		/* border: 1px solid  black; */
	}
	#orders .reject_button_bg {
		background: -webkit-gradient(linear, left top, left bottom, from(#ececec), to(#8f8f8f)) ;
		-webkit-border-radius: 5px;
		width: 23px;
		height: 23px;
		padding-top: 5px;
	}
	#orders .reject_button_bg:hover{
		background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#b9b9b9));
		cursor: pointer;
		/* border: 1px solid  black; */
	}
	#orders .reject_button_bg:active{
		color: white;
		background: -webkit-gradient(linear, left top, left bottom, from(#929292), to(#929292));
		text-shadow: none;
		/* border: 1px solid  black; */
	}
	#orders .reject_image{
		background-image: url(/static/images/reject.png) ;
		background-repeat: no-repeat;
		background-position: center center;
		width: 12px;
		height: 12px;
		margin:0 5px;
		padding-top: 7px;
	}
	#orders select {
		background-image: url(/static/images/combo02.png) ;
		text-shadow: #e6e6e6 0 1px 0;
		/*text-align: right;*/
		padding-top: 2px;
        padding-left: 21px;
		font-size: 16px;
		width: 85px;
		height: 29px;
		-webkit-appearance: none;
		-webkit-border-radius: 5px;
		 border: none;
        bottom: 5px;
        position: relative;
        float:left;
	}
	#orders .combo:hover{
		background-image: url(/static/images/combo_hover02.png) ;
		cursor: pointer;
	}
	#orders .from_address{
		color: white;
		text-align: right;
        width: 130px;
        height: 40px;
        position: absolute;
        top: 4px;
	}
	#orders .from_address:hover{
		color: yellow;
		text-decoration:underline;
		cursor: pointer;
	}

   	#orders .pb-row {
        height: 14px;
        padding-right: 2.5%;
        background: black;
	}
	#orders .pb-row > td {
		padding-bottom: 4px;
		padding-top: 1px;
		/*background: black;*/
		background: blue;
	}

	#orders .pb {
		background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#615b5b));
		border: 1px solid  #1b1b1b;
		-webkit-border-radius: 3px;
		height: 7px;
		position: relative;
        width: 95%;
        margin-bottom: 3px;

	}

	#orders .pb > .ui-progressbar-value {
		background: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0, rgb(154,20,20)),
			color-stop(0.46, rgb(255,2,2)),
			color-stop(0.55, rgb(248,94,94)),
			color-stop(1, rgb(255,175,175))
		);
		position: absolute;
		right: 0;
		-webkit-border-radius: 3px;
		height: 7px;
		width:30%;
	}

    #orders .no_pb .pb,#orders .no_pb .pb > .ui-progressbar-value {
        background:black;
        border-color: black;
    }

	#orders .loader{
		background-image: url(/static/images/loader3.gif) ;
		background-repeat: no-repeat;
		background-position: center center;
		width:48px;
		padding-left:45px;
	}

	.sending{
		color: white;
		text-align: left;
        float: left;
        margin-left: 10px;
	}

	.reject_sending{
		background-image: url(/static/images/loader4.gif) ;
		background-repeat: no-repeat;
		background-position: center center;
		width: 24px;
		height: 24px;
        margin-top: 6px;
        margin-right: 15px;
	}
	#orders .pb_green {
		background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#615b5b));
		border: 1px solid  #1b1b1b;
		-webkit-border-radius: 3px;
		height: 7px;
		position: relative;
	}

	#orders .pb_green > .ui-progressbar-value {
	background: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(71,153,20)),
		color-stop(0.45, rgb(15,255,2)),
		color-stop(0.55, rgb(112,248,94)),
		color-stop(0.93, rgb(176,255,175))
		);
		position: absolute;
		right: 0;
		-webkit-border-radius: 3px;
		height: 7px;
		width:30%;
	}

	#orders .order_sent{
        color: yellow;
        height: 40px;
        left: 60px;
        position: absolute;
        text-align: right;
        top: 4px;
        width: 101px;
	}

	#orders .pb_sent {
		background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#615b5b));
		border: 1px solid  #1b1b1b;
		-webkit-border-radius: 3px;
		height: 7px;
		position: relative;
	}

	#orders .pb_sent > .ui-progressbar-value {
	background: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(71,153,20)),
		color-stop(0.45, rgb(15,255,2)),
		color-stop(0.55, rgb(112,248,94)),
		color-stop(0.93, rgb(176,255,175))
		);
		position: absolute;
		right: 0;
		-webkit-border-radius: 3px;
		height: 7px;
		width:30%;
	}
	#orders .finish_button_bg {

		background: -webkit-gradient(linear, left top, left bottom, from(#ececec), to(#8f8f8f)) ;
		-webkit-border-radius: 5px;
		width: 23px;
		height: 23px;
		padding-top: 5px;
        margin-right: 4px;
	}
	#orders .finish_button_bg:hover{
		background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#b9b9b9));
		cursor: pointer;
		/* border: 1px solid  black; */
	}
	#orders .finish_button_bg:active{
		color: white;
		background: -webkit-gradient(linear, left top, left bottom, from(#929292), to(#929292));
		text-shadow: none;
		/* border: 1px solid  black; */
	}
	#orders .sent_image{
		background-image: url(/static/images/sent.png) ;
		background-repeat: no-repeat;
		background-position: center center;
		width: 16px;
		height: 16px;
		padding-left: 0;
		padding-top: 2px;
        margin-right: 3px;
	}

</style>

{% endblock extrastyle %}
{% block content %}

    <script type="text/javascript">
        var polling_enabled = true;
        var POLLING_TIMER = "polling_timer";
        
        $(document).ready(function() {
            // setup bridge functions
            window.childSandboxBridge = {
                updateOnline    : function() {
                    if (window.parentSandboxBridge && parentSandboxBridge.online_status) {
                        setAcceptOrders("{{ online }}")
                    } else {
                        setAcceptOrders("{{ offline }}")
                    }
                }
            };
            
            initConnection();
            initAcceptOrders();
            setStationDetails("{{ station_name }}", {{ station_rating }});

        });
        function renderStatus() {
            if (is_in_error) {
                $("#orders").empty().append(
                        $("<div class='order'></div>")
                            .append("<div class='reject_sending'></div>")
                            .append("<div class='sending'>{% trans 'Connecting WAYbetter...' %}</div>")
                        );

                if (window.parentSandboxBridge) {
                    window.parentSandboxBridge.resize_window(1);
                }
            }

        }
        function setAcceptOrders(status) {
            $.post(
                    "{% url ordering.station_controller.update_online_status %}",
                    { status: status },
                    function(data, textStatus, XMLHttpRequest) {
                      var accept_orders = XMLHttpRequest.responseText == "True";
                      pollingEnabled(accept_orders);
                    }
            );
        }

        function initAcceptOrders() {
            if (window.parentSandboxBridge)
                window.parentSandboxBridge.set_online_state(true);
        }

        function initConnection() {
            restoreState();
        }

        function pollingEnabled(val) {
            
            if (val) {
                $('#accept_orders').removeClass('offline');
                $('#accept_orders').addClass('online');

                polling_enabled = true;
                
                pollOrders();
            } else {
                $('#accept_orders').removeClass('online');
                $('#accept_orders').addClass('offline');

                polling_enabled = false;
            }
        }

        function pollServer(url) {
            $.ajax({
                url: url,
                dataType: "json",
                complete: function(XMLHttpRequest, textStatus) {
                    if (XMLHttpRequest.status == 0) { // no response from server
                        onError();
                    }
                    $(document).stopTime(POLLING_TIMER);
                    $(document).oneTime({{ polling_interval }}, POLLING_TIMER, function() {
                        pollOrders();
                    });
                },
                success: onOrder,
                error: onError

                });
        }

        function pollOrders() {
//            if (polling_enabled) {
            if (polling_enabled || window.parentSandboxBridge && (parentSandboxBridge.is_online() || parentSandboxBridge.is_error())) {
                pollServer("{% url ordering.station_controller.get_orders %}");
            }
        }

        function restoreState() {
            if(window.parentSandboxBridge) {
                window.parentSandboxBridge.set_current_rows(0);
            }
            $.ajax({
                url: "{% url ordering.station_controller.get_workstation_orders %}",
                dataType: "json",
                complete: function(XMLHttpRequest, textStatus) {
                    if (XMLHttpRequest.status == 0) { // no response from server
                        onError();
                    }
                },
                success: onOrder,
                error: onError
            });
        }


        function onOrder(incoming_orders) {
            clearError();
            if (incoming_orders) {
                for (var count = 0; count < incoming_orders.length; count++) {

                    var order = incoming_orders[count];
                    // maybe we just received this order via a refresh
                    if ($("#orders #" + order.pk).length) {
                        continue;
                    }

                    renderOrder(order);
                    handleAddRow();
                }
            }
        }

        function renderOrder(order) {

            var select = $("<select name='pickup_time' class='combo'></select>").attr('id', 'pickup_time_for_' + order.pk);
            select.append($("<option>").val('').append("{% trans 'Define time' %}"));
           {% for n in pickup_times %}
            select.append($("<option>").val('{{ n }}').append("{{ n }} {% trans 'minutes' %}"));
           {% endfor %}
            select.change(function() {
                if($(this).val()) {
                    send_button.attr("disabled", "");
                } else {
                    send_button.attr("disabled", "disabled");
                }
            });

            var send_button = $('<div disabled=disabled class="button_txt button_bg" title="{% trans 'Send message to passenger' %}"></div>').text('{% trans 'Send' %}').click(function() {
                if ($(this).attr("disabled")) {
                    return false;
                }
                acceptOrder(order.pk);
            });

            var reject_button = $("<div class='reject_button_bg'><div class='reject_image'></div></div>").click(function() {
                rejectOrder(order.pk);
            });


            var timeout_interval = {{ timeout_interval }};
            var initial_val = (timeout_interval - order.seconds_passed) / timeout_interval * 100;
            var progress_indicator = $("<div class='pb'></div>").progressbar({ value: initial_val });

            progress_indicator.everyTime(1000, function() {
                var cur_value = progress_indicator.progressbar("value") / 100.0;
                var increment = 1.0 / timeout_interval;
                progress_indicator.progressbar("value", (cur_value - increment) * 100);
                if (progress_indicator.progressbar("value") < 0.1) {
                    removeOrderRow(order.pk);
                }
            }, timeout_interval);

            var rendered_order = $("<div class='order'></div>").attr('id', order.pk)
                    .append(reject_button)
                    .append($("<div class='from_address'></div>").append(order.from_raw))
                    .append(send_button)
                    .append(select);

            var progress_bar = $("<div class='pb-row'></div>")
                .append(progress_indicator);

            $("#orders").append(rendered_order).append(progress_bar);
            rendered_order.show();

            handleOrder();
        }

        function setStateSending(order_id) {
            var order_row = $("#orders #" + order_id);
            order_row.empty()
                    .append("<div class='reject_sending'></div>")
                    .append("<div class='sending'>{% trans 'Sending...' %}</div>");

            order_row.next().empty();
        }

        function setStateSent(data) {
            var order_row = $("#orders #" + data.order_id);
            var finis_button = $("<div class='finish_button_bg' title='{% trans 'End' %}'><div class='sent_image'></div></div>").click(function() {
                removeOrderRow(data.order_id);
            });
            var close_button = $("<div class='button_txt button_bg close_button'>{% trans 'Close' %}</div>").click(function() {
                removeOrderRow(data.order_id);
            });
            order_row.empty()
                .append(finis_button)
                .append($("<div class='order_sent'></div>").text(data.pickup_message))
                .append($("<div class='from_address'></div>").text(data.pickup_address))
                .append(close_button);

            order_row.next().empty();
        }
        function removeOrderRow(order_id) {

            var order_row  = $("#orders #" + order_id);
            var actual_rows = order_row.add(order_row.next());
            actual_rows.remove();
            handleRemoveRow();
        }
        function acceptOrder(order_id) {
            var pickup_time = $("#pickup_time_for_" + order_id).val();
            setStateSending(order_id);
            $.ajax({"url": "{% url ordering.station_controller.update_order_status %}", "type":"post", "data":{"status": "{{ accept }}", "pickup_time": pickup_time, "order_id": order_id},
                "success": updateOrderCallback, "error": onError
            });
        }


        function rejectOrder(order_id) {
            $("#orders #" + order_id + " .indicator").show();
            $.ajax({"url": "{% url ordering.station_controller.update_order_status %}", "type":"post", "data":{"status": "{{ reject }}", "order_id": order_id},
                "success": function() {
                    removeOrderRow(order_id);
                }, "error": onError
            });
        }

        function updateOrderCallback(json) {
            var data = eval("(" + json + ")");
            if (data.order_status == "stale") {
                removeOrderRow(data.order_id);
            } else {
                setStateSent(data);
            }
        }

        function handleOrder() {
            try {
                if (window.parentSandboxBridge)
                    parentSandboxBridge.on_incoming_order();
            }
            catch (e) {
                alert(e);
            }
        }

        function handleRemoveRow() {
            try {
                if (window.parentSandboxBridge)
                    parentSandboxBridge.remove_row();
            }
            catch (e) {
                alert(e);
            }
        }

        function handleAddRow() {
            try {
                if (window.parentSandboxBridge)
                    parentSandboxBridge.add_row();
            }
            catch (e) {
                alert(e);
            }
        }

        function resizeContainer(nrows) {
            try {
                if (window.parentSandboxBridge)
                    parentSandboxBridge.resize_window(nrows);
            }
            catch (e) {
                alert(e);
            }
        }

        function setStationDetails(name, rating) {
            try {
                if (window.parentSandboxBridge)
                    parentSandboxBridge.set_station_details(name, rating);
            }
            catch (e) {
                alert(e);
            }
        }

    </script>
    <div id="orders"></div>

{% endblock content %}