{% extends "admin/base_site.html" %}
{% load i18n %}

{% block title %}
        {% trans "Workstation page" %}
{% endblock title %}

{% block content %}
    <script type="text/javascript">
        var LOCAL_STORAGE_KEY = 'stored_orders';
        var orders = [];
        var is_in_error = false;
        
        $(document).ready(function() {
            initConnection();
        });

        function initButtons() {
            $(".send_button").button();
            $(".reject_button").button();
        }
        
        function initConnection() {
            restoreState();
        }

        function pollServer(url) {
            $.ajax({
                url: url,
                dataType: "json",
                complete: function(XMLHttpRequest, textStatus) {
                    if (XMLHttpRequest.status == 0) { // no response from server
                        onError();
                    }
                    $(document).oneTime({{ polling_interval }}, function() {
                        pollOrders();
                    });
                },
                success: onOrder,
                error: onError

            });
        }
        function pollOrders() {
            pollServer("{% url ordering.station_controller.get_orders %}");
        }
        
        function restoreState() {
            pollServer("{% url ordering.station_controller.get_workstation_orders %}");
        }

        function onError(XMLHttpRequest, textStatus, errorThrown) {
            is_in_error = true;
            renderStatus();
        }

        function onOrder(incoming_orders) {
            is_in_error = false;
            renderStatus();
            if (incoming_orders) {
                for (var order_index in incoming_orders) {
                    localStorage.setItem(LOCAL_STORAGE_KEY, orders);
                    orders.push(incoming_orders[order_index]);
                }
                renderOrders();

            }
        }

        function renderStatus() {
            if (is_in_error) {
                $("#connection_status").html("an error occured...");
                $("#connection_status").show();

            } else {
                $("#connection_status").hide();
            }
        }
        function renderOrders() {
            var orders_html = "<table width=\"60%\"><tr>";
            orders_html += "<th>{% trans 'Status' %}</th>";
            orders_html += "<th>{% trans 'From' %}</th>";
            orders_html += "<th>{% trans 'To' %}</th>";
            orders_html += "<th>{% trans 'Action' %}</th></tr>";
            for (var order_index in orders) {
                orders_html += renderOrder(orders[order_index]);
            }
            orders_html += "</table>";

            $("#orders").html(orders_html);
            initButtons();
        }

        function renderOrder(order) {
           var html = "<tr class='order'>";
           html += "<td>&nbsp;</td>";
           html += "<td>" + order["fields"]["from_raw"] + "</td>";
           html += "<td>" + order["fields"]["to_raw"] + "</td>";
           html += "<td>{% trans 'Pickup in' %} <select name=\"pickup_time\" id='pickup_time_for_"+ order["pk"] +"'>";
           {% for n in pickup_times %}
           html += "<option value=\"{{ n }}\">{{ n }} {% trans 'minutes' %}";
           {% endfor %}
           html += "</select><input class='send_button' type=\"button\" value=\"{% trans 'Send' %}\" onclick='acceptOrder(" + order["pk"] + ")' /></td>";
           html += "<td><input class = 'reject_button' type=\"button\" value=\"{% trans 'Reject' %}\" onclick='rejectOrder(" + order["pk"] + ")' /></td>";
           html += "</tr>";
           return html;
        }

        function acceptOrder(order_id) {
            var pickup_time = $("#pickup_time_for_" + order_id).val();
            $.ajax({"url": "{% url ordering.station_controller.update_order_status %}", "type":"post", "data":{"status": "{{ accept }}", "pickup_time": pickup_time, "order_id": order_id},
                "success": updateOrderCallback, "error": function(xhr, status_code) {
//                    if (xhr.status == 500)
                    alert('Oops: ' + xhr.status);   
                }
            });
        }

        function rejectOrder(order_id) {
            $.ajax({"url": "{% url ordering.station_controller.update_order_status %}", "type":"post", "data":{"status": "{{ reject }}", "order_id": order_id},
                "success": updateOrderCallback, "error": function(xhr, status_code) {
//                    if (xhr.status == 500)
                    alert('Oops: ' + xhr.status);
                }
            });
        }

        function updateOrderCallback(json) {
            var data = eval("(" + json + ")");
            var order_index = find_order(data.order_id);
            if (order_index != -1) {
                delete orders[order_index];
                renderOrders();
            }
        }

        function find_order(order_id) {
            for (var index in orders) {
                if (orders[index]["pk"] == order_id) {
                    return index;
                }
            }

            return -1;
        }

        function reject_order(orded_id) {
        }
    </script>
    <div id="connection_status"></div>
    <div id="orders"></div>
{% endblock content %}