{% load i18n %}

<style type="text/css">
    <!--
    #AIRDownloadMessageTable {
        width: 217px;
        height: 180px;
        border: 1px solid #999;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 14px;
        margin-right: 25%;
    }

    #AIRDownloadMessageRuntime {
        font-size: 12px;
        color: #333;
    }

    #download_area {
        text-align: center;
        margin-top: 2em;
    }
    #terms {
        line-height: 2em;
        margin-bottom: 79px;
        margin-right: 33%;
        margin-top: 20px;
        width: 35%;
        font-size: 14px;
    }
    #terms a {
        color: #0066ff;
    }

    -->
</style>
<script language="JavaScript" type="text/javascript">
    <!--
    // -----------------------------------------------------------------------------
    // Globals
    // Major version of Flash required
    var requiredMajorVersion = 9;
    // Minor version of Flash required
    var requiredMinorVersion = 0;
    // Minor version of Flash required
    var requiredRevision = 115;        // This is Flash Player 9 Update 3
    // -----------------------------------------------------------------------------
    // -->


    function delete_workstation(token) {
        $.ajax({
            url: "/services/delete_workstation/",
            type: "POST",
            data: { token: token },
            success: function() {
                window.location = window.location;
            },
            error: function(xhr, textStatus) {
                alert(textStatus);
            }
        });
    }
    $(function() {
         Registrator.init({
             urls            : {
                 terms_form_template        : '{% url terms_dialog %}'
             }
         });
        $("#terms_link").click(function(e) {
            Registrator.openTermsDialog();
        });

    });
</script>


<h1>{% trans 'Download workstations' %}</h1>
<div id="download_area">
<table id="AIRDownloadMessageTable">
    <tr>
{% for t in workstations_list %}
            <td align="center">
            <p>{{ t.1.user.username }}</p>
            {% ifequal t.2 "disconnected" %}
                <embed width="217" height="180" align="middle" src="/static/app/badge/badge.swf" quality="high"
                       bgcolor="#FFFFFF" name="badge" allowscriptaccess="always"
                       pluginspage="http://www.macromedia.com/go/getflashplayer"
                       flashvars="appname=workstation_app&amp;appurl={{ t.1.installer_url }}&amp;airversion=2.5&amp;imageurl=/static/app/badge/{{ t.0 }}_{{ t.2 }}.png"
                       type="application/x-shockwave-flash">

                    <!--
                        Download the <a href="{{ t.1.installer_url }}">wayBetter Workstation Application</a>.<br/><br/><span
                        id="AIRDownloadMessageRuntime">This application requires Adobe&#174;&nbsp;AIR&#8482; to be installed for <a
                        href="http://airdownload.adobe.com/air/mac/download/latest/AdobeAIR.dmg">Mac OS</a> or <a
                        href="http://airdownload.adobe.com/air/win/download/latest/AdobeAIRInstaller.exe">Windows</a>.</span>
                    -->
            {% else %}
                <img src="/static/app/badge/{{ t.0 }}_{{ t.2 }}.png"/>
                <br/>
                <input type="button" value="{% trans 'Delete' %}" onclick="delete_workstation('{{ t.1.token }}')"/>
            {% endifequal %}
            </td>

{% endfor %}
    </tr>
</table>
<div id="terms">
    {% trans "By downloading the workstation software I declare that I have read and agree to the " %} <a id="terms_link" href="#">{% trans "Terms Of Use" %}</a>
</div>
</div>


