.link {
    text-decoration: underline;
    color: #5B80B2;
    font-size: 11px;
    padding-left: 5px;
    cursor: pointer;
}

.my-ui-state-error {
    color: #cd0a0a /*{fcError}*/;
}
input.my-ui-state-error {
    border: 1px solid #cd0a0a /*{borderColorError}*/;
    background: #fef1ec /*{bgColorError}*/ url(images/ui-bg_glass_95_fef1ec_1x400.png) /*{bgImgUrlError}*/ 50% /*{bgErrorXPos}*/ 50% /*{bgErrorYPos}*/ repeat-x /*{bgErrorRepeat}*/;
    color: #cd0a0a /*{fcError}*/;
}
