label {
    display: block;
}

.link {
    text-decoration: underline;
    color: #5B80B2;
    font-size: 11px;
    padding-left: 5px;
    cursor: pointer;
}

form label.ui-state-error {
    border: none !important;
    background: transparent !important;
}

.clear {
    height: 0;
    clear: both;
    overflow: hidden;
}

/** UI dialog **/
form#registration_form fieldset {
    border: none;
    width: 200px;
    float: right;
}
form#registration_form fieldset.left_column {
    float: left;
}

form#registration_form button {
    margin-top: 20px;
    float: right;
}

form#registration_form fieldset input {
    width: 95%;
}


form#registration_form #user_details {
    clear: both;
}

div#dialog a {
    color: #eb4466;
    font-size: smaller;
    text-decoration: underline;
}

div#dialog a.title_link {
    float: right;
    margin-top: -27px;
    margin-right: 30px;
}

#dialog {
    overflow: visible;
}

#social_login {
    padding: 20px 0 20px;
}
