#history_header_label_3 {}
#history_header_label_4 {}
#orders_history_grid table {
    width: 100%;
    border-top: 2px solid #a8d5fd;
    border-bottom: 2px solid #a8d5fd;
    border-spacing: 0 3px;

}
#orders_history_grid table tr:nth-child(odd) {
    background-color: white;
}

#orders_history_grid table tr:nth-child(even) {
    background-color: #e7f1fa;
}
#orders_history_grid table th, #orders_history_grid table td {
    padding: 6px 2px 2px;
    color: #5b5b5b;
    text-shadow: 0px 1px 0px white; 
    font-size: 14px;
}
#orders_history_grid table th {
    font-weight: bold;
}
#orders_history_grid table th a {
    text-decoration: none;
}

#orders_history_grid caption{
    font-size:15px;
    float: left;
}

#orders_history_grid .select-address {
    /* color: white; */
    text-shadow: none;
    border-right: 3px solid #ffffff;
    /* border-bottom: 1px solid black; */
    /* background: -webkit-gradient(linear, left top, left bottom, from(#c5c4c6), to(#898585)); */
    /* background: -moz-linear-gradient(-90deg, #c5c4c6, #898585); */
    /* -pie-background: linear-gradient(-90deg, #c5c4c6, #898585); */
    text-decoration: underline;
    cursor: pointer;
}

#keywords{
	font-size: 15px;
	height: 30px;
	width: 200px;
}

#search_button.wb_button {

	font-family: Calibri, Arial, sans-serif;
	font-size: 15px;
	font-weight: bold;
	text-shadow: 1px;
	width: 80px;
	border: none;
	-moz-border-radius: 5px;
   	 border-radius: 5px;
   	 vertical-align: text-top;
   	 padding: 6px 0;
   	 text-align: center;
   	 text-decoration: none;
   	 margin-bottom: 10px;
   	 margin-top: -4px;
}

#reset_button.wb_button {
	font-family: Calibri, Arial, sans-serif;
	font-size: 15px;
	font-weight: bold;
	text-shadow: 1px;
	width: 80px;
	border: none;
	-moz-border-radius: 5px;
	border-radius: 5px;
	vertical-align: text-top;
	padding: 6px 0;
	text-align: center;
	text-decoration: none;
	margin-bottom: 10px;
	margin-top: -4px;
}

#orders_history_pager button{
	width: 35px;
	height:30px;
	margin-top: -3px;
	/* margin-left: 10px; */
	/* margin-right: 10px; */
	padding-top: 2px;
}
#orders_history_pager{
	padding-top: 15px;
}
#orders_history_pager span{
	padding-left: 10px;
	padding-right: 10px;
}