.address-helper {
    left:0;
    direction:rtl;
}

#ride_cost_estimate {
    width: 280px;
    background: rgb(0, 0, 0) url("../img/ride_details.png") 97% -36px no-repeat;
}

#order_form {
    direction:ltr;
}

input.big_text {
    direction:rtl;
}

#station_login input[type=text], #station_login input[type=password] {
    margin-left:-13px;
}

.input-helper.sms-button {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3D9CC5', endColorstr='#064D8B',GradientType=0 ); /* ie */
}

.big_red {
    filter: dropshadow(color=#000000, offx=0, offy=-1);
}
