.openid_large_btn {
	width: 100px;
	height: 60px;
	border: 1px solid #DDD;
	margin: 6px;
    float: left;
}

a.openid_large_btn:focus{
	outline: none;
}
a.openid_large_btn:focus{
	-moz-outline-style: none;
}
.openid_selected{
	border: 4px solid #DDD;
}
.linkedin{
	background: #FFF url(/static/images/linkedin.jpg) no-repeat center center;
}
.facebook{
	background: #FFF url(/static/images/facebook.gif) no-repeat center center;
}
.yahoo{
	background: #FFF url(/static/images/yahoo.gif) no-repeat center center;
}
.google{
	background: #FFF url(/static/images/google.gif) no-repeat center center;
}
.openid{
	background: #FFF url(/static/images/openid.gif) no-repeat center center;
}
.twitter{
	background: #FFF url(/static/images/twitter.png) no-repeat center center;
}

