.openid_large_btn {
	width: 86px;
	height: 34px;
	margin: 6px;
    float: left;
}

#social_label {
    font-weight: bold;
}

a.openid_large_btn:focus{
	outline: none;
}
a.openid_large_btn:focus{
	-moz-outline-style: none;
}
.openid_selected{
	border: 4px solid #DDD;
}
.linkedin{

	background: #FFF url(/static/images/linkedin.jpg) no-repeat center center;
}
.facebook{
    background-image:url(/static/images/social.png);
    background-position: 0 -35px;
}
.yahoo{
    background-image:url(/static/images/social.png);
    background-position: 0 -105px;
}
.google{
    background-image:url(/static/images/social.png);
    background-position: 0 0;
}
.openid{
	background: #FFF url(/static/images/openid.gif) no-repeat center center;
}
.twitter{
    background-image:url(/static/images/social.png);
    background-position: 0 -70px;
}

