.station_page #body_bg_image {
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0; /*width: 100%;*/
    z-index: -1; /*height: 350px;*/
    background: url(/static/images/station_page/city_bg.png), #99D9F2;
    background-repeat: repeat-x;
    background-position: bottom left;
}

.station_page #main {
    border: 3px rgba(255, 255, 255, 0.6) solid;
    background-image: url(/static/images/station_page/pattern.png);
    background-color: rgba(255, 255, 255, 0.4);
    padding: 1px;
    -webkit-box-shadow: 0 0 5px gray;
    -moz-box-shadow: 0 0 5px gray;
    box-shadow: 0 0 5px gray;
}

.station_page #header-container {
    margin-top: 0;
}

.station_page #user_tools, .station_page #user_tools * {
    color: white;
}

.station_page #tools {
    bottom: auto;
    top: 0;
    right: -21px;
    background-color: #9babae;
    border: 3px rgba(255, 255, 255, 0.8) solid;
    border-top: none;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    -webkit-box-shadow: 0 0 5px gray;
    -moz-box-shadow: 0 0 5px gray;
    box-shadow: 0 0 5px gray;
}

.station_page.rtl #tools {
    right: auto;
    left: -21px;
}

.station_page #app_large_icon {
    background-image: url(/static/images/station_page/app_large_icon.png);
    width: 109px;
    height: 107px;
    margin-bottom: -67px;
    margin-left: -20px;
}

.station_page.rtl #app_large_icon {
    margin-right: -20px;
}

.station_page #station_logo {
    position: relative;
    top: 18px;
    z-index: 1;
    right: 20px;
    min-height: 50px;
}

.station_page.rtl #station_logo {
    right: -20px;
}

.station_page .gray_header {
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    border: none;
    margin-top: -1px;
    background: none;
    background: #81B4C7;
    -webkit-box-shadow: 0 3px 3px gray;
    -moz-box-shadow: 0 3px 3px gray;
    box-shadow: 0 3px 3px gray;
}

.station_page .station_info_box > * {
    color: #313131;
}

.station_page .station_info_box {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: #E7EAE3;
    padding: 16px;
    margin: 10px;

}

.station_page .station_info_box > h1 {
    font-size: 20px;
    margin-bottom: 10px;
}

.station_page #station_details_container {
}

.station_page #station_details_container ol > li {
    margin-bottom: 5px;
    list-style-position: inside;
    line-height: 25px;
}

.station_page #station_details_container ul > li {
    margin-bottom: 5px;
    list-style-image: url(/static/images/station_page/triangles.png);
    list-style-position: inside;
    line-height: 25px;
}

.station_page.rtl #station_details_container ul > li {
    list-style-image: url(/static/images/station_page/triangles_rtl.png);
}

.station_page #banner {
    padding-top: 10px;
}

.station_page #banner > h1 {
    font-size: 20px;
    color: #566265;
    margin-top: -26px;
    margin-left: 90px;
    text-align: left;
    padding-bottom: 5px;
}

.station_page.rtl #banner > h1 {
    text-align: right;
    margin-left: 0;
    margin-right: 90px;
}

.station_page #station_more_info h2 {
    color: #e91c8b;
}

.station_page #station_for_business {

    height: 160px;
}

.station_page #for_business_text {

}

.station_page #for_business_text > h2 {

}

.station_page #for_business_text > ul {
    width: 66%;
    float: left;
}

.station_page.rtl #for_business_text > ul {
    float: right;
}

.station_page #station_for_business > #join {
    background-image: url(/static/images/station_page/buildings.png);
    width: 165px;
    height: 110px;
    float: right;

}

.station_page.rtl #station_for_business > #join {
    float: left;
}

.station_page #station_for_business > #join > button {
    width: 175px;
    position: relative;
    bottom: -84px;
    left: -5px;
}

.station_page.rtl #station_for_business > #join > button {
    left: 0;
    right: -5px;
}

.station_page #station_for_smartphones {
    height: 180px;
}

.station_page #for_smartphones_text {
    width: 70%;
    float: left;
}

.station_page.rtl #for_smartphones_text {
    float: right;
}

.station_page #for_smartphones_text>img {
    float: left;
}

.station_page.rtl #for_smartphones_text>img {
    float: right;
}

.station_page #for_smartphones_text>h2 {
    margin-left: 68px;
}

.station_page.rtl #for_smartphones_text>h2 {
    margin-left: 0;
    margin-right: 70px;
}

.station_page #for_smartphones_text>ol {
    margin-top: 20px;
}

.station_page #smartphones_img {
    background-image: url(/static/images/station_page/smartphones.png);
    height: 194px;
    width: 153px;
    float: right;
}

.station_page.rtl #smartphones_img {
    float: left;
}

.station_page #station_info {
}

.station_page #station_info > p {
    max-height: 160px;
    overflow: hidden;
    margin-bottom: 2px;
}

.station_page .toggle_info_height {
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}

.station_page #station_contact {
}

.station_page #station_more_info {
    float: right;
    width: 65%;
}

.station_page.rtl #station_more_info {
    float: left;
}

.station_page #station_about_info {
    float: left;
    width: 35%;
}

.station_page.rtl #station_about_info {
    float: right;
}

.station_page #footer {
    position: relative;
}

.station_page #powered_by {
    direction: ltr;
    position: absolute;
    left: 0;
    font-size: 14px;
}

.station_page #powered_by, #powered_by > * {
    color: white;
}

.station_page #taxi_pic {
    background-image: url(/static/images/station_page/taxi.png);
    position: fixed;
    right: 0;
    bottom: 0;
    width: 312px;
    height: 162px;
    z-index: -1;
}

/*order tracker fixes*/
.station_page .tracker_order{
    margin-left: 3px;
}

.station_page.rtl .tracker_order{
    margin-left: 0;
    margin-right: 3px;
}