@font-face {
    font-family: "wb_calibri";
    src: url( /static/fonts/Calibri.eot ); /* IE */
}

#main{
    background-image: url(../img/main_background.png);
    background-repeat:repeat;
    margin-top: -4px;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4D4D4D', endColorstr='#101010',GradientType=0 );  /* ie */
}

.gray_header {
    margin-top:-1px;
    height:258px
}

.address-helper {
    right:0;
    direction:ltr;
}

#ride_cost_estimate {
    width: 290px;
    background: rgb(0, 0, 0) url("../img/ride_details.png") 7px -36px no-repeat;
}

#search_button.wb_button {
    margin-top:-12px;
}

#reset_button.wb_button {
    margin-top:-12px;
}

.input-helper.sms-button{
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#064D8B', endColorstr='#3D9CC5',GradientType=0 ); /* ie */
}

.input-helper.sms-button:hover {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5DBADA', endColorstr='#105F98',GradientType=0 ); /* ie */
}

.input-helper.sms-button:active {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2E95C4', endColorstr='#064E8B',GradientType=0 ); /* ie */
}

.big_red{
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47A0E5', endColorstr='#1E5799',GradientType=0 ); /* ie */
    filter: dropshadow(color=#000000, offx=, offy=-1);
}
.big_red:hover {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76B3E2', endColorstr='#2077BF',GradientType=0 ); /* ie */
}

.big_red:active {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0051A3', endColorstr='#347DBA',GradientType=0 ); /* ie */
}

.wb_button:disabled, .wb_button.disabled {
    filter: alpha(opacity = 65);
}

#button_container{
    width: 100%;
}

.content_container.connection_error {
    filter: alpha(opacity = 50);
}
