* {
    /*font-family: Calibri, sans-serif;*/
    margin: 0;
    padding: 0;
}

.rtl * {
    direction: rtl;
}

a:focus {
    outline: none;
}
form ul {
    list-style: none;
}
/*input.text, input[type=text], input[type=tel], input[type=search] {*/
    /*-webkit-border-radius: 5px;*/
    /*-moz-border-radius: 5px;*/
    /*border-radius: 5px;*/
    /*-moz-box-shadow:0 2px 1px #292929 inset;*/
    /*-webkit-box-shadow:0 2px 1px #292929 inset;*/
    /*box-shadow:0 2px 1px #292929 inset;*/
    /*border-color: #949494;*/
    /*border-style: solid;*/
    /*border-width: 2px 1px 1px 2px;*/
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
/*}*/
.wb_button {
    font-size: 15px;
    font-weight: bold;
    text-shadow: 1px;
    width: 100%;
    border: none;
    -moz-border-radius: 5px;
    border-radius: 5px;
    vertical-align: text-top;
    padding: 6px 0;
    text-align: center;
    text-decoration: none;

    -webkit-box-shadow: 0px 1px 1px #8f8585;
    -moz-box-shadow: 0px 1px 1px #8f8585;
    box-shadow: 0px 1px 1px #8f8585;
    border-bottom: 1px solid black;

    display: inline-block;
}

.wb_button:active, .wb_button.active {
    border: 1px solid #525252;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    /*position: relative;*/
    /*top: 1px;*/
}

.wb_button:disabled, .wb_button.disabled {
    border: none;
    filter: alpha(opacity = 65);
    opacity: 0.65;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    position: relative;
    top: 0;
    padding-top: 6px;
}

.blue {
    background: #49aad7;
    background: -webkit-gradient(linear, left top, left bottom, from(#49aad7), to(#2c83c1));

    color: white;
    text-shadow: #2a6b8e 0px -1px;
}

.blue:active, .blue:disabled {
    background: #3199df;
}

.purple {
    background: #de64ac;
    background: -webkit-gradient(linear, left top, left bottom, from(#de64ac), to(#af3a7c));
    background: -moz-linear-gradient(-90deg, #de64ac, #af3a7c);
    -pie-background: linear-gradient(-90deg, #de64ac, #af3a7c);

    color: white;
    text-shadow: #2a6b8e 0px -1px;
    behavior: url(PIE.htc);
}
.purple:active, .purple:disabled {
    background: #ca4b93;
}

.gray {
    background: #c5c4c6;
    background: -webkit-gradient(linear, left top, left bottom, from(#c5c4c6), to(#898585));
    background: -moz-linear-gradient(-90deg, #c5c4c6, #898585);
    -pie-background: linear-gradient(-90deg, #c5c4c6, #898585);

    color: black;
    text-shadow: #e1e1e1 0px 1px;
}

.gray:active, .gray:disabled {
    background: #a4a1a2;
}

.gold {
    background: #e9d637;
    background: -webkit-gradient(linear, left top, left bottom, from(#e9d637), to(#dba02d));
    background: -moz-linear-gradient(-90deg, #e9d637, #dba02d);
    -pie-background: linear-gradient(-90deg, #e9d637, #dba02d);

    color: black;
    text-shadow: #e1e1e1 0px 1px;
}

.gold:active, .gold:disabled {
    background: #cba139;
}
.clear {
    clear: both;
    height: 0;
    overflow: hidden;
}
.hide {
    display: none;
}
.img {
    display: block;
    position: absolute;
    background-position: left top;
    background-repeat: no-repeat;
}
.round {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

/************* Ordering Form *************/


input.a_marker {
    background-position: 6px 6px;
}

.rtl input.a_marker {
    padding-right: 32px;
    background-position: 99% 6px;
}

input.b_marker {
    background-position: 6px -30px;
}

.rtl input.b_marker {
    background-position: 99% -30px;
    padding-right: 32px;
}

input:focus, input.focus{
    background-color: #fffce0;
    border-color: #696969;
    outline-width:0;
}
button.order_button {
    font-size: 22px;
    font-weight: bold;
    color: black;
    text-shadow: 0 1px white;
    line-height: 15px;
    width: 195px;
    height:54px;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    background: url("/static/images/mobile/book_button.png") center top no-repeat;
    margin-top:10px;
    margin-bottom:10px;
}

.rtl button.order_button {
    font-size: 24px;
}

button.order_button:active{
    background-position: 2px -56px;
}
button.order_button:disabled {
    background-position: 0 -112px;
    text-shadow: 0 1px #cccccc;
    color: #1a1a1a;
}

.footer_button {
    display: inline-block;
    background-color: transparent;
    background-image: url("/static/images/mobile/menu_icons.png");
    background-repeat: no-repeat;
    width: 58px;
    height: 53px;
    white-space: nowrap;
    border:none;
    color: white;
    font-size: 10px;
    line-height: 82px;
    vertical-align: middle;
    margin-bottom: 10px;
    text-align: center;
}

#rides_button {
    background-position: 0 -110px;
}

#rides_button:active {
    background-position: 0 0;
}

#more_button {
    background-position: 0 -164px;
}

#more_button:active {
    background-position: 0 -54px;
}

#map_container {
    position:relative;
}
#ride_cost_estimate {
    position:absolute;
    left: 8px;
    z-index: 1000;
    width: 75%;
    height: 34px;
    top: 300px;
    padding:5px 20px 10px 44px;
    background: rgba(0, 0, 0, 0.8) url("/static/images/mobile/calculator.png") 2px 4px no-repeat;
    text-align: center;
    color:white;
    font-size: 14px;
    line-height: 16px;
    text-shadow: none;
    text-align: center;

    -webkit-border-radius:8px;
    -webkit-transition-property: opacity, top;
    -webkit-transition-duration: 0.7s, 1.5s;
    /*-webkit-transition-timing-function: ease-out;*/
}

.rtl #ride_cost_estimate {
    font-size: 15px;
    padding:5px 44px 10px 20px;
    background: rgba(0, 0, 0, 0.8) url("/static/images/mobile/calculator.png") 99% 4px no-repeat;
}
#ride_cost_estimate.fade {
    opacity: 0;
    top: 500px !important;
}
#ride_cost_estimate > .header {
}
#ride_cost_estimate > .details {
    font-weight: bold;
    line-height: 25px;
}

#close_estimate {
    position: absolute;
    top:4px;
    right: 4px;
    width: 20px;
    height: 20px;
    background-image:url(/static/images/mobile/calc_x.png);
    background-repeat: no-repeat;
}
.rtl #close_estimate {
    right: auto;
    left: 4px;
}

#gray_header .cancel_button {
    position: absolute;
    right: -53px;
    top: 9px;
    -webkit-border-image: none;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 0 1px 1px 0 #d6d3d6;
    border: 1px solid #2a2a2a;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bdbdbd), color-stop(100%,#3f3f3f)); /* Chrome,Safari4+ */
    height: 33px;
    width: 65px;
    color:white;
    font-size: 12px;
    font-weight: bold;
    -webkit-transition: all 0.3s ease-in-out;
    opacity: 0;
    text-align: center;
    text-shadow: none;
    line-height: 30px;
}
#gray_header .cancel_button:active {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(100%,#bdbdbd), color-stop(0%,#3f3f3f)); /* Chrome,Safari4+ */
}
#gray_header .cancel_button.visible {
    right: 3px;
    opacity: 1;
}

.rtl #gray_header .cancel_button {
    right: auto;
    left: -53px;
}
.rtl #gray_header .cancel_button.visible {
    right: auto;
    left: 3px;
}
.padder {
    padding: 4px;
    padding-left: 2px;
    padding-right: 0;
    text-align: left;
    width: 97%;
    -webkit-transition: width 0.3s ease;
    position: relative;
}

.rtl .padder {
    padding: 4px;
    padding-right: 2px;
    padding-left: 0;
    text-align: left;
    width: 97%;
    -webkit-transition: width 0.3s ease;
}

span.clear {
    position: absolute;
    top: 12px;
    right: 3px;
    width: 19px;
    height: 20px;
    background-image: url(/static/images/mobile/text_X.png);
    display: none;
}

.rtl span.clear {
    right: auto;
    left: 3px;
}

#gray_header {
    position: relative;
    z-index: 1001;
    background-color: #8d8d8d;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7D7D7D), color-stop(100%,#353535));
    -webkit-box-shadow:0 3px 3px black;
    box-shadow:0 3px 3px black;
    border-top: 1px solid #f1f1f1;
    text-align: left;
    padding: 5px 5px;
}

#bottom_toolbar {
    position: relative;
    height: 75px;
    z-index: 1500;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E5E5E5), color-stop(1%,#707070), color-stop(100%,#292929));
    -webkit-box-shadow:0 -3px 10px black;
    box-shadow:0 -3px 10px black;
}

#map {
    /*height: 10px;*/
    width: 100%;
}
.toolbar_button {
    background-image: url(/static/images/mobile/history_gps_icons.png), url(/static/images/mobile/gps.png);
    height: 27px;
    width: 317px;
    background-position: 0 -51px;
    background-color: transparent;
    border: none;
    color:white;
    display: inline;
    font-weight: bold;
    background-repeat: no-repeat, no-repeat;
}
.toolbar_button:active, .toolbar_button.active {
    color:black;
}
#gps_button {
    margin-left:-3px;
    background-position: 125px 4px, 0 -70px;
}
.rtl #gps_button {
    background-position: 170px 4px, 0 -70px;
}

#gps_button.from:active, #gps_button.from.active {
    background-position: 125px -20px, 0 0;
}
.rtl #gps_button.from:active, .rtl #gps_button.from.active {
    background-position: 170px -20px, 0 0;
}

#gps_button.to:active, #gps_button.to.active {
    background-position: 125px -20px, 0 -35px;
}
.rtl #gps_button.to:active, .rtl #gps_button.to.active {
    background-position: 170px -20px, 0 -35px;
}

#order_toolbar {
    text-align: center;
}

input.big_text {
    width: 100%;
    /*height: 38px;*/
    padding: 7px;
    padding-left: 30px;
    border-color: #6e6e6e;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    background-repeat: no-repeat;
    background-image: url(/static/images/mobile/A_B_textboxes.png);
}
.rtl input.big_text {
    padding-right: 30px;
    padding-left: 7px;
}

.padder.shorter {
    width: 78%;
}

.sources_toolbar {
    margin-top: 7px;
    text-align: center;
    margin-right: -6px;
}
.glass_pane {
    background: rgba(0,0,0,0.9);
    color:white;
    /*display: none;*/
    width: 100%;
    height: 100%;
    size: 200px;
    -webkit-transition: all 0.3s ease;
    position: absolute;
    top: 100%;
    z-index: 2000;
    text-align:center;
    text-shadow: none;
}
.glass_pane.show {
    /*display: block;*/
    top: 0;
}
.glass_pane > #top {
    margin-top: 20px;
    height: 23%;
    color:white;
    font-weight: bold;
    font-size: 30px;
}
.glass_pane > #top.loading {
    background-image: url(/static/images/mobile/loader.gif);
    background-repeat: no-repeat;
    background-position: center;
}
.glass_pane > #bottom {
    position: relative;
    color:white;
    font-weight: bold;
    font-size: 16px;
}
.glass_pane .buttons {
    margin-top: 10px;

}
.glass_pane button {
    height: 53px;
    width: 145px;
    background-image: url(/static/images/mobile/gps_refresh_cancel.png);
    background-position: 0 3px;
    background-color: transparent;
    border:none;
    font-size: 16px;
    font-weight: bold;
}
.glass_pane button:active {
    background-position: 0 -63px;
}
/* theme hacks */
.back {
    -webkit-border-image: none !important;
    background-image: url(/static/images/mobile/cancel_back.png);
    height: 37px;
    width: 50px;
    background-position: 0 -95px;
    line-height: 36px;
    padding-left: 3px;
}
.back:active {
    -webkit-border-image: none;
    background-position: 0 -141px;
}
.toolbar {
    height: 51px;
}
#content {
    position: relative;
}

.ui-button-text {
    color: inherit;
}

/*** Theme hacks **/
ul li {
    background-color: #d3d3d3;
    text-align: left;
}
.rtl ul li {
    text-align: right;
}

ul li label {
    margin-bottom: 10px;
    display: block;
}

ul li input[type="tel"] {
    padding: 2% 0 2% 1%;
    width: 99%;
}

.rtl ul li input[type="tel"] {
    padding: 2% 1% 2% 0;
}

ul.loading_address {
    background-color: transparent ;
    border:none;
    background-image: url(/static/images/mobile/loader.gif);
    background-repeat: no-repeat;
    background-position: center center;
}

ul.loading_address li{
    border:none;
    background-color: transparent ;
    height: 300px;
    text-align: center;
    color: white;
}

.ui-field-contain {
    padding-top: 1em;
}

.rtl #addToHomeScreen {
    text-align: right;
}

.rtl #addToHomeScreen .close {
	left:2px;
    right: auto;
}

.terms_text {
    white-space: pre-line;
}
.about_icon {
    background: url(/static/images/mobile/icon_114.png) no-repeat;
    height: 114px;
}
.about_header h1 {
    font-size: 25px;
}
.telmap_logo {
    background: url(/static/images/telmap_logo.jpg) no-repeat;
    height: 33px;
    width: 200px;
    margin-top: 20px;
    border:  1px solid black;
    float: left;
}