#station_login label{
    margin-left: -4px;
}

#station_login input[type=text], #station_login input[type=password] {
    margin-left:-13px;
}

#about > div.about_text {
    text-align: left;
    margin-right: 0;
    margin-left: 147px;
}

#slider{
    margin-left: 0px;
}

#main{
    background-image: none;
}
#tools {
    width: 250px;
}