* {
  font-family: "Lucida Grande", Arial, sans-serif;
  color: #3d3d3d; }

body {
  padding: 0;
  margin: 0; }

input[type=text], input[type=email], input[type=password] {
  border: 1px solid #bcbcbc;
  height: 28px; }

input[disabled] {
  background: white;
  opacity: 0.5; }

.wb-menulist, select {
  -moz-appearance: menulist;
  -webkit-appearance: menulist;
  color: #262626;
  font-size: 16px;
  font-weight: bold;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #cfcfcf 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #cfcfcf));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #cfcfcf 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #cfcfcf 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #cfcfcf 100%);
  /* IE10+ */
  background: linear-gradient(top, white 0%, #cfcfcf 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cfcfcf',GradientType=0 );
  /* IE6-9 */ }

select {
  border: 1px solid #bcbcbc; }

select:focus {
  border: none; }

.bold, .wb_home #booking_container #booking_progress .step.current, .wb_home #booking_container #ride_summary .details_label, .wb_home #booking_container #ride_summary .details_label_type {
  font-weight: bold; }

.transparent {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5; }

.placeheld {
  color: #6c6c6a; }

input::-webkit-input-placeholder {
  color: #6c6c6a; }

input:-moz-placeholder {
  color: #6c6c6a; }

a:hover {
  text-decoration: none; }

.ltr {
  direction: ltr; }

.rtl body {
  direction: rtl; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

ul.hz > li, #top-right ul.content_links > li {
  list-style: none;
  display: inline;
  margin-left: 45px; }

.rtl ul.hz > li, .rtl #top-right ul.content_links > li, #top-right .rtl ul.content_links > li {
  margin-left: auto;
  margin-right: 45px; }

.wbdropdown-list {
  display: block;
  list-style: none;
  background: #FFFFFF;
  border: 1px solid #AAAAAA;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 3;
  font-size: 11px; }
  .wbdropdown-list li {
    padding: 8px 0; }
  .wbdropdown-list li:hover {
    background: #DEDEDE; }
  .wbdropdown-list li.disabled:hover {
    background: none; }
  .wbdropdown-list a {
    display: block;
    padding: 0 8px;
    text-decoration: none; }

.dropdown-trigger {
  background: url("/static/images/wb_site/dropdown.png") right 3px no-repeat;
  padding-right: 13px; }

.rtl .dropdown-trigger {
  background-position: left 3px;
  padding-right: 0;
  padding-left: 13px; }

.dropdown-trigger.white {
  background-position: right -7px; }

.rtl .dropdown-trigger.white {
  background-position: left -7px; }

.disabled {
  color: #bcbcbc;
  cursor: default;
  opacity: 0.5;
  text-decoration: none; }

.hidden {
  display: none; }

.centered {
  margin: 0 auto; }

.error, .errorlist li {
  color: red; }

.errorlist li {
  list-style: none; }

.clickable, .dropdown-trigger, .wb_button, .wb_home #booking_container #booking_progress .step, .wb_home #booking_container #ride_summary .data, #gcf_dialog .dl-browser .img {
  cursor: pointer; }

.wb_link, .wb_home #booking_container #ride_summary #switch_direction {
  color: #0088CC !important;
  cursor: pointer;
  text-decoration: none; }

.wb_link:hover, .wb_home #booking_container #ride_summary #switch_direction:hover {
  text-decoration: underline; }

.menu_link {
  color: #6c6c6a;
  font-size: 11px;
  text-decoration: none; }

.menu_link:hover {
  text-decoration: underline; }

.wb-tooltip {
  z-index: 1000; }

@-webkit-keyframes flash_fade {
  0%, 100% {
    opacity: 0; }

  10% {
    opacity: 1.0; } }

#flash {
  display: none; }

#flash.show {
  display: block;
  position: fixed;
  top: 10px;
  left: 50%;
  color: black;
  background-color: #fafad2;
  text-align: center;
  padding: 10px 25px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  border: 1px solid #b8860b;
  /*margin-left: -halfthewidthofcontainer*/
  -webkit-animation-name: flash_fade;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-duration: 5s;
  opacity: 0;
  z-index: 1000; }

#flash.error, .errorlist li#flash {
  color: white;
  background-color: #8b0000;
  border: 1px solid red; }

.small-loader, .myrides-tip-content .tooltip_loader {
  background: url(/static/images/wb_site/wb_loader16.gif) left 0 no-repeat;
  height: 16px;
  width: 16px; }

.wb_button {
  border: #454545;
  color: white;
  padding: 10px 15px 10px 15px;
  height: 31px;
  line-height: 0;
  font-weight: bold;
  font-size: 13px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.7);
  background-color: #727272;
  /* Old browsers */
  background-color: -moz-linear-gradient(top, #727272 0%, #454545 100%);
  /* FF3.6+ */
  background-color: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #727272), color-stop(100%, #454545));
  /* Chrome,Safari4+ */
  background-color: -webkit-linear-gradient(top, #727272 0%, #454545 100%);
  /* Chrome10+,Safari5.1+ */
  background-color: -o-linear-gradient(top, #727272 0%, #454545 100%);
  /* Opera 11.10+ */
  background-color: -ms-linear-gradient(top, #727272 0%, #454545 100%);
  /* IE10+ */
  background-color: linear-gradient(top, #727272 0%, #454545 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#727272', endColorstr='#454545',GradientType=0 );
  /* IE6-9 */ }

.wb_button:hover, .wb_button.hover {
  border: #454545;
  background-color: #d42979;
  /* Old browsers */
  background-color: -moz-linear-gradient(top, #d42979 0%, #9c1e59 100%);
  /* FF3.6+ */
  background-color: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d42979), color-stop(100%, #9c1e59));
  /* Chrome,Safari4+ */
  background-color: -webkit-linear-gradient(top, #d42979 0%, #9c1e59 100%);
  /* Chrome10+,Safari5.1+ */
  background-color: -o-linear-gradient(top, #d42979 0%, #9c1e59 100%);
  /* Opera 11.10+ */
  background-color: -ms-linear-gradient(top, #d42979 0%, #9c1e59 100%);
  /* IE10+ */
  background-color: linear-gradient(top, #d42979 0%, #9c1e59 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d42979', endColorstr='#9c1e59',GradientType=0 );
  /* IE6-9 */ }

.wb_button:active, .wb_button.active {
  border: #323232;
  background-color: #d34e8c;
  /* Old browsers */
  background-color: -moz-linear-gradient(top, #d34e8c 0%, #9b3163 100%);
  /* FF3.6+ */
  background-color: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d34e8c), color-stop(100%, #9b3163));
  /* Chrome,Safari4+ */
  background-color: -webkit-linear-gradient(top, #d34e8c 0%, #9b3163 100%);
  /* Chrome10+,Safari5.1+ */
  background-color: -o-linear-gradient(top, #d34e8c 0%, #9b3163 100%);
  /* Opera 11.10+ */
  background-color: -ms-linear-gradient(top, #d34e8c 0%, #9b3163 100%);
  /* IE10+ */
  background-color: linear-gradient(top, #d34e8c 0%, #9b3163 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d34e8c', endColorstr='#9b3163',GradientType=0 );
  /* IE6-9 */ }

.wb_button:disabled, .wb_button.disabled {
  border: none;
  background: #C7C7C7; }

.order_button {
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
  width: 215px;
  height: 39px;
  border: none;
  vertical-align: text-top;
  padding: 6px 0;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 3px #404040;
  -moz-box-shadow: 0px 1px 3px #404040;
  box-shadow: 0px 1px 3px #404040;
  /*@include border-radius(6px);*/
  display: inline-block;
  color: white; }

.order_button:hover {
  opacity: 0.9; }

.order_button:disabled, .order_button.disabled {
  cursor: default;
  opacity: 0.25;
  text-shadow: none; }

.order_button.blue {
  background: #16acd3;
  /* Old browsers */
  background: -moz-linear-gradient(top, #16acd3 0%, #0e82a8 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #16acd3), color-stop(100%, #0e82a8));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #16acd3 0%, #0e82a8 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #16acd3 0%, #0e82a8 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #16acd3 0%, #0e82a8 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#16acd3', endColorstr='#0e82a8',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #16acd3 0%, #0e82a8 100%);
  /* W3C */ }

.order_button.orange {
  background: #ffa733;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffa733 0%, #d47d1f 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffa733), color-stop(100%, #d47d1f));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffa733 0%, #d47d1f 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffa733 0%, #d47d1f 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #ffa733 0%, #d47d1f 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa733', endColorstr='#d47d1f',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #ffa733 0%, #d47d1f 100%);
  /* W3C */ }

/*
jQuery UI override
****************************************************/
.ui-autocomplete {
  font-size: 16px; }

.ui-datepicker {
  font-size: 16px; }

.ui-widget-overlay {
  background: black; }

.ui-widget button {
  font-size: 13px; }

.ui-dialog {
  border: 5px solid;
  border-color: rgba(235, 31, 121, 0.5);
  padding: 0.6em; }
  .ui-dialog .ui-dialog-content {
    overflow: hidden; }
  .ui-dialog .ui-dialog-titlebar {
    font-size: 18px;
    font-weight: bold;
    background: none;
    border: none; }
  .ui-dialog .ui-dialog-title {
    color: #3D3D3D; }

.rtl .ui-dialog .ui-dialog-titlebar-close {
  right: auto;
  left: .3em; }
.rtl .ui-dialog .ui-dialog-title {
  float: right;
  margin: .1em 0 .1em 16px; }

/*
Base site
****************************************************/
body.base-site {
  background: url("/static/images/wb_site/body_texture.png"); }

#header-container {
  background: white;
  background-repeat: repeat-x;
  width: 100%;
  height: 75px;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0 0 6px 0 #747474;
  -moz-box-shadow: 0 0 6px 0 #747474;
  box-shadow: 0 0 6px 0 #747474; }
  #header-container #site-header {
    width: 800px;
    margin: 0 auto;
    position: relative; }
    #header-container #site-header #wb_logo {
      background-image: url(/static/images/wb_site/logo_header_alpha.png);
      background-repeat: no-repeat;
      height: 75px;
      width: 330px;
      position: absolute;
      left: 0; }
    #header-container #site-header .links {
      position: absolute;
      right: 0;
      top: 21px; }

.rtl #header-container #site-header .links {
  padding-right: 0; }
.rtl #header-container #site-header li.first {
  margin-right: 0; }

#top-container {
  width: 800px;
  margin: 0 auto 15px auto;
  position: relative; }

#top-left {
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  left: 0;
  bottom: 0; }

.rtl #top-left {
  left: auto;
  right: 0; }

#top-right {
  font-size: 13px;
  position: absolute;
  right: 0;
  bottom: 0; }
  #top-right ul.content_links {
    font-size: 11px;
    position: relative;
    top: 12px; }
    #top-right ul.content_links a {
      text-decoration: none; }
    #top-right ul.content_links .active {
      opacity: 0.5; }
    #top-right ul.content_links .active:hover {
      cursor: default; }

.rtl #top-right {
  right: auto;
  left: 0; }

#content-container {
  background: url(/static/images/wb_site/BG_texture.png);
  min-height: 550px;
  position: relative;
  padding-top: 70px;
  border-bottom: 1px solid #98988F; }

#site-content {
  width: 800px;
  background: white;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 6px 0 #747474;
  -moz-box-shadow: 0 0 6px 0 #747474;
  box-shadow: 0 0 6px 0 #747474;
  width: 750px;
  padding: 25px;
  margin: 0 auto 50px auto;
  position: relative;
  font-size: 11px; }

#footer-container {
  position: relative;
  height: 250px;
  border-top: 1px solid white; }
  #footer-container #copyright-container {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 20px 0;
    background: #424242; }
  #footer-container #copyright {
    width: 330px;
    padding-left: 25px;
    margin: 0 auto;
    color: #e4e4e4;
    font-size: 11px;
    text-align: center;
    background: url("/static/images/wb_site/logo_footer.png") left bottom no-repeat; }
  #footer-container #site-footer {
    margin: 8px auto 0 auto;
    width: 800px;
    position: relative; }
    #footer-container #site-footer * {
      font-size: 11px; }
    #footer-container #site-footer #sitemap {
      float: left;
      margin-bottom: 25px; }
      #footer-container #site-footer #sitemap * {
        color: #e4e4e4; }
      #footer-container #site-footer #sitemap ul {
        margin-right: 50px;
        list-style: none;
        display: inline-block;
        vertical-align: top; }
      #footer-container #site-footer #sitemap li {
        margin-bottom: 3px; }
      #footer-container #site-footer #sitemap ul li:first-child {
        font-weight: bold;
        margin-bottom: 7px; }
      #footer-container #site-footer #sitemap a {
        text-decoration: none; }
      #footer-container #site-footer #sitemap a[href]:hover {
        text-decoration: underline; }
    #footer-container #site-footer #footer_tools {
      position: absolute;
      top: 10px;
      right: 20px; }
      #footer-container #site-footer #footer_tools div {
        display: inline-block; }
      #footer-container #site-footer #footer_tools .lang-code {
        position: relative;
        bottom: 8px;
        color: white; }
      #footer-container #site-footer #footer_tools .footer-icon {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-left: 10px;
        background: url("/static/images/wb_site/footer_icons.png") no-repeat; }
      #footer-container #site-footer #footer_tools .footer-icon.lang {
        background-position: left 0;
        margin-left: 0; }
      #footer-container #site-footer #footer_tools .footer-icon.fb {
        background-position: left -32px; }
      #footer-container #site-footer #footer_tools .footer-icon.tt {
        background-position: left -63px; }

.rtl #footer-container #site-footer #sitemap {
  float: right; }
  .rtl #footer-container #site-footer #sitemap ul {
    margin-right: auto;
    margin-left: 50px; }
.rtl #footer-container #site-footer .tools {
  float: left; }
.rtl #footer-container #site-footer #footer_tools {
  right: auto;
  left: 20px; }

#wb_values .service .header, #values_learnmore .service .header {
  color: #f26523; }
#wb_values .community .header, #values_learnmore .community .header {
  color: #eb1f79; }
#wb_values .env .header, #values_learnmore .env .header {
  color: #16acd3; }
#wb_values .eff .header, #values_learnmore .eff .header {
  color: #4cba00; }

#wb_values {
  width: 800px;
  margin: 0 auto 40px auto;
  position: relative;
  left: 10px;
  height: 70px; }
  #wb_values .value {
    height: 80px;
    width: 100px;
    float: left;
    padding-left: 43px;
    font-size: 11px;
    color: #6c6c6a;
    margin-right: 65px; }
  #wb_values .value.last {
    margin-right: 0; }
  #wb_values .header {
    display: block;
    font-weight: bold;
    font-size: 13px;
    line-height: 23px; }
  #wb_values .service {
    background: url(/static/images/wb_site/values.png) 0 -31px no-repeat; }
  #wb_values .community {
    background: url(/static/images/wb_site/values.png) 0 -133px no-repeat; }
  #wb_values .env {
    background: url(/static/images/wb_site/values.png) 0 -237px no-repeat; }
  #wb_values .eff {
    background: url(/static/images/wb_site/values.png) 0 -338px no-repeat; }
  #wb_values .lm-img {
    display: inline-block;
    background: url(/static/images/wb_site/more.png) 3px 4px no-repeat;
    width: 12px;
    height: 14px;
    margin-left: 4px; }
  #wb_values .wb_link, #wb_values .wb_home #booking_container #ride_summary #switch_direction, .wb_home #booking_container #ride_summary #wb_values #switch_direction {
    font-size: 11px; }

.rtl #wb_values {
  left: auto;
  right: 10px; }
  .rtl #wb_values .value {
    float: right;
    padding-left: 0;
    padding-right: 43px;
    margin-right: auto;
    margin-left: 65px; }
  .rtl #wb_values .value.last {
    margin-left: 0; }
  .rtl #wb_values .service {
    background-position: right -31px; }
  .rtl #wb_values .community {
    background-position: right -133px; }
  .rtl #wb_values .env {
    background-position: right -237px; }
  .rtl #wb_values .eff {
    background-position: right -338px; }
  .rtl #wb_values .lm-img {
    background-position: 3px -15px;
    margin-left: auto;
    margin-right: 4px; }

#values_learnmore .learnmore-content {
  display: none;
  width: 380px;
  padding: 25px;
  border: 2px solid;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background: white; }
  #values_learnmore .learnmore-content .header {
    font-size: 13px;
    font-weight: bold; }
  #values_learnmore .learnmore-content .content {
    font-size: 11px; }
  #values_learnmore .learnmore-content p {
    margin-bottom: 0; }
#values_learnmore .service {
  border-color: rgba(242, 101, 35, 0.4); }
#values_learnmore .community {
  border-color: rgba(235, 31, 121, 0.4); }
#values_learnmore .eff {
  border-color: rgba(76, 186, 0, 0.4); }
#values_learnmore .env {
  border-color: rgba(22, 172, 211, 0.4); }

.myrides-table {
  display: none;
  width: 100%;
  text-align: left;
  border-spacing: 7px 4px;
  /*td.info:hover{ background: url("/static/images/wb_site/info_icons.png") 0 -27px no-repeat; }*/
  /*td.info.report{ background: url("/static/images/wb_site/info_icons.png") 0 -50px no-repeat; }*/
  /*td.info.report:hover{ background: url("/static/images/wb_site/info_icons.png") 0 -72px no-repeat; }*/ }
  .myrides-table th {
    font-size: 11px;
    font-weight: bold;
    color: #6c6c6a; }
  .myrides-table th.border {
    border-bottom: 1px solid #bcbcbc; }
  .myrides-table td.shared-img {
    width: 25px;
    height: 25px;
    background: url("/static/images/wb_site/ride_type.png") 2px -23px no-repeat; }
  .myrides-table td.private-img {
    width: 25px;
    height: 25px;
    background: url("/static/images/wb_site/ride_type.png") 2px 1px no-repeat; }
  .myrides-table td.info {
    width: 65px;
    text-align: center;
    /*height: 10px;*/
    /*background: url("/static/images/wb_site/info_icons.png") 0 -5px no-repeat;*/
    /*cursor: pointer;*/ }

.rtl .myrides-table {
  text-align: right; }

#myrides_tooltip {
  background: transparent url(/static/images/wb_site/tooltip_small_ltr.png);
  width: 345px;
  height: 180px; }

.rtl #myrides_tooltip {
  background: transparent url(/static/images/wb_site/tooltip_small_rtl.png); }

.myrides-tip-content {
  position: relative;
  top: 30px;
  left: 33px;
  width: 270px;
  height: 120px; }
  .myrides-tip-content .header {
    font-size: 13px;
    font-weight: bold; }
  .myrides-tip-content .close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    font-weight: normal; }
  .myrides-tip-content .content {
    margin-top: 15px; }
  .myrides-tip-content .footer {
    position: absolute;
    bottom: 0;
    width: 100%; }
  .myrides-tip-content #cancel_ride_link {
    display: inline-block;
    position: absolute;
    right: 20px;
    bottom: 3px; }
  .myrides-tip-content .tooltip_loader {
    display: none;
    position: absolute;
    right: 0;
    bottom: -2px; }

.rtl .myrides-tip-content {
  left: auto;
  right: 33px; }
  .rtl .myrides-tip-content .close {
    right: auto;
    left: 0; }
  .rtl .myrides-tip-content #cancel_ride_link {
    right: auto;
    left: 20px; }
  .rtl .myrides-tip-content .tooltip_loader {
    background-position: right 0;
    right: auto;
    left: 0; }

/*
Home
/*******************************************************/
.wb_home {
  /* Pagination */ }
  .wb_home #content-container {
    padding-top: 0;
    min-height: 700px; }
  .wb_home #site-content {
    position: relative;
    top: -13px;
    margin-bottom: 0;
    width: 800px;
    padding: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: none; }
  .wb_home #footer-container {
    height: 600px; }
  .wb_home #site-footer #sitemap {
    margin-bottom: 0; }
  .wb_home #myrides_container, .wb_home #mobile_apps {
    margin-bottom: 27px; }
  .wb_home #myrides_container {
    width: 800px;
    background: white;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 6px 0 #747474;
    -moz-box-shadow: 0 0 6px 0 #747474;
    box-shadow: 0 0 6px 0 #747474;
    width: 770px;
    padding: 5px 15px;
    display: none;
    margin-top: 30px; }
    .wb_home #myrides_container h1 {
      font-size: 13px;
      color: #6c6c6a; }
    .wb_home #myrides_container hr {
      color: #bcbcbc; }
  .wb_home #mobile_apps {
    width: 800px;
    background: white;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 6px 0 #747474;
    -moz-box-shadow: 0 0 6px 0 #747474;
    box-shadow: 0 0 6px 0 #747474;
    padding: 1px;
    width: 798px; }
    .wb_home #mobile_apps .container {
      width: 100%; }
    .wb_home #mobile_apps .img {
      width: 183px;
      height: 111px;
      background: url("/static/images/wb_site/mobile_banner.png") left top no-repeat;
      padding: 5px 65px; }
    .wb_home #mobile_apps .title {
      font-size: 16px; }
    .wb_home #mobile_apps .content {
      color: #6c6c6a; }
    .wb_home #mobile_apps .vendor {
      text-align: center;
      padding-top: 5px; }
    .wb_home #mobile_apps .app-icon {
      width: 52px;
      height: 50px; }
    .wb_home #mobile_apps .iphone .app-icon {
      background: url("/static/images/wb_site/app_store_icons.png") center 0 no-repeat; }
    .wb_home #mobile_apps .android .app-icon {
      background: url("/static/images/wb_site/app_store_icons.png") center -91px no-repeat; }
    .wb_home #mobile_apps .vr {
      height: 70px;
      border-left: 1px solid #bcbcbc; }
  .wb_home #map_container {
    position: relative;
    width: 100%;
    height: 300px;
    border-bottom: 4px solid white; }
  .wb_home #cm-map {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 0; }
  .wb_home #banner {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%; }
  .wb_home #banner_content {
    width: 800px;
    height: 100%;
    margin: 0 auto;
    position: relative; }
    .wb_home #banner_content .slidesContainer {
      z-index: 0;
      margin: 0 auto; }
  .wb_home .slidesPagination {
    position: relative;
    width: 42px;
    top: -35px;
    margin: 0 auto;
    padding: 0; }
    .wb_home .slidesPagination li {
      float: left;
      margin: 0 1px;
      list-style: none; }
    .wb_home .slidesPagination li a {
      display: block;
      width: 12px;
      height: 0;
      padding-top: 12px;
      background-image: url("/static/images/wb_site/pagination_white.png");
      background-position: 0 0;
      float: left;
      overflow: hidden; }
    .wb_home .slidesPagination li.slidesCurrent a {
      background-position: 0 -12px; }
  .wb_home #feedback {
    position: absolute;
    left: 0;
    top: 450px;
    width: 35px;
    height: 93px;
    background: url("/static/images/wb_site/feedback.png") right bottom no-repeat; }
  .wb_home #feedback:hover {
    width: 43px; }
  .wb_home #booking_container {
    position: relative;
    width: 800px;
    background: white;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 0 6px 0 #747474;
    -moz-box-shadow: 0 0 6px 0 #747474;
    box-shadow: 0 0 6px 0 #747474;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 0;
    height: 255px;
    margin-bottom: 40px; }
    .wb_home #booking_container #savings {
      position: absolute;
      right: -22px;
      top: 20px;
      width: 158px;
      height: 74px;
      background: url("/static/images/wb_site/ribbon.png") 0 0 no-repeat; }
      .wb_home #booking_container #savings .content {
        margin: 0 auto;
        padding-left: 5px;
        text-align: center;
        line-height: 45px; }
      .wb_home #booking_container #savings .label, .wb_home #booking_container #savings .value {
        color: white;
        font-weight: bold;
        font-size: 18px; }
    .wb_home #booking_container #booking_content {
      width: 100%;
      height: 220px; }
    .wb_home #booking_container #booking_progress {
      position: absolute;
      bottom: 0;
      height: 35px;
      width: 100%; }
      .wb_home #booking_container #booking_progress table {
        width: 95%;
        margin: 0 auto;
        border-top: 1px solid #A2A2A2;
        text-align: center;
        font-size: 13px; }
      .wb_home #booking_container #booking_progress td {
        width: 25%;
        height: 25px; }
      .wb_home #booking_container #booking_progress .step.details {
        cursor: default; }
      .wb_home #booking_container #booking_progress .step.current {
        color: #eb1f79; }
      .wb_home #booking_container #booking_progress .step.disabled {
        cursor: default;
        color: #707070; }
      .wb_home #booking_container #booking_progress .step.completed {
        color: green; }
      .wb_home #booking_container #booking_progress td.completed:hover {
        background-color: #D6D6D6; }
    .wb_home #booking_container .booking_step {
      padding-top: 30px;
      padding-bottom: 35px;
      /*height: $booking-container-height * 0.9;*/ }
      .wb_home #booking_container .booking_step table {
        margin: 0 auto;
        width: 100%;
        border-spacing: 20px 3px; }
        .wb_home #booking_container .booking_step table .wb_button, .wb_home #booking_container .booking_step table .small-loader, .wb_home #booking_container .booking_step table .myrides-tip-content .tooltip_loader, .myrides-tip-content .wb_home #booking_container .booking_step table .tooltip_loader {
          display: inline-block; }
      .wb_home #booking_container .booking_step .cntr.btn {
        width: 165px;
        padding-top: 22px; }
      .wb_home #booking_container .booking_step .cntr.input {
        position: relative; }
        .wb_home #booking_container .booking_step .cntr.input .small-loader, .wb_home #booking_container .booking_step .cntr.input .myrides-tip-content .tooltip_loader, .myrides-tip-content .wb_home #booking_container .booking_step .cntr.input .tooltip_loader {
          z-index: 3;
          position: absolute;
          right: 4px;
          top: 30%; }
      .wb_home #booking_container .booking_step label {
        display: block;
        color: #393939;
        font-size: 13px;
        margin-bottom: 5px; }
      .wb_home #booking_container .booking_step tr {
        vertical-align: top; }
      .wb_home #booking_container .booking_step .title {
        height: 20px;
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        color: #ef2c8c; }
      .wb_home #booking_container .booking_step input {
        height: 40px;
        font-size: 16px; }
      .wb_home #booking_container .booking_step select, .wb_home #booking_container .booking_step .wb_button {
        height: 44px;
        font-size: 16px; }
    .wb_home #booking_container #hotspot_content {
      padding-right: 30px;
      padding-left: 30px;
      padding-bottom: 10px;
      width: 740px; }
      .wb_home #booking_container #hotspot_content .cntr.select {
        width: 600px;
        margin: 0 auto;
        padding-left: 45px; }
      .wb_home #booking_container #hotspot_content #id_hotspot_select {
        width: 550px; }
      .wb_home #booking_container #hotspot_content #qm_votespot {
        display: inline-block;
        width: 44px;
        height: 24px;
        background: url("/static/images/wb_site/qm_button.png") center top no-repeat;
        position: relative;
        top: 6px; }
      .wb_home #booking_container #hotspot_content #qm_votespot:hover {
        background-position: center -45px; }
      .wb_home #booking_container #hotspot_content .btn_cntr {
        position: relative;
        margin: 0 auto;
        margin-top: 20px;
        height: 44px; }
      .wb_home #booking_container #hotspot_content td.first {
        text-align: right; }
      .wb_home #booking_container #hotspot_content td.second {
        text-align: left; }
      .wb_home #booking_container #hotspot_content #leave_hotspot, .wb_home #booking_container #hotspot_content #goto_hotspot {
        background-image: url("/static/images/wb_site/field_icons.png");
        background-repeat: no-repeat;
        padding-left: 50px; }
      .wb_home #booking_container #hotspot_content #leave_hotspot {
        background-position: 10px 8px; }
      .wb_home #booking_container #hotspot_content #goto_hotspot {
        background-position: 10px -46px; }
    .wb_home #booking_container #address_content {
      padding-right: 45px;
      padding-left: 45px;
      width: 710px; }
      .wb_home #booking_container #address_content #id_city, .wb_home #booking_container #address_content #id_street_address, .wb_home #booking_container #address_content #id_house_number {
        width: 100%; }
      .wb_home #booking_container #address_content .cntr.city {
        width: 25%; }
      .wb_home #booking_container #address_content .cntr.hn {
        width: 13%; }
      .wb_home #booking_container #address_content .cntr.street {
        position: relative;
        /* no set width -> scales nicely */ }
    .wb_home #booking_container #datetime_content {
      padding-right: 120px;
      padding-left: 120px;
      width: 560px; }
      .wb_home #booking_container #datetime_content .cntr.time, .wb_home #booking_container #datetime_content .cntr.date {
        width: 250px; }
      .wb_home #booking_container #datetime_content #id_hotspot_datepicker, .wb_home #booking_container #datetime_content #id_hotspot_time {
        width: 100%; }
      .wb_home #booking_container #datetime_content #id_estimated_pickup {
        padding-top: 3px;
        font-size: 15px;
        color: #339A31;
        text-align: center; }
        .wb_home #booking_container #datetime_content #id_estimated_pickup .text, .wb_home #booking_container #datetime_content #id_estimated_pickup .value {
          color: #339A31; }
    .wb_home #booking_container #details_content {
      padding: 10px 10px 0 10px;
      width: 780px; }
    .wb_home #booking_container #ride_summary {
      position: absolute;
      left: 10px;
      width: 250px;
      font-size: 13px;
      padding-right: 20px;
      border-right: 1px solid gray; }
      .wb_home #booking_container #ride_summary span, .wb_home #booking_container #ride_summary p, .wb_home #booking_container #ride_summary div {
        color: #4d4d4d; }
      .wb_home #booking_container #ride_summary .data {
        border: 1px solid #dfdfdf;
        padding: 1px;
        margin: 2px 0 12px 0; }
        .wb_home #booking_container #ride_summary .data p {
          margin: 2px; }
      .wb_home #booking_container #ride_summary .data:hover {
        border-color: #838383; }
      .wb_home #booking_container #ride_summary #details_loader {
        display: inline-block;
        background-position: 0 1px; }
      .wb_home #booking_container #ride_summary #switch_direction {
        float: right; }
      .wb_home #booking_container #ride_summary .hotspot .desc {
        font-style: italic; }
      .wb_home #booking_container #ride_summary #num_seats input {
        height: auto; }
      .wb_home #booking_container #ride_summary #num_seats .radio {
        float: right; }
    .wb_home #booking_container #ride_details {
      position: absolute;
      right: 75px;
      top: 30px;
      width: 435px; }
      .wb_home #booking_container #ride_details #offer .price, .wb_home #booking_container #ride_details #offer .time {
        height: 35px;
        width: auto;
        margin: 10px auto 22px auto;
        border-bottom: 1px solid #bcbcbc;
        border-spacing: 1px 1px; }
      .wb_home #booking_container #ride_details #offer .price {
        padding: 0 15px; }
      .wb_home #booking_container #ride_details #offer .time {
        padding: 0 30px; }
      .wb_home #booking_container #ride_details #offer .offer-row {
        vertical-align: bottom; }
      .wb_home #booking_container #ride_details #offer .offer-pre {
        text-align: right;
        color: #4d4d4d; }
      .wb_home #booking_container #ride_details #offer .offer-val {
        text-align: center;
        font-weight: bold;
        line-height: 12px;
        padding: 0 3px; }
      .wb_home #booking_container #ride_details #offer .offer-val .value {
        font-size: 45px; }
      .wb_home #booking_container #ride_details #offer .price .offer-val .label {
        font-size: 38px; }
      .wb_home #booking_container #ride_details #offer .time .offer-val .label {
        font-size: 20px; }
      .wb_home #booking_container #ride_details #offer .offer-post {
        text-align: left;
        color: #3d3d3d;
        font-weight: bold; }
      .wb_home #booking_container #ride_details #book_ride {
        display: block;
        width: 400px;
        height: 50px;
        font-size: 20px;
        margin: 0 auto; }
  .wb_home #partners table {
    margin: 0 auto;
    border-spacing: 17px 17px;
    width: 100%; }
  .wb_home #partners td {
    color: #bcbcbc; }
  .wb_home #partners .hr-td {
    width: 63%; }
  .wb_home #partners .hr {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #bcbcbc; }
  .wb_home #partners #partner_logos td {
    width: 174px;
    height: 90px;
    background: url(/static/images/wb_site/partners_logos_small.png) no-repeat; }
  .wb_home #partners #partner_logos td.ibm-logo {
    background-position: left 0; }
  .wb_home #partners #partner_logos td.ny-taxi-logo {
    background-position: left -99px; }
  .wb_home #partners #partner_logos td.peregrine-logo {
    background-position: left -198px; }
  .wb_home #partners #partner_logos td.its-logo {
    background-position: left -297px; }
  .wb_home #partners #partner_logos td.telmap-logo {
    background-position: left -396px; }
  .wb_home #partners #partner_logos td.google-logo {
    background-position: left -495px; }
  .wb_home #partners #partner_logos td.cloudmade-logo {
    background-position: left -594px; }

.rtl.wb_home #cm-map {
  direction: ltr; }
.rtl.wb_home #mobile_apps .img {
  background: url("/static/images/wb_site/mobile_banner_rtl.png") right top no-repeat; }
.rtl.wb_home .slidesContainer {
  direction: ltr; }
.rtl.wb_home .booking_step {
  direction: rtl; }
.rtl.wb_home #booking_container #savings {
  right: auto;
  left: -22px;
  background: url("/static/images/wb_site/ribbon_rtl.png") right 0 no-repeat; }
  .rtl.wb_home #booking_container #savings .content {
    padding-left: 0;
    padding-right: 5px; }
.rtl.wb_home #booking_container .booking_step .cntr.input .small-loader, .rtl.wb_home #booking_container .booking_step .cntr.input .myrides-tip-content .tooltip_loader, .myrides-tip-content .rtl.wb_home #booking_container .booking_step .cntr.input .tooltip_loader {
  right: auto;
  left: 4px; }
.rtl.wb_home #booking_container #hotspot_content .cntr.select {
  padding-left: 0;
  padding-right: 45px; }
.rtl.wb_home #booking_container #hotspot_content #leave_hotspot, .rtl.wb_home #booking_container #hotspot_content #goto_hotspot {
  padding-left: 15px;
  padding-right: 40px; }
.rtl.wb_home #booking_container #hotspot_content td.first {
  text-align: left; }
.rtl.wb_home #booking_container #hotspot_content td.second {
  text-align: right; }
.rtl.wb_home #booking_container #hotspot_content #leave_hotspot {
  background-position: right 8px; }
.rtl.wb_home #booking_container #hotspot_content #goto_hotspot {
  background-position: right -46px; }
.rtl.wb_home #booking_container #ride_summary {
  left: auto;
  right: 10px;
  padding-right: 0;
  padding-left: 20px;
  border-right: none;
  border-left: 1px solid gray; }
  .rtl.wb_home #booking_container #ride_summary #switch_direction {
    float: left; }
  .rtl.wb_home #booking_container #ride_summary #num_seats .radio {
    float: left; }
.rtl.wb_home #booking_container #ride_details {
  right: auto;
  left: 75px; }
  .rtl.wb_home #booking_container #ride_details #offer .offer-pre {
    text-align: left; }
  .rtl.wb_home #booking_container #ride_details #offer .offer-post {
    text-align: right; }

.staff_home #content-container, .staff_home #header-container {
  background: #FF9CA6; }

/*
Account
**********************************************/
.my_rides #site-content {
  width: 800px;
  padding: 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: none; }
.my_rides #next_rides_container, .my_rides #previous_rides_container {
  width: 800px;
  background: white;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 6px 0 #747474;
  -moz-box-shadow: 0 0 6px 0 #747474;
  box-shadow: 0 0 6px 0 #747474;
  width: 770px;
  padding: 15px; }
  .my_rides #next_rides_container .header, .my_rides #previous_rides_container .header {
    font-size: 13px;
    font-weight: bold;
    color: #6c6c6a; }
.my_rides #next_rides_container {
  margin-bottom: 20px; }

/*
Registration
/*********************************************/
#login-form label {
  width: 80px;
  display: inline-block; }
#login-form .form-row {
  margin-bottom: 10px; }
#login-form .submit-row {
  position: relative; }
#login-form input[type=submit] {
  position: absolute;
  right: 0; }

.rtl #login-form input[type=submit] {
  position: absolute;
  right: auto;
  left: 0; }

.registration #code_container {
  float: right;
  position: relative;
  top: -10px; }
.registration #phone_container {
  float: left; }
.registration #validation .container {
  margin-top: 20px;
  padding: 15px; }
.registration #local_phone {
  width: 245px; }
.registration #verification_status, .registration #verification_status_top {
  width: 30px;
  height: 30px;
  display: inline-block;
  position: relative;
  top: 11px; }
.registration #verification_status_top {
  border: 1px solid;
  background: white;
  top: 5px;
  right: 23px; }
.registration #verification_status.success {
  background: url("/static/images/wb_site/verification_status.png") left 0 no-repeat; }
.registration #verification_status.error, .registration .errorlist li#verification_status, .errorlist .registration li#verification_status {
  background: url("/static/images/wb_site/verification_status.png") left -30px no-repeat; }
.registration #verification_status.sending {
  background: url("/static/images/wb_site/loader24.gif") left 0 no-repeat; }
.registration #registration_details {
  border-top: 1px solid #bcbcbc;
  border-bottom: 1px solid #bcbcbc;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 15px;
  margin-bottom: 45px;
  width: 100%; }
  .registration #registration_details label {
    font-weight: normal;
    width: 95px;
    margin-right: 30px; }
  .registration #registration_details td {
    vertical-align: top; }
  .registration #registration_details td.padded {
    padding: 20px 0 20px 20px; }
  .registration #registration_details td.first {
    width: 310px; }
.registration .errorlist {
  padding: 0;
  list-style: none; }
  .registration .errorlist li {
    color: #cc162a;
    display: inline; }
  .registration .errorlist li:before {
    content: "*"; }
.registration .vrule {
  border-left: 1px solid #bcbcbc;
  height: 80px;
  position: relative;
  left: 7px;
  margin: 15px 0 15px 0; }
.registration .header {
  font-size: 13px;
  font-weight: bold; }
.registration #passenger_form {
  width: 100%;
  position: relative; }
.registration #user_details {
  width: 100%; }
  .registration #user_details th {
    text-align: left; }
  .registration #user_details input {
    width: 250px; }
.registration #terms_container {
  float: right;
  position: absolute;
  right: 21px; }
.registration #fb_connect {
  position: relative;
  top: 71px;
  left: 71px;
  width: 170px;
  height: 28px; }
.registration #fb_connect.disabled {
  background: url("/static/images/wb_site/fb_disabled.jpeg") -1px 0 no-repeat; }
.registration #next_container {
  position: absolute;
  bottom: 25px;
  right: 25px;
  vertical-align: bottom; }
.registration #bottom_login {
  display: inline-block;
  position: relative;
  top: 8px;
  margin-right: 9px; }

.rtl.registration #code_container {
  float: left; }
.rtl.registration #phone_container {
  float: right; }
.rtl.registration #verification_status_top {
  right: auto;
  left: 23px; }
.rtl.registration #registration_details label {
  margin-right: 0;
  margin-left: 30px; }
.rtl.registration #registration_details td.padded {
  padding: 20px 20px 20px 0; }
.rtl.registration .vrule {
  border-left: none;
  border-right: 1px solid #bcbcbc;
  left: auto;
  right: 7px; }
.rtl.registration #user_details th {
  text-align: right; }
.rtl.registration #terms_container {
  float: left;
  right: auto;
  left: 21px; }
.rtl.registration #fb_connect {
  left: auto;
  right: 71px; }
.rtl.registration #next_container {
  right: auto;
  left: 25px; }
.rtl.registration #bottom_login {
  margin-right: auto;
  margin-left: 9px; }

.transaction_page #site-content {
  padding: 10px; }
.transaction_page #trx_status {
  position: relative;
  height: 100px; }
.transaction_page #status_icon {
  float: left;
  width: 100px;
  height: 100px; }
.transaction_page #status_icon.processing {
  background: url(/static/images/wb_site/loading_large.gif) left 0 no-repeat; }
.transaction_page #status_icon.approved {
  background: url(/static/images/wb_site/processing_icons.png) 7px -84px no-repeat; }
.transaction_page #status_icon.failed {
  background: url(/static/images/wb_site/processing_icons.png) 7px 10px no-repeat; }
.transaction_page #status_msg {
  float: left;
  position: relative;
  left: 50px;
  top: 20px; }
.transaction_page #status_header {
  font-weight: bold;
  font-size: 18px; }
.transaction_page #status_help {
  font-size: 13px;
  margin-top: 10px; }
.transaction_page #home {
  position: absolute;
  right: 0;
  bottom: 0; }

.rtl.transaction_page #status_icon {
  float: right; }
.rtl.transaction_page #status_msg {
  float: right;
  left: auto;
  right: 50px; }
.rtl.transaction_page #home {
  right: auto;
  left: 0; }

/*
Info pages
****************************************************/
.contact #contact_header {
  font-size: 16px;
  font-weight: bold; }
.contact #contact_details {
  position: relative;
  width: 100%;
  margin: 20px auto 20px auto; }
.contact .details_row {
  vertical-align: top; }
  .contact .details_row > td {
    width: 50%;
    padding-left: 50px; }
.contact .img {
  height: 55px;
  width: 65px; }
.contact .header {
  font-size: 13px; }
.contact .details {
  margin-top: 5px;
  margin-left: 9px;
  font-size: 11px; }
.contact #customer_service .img {
  background: url("/static/images/wb_site/contact_icons.png") left 0 no-repeat; }
.contact #offices .img {
  background: url("/static/images/wb_site/contact_icons.png") left -76px no-repeat; }

.rtl.contact .details {
  margin-left: auto;
  margin-right: 9px; }
.rtl.contact .details_row > td {
  padding-left: 0;
  padding-right: 50px; }

.privacy #site-content, .terms #site-content {
  direction: rtl; }
.privacy .header, .terms .header {
  font-size: 13px;
  font-width: bold; }
.privacy p, .terms p {
  font-size: 11px; }
.privacy .important, .terms .important {
  text-decoration: underline;
  font-weight: bold; }

.the_service #site-content {
  width: 796px;
  padding: 2px;
  font-size: 13px; }
.the_service #passenger_pic {
  width: 794px;
  height: 250px;
  margin: 0 auto;
  background: url("/static/images/wb_site/passenger_pic.png") 0 0 no-repeat;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; }
.the_service #desc {
  margin: 0 25px 25px 25px; }
  .the_service #desc .header {
    color: #ef2c8c;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px; }
  .the_service #desc .remember {
    font-weight: bold; }
  .the_service #desc li {
    line-height: 25px; }
  .the_service #desc .footer {
    margin-top: 35px; }

.about_us #site-content {
  width: 500px; }
.about_us .header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px; }
.about_us .gist {
  font-weight: bold; }
.about_us #the_team {
  width: 800px;
  margin: 0 auto 50px auto;
  direction: ltr; }
  .about_us #the_team .members-row {
    width: 800px;
    padding: 0 35px; }
  .about_us #the_team .member {
    display: inline-block;
    padding: 10px;
    border: 1px solid #969696;
    margin: 0 25px 25px 0; }
    .about_us #the_team .member .about {
      display: none;
      direction: ltr;
      width: 300px;
      padding: 15px;
      border: 2px solid #bcbcbc;
      background: white;
      font-size: 11px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5); }
  .about_us #the_team .member.last {
    margin-right: 0; }
  .about_us #the_team .name, .about_us #the_team .title {
    text-align: center;
    font-size: 11px; }
  .about_us #the_team .name {
    color: black;
    margin: 5px auto; }
  .about_us #the_team .title {
    width: 100px;
    color: #555555; }
  .about_us #the_team .img {
    width: 100px;
    height: 120px; }
  .about_us #the_team #zeev .img {
    background: url("/static/images/wb_site/the_team/zeev.png"); }
  .about_us #the_team #shay .img {
    background: url("/static/images/wb_site/the_team/shay.png"); }
  .about_us #the_team #guy .img {
    background: url("/static/images/wb_site/the_team/guy.png"); }
  .about_us #the_team #yonatan .img {
    background: url("/static/images/wb_site/the_team/yonatan.png"); }
  .about_us #the_team #amir .img {
    background: url("/static/images/wb_site/the_team/amir.png"); }
  .about_us #the_team #orly .img {
    background: url("/static/images/wb_site/the_team/orly.png"); }
  .about_us #the_team #micky .img {
    background: url("/static/images/wb_site/the_team/micky.png"); }

.faq #site-content {
  width: 500px; }
.faq .h {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px; }
.faq .q {
  font-size: 13px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 5px; }
.faq .a {
  font-size: 13px;
  line-height: 22px; }
.faq p {
  margin: 0; }

.error-page .header .img, .error-page .header .title {
  display: inline-block; }
.error-page .header .img {
  width: 100px;
  height: 100px;
  background: url(/static/images/wb_site/processing_icons.png) 7px 10px no-repeat; }
.error-page .header .title {
  position: relative;
  bottom: 35px;
  font-size: 35px;
  font-weight: bold; }
.error-page .content {
  margin-left: 30px; }
  .error-page .content .error-desc {
    font-size: 16px; }
.error-page #button_container {
  position: relative;
  margin-top: 50px; }
.error-page #home {
  position: absolute;
  right: 0;
  bottom: 0; }

.rtl.error-page .content {
  margin-left: auto;
  margin-right: 30px; }
.rtl.error-page #home {
  right: auto;
  left: 0; }

/*
Dialogs
****************************************************/
.dialog #button_container {
  float: right;
  margin-top: 25px; }
.dialog .content p, .dialog .content label, .dialog .content span {
  font-size: 13px;
  color: #3D3D3D; }

.rtl .dialog #button_container {
  float: left; }

/*
Error dialog
****************************************************/
.wb-error-dialog .header .img, .wb-error-dialog .header .title {
  display: inline-block; }
.wb-error-dialog .header .img {
  width: 42px;
  height: 38px;
  background: url(/static/images/wb_site/error_icon.png) left top no-repeat; }
.wb-error-dialog .header .title {
  position: relative;
  bottom: 5px;
  font-size: 35px;
  font-weight: bold; }
.wb-error-dialog .content {
  margin-left: 30px; }
  .wb-error-dialog .content .error-desc {
    font-size: 16px; }

.rtl .wb-error-dialog .content {
  margin-left: auto;
  margin-right: 30px; }

/*
Browsers dialog
****************************************************/
#gcf_dialog {
  text-align: center;
  color: #3d3d3d;
  font-size: 13px; }
  #gcf_dialog button.get_gcf {
    margin: 20px 0; }
  #gcf_dialog .or {
    margin-bottom: 15px; }
  #gcf_dialog .dl-browser {
    display: inline-block;
    width: 105px; }
    #gcf_dialog .dl-browser .img {
      width: 63px;
      height: 71px;
      margin: 0 auto; }
    #gcf_dialog .dl-browser .wb_link, #gcf_dialog .dl-browser .wb_home #booking_container #ride_summary #switch_direction, .wb_home #booking_container #ride_summary #gcf_dialog .dl-browser #switch_direction {
      font-size: 11px; }
  #gcf_dialog .dl-browser.chrome .img {
    background: url(/static/images/wb_site/browsers.png) 0px top no-repeat; }
  #gcf_dialog .dl-browser.safari .img {
    background: url(/static/images/wb_site/browsers.png) -64px top no-repeat; }
  #gcf_dialog .dl-browser.firefox .img {
    background: url(/static/images/wb_site/browsers.png) -128px top no-repeat; }

/*
Feedback dialog
****************************************************/
#feedback_form label {
  display: inline;
  font-size: 13px;
  margin-left: 10px; }
#feedback_form #positive {
  float: left; }
  #feedback_form #positive h1 {
    color: #4cba00; }
#feedback_form #negative {
  float: right; }
  #feedback_form #negative h1 {
    color: #16acd3; }
#feedback_form h1 {
  padding: 5px;
  font-size: 16px; }
#feedback_form #submit_feedback {
  margin-right: 15px; }
#feedback_form .feedback {
  padding: 0 20px 20px 20px; }
#feedback_form .feedback_container {
  width: 250px;
  margin-bottom: 22px; }
#feedback_form .feedback_container textarea {
  margin-top: 5px;
  width: 200px;
  height: 50px;
  margin-left: 15px;
  font-size: 13px; }
#feedback_form .feedback_container p {
  margin-bottom: 5px; }

.rtl #feedback_form label {
  margin-left: auto;
  margin-right: 10px; }
.rtl #feedback_form #positive {
  float: right; }
.rtl #feedback_form #negative {
  float: left; }
.rtl #feedback_form #submit_feedback {
  margin-right: auto;
  margin-left: 15px; }
.rtl #feedback_form .feedback_container textarea {
  margin-left: auto;
  margin-right: 15px; }

/*
Interest dialog (hotspot, pilot)
****************************************************/
.interest_dialog #thank_you {
  text-align: center;
  margin-top: 35px; }
.interest_dialog #pilot_interest_form .field_container {
  margin-top: 30px; }
.interest_dialog input {
  width: 200px; }
.interest_dialog #sharing_buttons {
  margin-top: 55px; }
.interest_dialog .share_button {
  height: 33px;
  width: 31px;
  background-image: url(/static/images/landing_page/sharing-icons.png);
  background-repeat: no-repeat;
  display: inline-block;
  padding-left: 50px; }
.interest_dialog .share_button span {
  position: relative;
  bottom: -5px;
  left: -4px;
  font-size: 13px; }
.interest_dialog #share_facebook {
  background-position: left -70px; }
.interest_dialog #share_twiter {
  background-position: left -36px;
  margin-left: 40px; }
.interest_dialog #share_email {
  background-position: left 0;
  margin-left: 40px; }

.rtl .interest_dialog .share_button span {
  left: auto;
  right: -4px; }
.rtl .interest_dialog #share_twiter {
  margin-left: 0;
  margin-right: 40px; }
.rtl .interest_dialog #share_email {
  margin-left: 0;
  margin-right: 40px; }

/** Hotspot page **/
.rtl.hotspot_page #map_container {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 65%; }

.rtl.hotspot_page #map {
  height: 100%;
  width: 100%; }

.rtl.hotspot_page.textinput #map_container {
  width: 55%; }

/** producers page **/
.producer_page #ordering_container {
  margin-top: 25px;
  margin-right: 25px; }

.producer_page .passenger {
  margin: 10px 0 10px; }

.producer_page #p_actions {
  margin: 20px 4px 20px; }

.producer_page #hotspot_datetime, .producer_page .passenger_details {
  display: inline;
  position: absolute;
  right: 140px; }

.producer_page .passenger_details {
  margin-top: 2px; }

.producer_page #book_order {
  margin-top: 20px; }

.rtl.producer_page #map_container {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 65%; }

.rtl.producer_page #map {
  height: 100%;
  width: 100%; }

.rtl.producer_page.textinput #map_container {
  width: 55%; }
