/** Theme hacks **/
body {
  /*padding-top: 100px; // should match the height of the navbar*/ }

.navbar-inner {
  background: white; }

.navbar .nav > li > a {
  color: black; }

.navbar .nav > li > a:hover {
  color: gray; }

/** elements **/
#wbLogo {
  background: url(/static/images/wb_site/logo_header_beta.png) left top no-repeat;
  background-size: 70%;
  height: 40px;
  width: 300px;
  padding: 0; }

.booking-controls {
  /*padding: 10px;*/
  background-color: #f5f5f5; }

/** pages **/
.wb-home #content {
  padding-top: 66px; }
.wb-home #content hr {
  margin: 50px 0; }
.wb-home #appShots {
  position: absolute;
  /*padding: 20px 0;*/
  background: url(/static/images/wb_site/1.2/app_shots.png) center top no-repeat;
  width: 355px;
  height: 443px; }

.booking-page #map {
  height: 500px; }
.booking-page #booking-form .control-label {
  width: 60px; }
.booking-page #booking-form .controls {
  margin-left: 70px; }
