.rtl .ui-page {
  direction: rtl; }

.bold {
  font-weight: bold; }

.center {
  text-align: center !important; }

li.suggest_hotspot a h1 {
  text-align: center;
  color: #ed2489; }

/* custom button icons */
.ui-icon-wb-switchdir {
  background-image: url(/static/images/mobile/switch-direction.png); }

/* home sweet home */
#home .ui-header {
  background: white;
  border: none;
  -webkit-box-shadow: 0 0 5px black;
  box-shadow: 0 0 5px black; }
#home h1 {
  height: 42px;
  width: 242px;
  background: url(/static/images/mobile/header.png) center 0 no-repeat;
  margin: 0 auto; }
#home .ui-icon {
  background: url(/static/images/mobile/home_icons.png) center 0;
  width: 43px;
  height: 43px;
  margin-left: -21.5px; }
#home .ui-btn-inner {
  padding-top: 50px; }
#home #myrides_btn .ui-icon {
  background-position: center -50px; }
#home #share_btn .ui-icon {
  background-position: center -100px; }
#home #settings_btn .ui-icon {
  background-position: center -150px; }
#home #feedback_btn .ui-icon {
  background-position: center -200px; }

a[href="/"] .ui-icon, a[href="#home"] .ui-icon {
  background: url(/static/images/mobile/wb_logo_18px.png) left 0 no-repeat;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

/* booking page */
#booking_page #switch_direction_container {
  width: 80%;
  margin: 20px auto; }
#booking_page .desc {
  color: #7c7c7c;
  font-size: 13px; }
#booking_page .from_label {
  color: #48a43e; }
  #booking_page .from_label .label_box {
    background-color: #48a43e;
    color: white;
    padding: .1em .2em; }
#booking_page .to_label {
  color: #bb218a; }
  #booking_page .to_label .label_box {
    background-color: #bb218a;
    color: white;
    padding: .1em .2em; }

.ride_summary {
  background: white;
  padding: 15px;
  color: #666666;
  text-shadow: none;
  -webkit-box-shadow: 0px 0px 3px black;
  -moz-box-shadow: 0px 0px 3px black;
  box-shadow: 0px 0px 3px black; }
  .ride_summary h3 {
    text-align: center;
    margin: 0; }
  .ride_summary .ride_discount {
    background-image: url(/static/images/mobile/ribbon_normal.png);
    height: 69px;
    width: 65px;
    float: left;
    position: relative;
    color: white;
    text-align: center;
    padding-top: 0.3em;
    left: -28px; }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 240dpi) {
  .ride_summary .ride_discount {
    background-image: url(/static/images/mobile/ribbon_retina.png);
    background-repeat: no-repeat;
    -moz-background-size: 65px 69px;
    -o-background-size: 65px 69px;
    -webkit-background-size: 65px 69px;
    background-size: 65px 69px; } }
/* address page */
#address-form input {
  display: inline-block; }

#address-form input[type=text] {
  width: 68%; }

#address-form input[type=tel] {
  width: 20%; }

/* Ride details page */
#ride_details_page .pickup .details_label {
  background-color: #48a43e;
  color: white;
  padding: .1em .2em; }
#ride_details_page .pickup .details_label_type {
  color: #48a43e; }
#ride_details_page .dropoff .details_label {
  background-color: #bb218a;
  color: white;
  padding: .1em .2em; }
#ride_details_page .dropoff .details_label_type {
  color: #bb218a; }

/* transaction page */
#status_icon {
  width: 80px;
  height: 80px; }

#status_icon.processing {
  background: url(/static/images/wb_site/loading_large.gif) left 0 no-repeat; }

#status_icon.approved {
  background: url(/static/images/wb_site/processing_icons.png) left -84px no-repeat; }

#status_icon.failed {
  background: url(/static/images/wb_site/processing_icons.png) left 10px no-repeat; }

/* registration */
#fb_connect {
  background: url("/static/images/wb_site/fb_disabled.jpeg") -1px 0 no-repeat;
  width: 170px;
  height: 28px; }

.errorlist li {
  list-style: none; }

.ui-loader {
  background: darkGray; }

.ui-btn-hidden {
  line-height: inherit; }

.ui-icon-none {
  background: transparent;
  background-image: none; }

/* RTL */
.rtl .rtl-listview li {
  text-align: right; }
.rtl .rtl-listview .ui-btn-text {
  text-align: right; }
.rtl .rtl-listview .ui-li-has-arrow .ui-btn-inner a.ui-link-inherit {
  padding-right: 15px;
  padding-left: 30px;
  padding-top: .2em;
  padding-bottom: .2em; }
.rtl .rtl-listview .ui-btn-icon-right .ui-icon {
  right: auto;
  left: 10px; }
