$pickup_color: #48a43e;
$dropoff_color: #bb218a;
$details_text_color: #666666;
$hotspot_color: #ed2489;

@mixin border-radius($r){
    -webkit-border-radius: $r;
    -moz-border-radius: $r;
    border-radius: $r;
}
@mixin box-shadow($r){
    -webkit-box-shadow: $r;
    -moz-box-shadow: $r;
    box-shadow: $r;
}

@mixin box-color($color) {
    background-color: $color;
    color: white;
    padding: .1em .2em;
}

@mixin background-size($s) {
    -moz-background-size: $s;
    -o-background-size: $s;
    -webkit-background-size: $s;
    background-size: $s;
}

hr {
    border: none;
    border-top: 1px solid #9A9A9A;
    border-image: initial;
    @include box-shadow(0 1px white);
}

.ui-loader{
    background: white;
    @include box-shadow(0 0 25px gray);
    width: 120px;
    margin-left: -90px;
}
.ui-icon-loading{
    background-image: url(/static/images/mobile/loader_normal.png);
}

.errorlist li{
    list-style: none;
}

.ui-btn-hidden {
    line-height: inherit;
}
.ui-icon-none {
    background: transparent;
    background-image: none;
}
ul.narrow {
    .ui-li-has-arrow .ui-btn-inner a.ui-link-inherit {
        padding-top: .2em;
        padding-bottom: .2em;
    }
}

.hidden{
    display:none;
}

.bold{
    font-weight:bold
}

.center {
    text-align: center !important;
}

.top_tri{
    background-image: url(/static/images/mobile/top_tri_normal.png);
    background-position: center top;
    background-repeat: no-repeat;
    @include background-size(15px 9px);
}

.ui-header{
    a[href="/"], a[href="#home"]{
        width: 45px;
    }

    a[href="/"] .ui-icon, a[href="#home"] .ui-icon{
        background: url(/static/images/mobile/wb_logo_18px.png) left 0 no-repeat;
        @include border-radius(0);
        @include box-shadow(none);
        margin: 0 auto;
    }
}

.wb-header {
    background: white;
    border: none;

    height: 42px;
    background: url(/static/images/mobile/header.png) center 0 no-repeat;
    background-color: white;
    margin: 0 auto;

    @include box-shadow(0 0 5px black);
}

/* theme hacks */
.ui-body-a{
    text-shadow: none;
}
/* end hacks */
#welcome_page{
    p{
        color: #656565;
        text-shadow: 0 0.15em 0 white;
        font-size: 0.9em;
    }
    .text{
        position: relative;
        top: -0.8em;
    }
    .buttons{
        margin-top: 1.4em;
        .first{
            margin-bottom: 1.2em;
        }
    }
    .welcome-img{
        width: 178px;
        height: 82px;
        background: url(/static/images/mobile/welcome.png) left top no-repeat;
        margin: 0 auto;
        margin-top: 35px;
    }
}

#home{
    .ui-icon{
        background: url(/static/images/mobile/home_icons.png) center 0 no-repeat;
        width: 43px;
        height: 43px;
        margin-left: -21.5px;
        @include border-radius(0);
    }
    .ui-btn-active{
        .ui-icon{
            background: url(/static/images/mobile/home_icons_white.png) center 0 no-repeat;
            width: 43px;
            height: 43px;
            margin-left: -21.5px;
            @include border-radius(0);
        }
        .ui-icon-shadow{
            @include box-shadow(none);
        }
    }
    $offset: -50px;
    #myrides_btn .ui-icon{ background-position: center 1*$offset; }
    #share_btn .ui-icon{ background-position: center 2*$offset - 4 ; }
    #settings_btn .ui-icon{ background-position: center 3*$offset - 4; }
    #feedback_btn .ui-icon{ background-position: center 4*$offset - 4; }

    .ui-btn-inner{
        padding-top: 50px;
    }
    .sub-header {
        color: white;
        text-shadow: none;
        text-align: center;
        font-size: 1.2em;
        font-weight: bold;
        background-color: #4bacc4;
        padding: .7em 0;
        border-bottom: 1px solid rgba(0,0,0,0.5);
    }
}

#booking_page{
    #switch_direction_container{
        position: relative;
        width: 95%;
        margin: 0 auto;
        top: -0.8em;
    }
    #switch-dir-img{
        position: absolute;
        background: url(/static/images/mobile/switch_dir.png) right center no-repeat;
        opacity: 1;
        width: 20px;
        height: 27px;
        top: 0.6em;
        right: 3em;
    }
    .desc {
        color: #7c7c7c;
        font-size: 13px;
    }
    .type, .label_box{
        @extend .bold;
    }
    .from_label {
        .label_box {
            @include box-color($pickup_color);
        }
        color: $pickup_color;

    }
    .to_label {
        .label_box {
            @include box-color($dropoff_color);
        } 
        color: $dropoff_color;
    }
    .booking_widget{
        position: relative;
        top: -0.7em;
        a{
            padding-top: 0.2em;
            padding-bottom: 0.6em;
        }
    }
    hr{
        position: relative;
        top: -0.5em;
    }
}

#choose_ride_page{
    .ride_summary {
        h3 {
            text-align: center;
            margin: 0;
        }
        .ride_discount {
            background-image: url(/static/images/mobile/ribbon_normal.png);
            height: 69px;
            width: 65px;
            float: left;
            position: relative;
            color: white;
            text-align: center;
            padding-top: 0.3em;
            left: -28px;
        }
        background: white;
        padding: 15px;
        color: $details_text_color;
        text-shadow: none;
        @include box-shadow(0px 0px 3px black);
    }
}

#address_page{
    .street-hn-cntr{
        position: relative;
        height: 3.3em;
        div {
            float: right;
        }
    }
    .street-cntr{
        width: 11em;
        margin-left: 1em;
    }
    .hn-cntr{
        width: 5em;
    }
    /*#address-form input {*/
        /*display: inline-block;*/
    /*}*/

    /*#address-form input[type=text] {*/
        /*width: 68%;*/
    /*}*/

    /*#address-form input[type=tel] {*/
        /*width: 20%;*/
    /*}*/
}

/* hotspot page */
li.suggest_hotspot {
    a {
        h1 {
            text-align: center;
            color: $hotspot_color;
        }
    }
}

/* Ride details page */
#ride_details_page {
    .pickup {
        .details_label {
            @include box-color($pickup_color);
        }
        .details_label_type {
            color: $pickup_color;
        }
    }
    .dropoff {
        .details_label {
            @include box-color($dropoff_color);
        }
        .details_label_type {
            color: $dropoff_color;
        }
    }
}

/* transaction page */
#status_icon {
    width: 80px;
    height: 80px;
}

#status_icon.processing {
    background: url(/static/images/wb_site/loading_large.gif) left 0 no-repeat;
}

#status_icon.approved {
    background: url(/static/images/wb_site/processing_icons.png) left -84px no-repeat;
}

#status_icon.failed {
    background: url(/static/images/wb_site/processing_icons.png) left 10px no-repeat;
}

/* registration */
.registration .ui-bar-a{
    border-bottom: 1px solid white;
}

table.registration-progress-bar {
    width: 100%;
    height: 2em;
    border: none;
    border-spacing: 1px;
    border-collapse: collapse;

    td{
        border-left: 1px solid white;
        background-color: #DFDDDD;
        color: #9C9C9C;
        text-align: center;
        text-shadow: none;
        font-weight: normal;
    }
    td.current{
        color: white;
        font-weight: bold;
        background-color: #919191;
        @extend .top_tri;
    }
    td.done{
        color: #DFDDDD;
        background: #919191;
    }
    #fb_connect{
        background: url("/static/images/wb_site/fb_disabled.jpeg") -1px 0 no-repeat;
        width: 170px;
        height: 28px;
    }

}

/* for HD devices (iPhone retina, etc.) */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 240dpi) {
           .ride_summary {
                .ride_discount {
                    background-image: url(/static/images/mobile/ribbon_retina.png);
                    background-repeat: no-repeat;
                    @include background-size(65px 69px);
                }
           }
           .top_tri{
                    background-image: url(/static/images/mobile/top_tri__retina.png);
                    background-repeat: no-repeat;
                    @include background-size(15px 9px);
           }
}


/* RTL */
.rtl{
    .ui-page, .ui-loader {
        direction: rtl;
    }
    .rtl-listview{
        li{
            text-align: right;
        }
        .ui-btn-text{
            text-align: right;
        }
        .ui-li-has-arrow .ui-btn-inner a.ui-link-inherit{
            padding-right: 15px;
            padding-left: 30px;
        }
        .ui-btn-icon-right .ui-icon{
            right: auto;
            left: 10px;
        }
    }
}