@-webkit-keyframes spin {
	from {-webkit-transform: rotate(0deg);}
  	to {-webkit-transform: rotate(360deg);}
}

$pickup_color: #48a43e;
$dropoff_color: #bb218a;
$details_text_color: #666666;
$hotspot_color: #ed2489;

@mixin border-box{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

@mixin border-radius($r){
    -webkit-border-radius: $r;
    -moz-border-radius: $r;
    border-radius: $r;
}
@mixin box-shadow($r){
    -webkit-box-shadow: $r;
    -moz-box-shadow: $r;
    box-shadow: $r;
}

@mixin box-color($color) {
    background-color: $color;
    color: white;
    padding: .1em .2em;
}

@mixin background-size($s) {
    -moz-background-size: $s;
    -o-background-size: $s;
    -webkit-background-size: $s;
    background-size: $s;
}

hr {
    border: none;
    border-top: 1px solid #9A9A9A;
    border-image: initial;
    @include box-shadow(0 1px white);
}

.errorlist li{
    list-style: none;
}

.ui-btn-hidden {
    line-height: inherit;
}
.ui-icon-none {
    background: transparent;
    background-image: none;
}

/* make theme-e look and feel disabled - remove hover and up states */
@mixin ui-btn-e {
    border: 1px solid         #bfbfbf         /*{e-bup-border}*/;
    background:          			#eee          /*{e-bup-background-color}*/;
    font-weight: bold;
    color:        #ababab        /*{e-bup-color}*/;
    text-shadow:          0          /*{e-bup-shadow-x}*/          1px          /*{e-bup-shadow-y}*/          1px          /*{e-bup-shadow-radius}*/          #f6f6f6          /*{e-bup-shadow-color}*/;
    background-image: -webkit-linear-gradient(top,         #FFFFFF         /*{e-bup-background-start}*/,         #ffffff         /*{e-bup-background-end}*/); /* Chrome 10 , Saf5.1  */
    background-image:    -moz-linear-gradient(top,         #FFFFFF         /*{e-bup-background-start}*/,         #ffffff         /*{e-bup-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient(top,         #FFFFFF         /*{e-bup-background-start}*/,         #ffffff         /*{e-bup-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient(top,         #FFFFFF         /*{e-bup-background-start}*/,         #ffffff         /*{e-bup-background-end}*/); /* Opera 11.10  */
    background-image:         linear-gradient(top,         #FFFFFF         /*{e-bup-background-start}*/,         #ffffff         /*{e-bup-background-end}*/);
}
.ui-btn-down-e {
    @include ui-btn-e;
    a.ui-link-inherit {
    	color:        #ababab        /*{e-bup-color}*/;
    }
}
.ui-btn-hover-e {
    @include ui-btn-e;
    a.ui-link-inherit {
    	color:        #ababab        /*{e-bup-color}*/;
    }
}

ul.narrow {
    .ui-li-has-arrow .ui-btn-inner a.ui-link-inherit {
        padding-top: .2em;
        padding-bottom: .2em;
    }
}

.hidden{
    display:none;
}

.bold{
    font-weight:bold
}

.center {
    text-align: center !important;
}

.top_tri{
    background-image: url(/static/images/mobile/top_tri_normal.png);
    background-position: center top;
    background-repeat: no-repeat;
    @include background-size(15px 9px);
}

.ui-header{
    a[href="/"], a[href="#home"], #reset_booking_page{
        width: 45px;
    }

    a[href="/"] .ui-icon, a[href="#home"] .ui-icon{
        background: url(/static/images/mobile/wb_logo_18px.png) left 0 no-repeat;
        @include border-radius(0);
        @include box-shadow(none);
        margin: 0 auto;
    }
    .ui-icon-wb_reset {
        background: url(/static/images/mobile/refresh.png) left 0 no-repeat;
        margin: 0 auto;
    }
}

.wb-header {
    background: white;
    border: none;

    height: 42px;
    background: url(/static/images/mobile/header.png) center 0 no-repeat;
    background-color: white;
    margin: 0 auto;

    @include box-shadow(0 0 5px black);
}

/* theme hacks */
.ui-body-a {
    text-shadow: none;
}

.ui-btn-text {
    text-shadow: none;
}

.ui-icon,
.ui-icon-searchfield:after {
    background-image: url(themes/images/icons-18-black.png)
}
.ui-icon-alt {
    background-image: url(themes/images/icons-18-white.png);
}


.ui-body-a, .ui-overlay-a {
    background-image: url(../images/mobile/bg_normal.png);
    background-repeat: repeat;
}

.ui-input-text.ui-focus, .ui-input-search.ui-focus{
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.ui-loader {
    position: relative;
    margin: auto;
    left: auto;
    width: 130px;
    padding: 20px;
    z-index: 2000;
    box-shadow: none;
    background: rgba(0, 0, 0, 0.8);
    opacity: .88;
    border-radius: 4px;
}

.ui-loader h1{
    color: white;
    font-weight: normal;
}

.ui-loader.ui-loader-verbose{ /** loader with text **/
    margin-top: -63px ;
}
.ui-loader.ui-loader-default{ /** loader without text **/
    width: 65px;
    margin-top: -43px;
}
.ui-loader-default .ui-icon {
    margin: 0 auto 10px;
}

.ui-loader .ui-icon{
    background-color: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 1;
}

.ui-icon-loading {
    background-image: url(../images/mobile/loader_normal.png);
	-webkit-transform: rotate(360deg);
	-webkit-animation-name: spin;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count:  infinite;
	-webkit-animation-timing-function: linear;
}

/* end hacks */


/* Mobile Pages
-------------------------------------------------- */

.shadow-sep{
    direction: ltr !important;
    position: absolute;
    width: 100%;
    table{
        width: 100%;
        border-spacing: 0;
        border-collapse: collapse;
    }
    .shadow-r, .shadow-l{
        width: 117px;
        background: url(../images/wb_site/1.2/shade.png) no-repeat;
        height: 8px;
        padding: 0;
    }
    .shadow-r{
        background-position: 0 -8px;
    }
    .shadow-m{
        background: url(../images/wb_site/1.2/shade_pixel.png);
        background-repeat: repeat-x;
    }
}

#suggest_apps_page{
    #logo-container{
        position: absolute;
        top: 0;
        bottom: 150px; // height of #buttons-container
        left: 0;
        right: 0;
        text-align: center;
        background: white;
        .shadow-sep { bottom: -7px; }
    }
    #buttons-container{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 150px;
        padding: 20px;
        @include border-box;
        a[data-role="button"]{
            margin-bottom: 20px;
        }
    }
    #logo-wrapper{
        position: absolute;
        bottom: 30%;
        text-align: center;
        width:100%;
    }
    #logo{
        font-family: 'Titillium Web';
    }
    #logo .image{
        height: 63px;
        background: url(../images/logo/logo.png) center center no-repeat;
        margin-bottom: 20px;
    }
    #logo .name{ font-size: 38px; line-height: 32px; }
    #logo .text{ font-size: 24px; }
}

#registration_page ,#validation_page, #credit_guard_page{
    .ui-header{
        h1{
            margin-right: 80px;
        }
    }
    .ui-bar-a{
        border-bottom: 1px solid white;
    }
    table.registration-progress-bar {
        width: 100%;
        height: 2em;
        border: none;
        border-spacing: 1px;
        border-collapse: collapse;

        td{
            border-left: 1px solid white;
            background-color: #DFDDDD;
            color: #9C9C9C;
            text-align: center;
            text-shadow: none;
            font-weight: normal;
            width: 33%;
        }
        td.current{
            color: white;
            font-weight: bold;
            background-color: #919191;
            @extend .top_tri;
        }
        td.done{
            color: #DFDDDD;
            background: #919191;
        }
    }
}

#registration_page{
    label {
        color: #404040;
        line-height: 1em;
        margin-top: 0.5em;
    }
    label[for="id_name"]{
        margin-top: 0;
    }
    label[for="id_agree_to_terms"]{
        margin: 0;
        .ui-btn-inner{
            padding-right: 0;
            padding-left: 32px;
            height: 1em;
        }
    }
    .ui-checkbox{
        width: 2.5em;
        margin-left: 0;
    }
    .ui-block-a{
        width: 85%;
        font-size: 0.79em;
        padding-right: 1em;
        span{
            /*margin-top: 1em;*/
        }
    }
    .ui-block-b{ width: 15%; }
    ul.errorlist{
        padding: 0;
        margin: 0;
        font-size: 0.8em;
        color: red;
    }

    #fb_connect{
        background: url("/static/images/wb_site/fb_disabled.jpeg") -1px 0 no-repeat;
        width: 170px;
        height: 28px;
    }
}

#validation_page{
    .ui-content{
        color: #424242;
        input{
           position: relative;
           right: 0.3em;
           width: 93%;
        }
    }
}

.faq, #faq_page{
    .q{
        font-weight: bold;
    }
    .a{
        color: #3B3B3B;
    }
}
/* for HD devices (iPhone retina, etc.) */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 240dpi) {
            .ui-body-a, .ui-overlay-a {
                background-image: url(/static/images/mobile/bg_retina.png);
                background-size: 72px;
            }

            .top_tri{
                    background-image: url(/static/images/mobile/top_tri__retina.png);
                    background-repeat: no-repeat;
                    @include background-size(15px 9px);
            }
            .wb-header {
                background-image: url(/static/images/mobile/header_retina.png);
                @include background-size(242px 42px);
            }
            .ui-icon-loading {
                background-image: url(/static/images/mobile/loader_retina.png);
                @include background-size(35px 35px);
            }
            .ui-header {
                a[href="/"] .ui-icon, a[href="#home"] .ui-icon{
                    background-image: url(/static/images/mobile/wb_logo_retina.png);
                    @include background-size(18px 18px);
                }
                .ui-icon-wb_reset {
                    background: url(/static/images/mobile/refresh_retina.png) left 0 no-repeat;
                    @include background-size(18px 18px);
                }

            }
            /* fixes transparent loader issue */
            .ui-loader {
                background: rgba(0, 0, 0, 0.8);
                opacity: .88;
            }

            #suggest_apps_page #logo .image {
                background: url(../images/logo/logo-retina) center center no-repeat;
                @include background-size(87px 63px);
            }
}


/* RTL */
.rtl{
    .ui-page, .ui-loader {
        direction: rtl;
    }
    .rtl-listview{
        li{
            text-align: right;
        }
        .ui-btn-text{
            text-align: right;
        }
        .ui-li-has-arrow .ui-btn-inner a.ui-link-inherit{
            padding-right: 15px;
            padding-left: 30px;
        }
        .ui-btn-icon-right .ui-icon{
            right: auto;
            left: 10px;
        }
    }
}