$pickup_color: #48a43e;
$dropoff_color: #bb218a;
$details_text_color: #666666;
$hotspot_color: #ed2489;

@mixin border-radius($r){
    -webkit-border-radius: $r;
    -moz-border-radius: $r;
    border-radius: $r;
}
@mixin box-shadow($r){
    -webkit-box-shadow: $r;
    -moz-box-shadow: $r;
    box-shadow: $r;
}

@mixin box-color($color) {
    background-color: $color;
    color: white;
    padding: .1em .2em;
}

@mixin background-size($s) {
    -moz-background-size: $s;
    -o-background-size: $s;
    -webkit-background-size: $s;
    background-size: $s;
}

hr {
    border: none;
    border-top: 1px solid #9A9A9A;
    border-image: initial;
    @include box-shadow(0 1px white);
}

//.ui-loader{
//    background: white;
//    @include box-shadow(0 0 25px gray);
//    width: 120px;
//    margin-left: -90px;
//}
//.ui-icon-loading{
//    background-image: url(/static/images/mobile/loader_normal.png);
//}

.errorlist li{
    list-style: none;
}

.ui-btn-hidden {
    line-height: inherit;
}
.ui-icon-none {
    background: transparent;
    background-image: none;
}

/* make theme-e look and feel disabled - remove hover and up states */
@mixin ui-btn-e {
    border: 1px solid         #bfbfbf         /*{e-bup-border}*/;
    background:          			#eee          /*{e-bup-background-color}*/;
    font-weight: bold;
    color:        #ababab        /*{e-bup-color}*/;
    text-shadow:          0          /*{e-bup-shadow-x}*/          1px          /*{e-bup-shadow-y}*/          1px          /*{e-bup-shadow-radius}*/          #f6f6f6          /*{e-bup-shadow-color}*/;
    background-image: -webkit-linear-gradient(top,         #FFFFFF         /*{e-bup-background-start}*/,         #ffffff         /*{e-bup-background-end}*/); /* Chrome 10 , Saf5.1  */
    background-image:    -moz-linear-gradient(top,         #FFFFFF         /*{e-bup-background-start}*/,         #ffffff         /*{e-bup-background-end}*/); /* FF3.6 */
    background-image:     -ms-linear-gradient(top,         #FFFFFF         /*{e-bup-background-start}*/,         #ffffff         /*{e-bup-background-end}*/); /* IE10 */
    background-image:      -o-linear-gradient(top,         #FFFFFF         /*{e-bup-background-start}*/,         #ffffff         /*{e-bup-background-end}*/); /* Opera 11.10  */
    background-image:         linear-gradient(top,         #FFFFFF         /*{e-bup-background-start}*/,         #ffffff         /*{e-bup-background-end}*/);
}
.ui-btn-down-e {
    @include ui-btn-e;
    a.ui-link-inherit {
    	color:        #ababab        /*{e-bup-color}*/;
    }
}
.ui-btn-hover-e {
    @include ui-btn-e;
    a.ui-link-inherit {
    	color:        #ababab        /*{e-bup-color}*/;
    }
}

ul.narrow {
    .ui-li-has-arrow .ui-btn-inner a.ui-link-inherit {
        padding-top: .2em;
        padding-bottom: .2em;
    }
}

.hidden{
    display:none;
}

.bold{
    font-weight:bold
}

.center {
    text-align: center !important;
}

.top_tri{
    background-image: url(/static/images/mobile/top_tri_normal.png);
    background-position: center top;
    background-repeat: no-repeat;
    @include background-size(15px 9px);
}

.ui-header{
    a[href="/"], a[href="#home"], #reset_booking_page{
        width: 45px;
    }

    a[href="/"] .ui-icon, a[href="#home"] .ui-icon{
        background: url(/static/images/mobile/wb_logo_18px.png) left 0 no-repeat;
        @include border-radius(0);
        @include box-shadow(none);
        margin: 0 auto;
    }
    .ui-icon-wb_reset {
        background: url(/static/images/mobile/refresh.png) left 0 no-repeat;
        margin: 0 auto;
    }
}

.wb-header {
    background: white;
    border: none;

    height: 42px;
    background: url(/static/images/mobile/header.png) center 0 no-repeat;
    background-color: white;
    margin: 0 auto;

    @include box-shadow(0 0 5px black);
}

/* theme hacks */
.ui-body-a{
    text-shadow: none;
}
/* end hacks */
#welcome_page{
    p{
        color: #656565;
        text-shadow: 0 0.15em 0 white;
        font-size: 0.9em;
    }
    .text{
        position: relative;
        top: -0.8em;
    }
    .buttons{
        margin-top: 1.4em;
        .first{
            margin-bottom: 1.2em;
        }
    }
    .welcome-img{
        width: 178px;
        height: 82px;
        background: url(/static/images/mobile/welcome.png) left top no-repeat;
        margin: 0 auto;
        margin-top: 35px;
    }
}

#home{
    .ui-icon{
        background: url(/static/images/mobile/home_icons.png) center 0 no-repeat;
        width: 43px;
        height: 43px;
        margin-left: -21.5px;
        @include border-radius(0);
    }
    .ui-btn-active{
        .ui-icon{
            background: url(/static/images/mobile/home_icons_white.png) center 0 no-repeat;
            width: 43px;
            height: 43px;
            margin-left: -21.5px;
            @include border-radius(0);
        }
        .ui-icon-shadow{
            @include box-shadow(none);
        }
    }
    .bubble {
        position: absolute;
        top:-.3em;
        right: -.3em;
        color:white;
        border-radius: 15px;
        padding: 0.2em .5em;
        border: 0.15em solid;

        @include box-shadow(0px 2px 4px 0px #666666);

        text-shadow: 0px -1px 0px black;
        filter: dropshadow(color=#690000, offx=0, offy=-1);

        background: #d60419; /* Old browsers */
        background: -moz-linear-gradient(top,  #d60419 0%, #a80002 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d60419), color-stop(100%,#a80002)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #d60419 0%,#a80002 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #d60419 0%,#a80002 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #d60419 0%,#a80002 100%); /* IE10+ */
        background: linear-gradient(top,  #d60419 0%,#a80002 100%); /* W3C */
    }
    $offset: -50px;
    #myrides_btn .ui-icon, #myrides_login_btn .ui-icon{ background-position: center 1*$offset; }
    #share_btn .ui-icon{ background-position: center 2*$offset - 4 ; }
    #settings_btn .ui-icon{ background-position: center 3*$offset - 4; }
    #feedback_btn .ui-icon{ background-position: center 4*$offset - 4; }

    .ui-btn-inner{
        padding-top: 50px;
    }
    .sub-header {
        color: white;
        text-shadow: none;
        text-align: center;
        font-size: 1.2em;
        font-weight: bold;
        background-color: #4bacc4;
        padding: .7em 0;
        border-bottom: 1px solid rgba(0,0,0,0.5);
    }
    .quarter {
        width: 25%;
    }
    .half {
        width: 50%;
    }
}

#booking_page{
    #switch_direction_container{
        position: relative;
        width: 95%;
        margin: 0 auto;
        top: -0.8em;
    }
    .desc {
        color: #7c7c7c;
        font-size: 13px;
    }
    .type, .label_box{
        @extend .bold;
    }

    .booking_widget {
        position: relative;
        top: -0.7em;
        a {
            padding-top: 0.2em;
            padding-bottom: 0.6em;
        }
    }
    hr{
        position: relative;
        top: -0.9em;
    }
    #calculate_ride_btn {
        top: -0.5em;
    }

    #choose_time_btn {
        .header {
            display: inline-block;
            margin: .6em 0 .3em 0;
        }
        .desc {
            display: inline;
            font-size: 1em;
            font-weight: bold;
            color: #424242;
        }
    }
}

#choose_ride_page, #ride_details_page, #myride_details_page{
    .ui-content{
        padding-top: 0.1em;
    }
    a[href="#ride_details_page"], a[href="#choose_ride_page"]{
        margin-bottom: 0.7em;
        margin-left: 0;
        margin-right: 0;
    }
    .order-details-link {
        text-align: center;
        color: #666;
        padding: 1em 0;
        a {
            font-weight: normal;
        }
    }
    .ride_summary {
        background: white;
        padding: 0.7em 1.3em;
        color: $details_text_color;
        text-shadow: none;
        @include box-shadow(0 0 0.4em 0.01em #404040);
        hr {margin-top: 0.8em;}
        h3 {
            text-align: right;
            margin: 0;
        }
        h3.shared{ color: #31A1D0; }
        h3.private{ color: #D07619; }
        .ui-btn{
            margin: 0;
        }
        .details{ line-height: 1em; }
        .price .value, .price .label {
            font-size: 1.7em;
            @extend .bold;
        }
        .ride_discount {
            float: left;
            position: relative;
            padding-top: 0.3em;
            left: -2em;
            top: 2.5em;
            height: 69px;
            width: 65px;
            color: white;
            @extend .bold;
            text-align: center;
            background-image: url(/static/images/mobile/ribbon_normal.png);
            background-repeat: no-repeat;
        }
    }
}

#ride_details_page, #myride_details_page {
    .ride_summary{
        font-weight: bold;
        line-height: 1.2em;
        padding: 1.5em 1.3em;
    }

    hr{
        margin-bottom: 1.3em;
    }
    .details_label, .details_label_type{
        @extend .bold;
    }
    .pickup {
        .details_label {
            @include box-color($pickup_color);
        }
        .details_label_type {
            color: $pickup_color;
        }
    }
    .dropoff {
        .details_label {
            @include box-color($dropoff_color);
        }
        .details_label_type {
            color: $dropoff_color;
        }
    }
    .desc {
        color: #7c7c7c;
        font-size: 13px;
        font-weight: normal;
    }
    .hotspot{
        .name {margin-bottom: 0;}
        .desc {margin-top: 0;}
    }
    .when p{
        margin-bottom: 0;
    }
}

#myride_details_page{
    .ui-content{
        padding-top: 15px;
    }
    .ride_summary{
        padding: 1em;
        hr{
            margin: 1.5em 0;
        }
    }
    .details_label{
        line-height: 1.8em;
    }
    .when{
        margin-bottom: 1em;
    }
    .ride_details_comment{
        margin: 1em;
    }
}

#address_page{
    .street-hn-cntr{
        position: relative;
        height: 3.3em;
        padding: 0 .4em 0 1em; // change to 0 .4em 0 .2em for iphone native
    }
    $sa_width: 60%;
    .street-cntr{
        width: $sa_width;
        margin-left: 1em;
        float: right;
    }
    .hn-cntr{
        width: 90-$sa_width;
        float:left;
    }
}

#hotspot_page{
    #hotspot_list{
        line-height: 1.3em;
    }
    li.suggest_hotspot {
        a {
            h1 {
                text-align: center;
                color: #BBBBBB;
            }
        }
    }
}

#about_page{
    .about_icon{
        width: 124px;
        height: 124px;
        background: url(/static/images/mobile/about_logo.png) left top no-repeat;
        margin: 0 auto;
    }
    .about_header{
        /*font-size: 1em;*/
        text-align: left;
    }
    .copyright{
        margin: 2em auto 3em auto;
        font-size: 1em;
        text-align: center;
        direction: ltr;
    }
    #partners_logos{
        width: 275px;
        height: 180px;
        background: url(/static/images/mobile/Mapa_Telmap.png) left top no-repeat;
        margin: 0 auto;
    }
}

#share_page{
    .note{
        font-size: 0.85em;
        color: #666;
    }
}

#login_page, #login_or_register_page {
    .ui-content{
        color: #424242;
        input {
            margin-top: 20px;
        }
        .ui-btn{
           margin: auto 0;
        }
    }
    #login-form{
        position: relative;
        top: -0.5em;
    }
    #id_password{
        margin-bottom: 1.1em;
    }

    table{
        width: 100%;
        margin: 0.5em auto;
    }
    td{
        width: 33%;
    }

    #advtgs {
        text-align: center;
        margin-top: 1em;
    }
    #advtgs ul {
        line-height: 2em;
        list-style: none;
        margin-top: 0;
        padding: 0;
    }
    li:before{
        content: "* ";
    }


}

#myrides_page{
    .ui-li-divider{
        font-size: 0.85em;
    }
    p.ui-li-desc{
        font-size: 0.85em;;
        font-weight: bold;
        line-height: 1.5em;
        color: #666;
    }

}

#registration_page ,#validation_page, #credit_guard_page{
    .ui-header{
        h1{
            margin-right: 80px;
        }
    }
    .ui-bar-a{
        border-bottom: 1px solid white;
    }
    table.registration-progress-bar {
        width: 100%;
        height: 2em;
        border: none;
        border-spacing: 1px;
        border-collapse: collapse;

        td{
            border-left: 1px solid white;
            background-color: #DFDDDD;
            color: #9C9C9C;
            text-align: center;
            text-shadow: none;
            font-weight: normal;
            width: 33%;
        }
        td.current{
            color: white;
            font-weight: bold;
            background-color: #919191;
            @extend .top_tri;
        }
        td.done{
            color: #DFDDDD;
            background: #919191;
        }
    }
}

#registration_page{
    label {
        color: #404040;
        line-height: 1em;
        margin-top: 0.5em;
    }
    label[for="id_name"]{
        margin-top: 0;
    }
    label[for="id_agree_to_terms"]{
        margin-bottom: 0;
        .ui-btn-inner{
            padding-right: 0;
            padding-left: 43px;
            height: 1em;
        }
    }
    .ui-checkbox{
        width: 2.5em;
        margin-left: 0;
    }
    .ui-block-a{
        width: 85%;
        font-size: 0.79em;
        span{
            line-height: 4em;
        }
    }
    .ui-block-b{ width: 15%; }
    ul.errorlist{
        padding: 0;
        margin: 0;
        font-size: 0.8em;
        color: red;
    }

    #fb_connect{
        background: url("/static/images/wb_site/fb_disabled.jpeg") -1px 0 no-repeat;
        width: 170px;
        height: 28px;
    }
}

#validation_page{
    .ui-content{
        color: #424242;
        input{
           position: relative;
           right: 0.3em;
           width: 93%;
        }
    }
}

#trx_page{
    color: #666666;
    #order_status {
        background: white;
        padding: 0.7em 1.3em;
        @include box-shadow(0 0 0.4em 0.01em #404040);
    }
    #order_status h3 {
        text-align: center;
    }
    #order_status .status_details {
        text-align: center;
    }
    #status_help{
        font-size: 0.8em;
        margin-bottom: 1.8em;
    }
    #status_icon {
        width: 85px;
        height: 100px;
        margin: 0 auto;
    }
    #status_icon.processing {
        width: 100px;
        background: url(/static/images/wb_site/loading_large.gif) left 0 no-repeat;
        margin-bottom: 1em;
    }

    #status_icon.approved {
        background: url(/static/images/wb_site/processing_icons.png) left -84px no-repeat;
    }

    #status_icon.failed {
        background: url(/static/images/wb_site/processing_icons.png) left 10px no-repeat;
    }
    #note{
        font-size: 0.8em;
        margin-top: 3em;
        color: #555555;
    }
}

.faq, #faq_page{
    .q{
        font-weight: bold;
    }
    .a{
        color: #3B3B3B;
    }
}
/* for HD devices (iPhone retina, etc.) */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 240dpi) {
            .ride_summary {
                .ride_discount {
                    background-image: url(/static/images/mobile/ribbon_retina.png);
                    background-repeat: no-repeat;
                    @include background-size(65px 69px);
                }
            }
            .top_tri{
                    background-image: url(/static/images/mobile/top_tri__retina.png);
                    background-repeat: no-repeat;
                    @include background-size(15px 9px);
            }
            .wb-header {
                background-image: url(/static/images/mobile/header_retina.png);
                @include background-size(242px 42px);
            }
            .ui-icon-loading {
                background-image: url(/static/images/mobile/loader_retina.png);
                @include background-size(35px 35px);
            }
            .ui-header {
                a[href="/"] .ui-icon, a[href="#home"] .ui-icon{
                    background-image: url(/static/images/mobile/wb_logo_retina.png);
                    @include background-size(18px 18px);
                }
                .ui-icon-wb_reset {
                    background: url(/static/images/mobile/refresh_retina.png) left 0 no-repeat;
                    @include background-size(18px 18px);
                }

            }
            #welcome_page {
                .welcome-img {
                    background-image: url(/static/images/mobile/welcome_retina.png);
                    @include background-size(178px 82px);
                }
            }
            #home {
                .ui-icon {
                    @include background-size(43px 242px);
                    background-image: url(/static/images/mobile/home_icons_retina.png);
                }
                .ui-btn-active {
                    .ui-icon {
                        background-image: url(/static/images/mobile/home_icons_white_retina.png);
                        @include background-size(43px 242px);
                    }
                }

            }
}


/* RTL */
.rtl{
    .ui-page, .ui-loader {
        direction: rtl;
    }
    .rtl-listview{
        li{
            text-align: right;
        }
        .ui-btn-text{
            text-align: right;
        }
        .ui-li-has-arrow .ui-btn-inner a.ui-link-inherit{
            padding-right: 15px;
            padding-left: 30px;
        }
        .ui-btn-icon-right .ui-icon{
            right: auto;
            left: 10px;
        }
    }
}