.icon-chevron-right::before {
    content: "\f053";
}
.ride-sep{
    direction: ltr;
}
#wb-logo{
    float: left;
}
#header-links{
    float: right;
}
#copy-ltd{
    direction: ltr;
}

.wb-home #landing{
    background-image: url(/static/images/wb_site/1.2/taxi_he.png);
    background-position:  center bottom;
}