body, button {
    font-family: Arial, 'Open Sans',Helvetica, sans-serif;
}

.icon-chevron-right::before {
    content: "\f053";
}
.ride-sep{
    direction: ltr;
}
#wb-logo{
    float: left;
    text-align: right;
}
#header-links{
    float: right;
}
#copy-ltd{
    direction: ltr;
}

.wb-home .ticker-container {
    direction: ltr;
}
