$site-width: 800px;
$font-size-header1: 18px;
$font-size-small: 11px;
$font-size-medium: 13px;
$font-size-big: 24px;
$font-size-huge: 35px;
$color-gray: #6C6C6A;

* {
    font-size: 12px;
    font-family: "Lucida Grande", Arial, sans-serif;
}

body{
    padding: 0;
    margin: 0;
}

.bold {
    font-weight: bold;
}

.clear {
    clear: both;
    height: 0;
    overflow: hidden;
}

ul.hz{
    li{
        list-style: none;
        display: inline;
        padding-right: 20px;
    }
}

.float-l{
    float: left;
}
.float-r{
    float: right;
}

.clickable{
    cursor: pointer;
}

a, .action_link, .ui-widget-content a {
    color: #174599;
    text-decoration: underline;
    cursor: pointer;
}

@-webkit-keyframes flash_fade {
    0%, 100% {
        opacity: 0;
    }
    10% {
        opacity: 1.0;
    }
}


#flash {
    display: none;
}

#flash.show {
    display: block;
    position: fixed;
    top: 10px;
    left: 50%;
    color: black;
    background-color: #fafad2;
    text-align: center;
    padding: 10px 25px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    border: 1px solid #b8860b;

    /*margin-left: -halfthewidthofcontainer*/
    -webkit-animation-name: flash_fade;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 5s;
    opacity: 0;
    z-index: 1000;

}
#flash.error {
    color: white;
    background-color: #8b0000;
    border: 1px solid red;
}

.order_button {
    font-size: $font-size-header1;
    font-weight: bold;
    text-shadow: 0 -1px rgba(0,0,0,0.5);
    width: 215px;
    height: 43px;
    border: none;
    -moz-border-radius: 6px;
    border-radius: 6px;
    vertical-align: text-top;
    padding: 6px 0;
    text-align: center;
    text-decoration: none;

    -webkit-box-shadow: 0px 1px 3px #404040;
    -moz-box-shadow: 0px 1px 3px #404040;
    box-shadow: 0px 1px 3px #404040;

    display: inline-block;
}

.wb_button:hover, .wb_button.hover {
    border: 1px solid #828282;
    border-bottom: 1px solid black;
    padding-top: 5px;
}

.wb_button:active, .wb_button.active {
    border: 1px solid #525252;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    /*position: relative;*/
    /*top: 1px;*/
}

.wb_button:disabled, .wb_button.disabled {
    border: none;
    opacity: 0.65;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    position: relative;
    top: 0;
    padding-top: 6px;
}

.blue {
    background: #16acd3; /* Old browsers */
    background: -moz-linear-gradient(top, #16acd3 0%, #0e82a8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#16acd3), color-stop(100%,#0e82a8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #16acd3 0%,#0e82a8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #16acd3 0%,#0e82a8 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #16acd3 0%,#0e82a8 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#16acd3', endColorstr='#0e82a8',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #16acd3 0%,#0e82a8 100%); /* W3C */

    color: white;
}

.orange{
    background: #ffa733; /* Old browsers */
    background: -moz-linear-gradient(top, #ffa733 0%, #d47d1f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa733), color-stop(100%,#d47d1f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffa733 0%,#d47d1f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffa733 0%,#d47d1f 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #ffa733 0%,#d47d1f 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa733', endColorstr='#d47d1f',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #ffa733 0%,#d47d1f 100%); /* W3C */

    color: white;
}

/*********************************************/
/***************** BASE SITE *****************/
/*********************************************/
body.base-site{
    background-color: gray;
}

#header-container{
    background-image: url(/static/images/header_bg.png);
    background-repeat: repeat-x;
    position: absolute;
    top: 0;
    width: 100%;
    height: 88px;
    z-index: 1;

    #site-header{
        width: $site-width;
        margin: 0 auto;
        #wb_logo{
            background-image: url(/static/images/logo_header.png);
            height: 88px;
            width: 111px;
            float: left;
            margin-left: 60px;
        }
        ul{
            float: right;
        }
        ul li:hover{
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

#content-container{
    background: #F9F8EA;
    border-top: 3px solid white;
    margin-top: 370px;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    position: relative;
    top: -18px;
    z-index: 1px;
    #site-content{
        width: $site-width;
        margin: 0 auto;
    }
}

#footer-container{
    background: gray;
    #site-footer{
        width: $site-width;
        margin: 0 auto;
        #sitemap{
            float: left;
            ul{
                list-style: none;
                display:inline-block;
            }
            ul :first-child{
                font-weight: bold;
                margin-bottom: 5px;
            }
        }
        .tools{
            float: right;
        }
    }
}

/*********************************************/
/******************* HOME ********************/
/*********************************************/
.wb_home{
    #map_container {
        width: 100%;
        height: 300px;
        position: relative;
        top: -285px;
        z-index: -1;
    }

    #map { height: 100%; width: 100%;}

    #banner { height: 100%; width: 100%; background: orange; }

    #tryitnow{
        z-index: 2;
        background: yellow;
        width: 70px;
        height: 30px;
        border: 1px solid;
        position: relative;
        top: 140px;
        left: 1040px;
    }

    #booking_container{
        position: relative;
        top: -50px;
        width: $site-width;
        height: 240px;

        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;

        -webkit-box-shadow: 0px 0px 6px 0px #747474;
        -moz-box-shadow: 0px 0px 6px 0px #747474;
        box-shadow: 0px 0px 6px 0px #747474;
    }

    #order_form_container{
         float: left;
         width: 303px;
         height: 100%;
         background-color: #DADADA;
         border-right: 1px solid white;

        -webkit-border-radius: 12px 0 0 12px;
        -moz-border-radius: 12px 0 0 12px;
        border-radius: 12px 0 0 12px;
        .ribbon{
            font-size: $font-size-header1;
            font-weight: bold;
            padding-left: 56px;
            line-height: 39px;
            color: white;
            background: url(/static/images/wb_site/ribbon.png) 6px 0 no-repeat;
            width: 167px;
            height: 56px;
            position: relative;
            left: -30px;
            margin-top: 17px;
        }
    }

    #order_form{
        margin: -6px 0 0 28px;
        .address_input{
            height: 35px;
            width: 214px;
            padding-left: 33px;
            line-height: 34px;
            background: url(/static/images/wb_site/field_icons.png) 6px 0 no-repeat white;
            margin-bottom: 21px;
            font-size: $font-size-small;
            color: $color-gray;
        }
        .address_input:hover{
            -webkit-box-shadow:inset 0px 0px 1px black;
            -moz-box-shadow:inset 0px 0px 1px black;
            box-shadow:inset 0px 0px 1px black;
        }
        .address_input.from{
            background: url(/static/images/wb_site/field_icons.png) 6px -3px no-repeat white;

        }
        .address_input.to{
            background: url(/static/images/wb_site/field_icons.png) 6px -48px no-repeat white;
        }
        .address_input.time{
            background: url(/static/images/wb_site/field_icons.png) 6px -93px no-repeat white;
        }
    }

    #ride_details_container{
        float: right;
        height: 100%;
        width: 495px;
        border-left: 1px solid #BEBEBB;

        > div{
            display: inline-block;
        }
    }
    .ride_details{
        background: white;
        height: 100%;
        width: 242px;
        color: $color-gray;
        .header{
            display: block;
            height: 52px;
            line-height: 52px;
            padding-left: 49px;
            margin-left: 17px;
            margin-top: 13px;
            font-size: $font-size-header1;
            font-weight: bold;
        }
        ul{
            width: 100%;
            list-style: none;
            position: relative;
            left: -20px;
            top: -16px;
        }
        li{
            padding-left: 5px;
            font-size: $font-size-small;
            line-height: 52px;
        }
        li:first-child{
            line-height: 45px;
        }
        .price{
            font-size: $font-size-huge;
            font-weight: bold;
            position: relative;
            left: 62px;
            .label{
                font-size: 29.3px;
                margin-left: 5px;
            }
        }
        .time{
            font-size: $font-size-big;
            font-weight: bold;
            position: relative;
            left: 32px;
            .label{
                font-size: $font-size-medium;
                margin-left: 5px;
            }
        }
        .order_button{
            margin-left: 17px;
            margin-top: -20px;
        }
    }
    #sharing_details{
        float: right;
        -webkit-border-radius: 0 12px 12px 0;
        -moz-border-radius: 0 12px 12px 0;
        border-radius: 0 12px 12px 0;

        .header{
            background: url(/static/images/wb_site/shared_icon.png) left 0 no-repeat;
            color: #FF921E;
        }
        ul{
            left: -24px;
        }
        li{
            background: url(/static/images/wb_site/orange_bracket.png) left 35px no-repeat;
        }
        .order_button{
            margin-left: 11px;
        }
    }
    #private_details{
        float: left;
        .header{
            background: url(/static/images/wb_site/private_icon.png) left 0 no-repeat;
            color: #16ACD3;
        }
        li{
            background: url(/static/images/wb_site/blue_bracket.png) left 35px no-repeat;
        }
    }
    #ticket-perforation{
        background-image: url(/static/images/wb_site/ticket-perforation.png);
        height: 100%;
        width: 11px;
        float: left;
    }

    .tooltip {
        display: none;
        background: transparent url(/static/images/jquery_tools/white_arrow_big.png);
        font-size: 12px;
        height: 166px;
        width: 320px;
        padding: 25px;
    }

    .tooltip h2{ text-decoration: underline;}

    #select_input_helper .content_container{ position: relative; top: 18px; width: 80%;}
    #select_input_helper #sel_hotspot {float: left;left: 50px;position: relative; color: #174599;}
    #select_input_helper #sel_address {float: right; border-left: 1px solid; padding-left: 20px; color: #174599;}
    #select_input_helper .link:hover { text-decoration: underline;}
    #select_input_helper .img { display: block; height:24px; width: 24px; background: transparent url(/static/images/add_24.png); position: relative; left: 24px; bottom: 5px;}


    #hotspot_input_helper label {display:block;margin: 15px;}

    #address_input_helper label {margin-bottom: 15px;margin-left: 10px;}
    #address_input_helper label.city{display: block;}
    #address_input_helper #id_house_number{ width: 25px;}
    #address_input_helper #id_street_address{ width: 150px;}
    #address_input_helper .hn_error {position:absolute; left: 285px; color: red;bottom: 81px;}

    #datetime_input_helper #time_radio{ float: left; }
    #datetime_input_helper #time_radio label{ display: block; margin-bottom: 15px; }
    #datetime_input_helper #time_tools{ float: right; position: relative; top: 15px; right: 25px;}
    #datetime_input_helper #id_hotspot_datepicker{ width: 80px; }

    .tooltip_footer{
        position: absolute;
        bottom: 40px;
        width: 334px;
        /*background-color: #EDEDED;*/
        height: 30px;
        left: 17px;
    }

    .tooltip_footer .next_btn{ float: right; position: relative; bottom: 5px; right: 10px;}
    .tooltip_footer .help, .tooltip_footer a{position:relative; left: 17px; top: 1px;}
    .tooltip_footer .ui-button-text{ padding: 5px; }

    .tooltip_loader {
        display: none;
        background: url(../images/loader1.gif) left 0 no-repeat;
        height: 24px;
        width: 24px;
        position: relative;
        left: 250px;
        bottom: 18px;
    }

} // HOME


/*********************************************/
/******************* REGISTRATION ************/
/*********************************************/
.registration{
    .header{
        h1{
            float:left;
        }
        h2{
            float:right;
        }
    }
    #validation, #passenger_form{
        margin-top: 20px;
        border-top: 1px solid;
    }
    #verification_status {
        width: 20px;
        height: 20px;
        border:  1px solid black;
        display: inline-block;
    }
    #verification_status.success {
        background-color: #008000;
    }
    #verification_status.error {
        background-color: red;
    }
    #verification_status.sending {
        background-color: orange;
    }
}


/** Hotspot page **/
.rtl.hotspot_page #map_container {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 65%;
}

.rtl.hotspot_page #map {
    height: 100%;
    width: 100%;
}

.rtl.hotspot_page.textinput #map_container {
    width: 55%;
}

/** producers page **/
.producer_page #ordering_container {
    margin-top: 25px;
    margin-right: 25px;
}

.producer_page .passenger {
    margin: 10px 0 10px;
}

.producer_page #p_actions {
    margin: 20px 4px 20px;
}

.producer_page #hotspot_datetime, .producer_page .passenger_details{
    display: inline;
    position: absolute;
    right: 140px;
}

.producer_page .passenger_details {
    margin-top: 2px;
}

.producer_page #book_order {
    margin-top: 20px;
}

.rtl.producer_page #map_container {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 65%;
}

.rtl.producer_page #map {
    height: 100%;
    width: 100%;
}

.rtl.producer_page.textinput #map_container {
    width: 55%;
}
