@mixin size($w, $h){
    width: $w;
    height: $h;
}

/* Angular
-------------------------------------------------- */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}

/* Theme hacks
-------------------------------------------------- */
.navbar-inner{
    background: white;
}
.navbar .nav > li > a{
    color: black;
}
.navbar .nav > li > a:hover{
    color: gray;
}
.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle{
    background-color: inherit;
}

#header {
    padding: 15px 0;
    h1, h2, h3, h4, h5, h6{
        font-weight: normal;
    }
}
#landing {
    h1, h2, h3, h4, h5, h6{
        font-weight: normal;
    }
}

.bs-docs-sidenav a i.icon-chevron-right{
  background-image: none !important;
}
.bs-docs-sidenav a.active i.icon-chevron-right{
  background-image: none !important;
}

/* Sidenav from Bootstrap docs
-------------------------------------------------- */

.bs-docs-sidenav {
  margin: 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
  display: block;
  *width: 190px;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
  opacity: 1;
}

/* General
-------------------------------------------------- */
#wbLogo{
    background: url(/static/images/wb_site/1.2/logo_header.png) left bottom no-repeat;
    width: 180px;
    height: 32px;
    padding: 0;
    color:  #000000;
    line-height: 1.5em;
    margin-left: 40px;
}

#content{
    min-height: 500px;
}

.wb-container{
    position: relative;
    background: #FBFBFB;
    box-shadow: 1px 1px 6px;
    background-color: #f5f5f5;
    border-radius: 3px;
}

/* Common directives
-------------------------------------------------- */
.ride-pics{
    position: relative;
    text-align: center;

    .ride-pics-col{
        display: inline-block;
        text-align: center;
        vertical-align: top;
        margin-right: 20px;
    }
    .ride-pics-col:last-child{
        margin-right: 0;
    }
    .ride-pic{
        border: 1px solid lightgray;
        width: 50px;
        height: 50px;
        box-sizing: border-box;
    }
    .ride-pic .pic{
        width: 48px;
        height: 48px;
    }
    .pic.user-picture{
        width: 44px;
        height: 44px;
        padding-top: 2px;
    }

    .user-silhouette{
        background: url(../images/wb_site/1.2/user.png) center top no-repeat;
    }
    .you .add-picture{
        background: url(../images/wb_site/1.2/addphoto.png) center center no-repeat;
    }
    .empty-seat{
        background: url(../images/wb_site/1.2/empty_seat.png) center center no-repeat;
    }
    .name{
        font-size: 13px;
    }
}


.rides-container.blur .rides-cat-header, .rides-container.blur .no-match, .rides-container.blur .ride{
    opacity: 0.5;
}
.rides-container.blur .ride.focus{
    opacity: 1;
}
.rides-container{
    .rides-cat{

    }
    .rides-cat-header{
        height: 20px;
        text-align: left;
        background: #414141;
        color: white;
        padding: 5px;
    }
    .no-match {
         text-align: center;
         padding: 30px;
         padding-bottom: 38px;
         font-weight: bold;
         font-size: 14px;
         text-shadow: 0 0 7px white;
    }
    .rides-list{
    }
    .ride{
        box-sizing: border-box;
        padding: 20px 0;
        cursor:pointer;
        text-align: center;
    }
    .ride-passengers{
        position: relative;
        border-right: 1px dotted gray;
    }
    .ride .type-indicator{
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 10px;
    }
    .ride.existing .type-indicator, .ride.shared .type-indicator{
        background: #ffc57a;
    }
    .ride.new .type-indicator, .ride.private .type-indicator{
        background: #7AC2FF;
    }
    .ride-pickup-details{
        height: 70px;
        border-right: 1px dotted gray;
        padding: 10px 0;
    }
    .ride-price-details{
        height: 70px;
        padding: 20px 0;
        .price{
        }
    }
    .ride-action{
        box-sizing: border-box;
        padding: 15px;
    }
    .ride-comment{
        padding: 11px;
        background: #E9E9E9;
        border-radius: 5px;
        text-align: center;
    }
    .ride-sep{
        position: absolute;
        width: 100%;
        table{
            width: 100%;
            border-spacing: 0;
            border-collapse: collapse;
        }
        .shadow-r, .shadow-l{
            width: 117px;
            background: url(../images/wb_site/1.2/shade.png) no-repeat;
            height: 8px;
            padding: 0;
        }
        .shadow-r{
            background-position: 0 -8px;
        }
        .shadow-m{
            background: url(../images/wb_site/1.2/shade_pixel.png);
            background-repeat: repeat-x;
        }
    }
}

/* Website pages
-------------------------------------------------- */
.wb-home{
    #content {
        padding-top: 66px;
    }
    #content hr{
        margin: 150px 0 50px;
    }
    #appShots{
        position: absolute;
        /*padding: 20px 0;*/
        background: url(/static/images/wb_site/1.2/app_shots.png) center top no-repeat;
        @include size(355px, 480px);
    }

}

.my-rides-page{
    .modal-footer {
        .modal-buttons{
            display: inline-block;
        }
        .progress {
            margin: 10px 0 0;
        }
        .alert{
            margin-top: 20px;
        }
    }
    .rides-container{
        margin-bottom: 50px;
    }
    .rides-container .progress{
        margin: 0;
    }

}

.booking-page{
    .booking-panel{
        padding: 20px;
        background-color: #F1F1F1;
        text-align: left;
        border-radius: 5px;
    }
    .alerts{
        margin-bottom: 10px;
        text-align: center;
        .progress{
            margin-bottom: 4px;
        }
    }
    #map-container{
        box-sizing: border-box;
        height: 480px;
        padding: 4px;
        border-radius: 5px;
        overflow: hidden;
        border: 2px solid #F1F1F1;
    }
    #map{
        height: 480px;
        border-radius: 5px;
    }
    #booking-form{
        box-sizing: border-box;
    }
    #booking-form .controls{
        margin-left: auto;
    }
    #booking-form .control-label{
        width: 35px;
        margin-right: 5px;
        background: url(/static/images/wb_site/1.2/booking_icons.png) left top no-repeat;
    }
    #booking-form .control-label.time{ background-position: 0 0; }
    #booking-form .control-label.ride-type{ background-position: 0 -62px; }
    #booking-form .control-label.luggage{ background-position: 0 -124px; }
    #booking-form .control-label.seats{ background-position: 0 -188px; }
    #booking-form #private-price {
        text-align: center;
    }

    #booking-form input[type="text"]{
        margin-bottom: 20px;
    }
    #pickup-time{
        margin-left: 1px;
    }
    #offers-container{
        margin-bottom: 10px;
    }
    #offers-disclaimer{
        margin-top: 20px;
        text-align: left;
    }
    #summary-header{
        padding: 10px;
        box-sizing: border-box;
        .icon-ok{
            margin-right: 10px;
            color: green;
        }
    }
    #summary-header + hr{
        margin: 0;
    }
    #summary-footer{
        padding: 10px;
        text-align: left;
        background-color: #F1F1F1;
    }
    #summary-info{
        padding: 15px;
    }
    #summary-buttons{
        i.icon-facebook{
            font-size: 1.5em;
            line-height: .7em;
            margin-right: .3em;
        }
    }
}

.about-faq-contact{
    .bs-docs-sidebar, section{
        padding-top: 85px;
    }
    .affix{
        top: 80px;
    }
    h1{
        margin-top: 0;
    }
}
