{% extends "admin/base.html" %}
{% load i18n %}
{% block extrahead %}
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/themes/base/jquery-ui.css" type="text/css" media="all" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.timers-1.2.min.js"></script>

{% endblock extrahead %}        
{% block title %}{{ title }} | {% trans 'WAYbetter is better' %}{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'WAYbetter' %}</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
