{% extends "admin/change_form.html" %}
{% load value_from_settings %}
{% block extrahead %}
    {{ block.super }}
    <link rel="stylesheet" href="/static/css/colorPicker.css" type="text/css" media="all"/>

    <style type="text/css">
        .colMS {
            margin-left: 660px !important;
        }

        #content-related {
            position: static;
        }

        #map_container {
            width: 650px;
            height: 650px;
            top: 85px;
            left: 0;
            position: absolute;
        }

        #map {
            width: 650px;
            height: 650px;
        }

        .editing {
            font-weight: bold;
        }

        .row-dragging {
            background-color: #ffd385;
        }
    </style>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
    <script src="/static/js/libs/jquery.colorPicker.js"></script>
    <script src="/static/js/libs/jquery.tablednd_0_5.js"></script>
    <script src="http://api.navigator.telmap.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="/static/js/utils.js"></script>
    <script src="/static/js/ordering.js"></script>
    <script type="text/javascript">

    var MapPointsHelper = Object.create({
        polygons			    : {},
        map_listeners		    : [],
        polygon_listeners		: [],
        currently_editing_id	: undefined,
        drag_marker			    : undefined,
        last_listener		    : undefined,

        removeDragMarker        : function () {
            if (this.drag_marker) {
                this.drag_marker.setMap();
                this.drag_marker = undefined;
            }
        },

        removeListeners         : function () {
            $.each(this.map_listeners, function(i, e) {
                telmap.maps.event.removeListener(e);
            });

            $.each(this.polygon_listeners, function(i, e) {
                telmap.maps.event.removeListener(e);
            });
        },

        centerMap               : function () {
            var that = this;
            var bounds = new telmap.maps.LatLngBounds();
            $.each(that.polygons, function(i, polygon) {
                $.each(polygon.getPath().array, function(i, point) {
                    bounds.extend(point);
                })
            });

            OrderingHelper.map.fitBounds(bounds);
            OrderingHelper.map.panToBounds(bounds);
        },

        renderPolygons          : function () {
            var that = this;
            $(".points").find("input[type=hidden]").each(function(i, e) {
                var val = $(e).val();
                if (val) {
                    var val_array = val.split("|");
                    var polygon = that.getPolygon(e.id);
                    $.each(val_array, function(i, e) {
                        if (i % 2 == 0) {
                            that.updatePolygonPoint(polygon, -1, val_array[i], val_array[i + 1]);
                        }
                    });
                    console.log("found val:" + val);
                }
            })
        },

        updatePolygonPoint      : function (polygon, index, lat, lng) {
            var path = polygon.getPath() || new telmap.maps.MVCArray([]);
            var point = new telmap.maps.LatLng(lat, lng);

            if (index > path.getLength() || index < 0) {
                path.push(point);
            } else {
                path.setAt(index, point);
            }
            polygon.setPath(path);
            polygon.setMap(OrderingHelper.map);

        },

        pointDistance           : function (p1, p2) {
            return Math.sqrt(Math.pow((p1.lat() - p2.lat()), 2) + Math.pow((p1.lng() - p2.lng()), 2));
        },

        getPolygon              : function (id) {
            var that = this;
            if (! (id in that.polygons)) {
                console.log("creating new polygon: " + id);

                var color = $("#" + id.replace("points", "color")).val();
                that.polygons[id] = new telmap.maps.Polygon({
                    fillColor: color,
                    fillOpacity: 0.4,
                    strokeColor: color,
                    strokeOpacity: 1.0,
                    strokeWeight: 2,
                    path: new telmap.maps.MVCArray([])
                });

                // redispatch mouse events to map
                telmap.maps.event.addListener(that.polygons[id], "click", function(e) {
                    telmap.maps.event.trigger(OrderingHelper.map, "click", e);
                });
                telmap.maps.event.addListener(that.polygons[id], "mousemove", function(e) {
                    telmap.maps.event.trigger(OrderingHelper.map, "mousemove", e);
                });
            }
            return that.polygons[id];
        },

        doEditPolygon           : function (id) {
            var that = this;
            if (that.currently_editing_id) {
                // clear old listeners
                that.removeListeners();
                that.removeDragMarker();
                $("#edit-" + id).removeClass("editing").text("Edit");

                // update stored val
                var path = that.getPolygon(id).getPath();
                if (path) {
                    var val_array = [];
                    $.each(path.array, function(i, e) {
                        val_array.push(e.lat());
                        val_array.push(e.lng());
                    });
                    $("#" + id).val(val_array.join("|"));
                }
            }

            if (id == that.currently_editing_id) { // just stop editing
                that.currently_editing_id = undefined;
            } else { // start editing another polygon
                that.currently_editing_id = id;
                $("#edit-" + id).addClass("editing").text("Done");

                var polygon = that.getPolygon(that.currently_editing_id);
                that.map_listeners.push(telmap.maps.event.addListener(OrderingHelper.map, 'click', function(e) {
                    that.updatePolygonPoint(polygon, -1, e.latLng.lat(), e.latLng.lng());
                }));

                that.map_listeners.push(telmap.maps.event.addListener(OrderingHelper.map, 'rightclick', function(e) {
                    var path = polygon.getPath();
                    if (path) {
                        path.removeAt(path.length - 1);
                    }
                }));

                that.map_listeners.push(telmap.maps.event.addListener(OrderingHelper.map, "mousemove", function(e) {
                    var distances = $.map(polygon.getPath().array, function(p, i) {
                        return that.pointDistance(p, e.latLng);
                    });
                    var min_index = distances.indexOf(Math.min.apply(null, distances));
                    if (! that.drag_marker || that.drag_marker.getPosition() != polygon.getPath().getAt(min_index)) {
                        that.createDragMarker(polygon, min_index);
                    }
                }));

            }
        },

        createDragMarker        : function (polygon, point_index) {
            var that = this;
            that.removeDragMarker();
            var path = polygon.getPath();
            var point = path.getAt(point_index);
            var icon_image = new telmap.maps.MarkerImage("/static/images/polygon_drag_marker.png", undefined, undefined, {x:5, y:5});
            that.drag_marker = new telmap.maps.Marker({
                map:        OrderingHelper.map,
                position:   point,
                draggable:  true,
                icon:       icon_image,
                cursor:     'move',
                title:      'Drag to edit polygon'
            });
            telmap.maps.event.addListener(that.drag_marker, 'dragend', function(e) {
                path.setAt(point_index, that.drag_marker.getPosition());
                polygon.setPath(path);
                polygon.setMap(OrderingHelper.map);
            });

        },

        deletePoint             : function () {
            var that = this;
            if (that.drag_marker && that.currently_editing_id) {
                var polygon = that.getPolygon(that.currently_editing_id);
                var path = polygon.getPath();
                $.each(path.array, function(i, p) {
                    if (p == that.drag_marker.getPosition()) {
                        path.removeAt(i);
                        that.removeDragMarker();
                        return false;
                    }
                });
            }
        },
        changePolygonColor      : function(p_id, color) {
            var that = this;
            if (p_id in that.polygons) {
                var polygon = that.getPolygon(p_id);
                polygon.setOptions({
                    fillColor: color,
                    strokeColor: color
                });
            }
        }

    });
    
    $(function() {

        setTimeout(function() {
            $(document).trigger('map_loaded');
        }, 1000);

        $("#city_areas-group").find("table").tableDnD({
            onDragClass: "row-dragging",
            onDrop: function(table, row) {
                var rows = table.tBodies[0].rows;
                var name_re = /(.*-)\d(-.*)/;
                $.each(rows, function(i, r) {
                    $(r).removeClass("row1 row2");
                    if (i % 2 == 0) {
                        $(r).addClass("row1");
                    } else {
                        $(r).addClass("row2");
                    }

                    $(r).find("td").each(function(j, td) {
                        if ($(td).attr("class") == "original") {
                            return;
                        }
                        var $input = $(td).find("input");
                        if ($input.attr("id")) {
                            $input.attr("id", $input.attr("id").replace(name_re, "$1" + i + "$2"));
                        }
                        if ($input.attr("name")) {
                            $input.attr("name", $input.attr("name").replace(name_re, "$1" + i + "$2"));
                        }
                    })
                });

                console.log(row);
            }
        });
        $(".edit-polygon").live("click", function() {
            MapPointsHelper.doEditPolygon(this.id.replace("edit-", ""));
        });

        $("#city_areas-group").find(".color").find("input").live("change", function() {
            var color = $(this).val();
            var p_id = this.id.replace("color", "points");
            MapPointsHelper.changePolygonColor(p_id, color);
        });

        $(document).keydown(function(e) {
            if (e.keyCode == 46) {
                MapPointsHelper.deletePoint();
            }

        });

        $(document).bind("map_loaded", function() {
            MapPointsHelper.renderPolygons();
            MapPointsHelper.centerMap();
        });


        OrderingHelper.init({
            telmap_user:                "{% value_from_settings "TELMAP_API_USER" %}",
            telmap_password:            "{% value_from_settings "TELMAP_API_PASSWORD" %}",
            telmap_languages:           "he"
        });
    });


    </script>
{% endblock %}

{% block coltype %}colMS{% endblock coltype %}

{% block after_related_objects %}
    <div id="content-related">
        <div id="map_container">
            <div id="map"></div>
        </div>
    </div>
{% endblock %}
