{% extends "admin/map_points.html" %}

{% block extrahead %}
    {{ block.super }}

    <script type="text/javascript">
        $(function() {
            $.extend(MapPointsHelper, {
                hotspot_marker          : undefined,
                hotspot_circle          : undefined,
                hotspot_lat             : {{ original.lat }},
                hotspot_lon             : {{ original.lon }},
                hotspot_fill_color      : '#BA1F1F',
                hotspot_fill_opacity    : 0.5,
                hotspot_stroke_color    : '#671111',
                hotspot_stroke_opacity  : 1,
                hotspot_stroke_weight   : 2,
                hotspot_radius          : 100,
                hotsport_marker_image   : '/static/images/hotspot_red_marker.png',
                hotsport_marker_offset  : {x:32, y:63},
                city_area_re            : /city_area$/,

                renderHotspot       : function() {
                    var that = this;
                    var point = new telmap.maps.LatLng(that.hotspot_lat, that.hotspot_lon);
                    var icon_image = new telmap.maps.MarkerImage(that.hotsport_marker_image, undefined, undefined, that.hotsport_marker_offset);
                    that.hotspot_marker = new telmap.maps.Marker({
                        map:        OrderingHelper.map,
                        position:   point,
                        icon:       icon_image,
                        title:      "Hotspot"
                    });

                    that.hotspot_circle = new telmap.maps.Circle({
                        map: OrderingHelper.map,
                        center: point,
                        radius: that.hotspot_radius,
                        strokeColor: that.hotspot_stroke_color,
                        strokeOpacity: that.hotspot_stroke_opacity,
                        strokeWeight: that.hotspot_stroke_weight,
                        fillColor: that.hotspot_fill_color,
                        fillOpacity: that.hotspot_fill_opacity,
                        zIndex: 1000
                    });
                },
                centerMap           : function () {
                    var that = this;
                    var bounds = new telmap.maps.LatLngBounds();
                    if (that.hotspot_marker) {
                        bounds.extend(that.hotspot_circle.getCenter());
                    }
                    $.each(that.polygons, function(i, polygon) {
                        $.each(polygon.getPath().array, function(i, point) {
                            bounds.extend(point);
                        })
                    });
                    if (! bounds.isEmpty()) {
                        OrderingHelper.map.fitBounds(bounds);
                        OrderingHelper.map.panToBounds(bounds);
                    }
                },
                updateActivePolygons : function() {
                    var that = this;
                    var city_areas_ids = [];
                    $('select').each(function(i, element) {
                        var $element = $(element);
                        var val = $element.val();
                        if (that.city_area_re.test($element.attr("name")) && val) {
                            city_areas_ids.push(val);
                        }
                    });
                    city_areas_ids = city_areas_ids.unique();
                    $.ajax({
                        url: "{% url common.services.get_polygons %}",
                        dataType: "json",
                        type: "POST",
                        data: {data: JSON.stringify(city_areas_ids)},
                        success:    function(data) {
                            that.removeAllPolygons();
                            $.each(data, function(j, dic) {
                                $.each(dic, function(key, val_array) {
                                    var polygon = that.getPolygon(key, {color: $(document).data("colors")[key] });
                                    $.each(val_array, function(i, e) {
                                        if (i % 2 == 0) {
                                            that.updatePolygonPoint(polygon, -1, val_array[i], val_array[i + 1]);
                                        }
                                    });
                                })
                            });
                            that.centerMap();
                        }
                    });

                }
            });

            $(document).bind("map_loaded", function() {
                MapPointsHelper.renderHotspot();
                MapPointsHelper.updateActivePolygons();
            });

            $('select').change(function() {
                MapPointsHelper.updateActivePolygons();
            })
        });


    </script>
{% endblock %}