{% load i18n %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl" class="rtl"{% endif %}>
<head>
<title>WAYbetter</title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1" />

{#    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.css" />#}
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.css" />


    <link rel="stylesheet" href="/static/css/add2home.css">
    <link rel="stylesheet" type="text/css" href="/static/css/waybetter.mobile.css" />
    {% if station %}
        <link rel="apple-touch-startup-image" href="{{ station.app_splash_url }}">
        <link rel="apple-touch-icon-precomposed" media="screen and (resolution: 163dpi)" href="{{ station.app_icon_url }}" />
        <link rel="apple-touch-icon-precomposed" media="screen and (resolution: 326dpi)" href="{{ station.app_icon_url }}" />
    {% else %}
        <link rel="apple-touch-startup-image" href="/static/images/mobile/splash_screen.jpg">
        <link rel="apple-touch-icon-precomposed" media="screen and (resolution: 163dpi)" href="/static/images/mobile/icon.png" />
        <link rel="apple-touch-icon-precomposed" media="screen and (resolution: 326dpi)" href="/static/images/mobile/icon_114.png" />
    {% endif %}
    <style>
        #map_container {
            height: 100%;
        }
    </style>
    {% block extrastyle %}{% endblock %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script src="/static/js/utils.js"></script>
    <script>
        $(document).bind("mobileinit", function(){
            $.extend($.mobile, {
                loadingMessage: "{% trans 'Loading...' %}"
            });
            $.mobile.page.prototype.options.backBtnText = "{% trans 'Back' %}";
            $.mobile.page.prototype.options.addBackBtn = true;
        })
    </script>
{#    <script src="http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.js"></script>#}
    <script src="http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.js"></script>

    <script src="/static/js/mylibs/jquery.form.js"></script>
    <script src="/static/js/mobile/ordering.mobile.js" defer="defer"></script>
    <script src="http://api.navigator.telmap.com/maps/api/js?sensor=false" defer='defer'></script>
    <script defer="defer">
        $(document).ready(function() {
            OrderingHelper.init({
                resolve_address_url:        "{% url ordering.passenger_controller.resolve_address %}",
                resolve_coordinate_url:     "{% url ordering.passenger_controller.resolve_coordinates %}",
                estimation_service_url:     "{% url ordering.passenger_controller.estimate_ride_cost %}",
                order_history_url:          "{% url ordering.passenger_controller.get_passenger_orders_history_data %}",
                get_order_address_url:      "{% url ordering.passenger_controller.get_order_address %}",
                send_sms_url:               "{% url ordering.passenger_controller.send_sms_verification %}",
                validate_phone_url:         "{% url ordering.passenger_controller.validate_phone %}",
                not_a_passenger_response:   "{{ not_a_passenger }}",
                not_a_user_response:        "{{ not_a_user }}",
                telmap_user:                "{{ telmap_user }}",
                telmap_password:            "{{ telmap_password}}",
                telmap_languages:           "{{ telmap_languages }}",
                messages:         {
                    estimation_msg:          "{% trans 'Fill pickup and dropoff for price and time estimation ' %}",
                    finding_location:        "{% trans 'Finding Your Location...' %}",
                    sorry_msg:               "{% trans 'No Location Found' %}",
                    no_location_msg:         "{% trans 'Unable to locate your position' %}",
                    order_sent_msg:          "{% trans 'Order Sent!\n\nAn SMS with ride details will be sent soon'%}",
                    enter_address:           "{% trans 'Enter Address' %}",
                    are_you_sure:            "{% trans 'Are you sure you want to order a taxi now?' %}",
                    try_again:               "{% trans 'Try Again' %}",
                    send_verification:       "{% trans 'Send Verification Code' %}",
                    sending:                 "{% trans 'Sending...' %}",
                    code_sent:               "{% trans 'Code Sent' %}",
                    could_not_resolve:       "{% trans 'Could not resolve address' %}",
                    looking_for:             "{% trans 'Looking for address' %}",
                    pick_me_up:              "{% trans 'Pick Me Up' %}",
                    no_house_number:         "{% trans 'Address Incomplete: please enter a house number' %}",
                    no_history:              "{% trans 'No rides to show' %}"
                }
            });
            var $radios = $('form.languages input:radio[name=language]');
            if($radios.is(':checked') === false) {
                $radios.filter('[value={{ LANGUAGE_CODE }}]').attr('checked', true);//.checkboxradio("refresh");
            }
			
			// fix ride_cost_estimate location
            $("#ride_cost_estimate").css({top: $(document).height() - 235 + "px"}).removeClass("fade");
        });
    </script>
    <script type="text/javascript">
		var addToHomeConfig = {
			animationIn:'bubble',		// Animation In
			animationOut:'drop',		// Animation Out
            message: '{{ LANGUAGE_CODE }}',
            lifespan: 10000,
            touchIcon: true
		};
    </script>
    <script type="application/javascript" src="/static/js/mobile/add2home.js" defer="defer"></script>

    {% block extrahead %}
    {% endblock %}

</head>
{% load i18n %}

<body>
    {# HOME PAGE #}
    <div id="home" data-role="page" data-fullscreen="true">
        <div id="content" data-role="content">
            <div id="gray_header"  data-inline="true">
                <form id="order_form" method="post" action="{% url ordering.passenger_controller.book_order %}">
                    {% if station %}
                    <input type="hidden" name="originating_station" id="id_originating_station" value="{{ station.id }}" />
                    {% endif %}
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name in hidden_fields %}
                            {{ field.as_hidden }}
                        {% else %}
                            <input type="hidden" id="id_geocoded_{{ field.name }}" name="geocoded_{{ field.name }}"/>
                        {%  endif %}
                    {% endfor %}

                    <div class="padder">
                        <input type="search" class="big_text a_marker" id="id_from_raw" name="from_raw" data-role="none" placeholder="{% trans 'Enter pickup address' %}"/>
                    </div>
                    <div class="cancel_button" >{% trans 'Cancel' %}</div>

                    <div class="padder">
                        <input type="search" class="big_text b_marker" id="id_to_raw" name="to_raw" data-role="none" placeholder="{% trans 'Enter drop-off address' %}"/>
                    </div>
                    <div class="cancel_button" >{% trans 'Cancel' %}</div>
                    <div class="sources_toolbar">
{#                        <button type="button" id="history_button" class="toolbar_button" data-role="none">{% trans 'History' %}</button>#}
                        <button type="button" id="gps_button" class="toolbar_button" data-role="none">{% trans 'GPS' %}</button>
                    </div>
                </form>
            </div>

            <div id="map_container">
                <div id="ride_cost_estimate" class="fade"><span class="header"></span><br><span class="details"></span><span id="close_estimate"></span></div>
                <div id="map"></div>
                <div class="glass_pane">
                    <div id="top"></div>
                    <div id="bottom"></div>
                </div>
            </div>
        </div>

        <div data-role="footer" data-position="fixed" id="order_toolbar">
            <button type="button" id="rides_button" class="footer_button" data-role="none">{% trans 'My Rides' %}</button>
            <button type="submit" class="order_button" id="order_button" data-role="none"></button>
            <button type="button" id="more_button" class="footer_button" data-role="none">{% trans 'More' %}</button>
        </div>
    
        <!-- END Content -->
    </div>

    {# RESOLVE ADDRESS PAGE #}
    <div id="resolve_addresses" data-role="page" data-theme="b"> {# TODO_WB: load via ajax to speed up initial page load? #}
        <div data-role="header">
            <h1>{% trans 'Select Address' %}</h1>
        </div>
        <div data-role="content">
            <ul data-role="listview">
            </ul>
        </div>
    </div>

    {# VERIFY PHONE PAGE #}
    <div id="sms_dialog" data-role="page" data-theme="b">
        <div data-role="header">
            <h1>{% trans 'Verification' %}</h1>
        </div>
        <div data-role="content">
            <form id="verification_form">
                <input type="hidden" name="country_code" value="{{ country_code }}" />

                <div data-role="fieldcontain">
                    <label for="local_phone">{% trans 'Enter your mobile number' %}</label>
                    <input data-theme="b" type="tel" name="local_phone" id="local_phone" />
                    <button data-theme="b" type="button" id="send_code">{% trans 'Send Verification Code' %}</button>
                </div>
                <div data-role="fieldcontain">
                    <label for="verification_code">{% trans 'Enter verification code' %}</label>
                    <input type="tel" name="verification_code" id="verification_code" />
                    <button data-theme="b" type="button" id="finish_verification">{% trans 'Finish' %}</button>
                </div>
            </form>
        </div>
    </div>

    {# RIDES PAGE #}
    <div id="rides_page" data-role="page" data-theme="b">
        <div data-role="header">
            <h1>{% trans "My Rides" %}</h1>
        </div>
        <div data-role="content">
            <ul data-role="listview">
            </ul>
        </div>
    </div>

    {# HISTORY DIALOG #}
    <div id="history_dialog" data-role="page" data-theme="b">
        <div data-role="content">
           <button data-role="pickup" data-theme="b">{% trans 'Set as Pickup' %}</button>
           <button data-role="dropoff" data-theme="b">{% trans 'Set as Destination' %}</button>
           <a href="#" data-role="button" data-rel="back" data-theme="a">{% trans "Cancel" %}</a>
        </div>
    </div>

    {# MORE PAGE #}
    <div id="more_page" data-role="page" data-theme="b">
        <div data-role="header">
            <h1>{% trans "More" %}</h1>
        </div>
        <div data-role="content">
            <ul data-role="listview">
                <li><a href="#language_page">{% trans "Language" %}</a></li>
                <li><a href="#terms_page">{% trans "Terms Of Use"%}</a></li>
                <li><a href="#about_page">{% trans "About"%}</a></li>
            </ul>
        </div>
    </div>

    {# LANGUAGE PAGE #}
    <div id="language_page" data-role="page" data-theme="b">
        <div data-role="header">
            <h1>{% trans "Language" %}</h1>
        </div>
        <div data-role="content">
            <form action="/i18n/setlang/" method="post" class="languages" data-ajax="false" >
            <input type="hidden" name="next" value="/#home">

             {% csrf_token %}
            <div data-role="fieldcontain">
                <fieldset data-role="controlgroup">
                    <legend>{% trans "Choose your preferred language" %}:</legend>
                    {% for lang in LANGUAGES %}
                        <input type="radio" name="language" id="radio_{{ lang.0 }}" value="{{ lang.0 }}" />
                        <label for="radio_{{ lang.0 }}">{{ lang.1 }}</label>
                    {% endfor %}
                </fieldset>
            </div>
            </form>
        </div>
    </div>

    {# TERMS PAGE #}
    <div id="terms_page" data-role="page" data-theme="b">
        <div data-role="header">
            <h1>{% trans "Terms Of Use" %}</h1>
        </div>
        <div data-role="content">
            <p class="terms_text">
               {% trans "web_actual_terms" %}
            </p>
        </div>
    </div>

    {# ABOUT PAGE #}
    <div id="about_page" data-role="page" data-theme="b">
        <div data-role="header">
            <h1>{% trans "About" %}</h1>
        </div>
        <div data-role="content">
            <fieldset class="ui-grid-a">
                <div class="about_icon ui-block-a">

                </div>
                <div class="about_header ui-block-b">
                    <h1>WAYbetter</h1>
                    <p>{% trans "Version" %} 1.0</p>
                </div>
            </fieldset>
            <div class="telmap_logo"></div>
        </div>
    </div>
<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18077675-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{%  block extra-body %}{% endblock %}
</body>

</html>
