{% extends "phone_verification_form.html" %}
{% load i18n %}

{% block extra_script %}
    <script type="text/javascript">
        form_config.dialog_config.title = "{% trans 'Phone authentication' %}";
        form_config.urls.validate_phone = "{% url ordering.passenger_controller.validate_phone %}";
        form_config.messages.enter_mobile = "{% trans 'Phone you registered with' %}";
        form_config.error_messages.phone_not_regsitered = "{% trans 'Phone not registered. <a href=# class=join_link>Join</a>' %}";

        validation_config.rules.local_phone.remote = "{% url ordering.passenger_controller.check_phone_registered %}";
        validation_config.messages.local_phone.remote = form_config.error_messages.phone_not_regsitered;

        $(".join_link").live("mouseup", function() {
            Registrator.doJoin();
            return false;
        });
    </script>
{% endblock %}

{% block footer_links %}
{% endblock %}