.{% extends "registration_form.html" %}
{% load i18n %}

{% block extra_script %}
    <script type="text/javascript">
            form_config.dialog_config.title = "{% trans 'Reset account credentials' %}";
            form_config.urls.change_credentials = "{% url ordering.passenger_controller.change_credentials %}";
            form_config.urls.check_email    = "{% url common.services.is_email_available_for_user %}";
            validation_config.rules.email.remote.url = "{% url common.services.is_email_available_for_user %}";
            validation_config.rules.email.required = false;
            $(function() {
                $("#email").one("keypress", function() {
                    $("#email_placeholder_text").remove();
                })
            });
    </script>

{% endblock %}

{% block content %}
    <div id="registration">
        <form id="registration_form">
            {% if current_email %}
                <label for="email">{% trans 'Change email address' %} ({{ current_email }})</label>
            {% else %}
                <label for="email">{% trans 'Enter your email' %}</label>
            {% endif %}
            <div id="user_details">
                <fieldset class="register">
                    <input name="email" id="email" type="text"/>
                    {# helper text when email is optional #}
                    {% if current_email %}
                    <div id="email_placeholder_text" class="input-helper ">
                        {% trans "(Optional)" %}
                    </div>
                    {% endif %}
                    <label for="password">{% trans 'Choose Password' %}</label>
                    <input name="password" id="password" type="password"/>
                    <label for="password_again">{% trans 'Re-enter Password' %}</label>
                    <input name="password_again" id="password_again" type="password"/>
                </fieldset>
                <div id="button_container">
                    <button id="save_credentials" class="wb_button gold">{% trans 'Login' %}</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
