{% load i18n %}
<script>
    var form_config = {
        dialog_config : {
            title: "{% trans 'Please Let Us Know How You Feel' %}",
            width: 550
        },
        urls: {
            login: "{% url ordering.passenger_controller.login_passenger %}"
        },
        messages: {
            enter_email: "{% trans 'Please enter your email' %}",
            choose_password : "{% trans 'Please enter your password' %}",
            valid_field: "{% trans 'OK' %}"

        }
    };
    $(function() {
        $("textarea").hide();
        $("input[type=checkbox]").change(function() {
            if ($(this).is(":checked")) {
                $(this).siblings("textarea").fadeIn("fast");
            } else {
                $(this).siblings("textarea").fadeOut("fast");
            }
        });
    });
</script>

<div id="feedback_dialog" class="dialog">
    <div id="content">
        <form id="feedback_form">
            <div id="positive" class="feedback_container">
                <h1>{% trans "I'm Happy :)" %}</h1>
                <div class="feedback">
                    {% for field in form %}
                        {% if field.name|slice:"-3:" == "msg" and "positive" in field.name %}
                            <p>
                                <input type="checkbox" id="id_{{ field.name|slice:":-4" }}"
                                       name="{{ field.name|slice:":-4" }}">{{ field.label_tag }}
                                <textarea name="{{ field.name }}" id="id_{{ field.name }}"></textarea>
                            </p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div id="negative" class="feedback_container">
                <h1>{% trans "I'm Sad :(" %}</h1>
                <div class="feedback">
                    {% for field in form %}
                        {% if field.name|slice:"-3:" == "msg" and "negative" in field.name %}
                            <p>
                                <input type="checkbox" id="id_{{ field.name|slice:":-4" }}"
                                       name="{{ field.name|slice:":-4" }}">{{ field.label_tag }}
                                <textarea name="{{ field.name }}" id="id_{{ field.name }}"></textarea>
                            </p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="clear"></div>
        </form>
    </div>
    <div id="button_container" class="feedback">
        <button id="submit_feedback" class="wb_button gold">{% trans 'Submit' %}</button>
        <div id="sent_message">{% trans "Thanks, your feedback has been sent" %}</div>
    </div>
</div>