{% load i18n %}
<script>
    var form_config = {
        dialog_config : {
            title: "{% trans 'Login using the following details' %}",
        },
        urls: {
            login: "{% url ordering.passenger_controller.login_passenger %}"
        }
    };
</script>
<form id="login_form">
    <div id="user_details">
        <table>
            <tr>
                <td>
                    <label for="username">{% trans 'Username' %}</label>
                    <input name="username" id="username">
                </td>
                <td>
                    <label for="password">{% trans 'Password' %}</label>
                    <input name="password" id="password">
                </td>
            </tr>
        </table>
        <a id="show_register" href="login_form.html#">{% trans "Don't have an account?" %}</a>
        <div id="button_container">
            <button id="login">{% trans 'Login' %}</button>
        </div>
       
    </div>
    <div id="social_login">

    </div>
</form>
