{% load i18n %}
<script>
    var form_config = {
        dialog_config : {
            title: "{% trans 'Login using the following details' %}"
        },
        urls: {
            login: "{% url ordering.passenger_controller.login_passenger %}"
        }
    };
</script>
<a id="show_register" class="title_link" href="login_form.html#">{% trans "Don't have an account?" %}</a>
<form id="login_form">
    <div id="user_details">
        <fieldset class="left_column">
            <label for="username">{% trans 'Username' %}</label>
            <input name="username" id="username" type="text" />
        </fieldset>
        <fieldset class="right_column">
            <label for="password">{% trans 'Password' %}</label>
            <input name="password" id="password" type="password" />
        </fieldset>
        <div class="clear"></div>
        <div id="button_container">
            <button id="login">{% trans 'Login' %}</button>
        </div>
    </div>
</form>
{% include 'social_login.html' %}
