{% load i18n %}
<script>
    var form_config = {
        dialog_config : {
            title: "{% trans 'Welcome Back!' %}",
            width: 427
        },
        urls: {
            login: "{% url ordering.passenger_controller.login_passenger %}"
        },
        messages: {
            enter_username: "{% trans 'Please enter your username' %}",
            choose_password : "{% trans 'Please enter your password' %}",
            valid_field: "{% trans 'OK' %}"

        }
    };

    $(function () {
         $("#dialog form input[type!=checkbox]").focus(function() {
             Registrator.validator.element(this);
         });
    });

</script>
{% trans "Don't have an account?" %} <a id="show_register" class="title_link" href="login_form.html#">{% trans 'Join Now!' %}</a>
<form id="login_form">
    <div id="user_details">
        <fieldset class="register">
            <label for="username">{% trans 'Username' %}</label>
            <input name="username" id="username" type="text" />
            <label for="password">{% trans 'Password' %}</label>
            <input name="password" id="password" type="password" />
        </fieldset>
        <div class="clear"></div>
        <div id="button_container">
            <button id="login" class="wb_button gold">{% trans 'Login' %}</button>
        </div>
    </div>
</form>
{% include 'social_login.html' %}
