{% load i18n %}
<style type="text/css">


</style>
<script>
    var form_config = {
        dialog_config : {
            title : "<span>{% trans 'Already Registered?' %} <a href='#' id=login_link class=title_link>{% trans 'Login' %}</a></span>",
            width: 450
        },
        urls: {
            send_sms        : "{% url ordering.passenger_controller.send_sms_verification %}",
            validate_phone  : "{% url ordering.passenger_controller.validate_phone %}",
            check_phone     : "{% url ordering.passenger_controller.check_phone %}"
        },
        messages: {
            sms_ok          : "{% trans 'PRESS TO SEND SMS CODE' %}",
            code_sent       : "{% trans 'CODE SENT' %}",
            finish          : "{% trans 'FINISH' %}",
            sending_code    : "{% trans 'Sending...' %}",
            enter_mobile    : "{% trans 'Enter your mobile phone #' %}",
            enter_sms_code  : "{% trans 'Enter SMS Ver. Code' %}",
            too_short       : "{% trans 'Number too short' %}"
        },
        error_messages: {
            phone_taken     : "{% trans 'Phone already in use. <a href=#>Login</a>' %}",
            too_long        : "{% trans 'Number too long' %}",
            only_digits     : "{% trans 'Only digits please' %}"
        }
    };
    $(function () {
         $("#dialog form input[type!=checkbox]").focus(function() {
             Registrator.validator.element(this);
         });
    });
</script>
<h2>{% trans 'Get ride details to your hands, via a <i>free</i> SMS!' %}</h2>
<form id="phone_verification_form">
    <fieldset>
        <input type="hidden" name="country" value="{{ country_id }}" />
        <label for="local_phone">{% trans 'Local Mobile Phone Number' %}</label>
        <input name="local_phone" id="local_phone" type="text" autofocus/>
        <label for="verification_code">{% trans 'Enter SMS code' %}</label>
        <input name="verification_code" id="verification_code" type="text" disabled="disabled" />
    </fieldset>
</form>
