{% load i18n %}
<style type="text/css">
    .sending-code {
        background-color: #63b4da !important;
        background-image: url(/static/img/indicator_on_blue.gif) !important;
        background-position: 6px 3px !important;
    }
    .sending-code > div {
        color: white !important;
    }
    .code-sent {
        background-color: #bfddc1;
        background-image: none !important; 
    }
    .code-sent > div {
         color: #1a7b18 !important;
    }

</style>
<script>
    var form_config = {
        dialog_config : {
            title: "{% trans 'First Time?' %}",
            width: 450
        },
        urls: {
            send_sms        : "{% url ordering.passenger_controller.send_sms_verification %}",
            validate_phone  : "{% url ordering.passenger_controller.validate_phone %}",
            check_phone     : "{% url ordering.passenger_controller.check_phone %}"
        },
        messages: {
            valid_field     : "{% trans 'PRESS TO SEND SMS CODE' %}",
            code_sent       : "{% trans 'CODE SENT' %}",
            finish          : "{% trans 'FINISH' %}",
            sending_code    : "{% trans 'Sending...' %}",
            enter_mobile    : "{% trans 'Enter your mobile phone #' %}",
            enter_sms_code  : "{% trans 'Enter SMS Ver. Code' %}",
            too_short       : "{% trans 'Number too short' %}"
        },
        error_messages: {
            phone_taken     : "{% trans 'Phone already in use. <a href=#>Login</a>' %}",
            too_long        : "{% trans 'Number too long' %}",
            only_digits     : "{% trans 'Only digits please' %}"
        }
    };
     $(function () {
         $("#dialog form input[type!=checkbox]").focus(function() {
             Registrator.validator.element(this);
         });
    });
</script>
<h1>{% trans 'Get ride details to your hands, via a free SMS!' %}</h1>
<form id="phone_verification_form">
    <fieldset>
        <input type="hidden" name="country" value="{{ country_id }}" />
        <label for="local_phone">{% trans 'Local Mobile Phone Number' %}</label>
        <input name="local_phone" id="local_phone" type="text" autofocus/>
        <label for="verification_code">{% trans 'Enter SMS code' %}</label>
        <input name="verification_code" id="verification_code" type="text" disabled="disabled" />
    </fieldset>
</form>
