{% load i18n %}
<script>
    var form_config = {
        dialog_config : {
            title: "{% trans 'First Time?' %}",
            width: 427
        },
        urls: {
            send_sms        : "{% url ordering.passenger_controller.send_sms_verification %}",
            validate_phone  : "{% url ordering.passenger_controller.validate_phone %}",
            check_phone     : "{% url ordering.passenger_controller.check_phone %}"
        },
        messages: {
            valid_field     : "{% trans 'OK' %}",
            enter_mobile    : "{% trans 'Enter your mobile phone #' %}",
            phone_taken     : "{% trans 'Phone already in use. (<a href=#>Login?</a>)' %}"
        },
        error_messages: {
            too_short       : "{% trans 'Number too short' %}",
            too_long        : "{% trans 'Number too long' %}",
            only_digits     : "{% trans 'Only digits please' %}"
        }
    };
     $(function () {
         $("#dialog form input[type!=checkbox]").keyup(function() {
             Registrator.validator.element(this);
         });
         $("#dialog form input[type!=checkbox]").focus(function() {
             Registrator.validator.element(this);
         });
    });
</script>
<h1>{% trans 'Get ride details to your hands, via a free SMS!' %}</h1>
<form id="phone_verification_form">
    <fieldset>
        <label for="local_phone">{% trans 'Local Mobile Phone Number' %}</label>
        <input name="local_phone" id="local_phone" type="text" autofocus/>
        <input type="button" id="send_sms_verification" disabled="disabled" value="{% trans 'Send SMS Verification' %}" />
        <label for="verification_code">{% trans 'Enter SMS code' %}</label>
        <input name="verification_code" id="verification_code" type="text" disabled="disabled" />
        <input type="button" id="validate" class="wb_button blue" disabled="disabled" value="{% trans 'Finish' %}" />
    </fieldset>
</form>
