{% load i18n %}

<script>
    var form_config = {
        dialog_config : {
            title: "{% trans 'YOUR ORDER HAS BEEN RECEIVED' %}",
            width: 427
        },
        urls: {
            check_username  : "{% url common.services.is_username_available %}",
            register        : "{% url ordering.passenger_controller.register_passenger %}"
        },
        messages: {
            unique_username         : "{% trans 'Enter a unique username' %}",
            enter_email             : "{% trans 'Enter your email' %}",
            choose_password         : "{% trans 'Choose a password' %}",
            password_again          : "{% trans 'Re-enter your password' %}",
            checking_user           : "{% trans 'Checking...' %}",
            order_sent              : "{% trans 'YOUR ORDER HAS BEEN RECEIVED' %}",
            thanks_for_registering  : "{% trans 'Join Us For a WAYbetter Experience' %}",
            ride_details            : "{% trans 'An SMS with ride details will be sent soon' %}",
            valid_field             : "{% trans 'OK' %}"
        },
        error_messages: {
            username_taken          : "{% trans 'Username is already taken' %}",
            invalid_email           : "{% trans 'Invalid email address' %}",
            passwords_dont_match    : "{% trans 'Passwords do not match' %}"

        }
    };

    $(function () {
        $("#registration_form input[type!=checkbox]").focus(function() {
            Registrator.validator.element(this);
        });
        $(".ui-dialog-title").addClass("sending").removeClass("success");

    });
</script>
<div id="registration_header">
    <div class="progress-sub-title">{% trans 'An SMS with ride details will arrive shortly...' %}</div>
     <button id="ok" class="wb_button blue">{% trans 'OK' %}</button>
</div>
<div id="registration">
<h1>{% trans "In the meantime, join for better experience (free)" %}</h1>
<form id="registration_form">
    <div id="user_details">
        <fieldset class="register">
            <label for="username">{% trans 'Username' %}</label>
            <input name="username" id="username" type="text" tabindex="0" />
            <label for="email">{% trans 'Your Email' %}</label>
            <input name="email" id="email" type="text" />
            <label for="password">{% trans 'Choose Password' %}</label>
            <input name="password" id="password" type="password" />
            <label for="password_again">{% trans 'Re-enter Password' %}</label>
            <input name="password_again" id="password_again" type="password" />
            <p>
                <input name="approve_emails" type="checkbox" checked/> {% trans 'Get emails from waybetter (we promise not to spam)' %}
            </p>
        </fieldset>
        <div id="button_container">
            <button id="join" class="wb_button gold">{% trans 'JOIN' %}</button>
        </div>
    </div>
</form>
{% include 'social_login.html' %}
</div>
