{% load i18n %}

<script>
    var form_config = {
        dialog_config : {
            title: "{% trans 'YOUR ORDER HAS BEEN RECEIVED' %}",
            width: 427
        },
        urls: {
            check_email     : "{% url common.services.is_email_available %}",
            register        : "{% url ordering.passenger_controller.register_passenger %}"
        },
        messages: {
            enter_email             : "{% trans 'Enter your email' %}",
            choose_password         : "{% trans 'Choose a password' %}",
            password_again          : "{% trans 'Re-enter your password' %}",
            checking_email          : "{% trans 'Checking...' %}",
            order_sent              : "{% trans 'YOUR ORDER HAS BEEN RECEIVED' %}",
            thanks_for_registering  : "{% trans 'Join Us For a WAYbetter Experience' %}",
            ride_details            : "{% trans 'An SMS with ride details will be sent soon' %}",
            valid_field             : "{% trans 'OK' %}"
        },
        error_messages: {
            email_taken             : "{% trans 'Email already registered' %}",
            invalid_email           : "{% trans 'Invalid email address' %}",
            passwords_dont_match    : "{% trans 'Passwords do not match' %}"

        }
    };

    var validation_config = {
        errorClass: "inputError",
        validClass: "inputValid",
        focusInvalid: false,
        focusCleanup: false,
        wrapper: "div",
        rules: {
            email: {
                required: true,
                email: true,
                remote: {
                    url: form_config.urls.check_email,
                    beforeSend: function() {
                        $("#registration_form").find("[htmlfor=email]").text(form_config.messages.checking_email).parent().removeClass("red").removeClass("green");
                    }
                }
            },
            password: "required",
            password_again: {
                required: true,
                equalTo: "#password"
            }
        },
        messages: {
            email: {
                required    : form_config.messages.enter_email,
                email       : form_config.error_messages.invalid_email,
                remote      : form_config.error_messages.email_taken
            },
            password: {
                required    : form_config.messages.choose_password
            },
            password_again: {
                required    : form_config.messages.password_again,
                equalTo     : form_config.error_messages.passwords_dont_match
            }
        }
    };

    function getShareMessage(){
        var share_msg = "{% trans 'I’ve just ordered a taxi from' %}" + $("#id_from_raw").val();
            if ($("#id_to_raw").val() !== ""){
                share_msg += " {% trans 'to' %} " + $("#id_to_raw").val();
            }
        return share_msg;
    }

    $(function () {
        $("#registration_form input[type!=checkbox]").focus(function() {
            Registrator.validator.element(this);
        });
        $(".ui-dialog-title").addClass("sending").removeClass("success");

        $("#share_on_fb").click(function(e) {
            e.preventDefault();
            window.location.href = "http://www.facebook.com/dialog/feed?" +
                    "&app_id=192499990799534" +
                    "&link=http://www.WAYbetter.com/dl" +
                    "&picture=http://www.waybetter.com/static/images/90x90_app_icon.jpg" +
                    "&name=" + "{% trans 'Pick Me App by WAYbetter' %}" +
                    "&caption=" + "{% trans 'The easiest way to get a taxi' %}" +
                    "&description=" +
                    "&message=" + getShareMessage() + // deprecated by facebook
                    "&redirect_uri=http://www.WAYbetter.com";
        });

        $("#share_on_twitter").click(function(e) {
            e.preventDefault();
            window.location.href = "http://twitter.com/share?text=" + getShareMessage() + "&url=http://www.WAYbetter.com/dl";
        });
    });
</script>
{% block extra_script %}
{% endblock %}

{% block content %}
    <div id="registration_header">
        <div class="progress-sub-title"></div>
        <button id="ok" class="wb_button blue centered">{% trans 'OK' %}</button>
    </div>
    <div id="share">
        <div class="facebook_share">
            <span class="facebook_share_img"></span>
            <a id="share_on_fb" href="#">{% trans 'Share On Facebook' %}</a>
        </div>
        <div class="twitter_share">
            <span class="twitter_share_img"></span>
            <a id="share_on_twitter" href="#">{% trans 'Tweet Your Ride' %}</a>
        </div>
        <div class="clear"></div>
    </div>
    <div id="registration">
    <h1>{% trans "In the meantime, join for better experience (free)" %}</h1>
    <form id="registration_form">
        <div id="user_details">
            <fieldset class="register">
                <label for="email">{% trans 'Your Email' %}</label>
                <input name="email" id="email" type="text"/>
                <label for="password">{% trans 'Choose Password' %}</label>
                <input name="password" id="password" type="password"/>
                <label for="password_again">{% trans 'Re-enter Password' %}</label>
                <input name="password_again" id="password_again" type="password"/>
                <p>
                    <input name="approve_emails" type="checkbox"
                           checked/> {% trans 'Get emails from waybetter (we promise not to spam)' %}
                </p>
            </fieldset>
            <div id="button_container">
                <button id="join" class="wb_button gold">{% trans 'JOIN' %}</button>
            </div>
        </div>
    </form>
{% endblock %}

{% include 'social_login.html' %}
</div>
