{% extends "wb_info.html" %}
{% load i18n %}

{% block content %}
    <div class="header">{% trans "About Us" %}</div>
    <div class="content">
        {% trans "about_us_content" %}
    </div>
{% endblock %}

{% block post_content %}
    <div id="the_team">
        <div class="members-row">
            <div id="zeev" class="member">
                <div class="img"></div>
                <div class="name">{% trans "Zeev Zohar" %}</div>
                <div class="title">{% trans "CEO" %}</div>
                <div class="about">
                    Zeev graduated from Bezalel - WAYbetter was his final project. Since then he spends his days and
                    nights
                    building the company, making business relations and turning the vision into tasks. Every day, before
                    going to work you’ll find zeev swimming in the sea.
                </div>
            </div>
            <div id="shay" class="member">
                <div class="img"></div>
                <div class="name">{% trans "Shay Shafranek" %}</div>
                <div class="title">{% trans "CMO" %}</div>
                <div class="about">
                    Shay is a product designer, and is in charge of the product management and marketing.
                    Shay is a freak of service design and user experience, and while not working at WAYbetter, he likes
                    to
                    play guitar, meditate, and go to the beach.
                </div>
            </div>
            <div id="guy" class="member">
                <div class="img"></div>
                <div class="name">{% trans "Guy Kremitzer" %}</div>
                <div class="title">{% trans "CTO" %}</div>
                <div class="about">
                    Guy is the CTO and founder of WAYbetter. At the moment Guy is in Cuba enjoying his honeymoon and new
                    wife, and didn’t care to send us a description of himself :)
                </div>
            </div>
            <div id="yonatan" class="member">
                <div class="img"></div>
                <div class="name">{% trans "Yonatan Aumann" %}</div>
                <div class="title">{% trans "Algorithms" %}</div>
                <div class="about">
                    Yonatan is professor of Computer Science at Bar Ilan University, and one of the founders of
                    ClearForest,
                    now part of Thomson-Reuters. At WAYbetter, Yonatan is in charge of developing the mathematical
                    algorithms for optimizing the taxi rides. Outside work, Yonatan has no free-time - having three kids
                    under the age of 10.
                </div>
            </div>
            <div id="amir" class="member last">
                <div class="img"></div>
                <div class="name">{% trans "Amir Nissim" %}</div>
                <div class="title">{% trans "Engineer" %}</div>
                <div class="about">
                    Amir joined WAYbetter to help bringing public transportation to the information age.
                    He holds a BSc. in Mathematics from the Hebrew University and an MSc. in Computer Science from the
                    Weizmann
                    Institude. He does not own a car.
                    When not coding at WAYbetter he enjoys biking, climbing and pizza.
                </div>
            </div>
        </div>
        <div class="members-row">
            <div id="orly" class="member">
                <div class="img"></div>
                <div class="name">{% trans "Orly Lipshtat" %}</div>
                <div class="title">{% trans "Engineer" %}</div>
                <div class="about">
                    Orly develops the algorithmic core of WAYbetter. She holds an MSc. in Computer Science from Bar-Ilan
                    university. Orly joined WAYbetter after spending a few years in NY, managing a software development
                    group. When not working, and not taking care of her 3 children, she enjoys enriching her spiritual
                    world, learning Torah (Jewish Studies) in various settings.
                </div>
            </div>
            <div id="micky" class="member">
                <div class="img"></div>
                <div class="name">{% trans "Micky Tal" %}</div>
                <div class="title">{% trans "Sales" %}</div>
                <div class="about">
                    Micky joined WAYbetter and took on the mission of spreading the word. He loves talking to people and
                    making their life easier. While not working, Micky enjoys TLV, his Labrador retriever, the beach and
                    life.
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block doc_ready %}
    {{ block.super }}
    <script>
        $(function() {
            $(".member").each(function() {
                var name = $(this).attr("id");
                $(this).tooltip({
                    tip: "#" + name + " .about",
                    effect: 'fade',
//                    relative: true,
                    position: 'top center',
                    offset: [-80, 80]
                });
            });

        });
    </script>
{% endblock %}