{% extends "wb_base.html" %}
{% load i18n %}

{% block body %}
    <div id="toolbar">
        <div id="loader" class="loader"></div>
        <form id="datepicker">
            {{ form.as_p }}
        </form>

        <ul class="hz">
            <li id="collapse_all" class="wb_link">Collapse all</li>
            <li id="expand_all" class="wb_link">Expand all</li>
            <li id="status_filter" class="wb_link">Filter by status</li>
        </ul>
        <ul id="order_status_list" class="hidden">
            {% for label in order_status_labels %}
                <li>
                    <label>
                        <input type="checkbox" checked="checked">{{ label }}
                    </label>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div id="computations_container"></div>
    <hr>
    <div id="private_orders_container"></div>
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <style>
        .rtl html {
            direction: ltr;
        }

        .rtl body {
            direction: ltr;
            padding: 15px;
        }

        hr{
         margin: 30px 0;
        }

        #order_status_list{
            position: relative;
            left: 268px;
            list-style: none;
        }
        #order_status_list label{
            display: inline;
        }

        #datepicker {
            position: relative;
        }

        #datepicker label {
            display: inline-block;
            width: 110px;
        }

        #datepicker input {
            width: 90px;
            padding-right: 5px;
        }


        #loader {
            display: none;
            background: url(/static/images/wb_site/loader24.gif) left 0 no-repeat;
            height: 24px;
            width: 24px;
            position: absolute;
            left: 0;
            top: 0;
        }

        .c_header {
            position: relative;
            border: 1px solid black;
            font-weight: bold;
            background: #e1e1e1;
            padding: 8px;
            margin-bottom: 10px;
        }

        .c_desc {
            position: absolute;
            right: 10px;
        }

        .c_table {
            width: 100%;
            border: 2px solid #a8d5fd;
            border-spacing: 0 3px;
            margin-bottom: 50px;
            text-align: left;
        }

        .c_table.collapsed {
            display: none;
        }

        .c_table tr:nth-child(odd) {
            background-color: white;
        }

        .c_table tr:nth-child(even) {
            background-color: #e7f1fa;
        }

        .c_table th {
            background-color: #e1e1e1;
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block doc_ready %}
    <script type="text/javascript" src="/static/js/mylibs/jquery.ui.datepicker-he.js"></script>

    <script type="text/javascript">
        var fields = ["id", "time", "from", "to", "passenger_name", "passenger_phone", "type", "price", "status", "debug"];

        {% autoescape off %}
            var data = {{ data }};
        {% endautoescape %}

        function toggleOrdersByStatus(status) {
            var orders = $("td:contains(" + status + ")").parent(".order");
            $.each(orders, function(i, order) {
                var $order = $(order);
                $order.toggle();
                if ($order.siblings(".order:visible").length == 0)
                    $order.parents(".c_container").toggle();
            });
        }

        function renderOrderRow(order) {
            var $tr = $('<tr class="order"></tr>');
            $.each(fields, function(i, field_name) {
                var text = order[field_name];
                if (field_name == "price"){
                    text += "₪";
                }

                var $td = $('<td></td>').text(text).appendTo($tr);
            });
            return $tr;
        }

        function renderComputation(computation) {
            var admin_link = '<a class="wb_link" href="/admin/ordering/ridecomputation/' + computation.id + '">' + computation.id + '</a>';
            var $div = $('<div class="c_header clickable" id="c_header_' + computation.id + '">' + computation.time + ' ' + computation.dir + '</div>')
                    .append('<span class="c_desc">' + admin_link + ' [' + computation.status + ']' + '</span>');
            var $table = $('<table class="c_table collapsed" id="c_table_' + computation.id + '"></table>');
            var $thead = $('<thead></thead>').append('<tr></tr>').appendTo($table);
            $.each(fields, function(i, field_name) {
                $thead.find("tr").append('<th>' + field_name + '</th>');
            });
            $.each(computation.orders, function(i, order) {
                $table.append(renderOrderRow(order));
            });

            var $container = $('<div class="c_container"></div>').append($div, $table).appendTo("#computations_container");
        }

        function renderPrivateOrder(order){
            var $tr = renderOrderRow(order);
            $("#private_orders_table").append($tr);
        }

        function renderPrivateOrdersContainer() {
            var $div = $("<div></div>").addClass("c_header").text("Private Orders");
            var $table = $("<table></table>").attr("id", "private_orders_table").addClass("c_table");
            var $thead = $("<thead></thead>").appendTo($table);
            $.each(fields, function (i, f) {
                $thead.append($("<th></th>").text(f));
            });

            $("#private_orders_container").append($div, $table);
        }

        function renderData(data){
            $.each(data.computations, function(i, computation) {
                renderComputation(computation);
            });
            $(".c_table").first().removeClass("collapsed");

            renderPrivateOrdersContainer();
            $.each(data.private_orders, function(i, computation) {
                renderPrivateOrder(computation);
            });
        }

        $(function() {

            $("#expand_all").click(function() {
                $(".c_table").removeClass("collapsed");
            });
            $("#collapse_all").click(function() {
                $(".c_table").addClass("collapsed");
            });

            $("#status_filter").click(function() {
                $("#order_status_list").toggle();
            });
            $("#order_status_list [type=checkbox]").change(function(){
                var status_label = $(this).parent().text().trim();
                toggleOrdersByStatus(status_label);
            });

            $(".c_header").live('click', function() {
                var $table = $("#c_table_" + $(this).attr("id").split("_")[2]);
                if ($table.hasClass("collapsed"))
                    $table.removeClass("collapsed");
                else
                    $table.addClass("collapsed");

            });

            var date_options = $.extend({}, $.datepicker.regional["he"], {dateFormat: 'dd/mm/yy'});
            var start_date = new Date({{ start_date }});
            var end_date = new Date({{ end_date }});
            $("#id_start_date").datepicker($.extend({}, date_options, {defaultDate: start_date})).datepicker("setDate", start_date);
            $("#id_end_date").datepicker($.extend({}, date_options, {defaultDate: end_date})).datepicker("setDate", end_date);

            renderData(data);

            $("#datepicker input").change(function() {
                $.ajax({
                    url: "{% url sharing.staff_controller.birdseye_view %}",
                    type: "POST",
                    dataType: 'json',
                    data: $("#datepicker").serialize(),
                    beforeSend: function() {
                        $("#computations_container").empty();
                        $("#private_orders_container").empty();
                        $("#loader").show();
                    },
                    success: function(response) {
                        if (response.data && response.data.length) {
                            renderData(response.data);
                        }
                        else {
                            $("#computations_container").text("No data received");
                        }
                    },
                    complete: function() {
                        $("#loader").hide();
                    }

                });
            });
        });
    </script>

{% endblock %}




