{% extends "wb_base_site.html" %}
{% load i18n %}
{% load value_from_settings %}

{% block bodyclass %}booking-page{% endblock %}

{% block header %}
    <div id="header">
        <h1>{% trans "Book a Ride" %}</h1>
    </div>
{% endblock %}

{% block content %}
    <div id="content" class="txt-middle" ng-app="BookingApp">
        <div class="container-fluid" ng-controller="BookingCtrl" ng-init="sync()">

            <!-- no offers -->
            <div class="row-fluid" ng-hide="offers.length">
                <div id="booking-form" class="span4">
                    <form class="form-horizontal" ng-submit="get_offers()">
                        <div class="row-fluid">
                            <div class="input-prepend span12">
                                <span class="add-on"><i class="icon-map-marker"></i></span>
                                <input class="span11" type="text" placeholder="{% trans "Pickup Address" %}" wb-pac address="pickup">
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="input-prepend span12">
                                <span class="add-on"><i class="icon-map-marker"></i></span>
                                <input class="span11" type="text" placeholder="{% trans "Dropoff Address" %}" wb-pac address="dropoff">
                            </div>
                        </div>

                        <hr class="dashed">

                        <div class="control-group">
                            <label class="control-label time span2"></label>
                            <div class="controls controls-row span10">
                                <div class="row-fluid">
                                    <select class="span6 btn" ng-model="pickup_date" ng-options="item as item | wb_date:'EEE d/M' for item in pickup_date_options()"></select>
                                    <select id="pickup-time" class="span6 btn" ng-model="pickup_time" ng-options="item as item for item in pickup_time_options()"></select>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label ride-type span2"></label>
                            <div class="controls controls-row span10">
                                <select class="btn btn-block" ng-model="is_private"
                                        ng-options="item.value as item.label for item in [{label: '{% trans 'Shared' %}', value:false}, {label: '{% trans 'Private' %}', value:true}]">>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label luggage span2"></label>
                            <div class="controls controls-row span10">
                                <select class="btn btn-block" ng-model="has_luggage"
                                        ng-options="item.value as item.label for item in [{label: '{% trans 'No Luggage' %}', value:false}, {label: '{% trans 'With Luggage' %}', value:true}]">
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label seats span2"></label>
                            <div class="controls controls-row span10">
                                <select class="btn btn-block" ng-model="num_seats"
                                        ng-options="item for item in [1,2]"></select>
                            </div>
                        </div>

                        <hr class="dashed">
                        <p ng-show="private_price">{% trans "Private ride price" %} (( private_price | currency:"₪"))</p>
                        <button class="btn btn-large btn-block btn-primary" ng-disabled="!ready_to_order()" type="submit">{% trans "Find a Ride" %}</button>
                    </form>
                </div>

                <div class="span8">
                    <div id="map-container">
                        <div id="map" wb-map></div>
                    </div>
                </div>
            </div>

            <!-- show offers -->
            <div class="row-fluid" ng-show="offers.length">
                <div id="booking-summary" class="span4">
                    <h3>{% trans "Your Order Details" %}</h3>
                    <hr class="dashed">
                    <p>{% trans "From" %}: (( pickup.formatted_address ))</p>
                    <p>{% trans "To" %}: (( dropoff.formatted_address ))</p>
                    <hr class="dashed">
                    <p ng-switch on="has_luggage">
                        <span ng-switch-when="false">{% trans "No Luggage" %}</span>
                        <span ng-switch-when="true">{% trans "With Luggage" %}</span>
                    </p>
                    <p>(( num_seats )) Seat</p> <!-- todo ngPluralize -->
                    <p>
                        <a class="pull-right" href="#" ng-click="reset()">{% trans "change order settings" %}</a>
                    </p>
                </div>

                <div class="span8">
                    <div id="offers-container">
                        <div class="offers-cat">
                            <div class="offers-cat-header">{% trans "Choose a Ride to Join" %}</div>
                            <div class="no-match" ng-hide="existing_ride_offers().length" ng-class="{'disabled': selected_offer}">
                                        לא נמצאו נסיעות מתאימות.
                                        <br>
                                        הזמינו נסיעה חדשה, ואחרים יצטרפו אליכם!
                            </div>
                            <div class="offers-list" ng-repeat="offer in existing_ride_offers() | orderBy:'pickup_time'">
                                <offer class="existing"></offer>
                                <offer-sep></offer-sep>
                            </div>
                        </div>
                        <div class="offers-cat">
                            <div class="offers-cat-header">{% trans "Start a New Ride" %}</div>
                            <div class="offers-list" ng-repeat="offer in new_ride_offers() | orderBy:'pickup_time'">
                                <offer class="new"></offer>
                            </div>
                        </div>
                    </div>
                    <div id="offers-disclaimer">
                        {% trans "Price are determined by the Price Chart that is computed based on station cost." %}
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}

    <script type="text/javascript" src="/static/js/wb.geolib.js"></script>
    <script type="text/javascript" src="/static/js/wb-ng/controllers.js"></script>
    <script type="text/javascript" src="/static/js/wb-ng/services.js"></script>
    <script type="text/javascript" src="/static/js/wb-ng/directives.js"></script>
    <script type="text/javascript" src="/static/js/wb-ng/defaults.js"></script>
    <script type="text/javascript" src="/static/js/wb-ng/filters.js"></script>
    <script type="text/javascript" src="/static/js/wb-ng/geo.controllers.js"></script>
    <script type="text/javascript" src="/static/js/wb-ng/geo.services.js"></script>
    <script type="text/javascript" src="/static/js/wb-ng/geo.directives.js"></script>

    <script type="text/javascript">
        var app = angular.module('BookingApp', ['wbControllers', 'wbDirectives', 'wbGeoDirectives', 'wbFilters']);
        app.config(function ($interpolateProvider, $httpProvider) {
            $interpolateProvider.startSymbol('((');
            $interpolateProvider.endSymbol('))');

            $httpProvider.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
            $httpProvider.defaults.transformRequest.push(function (data, headersGetter) {
                if (data) {
                    return jQuery.param(angular.fromJson(data));
                } else {
                    return data;
                }
            });
        });
    </script>
{% endblock %}
