{% extends "wb_base_site.html" %}
{% load i18n %}
{% load value_from_settings %}

{% block bodyclass %}booking-page{% endblock %}

{% block header %}
    <div id="header">
        <h1>{% trans "Book a Ride" %}</h1>
    </div>
{% endblock %}

{% block content %}
    <div id="content" class="txt-middle" ng-app="BookingApp">
        <div class="container" ng-controller="BookingCtrl" ng-init="sync()">
            <div class="row">
                <div class="span5 booking-controls">
                    <form id="booking-form" class="form-horizontal">
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-map-marker"></i></span>
                            <input type="text" placeholder="{% trans "Pickup Address" %}" wb-pac address="pickup">
                        </div>
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-map-marker"></i></span>
                            <input type="text" placeholder="{% trans "Dropoff Address" %}" wb-pac address="dropoff">
                        </div>

                        <hr class="dashed">

                        <div class="control-group">
                            <label class="control-label">Time</label>

                            <div class="controls controls-row">
                                <select name="" id="" class="span2 btn" ng-model="pickup_date" ng-options="item as item | wb_date:'EEE d/M' for item in pickup_date_options()"></select>
                                <select name="" id="" class="span2 btn" ng-model="pickup_time" ng-options="item as item for item in pickup_time_options()"></select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Ride</label>

                            <div class="controls controls-row">
                                <select name="" id="" class="span4 btn" ng-model="is_private"
                                        ng-options="item.value as item.label for item in [{label: '{% trans 'Shared' %}', value:false}, {label: '{% trans 'Private' %}', value:true}]">>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Luggage</label>

                            <div class="controls controls-row">
                                <select name="" id="" class="span4 btn" ng-model="has_luggage"
                                        ng-options="item.value as item.label for item in [{label: '{% trans 'No Luggage' %}', value:false}, {label: '{% trans 'With Luggage' %}', value:true}]">
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Seats</label>

                            <div class="controls controls-row">
                                <select name="" id="" class="span4 btn" ng-model="num_seats"
                                        ng-options="item for item in [1,2]"></select>
                            </div>
                        </div>

                        <hr class="dashed">
                        <button class="btn btn-large btn-block btn-primary" ng-disabled="!ready_to_order()" ng-click="get_offers()">{% trans "Find a Ride" %}</button>
                    </form>
                </div>

                <div class="span7">
                    <div id="map" wb-map></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}

    <script type="text/javascript" src="/static/js/wb.geolib.js"></script>
    <script type="text/javascript" src="/static/js/wb-ng/controllers.js"></script>
    <script type="text/javascript" src="/static/js/wb-ng/services.js"></script>
    <script type="text/javascript" src="/static/js/wb-ng/defaults.js"></script>
    <script type="text/javascript" src="/static/js/wb-ng/filters.js"></script>
    <script type="text/javascript" src="/static/js/wb-ng/geo.controllers.js"></script>
    <script type="text/javascript" src="/static/js/wb-ng/geo.services.js"></script>
    <script type="text/javascript" src="/static/js/wb-ng/geo.directives.js"></script>

    <script type="text/javascript">
        var app = angular.module('BookingApp', ['wbControllers', 'wbDirectives', 'wbFilters']);
        app.config(function ($interpolateProvider, $httpProvider) {
            $interpolateProvider.startSymbol('((');
            $interpolateProvider.endSymbol('))');

            $httpProvider.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
            $httpProvider.defaults.transformRequest.push(function (data, headersGetter) {
                if (data) {
                    return jQuery.param(angular.fromJson(data));
                } else {
                    return data;
                }
            });
        });
    </script>
{% endblock %}
