{% extends "wb_base_site.html" %}
{% load i18n %}

{% block extrastyle %}
    {{ block.super }}
    <style type="text/css">
        .errorlist{
            list-style-type: none;
            color: #B94A48;
            /*background-color: #F2DEDE;*/
        }
        form{
            margin: 0;
        }
    </style>
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="modal modal-flat pagination-centered">
                        <div class="modal-header"><h3>{% trans "Change Credentials" %}</h3></div>

                        <form action="" method="post">
                            {% csrf_token %}

                            <div class="modal-body">
                                {% for field in form.visible_fields %}
                                    <div class="control-group">
                                        <div class="input-prepend">
                                            {% if field.html_name == "email" %}
                                                <span class="add-on"><i class="icon-envelope"></i></span>
                                            {% else %}
                                                <span class="add-on"><i class="icon-key"></i></span>
                                            {% endif %}
                                            {{ field }}
                                        </div>
                                        {{ field.errors }}
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">{% trans "Next" %}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
