{% extends "wb_base_site.html" %}
{% load i18n %}

{% block htmlclass %}change-credentials{% endblock %}

{% block top_left %}
    {% trans "Change Credentials" %}
{% endblock %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <table id="credentials">
            {% for field in form %}
                <tr class="input-row">
                    <td class="td-label">{{ field.label_tag }}:</td>
                    <td>{{ field }}</td>
                </tr>
                <tr class="error-row">
                    <td></td>
                    <td>{{ field.errors }}</td>
                </tr>
                <tr class="spacer-row"></tr>
            {% endfor %}
        </table>
        <hr>
        <div id="btn_cntr" class="align-farend">
            <button type="submit" class="wb_button blue">{% trans "Next" %}></button>
        </div>
    </form>
{% endblock %}

{% block post_content %}{% endblock %}