{% extends "wb_base_site.html" %}
{% load i18n %}

{% block headertext %}
    {% trans "Contact Us" %}
{% endblock %}

{% block content %}
    <div id="content">
    	  <div class="container">
    	    <div class="row">
    		  <div class="span5">
                <h2><i class="icon-envelope"></i> {% trans "Email Us" %}</h2>
    	    <fieldset>
    		  <div class="control-group">
    		    <div class="controls">
    			  <input class="span5" type="text" placeholder="{% trans "Your Full Name" %}">
    			</div>
    		    <div class="controls">
    			  <input class="span5" type="text" placeholder="{% trans "Your Email" %}">
    			</div>
    		    <div class="controls">
    			  <input class="span5" type="text" placeholder="{% trans "Message Subject" %}">
    			</div>
    			<div class="controls">
    			  <textarea class="span5" id="textarea" rows="6" placeholder="{% trans "Your Message" %}"></textarea>
    		    </div>
    		  <button class="btn btn-primary">{% trans "Send Message" %}</button>
    		  </div>
    	    </fieldset>
    		  </div>
    		  <div class="span7">
    		    <div class="row">
    		      <div class="span3">
    		        <h2><i class="icon-map-marker"></i> {% trans "Address" %}</h2>
    		        <address>
                       {% trans "Yoni Netanyahu 6." %}
    		          <br>
                       {% trans "Or Yehuda 60376, Israel" %}
    				</address>
    		      </div>
    		      <div class="span4">
    		        <h2><i class="icon-phone"></i> Phone</h2>
    		        <address>
    		          {% trans "Phone" %}: 03-9085008
    		          <br>
    		          {% trans "Fax" %}: 03-9366873
    				</address>
    		      </div>
    		    </div>
    			<div class="thumbnail">
    			  <img border="0" alt="" src="http://maps.googleapis.com/maps/api/staticmap?center=המסגר+55,+תל+אביב&zoom=14&size=540x230&maptype=roadmap&sensor=false">
    			</div>
    		  </div>
    		</div>
    	  </div>
    	</div>
{% endblock %}
