{% load i18n %}
{% trans "Pickups" %}:
{% for pickup in pickups %} {{ pickup.time }} {{ pickup.address }} - {{ pickup.num_passengers }} {% trans "Passengers" %} [{% for phone in pickup.phones %}{{ phone }}, {% endfor %}]
{% endfor %}
{% trans "Dropoffs" %}:
{% for dropoff in dropoffs %} {{ dropoff.time }} {{ dropoff.address }} - {{ dropoff.num_passengers }} {% trans "Passengers" %} [{% for phone in dropoff.phones %}{{ phone }}, {% endfor %}]
{% endfor %}