{% extends "wb_base_site.html" %}
{% load i18n %}
{% load value_from_settings %}
{% block footer %}{% endblock %}
{% block header %}{% endblock %}
{% block title %}EagleEye™{% endblock %}
{% block user_tools %}
    <div class="nav-collapse collapse">
        <ul class="nav pull-right">
            <li>EagleEye™</li>
        </ul>
    </div>
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="/static/css/jquery-ui-1.8.14.smoothness.css" type="text/css" media="all">

    <style type="text/css">
        .ui-widget {
            font-family: inherit;
            font-size: inherit;
        }

        .btn > i{
            line-height: 14px !important;
        }
        .page {
            min-height: 600px;
        }
        .container-fluid > .row-fluid {
            padding-top: 20px;
        }
        .right {
            text-align: right;
        }
        .center {
            text-align: center;
        }

        form .progress {
            height: 10px;
            margin-bottom: 0;
            margin-top: 10px;
        }
        select {
            -webkit-appearance: menulist;
        }
        .dropdown-menu a[disabled=disabled] {
            color: gray;
        }

        .dropdown-menu a[disabled=disabled]:hover {
            color: gray;
            background:inherit;
        }

        .ride-row {
            margin-bottom: 25px;
        }
        .ride-header {
            font-size: larger;
            padding-top: 10px;
            padding-left: 10px;
            background: #ECECEC;
            box-sizing: border-box;
            border-bottom: 1px solid #CCC;
        }

        .ride-header .icon-bolt{ color: rgb(206, 111, 111); }
        .ride-header .icon-bolt.online{ color: rgb(13, 204, 13); }
        .subtitle {
            display: block;
            padding: 3px 15px;
            font-size: 11px;
            font-weight: bold;
            line-height: 20px;
            color: #999;
            text-transform: uppercase;
        }

        .orders-table {
            font-size: small;

        }
        .orders-table th {
            text-transform: uppercase;
            font-size: 11px;
        }

        .input-prepend .prepend-text {
            min-width: 35px;
        }

        #success-modal .icon-ok {
            color: green;
        }

        #fail-modal .icon-remove {
            color: red;
        }

        #confirm-modal .icon-warning-sign {
            color: #F89406;
        }

        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none;
        }
        .label {
            font-size: 11px;
        }
        .rides-container {
            margin-left: 200px;
        }
        h4 {
            text-transform: uppercase
        }

        @media (max-width: 767px) {
            .affix {
                position: static;
                width: auto;
                top: 0;
            }
        }

        .booking-details i.icon-home{
            margin-right: 3px;
        }
        .passenger-details{
            cursor: pointer;
        }
        .passenger-picture{
            margin-right: 3px;
            max-width: 17px;
        }
        [class^="wb-icon-"]{
            font-size: 14px;
        }
    </style>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
    <script>window.jQuery.ui || document.write('<script src="/static/js/libs/jquery-ui-1.8.13.min.js">\x3C/script>')</script>
    <script type="text/javascript" src="/static/js/libs/angular-ui.min.js"></script>

    <script type="text/javascript">

        var app = angular.module("EagleEyeApp", ['ui', 'wbFilters']);
        app.config(function ($interpolateProvider, $httpProvider) {
            $interpolateProvider.startSymbol('((');
            $interpolateProvider.endSymbol('))');

            $httpProvider.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
            $httpProvider.defaults.transformRequest.push(function (data, headersGetter) {
                if (data) {
                    return jQuery.param(angular.fromJson(data));
                } else {
                    return data;
                }
            });
        });

        function true_fn() { return true }
        app.constant("Status", {
                    'IGNORED':'IGNORED',
                    'NOT_TAKEN':'NOT_TAKEN',
                    'TIMED_OUT':'TIMED_OUT',
                    'REJECTED':'REJECTED',
                    'ASSIGNED':'ASSIGNED',
                    'VIEWED':'VIEWED',
                    'FAILED':'FAILED',
                    'ERROR':'ERROR',
                    'CANCELLED':'CANCELLED',
                    'ACCEPTED':'ACCEPTED',
                    'APPROVED':'APPROVED',
                    'PENDING':'PENDING',
                    'CHARGED':'CHARGED',
                    'COMPLETED':'COMPLETED'
                });
        app.constant("MobilePlatform", {
                Other    : 0,
                iOS      : 1,
                Android  : 2
                }
        );
        app.directive("passengerDetails", function () {
            return {
                restrict: 'E',
                replace: true,
                template:
                        '<div ng-click="view_passenger(order.passenger_id)" class="passenger-details">' +
                            '<img class="passenger-picture" ng-src="(( order.passenger_picture_url ))">' +
                            '<i class="icon-user passenger-picture" ng-hide="order.passenger_picture_url"></i>' +
                            '(( order.passenger_name )) (( order.passenger_phone ))' +
                        '</div>'
            }
        });
        app.directive("bookingDetails", function () {
            return {
                restrict: 'E',
                replace: true,
                template:
                        '<div class="booking-details"><i ng-class="booked_by_icon(order)"> </i>(( order.create_date | date:"dd/MM/yy HH:mm" ))</td>' +
                        '</div>'
            }
        });

        app.controller("EagleEyeCtrl", function ($scope, $http, $q, $filter, Status, MobilePlatform) {
            function RideActions(ride) {
                var self = this;
                this.ride = ride;
                this.actions = [
                    {
                        title:"View on Map",
                        enabled:true_fn,
                        run:view_on_map
                    },
                    {
                        title:"Resend Voucher",
                        enabled:true_fn,
                        run:resend_voucher
                    },
                    {
                        title: "Resend to " + self.ride.station.fleet_manager,
                        enabled: function(){
                            return self.ride.status == Status.ACCEPTED && self.ride.station.fleet_manager != undefined
                        },
                        run: resend_to_fleet_manager
                    },
                    {
                        title: "Re-Assign to Station",
                        enabled: true_fn,
                        run: reassign_ride
                    },
                    {
                        title: "Mark as ACCEPTED",
                        enabled:function () {
                            return self.ride.status != Status.ACCEPTED
                        },
                        run: mark_as_accepted
                    }
                ];

                function mark_as_accepted() {
                    $http.post("/staff/accept_ride/" + self.ride.id + "/").success(
                            function (data) {
                                angular.extend(self.ride, data.ride);
                                $scope.modal_header = "Accept Ride";
                                $scope.modal_body = "Ride " + self.ride.id + " was marked as ACCEPTED";
                                $("#success-modal").modal();
                            }).error(function (err) {
                                $scope.modal_header = "Accept Ride";
                                $scope.modal_body = err;
                                $("#fail-modal").modal();
                            });
                }


                function reassign_ride() {
                    $scope.selected_ride = self.ride;
                    $scope.selected_station = $filter('filter')($scope.stations, {id: self.ride.station.id})[0];
                    $scope.choose_station_for_assignment().then(function(station) {
                        $http.post("/staff/reassign_ride/", {ride_id: self.ride.id, station_id: station.id}).success(function(data) {
                            angular.extend(self.ride, data.ride);
                        })
                    });
                }

                function view_on_map() {
                    console.log("view_on_map: " + self.ride.id);
                    window.open("/staff/ride/" + self.ride.id, '_blank');
                }

                function resend_voucher() {
                    $http.get("/services/resend_voucher/" + (self.ride.id) + "/")
                        .success(function () {
                            $scope.modal_header = "Resend Voucher";
                            $scope.modal_body = "Voucher for ride " +  self.ride.id +  " was re-sent";
                            $("#success-modal").modal();
                        })
                        .error(function (err) {
                            $scope.modal_header = "Resend Voucher";
                            $scope.modal_body = err;
                            $("#fail-modal").modal();
                        });
                    console.log("resend_voucher: " + self.ride.id);
                }

                function resend_to_fleet_manager(){
                    var fleet_manager_name = self.ride.station.fleet_manager;
                    function _success(){
                        $scope.modal_header = "Resend ride " + self.ride.id;
                        $scope.modal_body = "Ride was successfully sent to " + fleet_manager_name;
                        $("#success-modal").modal();
                    }
                    function _fail(){
                        $scope.modal_header = "Resend ride " + self.ride.id;
                        $scope.modal_body = "Sending to " + fleet_manager_name + " failed";
                        $("#fail-modal").modal();
                    }

                    $scope.confirm("Send again to " + fleet_manager_name + "?", "This will cancel the existing ride (if any) and send it again as a new one")
                        .then(function(){
                                $http.get("/staff/resend_to_fleet_manager/" + self.ride.id + "/")
                                    .success(function(data) {
                                            if (data && data.result){
                                                _success();
                                            } else { _fail() }
                                        })
                                    .error(function() { _fail() });

                                console.log("resend_to_fleet_manager: " + self.ride.id);
                            })
                }

                function cancel_ride() {
                    console.log("cancel_ride: " + self.ride.id);
                    $scope.confirm("Cancel Ride", "Are you sure you want to cancel ride " + self.ride.id + "?").then(function () {
                        alert("call cancel");
                    });

                }
            }

            function OrderActions(order) {
                var self = this;
                this.order = order;
                this.actions = [
                    {
                        title: "Cancel Billing",
                        enabled: function () {
                            return self.order.status != Status.CHARGED && self.order.status != Status.CANCELLED
                        },
                        run:function () {
                            var title = "Cancel Billing";
                            $scope.confirm(title, "Are you sure you want to cancel the billing for order " + self.order.id + "?").then(function () {
                                $http.get("/staff/cancel_billing/" + (self.order.id) + "/")
                                    .success(function (data) {
                                        $scope.modal_header = title;
                                        $scope.modal_body = "All billing transactions were cancelled";
                                        $("#success-modal").modal();
                                    })
                                    .error(function (err) {
                                        $scope.modal_header = title;
                                        $scope.modal_body = err;
                                        $("#fail-modal").modal();
                                    });

                            })
                        }

                    }
                ];
            }

            var ride_actions = {};
            var order_actions = {};

            $scope.rides = [];
            $scope.incomplete_orders = [];
            {% autoescape off %}
            $scope.stations = {{ stations }};
            {% endautoescape %}
            $scope.selected_station = undefined;
            $scope.start_date = new Date();
            $scope.end_date = new Date();
//            $scope.start_date = new Date("10/23/2012");
//            $scope.end_date = new Date("10/23/2012");
            $scope.updating = false;
            $scope.show_debug = ("{% value_from_settings DEBUG %}" == "True");
            $scope.confirm_defer = undefined;

            $scope.updating = function() {
                return $http.pendingRequests.length > 0;
            };

            $scope.confirm = function (title, body) {
                $scope.confirm_defer = $q.defer();
                $scope.modal_header = title;
                $scope.modal_body = body;
                $("#confirm-modal").modal();
                return $scope.confirm_defer.promise;
            };
            
            $scope.choose_station_for_assignment = function () {
                $scope.assignment_defer = $q.defer();
                $("#reassign-modal").modal();

                return $scope.assignment_defer.promise;

            };
        
            $scope.select_ride = function (ride) {
                if (ride == $scope.selected_ride) {
                    $scope.selected_ride = undefined
                } else {
                    $scope.selected_ride = ride;
                }
            };

            $scope.view_passenger = function(passenger_id){
                window.open("/staff/view_passenger_orders/" + passenger_id + "/", '_blank');
            };

            $scope.get_ride_actions = function (ride) {
                if (!ride_actions[ride.id]) { // this is needed so that ng-repeat will have a 'stable' model and not get a new object for each call
                    ride_actions[ride.id] = new RideActions(ride);
                }
                return ride_actions[ride.id].actions;
            };
            
            $scope.get_order_actions = function (order) {
                if (!order_actions[order.id]) { // this is needed so that ng-repeat will have a 'stable' model and not get a new object for each call
                    order_actions[order.id] = new OrderActions(order);
                }
                return order_actions[order.id].actions;
            };

            $scope.run = function (action) {
                if (action.enabled()) {
                    action.run();
                }
            };

            $scope.get_ride_status_class = function(ride) {
                var status = ride.status.toUpperCase();

                if ([Status.ACCEPTED, Status.COMPLETED].indexOf(status) > -1) {
                    return "label-success"
                } else if ([Status.ERROR, Status.CANCELLED, Status.FAILED].indexOf(status) > -1) {
                    return "label-important"
                } else if ([Status.PENDING, Status.ASSIGNED, Status.VIEWED].indexOf(status) > -1) {
                    return "label-warning"
                }
            };

            $scope.get_order_status_class = function(order) {
                var status = order.status.toUpperCase();

                if ([Status.CHARGED].indexOf(status) > -1) {
                    return "label-success"
                } else if ([Status.ERROR, Status.CANCELLED, Status.FAILED].indexOf(status) > -1) {
                    return "label-important"
                } else if ([Status.PENDING, Status.ASSIGNED].indexOf(status) > -1) {
                    return "label-warning"
                }


            };

            $scope.update = function () {
                $scope.rides = [];
                $scope.incomplete_orders = [];
                $http.get('{% url sharing.staff_controller.eagle_eye %}', {params:{start_date:$scope.start_date.toUTCString(), end_date:$scope.end_date.toUTCString() }}).success(function (data) {
                    $scope.rides = data.rides;
                    $scope.incomplete_orders = data.incomplete_orders;
                    $scope.stations = data.stations;
                });
            };

            $scope.booked_by_icon = function(order){
                if (order.booked_by == MobilePlatform.Android){
                    return "wb-icon-android";
                } else if (order.booked_by == MobilePlatform.iOS){
                    return "wb-icon-apple";
                } else {
                    return "icon-home";
                }
            };

            $scope.counters = function(){
                var rides = $scope.rides.filter(function(ride) { return ride.debug == $scope.show_debug});
                return {
                    rides: rides.length,
                    orders: rides.map(function(r) {return r.orders.length}).sum()
                }

            };

            $scope.online_status = function(station){
                if (station && station.id){
                    return $scope.stations.filter(function(s){ return s.id == station.id })[0].online_status;
                }
            };

            $scope.update();
        });

    </script>
{% endblock %}

{% block content %}
    <div class="ng-cloak container-fluid page" ng-app="EagleEyeApp" ng-controller="EagleEyeCtrl">
        <div class="row-fluid">
            <div class="span2">
                <form class="form dates-form well well-small" data-spy="affix">
                    <div class="input-prepend">
                        <span class="add-on prepend-text" id="">Start</span><input type='text' ng-model='start_date' ui-date class="input-small"
                                                                                   ng-disabled="updating()">
                    </div>
                    <div class="input-prepend">
                        <span class='add-on prepend-text'>End</span><input type='text' ng-model='end_date' ui-date class="input-small" ng-disabled="updating()">
                    </div>
                    <label class="checkbox">
                        <input type="checkbox" ng-model="show_debug" ng-disabled="updating()" > Debug Mode
                    </label>

                    <button ng-disabled="updating()" ng-click="update()" class='btn btn-block'><i class="icon-refresh"></i> Update
                    </button>

                    <div ng-show="updating()" class="progress progress-striped active">
                      <div class="bar" style="width: 100%;"></div>
                    </div>
                    <hr class="dashed">
                    <ul ng-hide="updating()" class="nav nav-list ">
                        <li class="nav-header">Jump To</li>
                        <li ng-show="rides"><a href="#">Rides</a></li>
                        <li ng-show="incomplete_orders"><a href="#inc-order-top">Incomplete Orders</a></li>
                    </ul>

                </form>
            </div>

            <div class="span10 rides-container">
                <h4 ng-show="rides" id="rides-top">
                    (( counters()['rides'] )) Rides
                    <small>(( counters()['orders'] + ' Orders' | paren_wrap ))</small></h4>

                <div class="ride-row" ng-repeat="ride in rides" ng-show="ride.debug == show_debug">
                    <div class="ride-header row-fluid">
                        <div class="span4">
                            <i class="icon-bolt" ng-show="ride.station" ng-class="{'online': online_status(ride.station)}" title="Online status"> </i>
                            (( ride.station.name ))
                            &#x200E;<small class="muted" ng-show="ride.taxi"><i class="wb-icon-taxi"></i>(( ride.taxi ))</small>
                        </div>
                        <div class="span4 center">
                            <strong>(( ride.start_time | date:'HH:mm' ))</strong>
                            <small>(( ride.start_time | date:'EEE, MMM dd' ))</small>
                        </div>
                        <div class="span3 right">
                            <strong ng-show="ride.station.name">(( ride.cost | currency:'₪'))</strong>
                            <span class="label" ng-show="ride.debug">DEBUG</span>
                            <span class="label" ng-show="!ride.shared">PRIVATE</span>
                            <span class="label" ng-class="get_ride_status_class(ride)">(( ride.status ))</span>
                        </div>
                        <div class="span1">
                            <div class="btn-group">
                                <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#" ng-disabled="updating()">
                                    <i class="icon-cog"></i>
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="#" disabled="disabled">Ride ((ride.id))</a></li>
                                    <li class="divider"></li>
                                    <li ng-repeat="action in get_ride_actions(ride)"><a href="#" ng-click="run(action)" ng-disabled="!action.enabled()">(( action.title ))</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="ride-body" >
                        <div class="subtitle">Orders</div>
                        <table class="table table-condensed table-striped orders-table">
                            <tr>
                                <th>From</th>
                                <th>To</th>
                                <th>Create Date</th>
                                <th>Passenger</th>
                                <th># Seats</th>
                                <th>Price</th>
                                <th>Discount</th>
                                <th>Billing</th>
                                <th>Status</th>
                                <th>&nbsp;</th>
                            </tr>
                            <tr ng-repeat="order in ride.orders">
                                <td><span class="label label-info">(( order.pickup_idx ))</span> (( order.from_address )) | (( order.pickup | date:'HH:mm' ))</td>
                                <td><span class="label label-info">(( order.dropoff_idx ))</span> (( order.to_address )) | (( order.dropoff | date:'HH:mm' ))</td>
                                <td><booking-details></booking-details></td>
                                <td><passenger-details></passenger-details></td>
                                <td>(( order.num_seats ))</td>
                                <td>(( order.price | currency:'₪'))</td>
                                <td><a ng-href="/admin/pricing/discountrule/((order.discount_id))/" ng-show="order.discount_id" target="_blank" class='discount_link'><i class='icon-asterisk'></i></a>  (( order.discount | currency:'₪'))</td>
                                <td>(( order.billing_status.join(', ') ))</td>
                                <td><span class="label" ng-class="get_order_status_class(order)">(( order.status ))</span></td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#" ng-disabled="updating()">
                                            <i class="icon-cog"></i>
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a href="#" disabled="disabled">Order ((order.id))</a></li>
                                            <li class="divider"></li>
                                            <li ng-repeat="action in get_order_actions(order)"><a href="#" ng-click="run(action)" ng-disabled="!action.enabled()">((
                                                action.title ))</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <hr class="dashed">
                </div>

                <div class="inc-order-row" ng-show="incomplete_orders">
                    <h4 id="inc-order-top">Incomplete Orders <small>(( incomplete_orders.length | paren_wrap ))</small></h4>
                    <table class="table table-condensed table-striped orders-table">
                        <tr>
                            <th>ID</th>
                            <th>From</th>
                            <th>To</th>
                            <th>Create Date</th>
                            <th>Passenger</th>
                            <th># Seats</th>
                            <th>Price</th>
                            <th>Discount</th>
                            <th>Billing</th>
                            <th>Status</th>
                        </tr>
                        <tr ng-repeat="order in incomplete_orders">
                            <td>(( order.id ))</td>
                            <td>(( order.from_address ))</td>
                            <td>(( order.to_address ))</td>
                            <td><booking-details></booking-details></td>
                            <td><passenger-details></passenger-details></td>
                            <td>(( order.num_seats ))</td>
                            <td>(( order.price | currency:'₪'))</td>
                            <td>(( order.discount | currency:'₪'))</td>
                            <td>(( order.billing_status.join(', ') ))</td>
                            <td><span class="label" ng-class="get_order_status_class(order)">(( order.status ))</span></td>
                        </tr>
                    </table>

                </div>

            </div>
        </div>

        <div class="modal hide fade" id="success-modal" role="dialog">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3><i class="icon-ok"></i> (( modal_header ))</h3>
            </div>
            <div class="modal-body">
                <p>(( modal_body ))</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal">Close</button>
            </div>
        </div>

        <div class="modal hide fade" id="fail-modal" role="dialog">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3><i class="icon-remove"></i> (( modal_header ))</h3>
            </div>
            <div class="modal-body">
                <p>(( modal_body ))</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal">Close</button>
            </div>
        </div>

        <div class="modal hide fade" id="confirm-modal" role="dialog">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3><i class="icon-warning-sign"></i> (( modal_header ))</h3>
            </div>
            <div class="modal-body">
                <p>(( modal_body ))</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" ng-click="confirm_defer.reject()">Cancel</button>
                <button class="btn btn-danger" data-dismiss="modal" ng-click="confirm_defer.resolve()">OK</button>
            </div>
        </div>

        <div class="modal hide fade" id="reassign-modal" role="dialog">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>Reassign Ride</h3>
            </div>
            <div class="modal-body">
                <p>Choose a station to reassign ride to:</p>
                <select name="selected_station" ng-options="s.name for s in stations | filter:s.debug==show_debug" ng-model="selected_station"></select>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" ng-click="assignment_defer.reject()">Cancel</button>
                <button class="btn btn-danger" data-dismiss="modal" ng-click="assignment_defer.resolve(selected_station)"
                        ng-disabled="selected_ride.status == Status.ASSIGNED && selected_station.id == selected_ride.station.id">OK, Reassign Ride</button>
                        <!-- don't allow re-assigning to the same station if status is ASSIGNED -->
            </div>
        </div>



    </div>


{% endblock %}
