{% extends "wb_info.html" %}
{% load i18n %}

{% block content %}
    <div class="h">שאלות נפוצות</div>

    <div class="q">
        איך מזמינים נסיעה?
    </div>
    <div class="a">
        פשוט מאוד.
        <ol>
            <li>גולשים ל- <a class="wb_link" href="{% url wb_home %}">WAYbetter.com</a></li>
            <li>מזינים את מסלול הנסיעה הרצוי (מוצא, יעד, ושעה)</li>
            <li>בוחרים אחת משתי הצעות המחיר לנסיעה (מונית פרטית או מונית WAYbetter משותפת) ומזמינים בלחיצה.
                זה הכל, הנסיעה מוזמנת.
            </li>
        </ol>
        כ- 10 דקות לפני הגעת המונית אליכם, תקבלו תזכורת ב SMS ללא כל עלות.
    </div>

    <div class="q">
        הזמנתי נסיעת WAYbetter אבל נסעתי לבד במונית. כמה אשלם?
    </div>
    <div class="a">
        תשלם את המחיר המוזל של נסיעת WAYbetter, כפי שהוצג בעת ההזמנה.
    </div>

    <div class="q">
        כמה זה יעלה לי?
    </div>
    <div class="a">
        ב-WAYbetter המחיר ידוע מראש ונקבע על פי רמת היעילות במערכת - ככל שיותר אנשים משתמשים כך המחיר נמוך יותר. בכל מקרה תשלם
        תמיד רק את המחיר שמוצג בעת ההזמנה.
    </div>

    <div class="q">
        איך קובעים מי ייסע עם מי?
    </div>
    <div class="a">
        מערכת WAYbetter תאפשר שיתוף רק במידה ומסלולי הנסיעה שלך חופפים במידה מספקת למסלולי השותפים שלך לדרך. WAYbetter פיתחה אלגוריתם ייחודי
        היודע להתחשב במצב התנועה, במיקום צי המוניות ובבקשות הנוסעים ולייצר מסלולים אופטימליים תוך התחשבות ברמת השירות.
    </div>

    <div class="q">
        איך משלמים עבור הנסיעות?
    </div>
    <div class="a">
        כחלק מתפיסת השירות שלנו, אנו מאמינים שההתעסקות עם כסף מזומן, עודף, ואיסוף קבלות פוגעות ברמת השירות. אנו
        רוצים לספק חוויה בה הנוסע עולה ויורד מן המונית באופן חופשי, מבלי להתעסק בכל אלה.
        לכן, אנו מאפשרים לשלם עבור כל הנסיעות באופן אוטומטי בחשבון הקשור בכרטיס אשראי.
        אחת לחודש נשלח אליכם חשבונית אחת מפורטת הכוללת את הנסיעות שביצעתם במהלך החודש האחרון.
    </div>

    <div class="q">
בנסיעות משותפות, איך אני יודע שלא אבזבז זמן ואסע בסיבובים?
    </div>
    <div class="a">
המערכת של WAYbetter מתוכננת להבטיח רמת שירות גבוהה מאוד. המערכת תאחד בינכם ובין נוסעים אחרים תוך הקפדה על מינימום תוספת לזמן הנסיעה. זמן הנסיעה יתארך לכל היותר במספר דקות (25% מזמן הנסיעה הישירה). במידה ולא נמצא דרך לשתף את נסיעתכם במגבלות אלו, תקבלו נסיעה פרטית במחיר של נסיעת WAYbetter!
    </div>

    <div class="q">
האם ניתן לבטל נסיעות?
    </div>
    <div class="a">
כן, נסיעות המוזמנות מראש ניתנות לביטול עד לכחצי שעה לפני זמן האיסוף. נסיעות אשר יבוטלו עד לזמן זה לא יחוייבו כלל.
    </div>
        <div class="q">
הזמנתי נסיעה, והמונית לא הגיעה. מה עלי לעשות?
    </div>
    <div class="a">
אנו עושים כל מאמץ כדי לספק לכל הצדדים המעורבים את האפשרות להתמודד עם מצבים כאלה. בהודעת התזכורת לנסיעה (אשר נשלחת בהודעת סמס חינם) אנו מצרפים את פרטי תחנת המוניות, כולל מספר הטלפון שלה. אל תהסס להשתמש במידע זה, צור קשר והתחנה תדאג לשרתך.
במקרה והנסיעה לא יצאה לפועל בכל זאת: סמן נסיעה זו ברשימת "הנסיעות שלי" באתר ואנו נערוך בירור אל מול כל הגורמים הרלוונטיים, ובהתאם נזכה את חשבונך.
    </div>

{% endblock %}