{% extends "base_passenger.html" %}
{% load i18n %}

{% block bodyclass %}clean_body{% endblock %}
{% block mainclass %}clean_main full_screen_main{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="/static/css/sharing.css" type="text/css" media="all">
{% endblock %}


{% block content %}
    <div id="map_container">
        <div id="map"></div>
    </div>

    <form id="order_form" method="post" action="{% url sharing.passenger_controller.hotspot_ordering_page %}">
        {% csrf_token %}
        {% for field in hidden_fields %}
            <input type="hidden" id="id_hotspot_{{ field }}" name="hotspot_{{ field }}"/>
            <input type="hidden" id="id_p1_{{ field }}" name="p1_{{ field }}"/>
        {% endfor %}
        <input type="hidden" id="id_geocoded_hotspot_raw" name="geocoded_hotspot_raw"/>
        <input type="hidden" id="id_geocoded_p1_raw" name="geocoded_p1_raw"/>

        <ul>
            <span id="from">{% trans 'From' %}</span>
            <li id="hotspot">
                <input type=text class="big_text a_marker marker_disabled address_ac_from" id="id_hotspot_raw"
                       name="hotspot_raw"
                       placeholder="{% trans 'Enter pickup address' %}"/>
                <label for="id_hotspot_times">{% trans 'Select time' %}</label>
                <select id="id_hotspot_times" name="hotspot_time">
                    {% for time in hotspot_times %}
                        <option value={{ time }}>{{ time }}</option>
                    {% endfor %}
                </select>
            </li>
            <span id="to">{% trans 'To' %}</span>
            <li id="p1" class="point">
                <input type=text class="big_text b_marker marker_disabled address_ac_to" id="id_p1_raw"
                       name="p1_raw"
                       placeholder="{% trans 'Enter drop-off address' %}"/>
            </li>
        </ul>

        <h3>{% trans "Time constraints (optional)" %}</h3>
        {{ constraints_form.as_p }}

        <button type=submit class="order_button" id="order_button">{% trans 'Pick Me Up' %}</button>
    </form>


    <a href="#" id="add_point">{% trans 'Add point' %}</a>
    <a href="#" id="toggle_hotspot">{% trans 'Switch Direction' %}</a>

{% endblock %}


{% block doc_ready %}
    {{ block.super }}
    <script src="http://api.navigator.telmap.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript">

        var pickup = "pickup",
                dropoff = "dropoff",
                hotspot_type = pickup,
                point_counter = 1;

        function addPoint(address) {
            point_counter ++;
            var address_type = "p" + point_counter;
            OrderingHelper.createHiddenFields(address_type);

            var $input = $('<input type=text class="big_text marker_disabled"/>').attr("id", 'id_p' + point_counter + '_raw').attr("name", 'p' + point_counter + '_raw');
            var $remove = $('<a href="#">Remove</a>').click(function(e) {
                e.preventDefault();
                OrderingHelper.deleteHiddenFields(address_type);
                OrderingHelper.removePoint(address_type);
                $(this).parent().remove();
            });

            var $point = $('<li class="point" id="' + address_type + '"></li>').append($input).append($remove);
            $(".point").last().after($point);

            var point_type = (hotspot_type == pickup) ? dropoff : pickup;
            if (point_type == pickup) {
                OrderingHelper.asPickup("#" + address_type);
            }
            else {
                OrderingHelper.asDropoff("#" + address_type);
            }

            OrderingHelper._makeAddressInput($input);

            if (address){
                address.address_type = address_type;
                address.populateFields();
            }
        }

        $(function() {
            {% autoescape off %}
                OrderingHelper.config.hidden_fields = {{ hidden_fields }};
            {% endautoescape %}

            $("#toggle_hotspot").click(function(e) {
                e.preventDefault();
                hotspot_type = (hotspot_type == pickup) ? dropoff : pickup;
                if (hotspot_type == pickup) {
                    OrderingHelper.asPickup("#hotspot");
                    OrderingHelper.asDropoff(".point");
                    $("#to").before($("#hotspot")).after($(".point"));
                }
                else {
                    OrderingHelper.asDropoff("#hotspot");
                    OrderingHelper.asPickup(".point");
                    $("#to").before($(".point")).after($("#hotspot"));
                }
                OrderingHelper.initPoints();
            });

            $("#add_point").click(function(e) {
                e.preventDefault();
                addPoint();
            });

            $("#order_form").submit(function() {
                if ($("#id_time_const_min").val() && $("#id_time_const_frac").val()) {
                    alert("Please specify only one time constraint");
                    return false;
                }
                else {
                    if ($("#id_time_const_frac").val()) {
                        $(this).append('<input type="hidden" name="time_const_frac" value="' + $("#id_time_const_frac").val() + '"/>');
                    }
                    if ($("#id_time_const_const").val()) {
                        $(this).append('<input type="hidden" name="time_const_min" value="' + $("#id_time_const_min").val() + '"/>');
                    }
                }

                $(this).append('<input type="hidden" name="hotspot_type" value="' + hotspot_type + '"/>');
            });

            telmap.maps.event.addListener(OrderingHelper.map, 'click', function(e) {
                $.ajax({
                    url: "{% url ordering.passenger_controller.resolve_coordinates %}",
                    type: "GET",
                    data: { lat: e.latLng.lat(),
                        lon: e.latLng.lng()  },
                    dataType: "json",
                    success: function(resolve_result) {
                        var new_address = Address.fromServerResponse(resolve_result);
                        if (new_address.street_address) {   // only update to new address if it contains a valid street
                            if ($(":focus").parent().attr("id") == "hotspot" || $(":focus").parent().hasClass("point")) {
                                new_address.address_type = $(":focus").parent().attr("id");
                                new_address.populateFields();
                            }
                            else{
                                addPoint(new_address);
                            }
                            OrderingHelper.updateAddressChoice(new_address);
                            $('#id_' + new_address.address_type + '_raw').effect("highlight", 2000);
                        } else {                    // set previous address
                            alert("No street address where you clicked");
                        }
                    }
                });
            });

        });
    </script>

{% endblock %}