{% load i18n %}
<div id="error_tip" class="myrides-tip-content hidden">
    <span class="close">X</span>
    <div class="header">{% trans "Error" %}</div>
    <div class="content">
        <p>
            {% trans "An error has occurred, Please try again." %}
        </p>
    </div>
    <div class="footer"></div>
</div>

<div id="ride_pending_tip" class="myrides-tip-content hidden">
    <span class="close">X</span>
    <div class="header">{% trans "Your WAY is Booked" %}</div>
    <div class="content">
        <p>
            {% trans "A detailed SMS reminder will be sent 5-10 minutes prior to the taxi's arrival." %}
        </p>
    </div>
    <div class="footer">
        {% trans "*This ride can be canceled." %}
        <div id="cancel_ride_link" class="wb_link">{% trans "Cancel ride" %}</div>
        <div class="tooltip_loader"></div>
    </div>
</div>

<div id="ride_submitted_tip" class="myrides-tip-content hidden">
    <span class="close">X</span>
    <div class="header">{% trans "Optimizing your WAY" %}</div>
    <div class="content">
        <p>
            {% trans "Your ride is being calculated..." %}
            <br/>
            {% trans "This takes a few minutes" %}

        </p>
    </div>
    <div class="footer">
        {% trans "*This ride can not be canceled." %} <span class="wb_link">{% trans "Why?" %}</span>
    </div>
</div>

<div id="ride_completed_tip" class="myrides-tip-content hidden">
    <span class="close">X</span>
    <div class="header">{% trans "Your WAY Details" %}</div>
    <div class="content">
        <table>
            <tr>
                <td>{% trans "Pickup Time" %}:</td>
                <td id="pickup_time_val"></td>
            </tr>
            <tr>
                <td>{% trans "Taxi Number" %}:</td>
                <td id="taxi_number_val"></td>
            </tr>
            <tr>
                <td>{% trans "Station" %}:</td>
                <td id="station_name_val"></td>
            </tr>
        </table>
    </div>
    <div class="footer">
        {% trans "Have a pleasant ride." %}
    </div>
</div>

<div id="report_ride_tip" class="myrides-tip-content hidden">
    <span class="close">X</span>
    <div class="header">{% trans "Report This Ride" %}</div>
    <div class="content">
        <p>
            {% trans "If you have any comments regarding this ride, please do not hesitate and write us an email." %}
        </p>
    </div>
    <div class="footer">
        {% trans "Contact us" %}: <a id="report_ride_link" class="wb_link">{% trans "rides@waybetter.com" %}</a>
    </div>
</div>
