{% load i18n %}
{% for order in orders %} {% trans "Pickup" %}: {{ order.pickup_time }} {{ order.pickup_address }}
    {% trans "Dropoff" %}: {{ order.dropoff_time }} {{ order.dropoff_address }}
{% endfor %}
{% trans "Driver details" %}: {{ driver.name}} {{ driver.phone }}
