{% extends "wb_base_site.html" %}
{% load i18n %}
{% load value_from_settings %}

{% block content %}
    {#    {% if order %}#}
    {#        <div>#}
    {#            Order Details:<br>{{ order }}<br> {{ order.value }} NIS#}
    {#        </div>#}
    {#    {% endif %}#}

    <table id="progress">
        <tr>
            <td class="step {% if step == "auth" %}current{% endif %}">1. {% trans "Account Information" %}</td>
            <td class="step {% if step == "phone" %}current{% endif %}">2. {% trans "Phone Verification" %}</td>
            <td class="step">3. {% trans "Billing Information" %}</td>
        </tr>
    </table>

    <div class="spacer top"></div>

    {% if step == "auth" %}
        <div class="header-row">
            <span class="step-header">{% trans "Account Information" %}</span>

            <span class="login float-farend">
                <span class="bold">{% trans "Already a member?" %}</span>
                <a href="{{ login_link }}" class="wb_link">{% trans "Sign In" %}</a>
            </span>
        </div>

        <table id="auth_step">
            <tr>
{#                <td class="fb">#}
{#                    {% trans "Use your Facebook account for fast registration:" %}#}
{#                    <a id="fb_login_button" href="{% value_from_settings FACEBOOK_LOGIN_LINK %}"></a>#}
{#                    <a id="fb_login_button"></a>#}
{#                    <div style="text-align: center; color: #BCBCBC">{% trans "Coming Soon" %}...</div>#}
{#                </td>#}
{#                <td class="vrule-cntr">#}
{#                    <div class="vrule"></div>#}
{#                    <div class="or">{% trans "OR" %}</div>#}
{#                    <div class="vrule"></div>#}
{#                </td>#}
                <td>
                    {% load ajax_form_utils %}
                    <form id="auth_form">
                        {% csrf_token %}
                        <table id="user_details">
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            {% for field in form.visible_fields %}
                                {% if field.html_name != "agree_to_terms" %}
                                    <tr class="input-row">
                                        <th>{{ field.label_tag }}</th>
                                        <td>{{ field }}
                                            <ul class="errorlist hidden">{{ field.errors }}</ul>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            <tr>
                                <td></td>
                                <td id="terms_container">
                                        <input type="checkbox" name="agree_to_terms" id="id_agree_to_terms"/>
                                        <label for="id_agree_to_terms">{% trans "I agree to the" %}
                                            <a class="wb_link" target="_blank"
                                               href="{% url terms %}">{% trans "Terms Of Use" %} </a>
                                            {% trans "and" %} <a class="wb_link" target="_blank"
                                                                 href="{% url privacy %}">{% trans "Privacy Statement" %}.</a>
                                        </label>
                                        <ul class="errorlist hidden"></ul>
                                </td>
                            </tr>
                        </table>
                    </form>
                </td>
            </tr>
        </table>

    {% else %}

        <table id="phone_step">
            <tr class="header-raw">
                <td colspan="2">
                    <span class="step-header">{% trans "Phone Verification" %}</span>
                </td>
            </tr>
            <tr>
                <td class="form cntr">
                    <form id="phone_form">
                        {% csrf_token %}
                        <input name="country_code" type="hidden" value="{{ country_code }}"/>
                        <table>
                            <tr class="phone cntr">
                                <td>
                                    <label for="local_phone">{% trans "Mobile Phone" %}</label>
                                </td>
                                <td>
                                    <input id="local_phone" name="local_phone" type="text"/>
                                </td>
                            </tr>
                            <tr class="btn cntr">
                                <td></td>
                                <td>
                                    <div id="sms_button_container">
                                        <button id="validate_phone" type="button" class="wb_button"
                                                disabled="disabled">{% trans "Send SMS Code" %}</button>
                                        {#                                        <div id="didnt_get_code">#}
                                        {#                                            <a class="wb_link"#}
                                        {#                                               href="mailto:support@waybetter.com?subject={% trans "I didn't get the SMS code" %}">{% trans "I didn't get the SMS code" %}</a>#}
                                        {#                                        </div>#}
                                    </div>
                                </td>
                            </tr>
                            <tr class="code cntr">
                                <td>
                                    <label for="verification_code">{% trans "Enter Code" %}</label>
                                </td>
                                <td>
                                    <input id="verification_code" name="verification_code" type="text"/>
                                    <span id="verification_status"></span>
                                </td>
                            </tr>
                        </table>

                    </form>
                </td>
                <td class="img cntr">
                    <div class="sms-img"></div>
                </td>
            </tr>
        </table>
    {% endif %}

    <div class="spacer bottom"></div>

    <div id="next_container">
        {% if step == "auth" %}
            <span id="bottom_login">
                {% trans "Already a member?" %} <a href="{{ login_link }}" class="wb_link">{% trans "Sign In" %}</a>
            </span>
            <button id="finish_auth" class="wb_button">{% trans "Next" %} ></button>
        {% else %}
            <button id="finish_phone" class="wb_button" disabled="disabled">{% trans "Next" %} ></button>
        {% endif %}
    </div>

{% endblock %}

{% block post_content %}{% endblock %}

{% block doc_ready %}
    {{ block.super }}

    <script type="text/javascript">
        $(function () {
            // set login links from base template
            $("[href='{% url auth_login %}']").attr("href", "{{ login_link }}");
        });
    </script>

    {% if step == "auth" %}
        <script type="text/javascript">
            $(function () {
                var validations = {% render_ajax_fields form %};
                $('#auth_form').validation(validations, {
                    on_form_valid:function (event, form) {
                        $("#finish_auth").enable();
                    }
                });

                $("#finish_auth").click(function () {
                    $.ajax({
                        url:"{% url register_user %}",
                        type:"POST",
                        data:$("#auth_form").serialize(),
                        beforeSend:function () {
                            var $that = $("#finish_auth");
                            $that.disable().data("old_text", $that.text()).text("{% trans "Sending" %}");
                        },
                        success:function (response) {
                            $(".errorlist").empty();
                            if (response.errors) {
                                $("#finish_auth").text($("#finish_auth").data("old_text")).enable();
                                $.each(response.errors, function (i, e) {
                                    $("#id_" + e.field_name).siblings(".errorlist").replaceWith(e.errors_ul);
                                });
                            }
                            else {
                                gaHitPage("user_registered.html");
                                if (response.redirect) {
                                    window.location.href = response.redirect;
                                }
                                else {
                                    window.location.href = "{% url wb_home %}";
                                }
                            }
                        },
                        error:function () {
                            $("#finish_auth").text($("#finish_auth").data("old_text")).enable();
                            alert("{% trans "An error occurred, please try again" %}.");
                        }
                    });
                });

                $("#auth_form input").not(":hidden").first().focus();
            });
        </script>

    {% else %}

        <script type="text/javascript">
            function updateValidatePhoneButtonState() {
                var $local_phone = $("#local_phone");
                $local_phone.val($local_phone.val().split(/\D+/).join(""));
                if ($local_phone.val().length > 9) {
                    $("#validate_phone").enable();
                } else {
                    $("#validate_phone").disable();
                }
            }

            function sendCode() {
                var $that = $("#validate_phone");
                $.ajax({
                    url:"{% url send_verification_code %}",
                    data:$("#phone_form").serialize(),
                    type:"POST",
                    beforeSend:function () {
                        $that.disable().data("old_text", $that.text()).text("{% trans "Sending" %}");
                    },
                    success:function (d) {
                        $that.text("{% trans "Code Sent" %}");
                        $("#local_phone").one("keydown", function () {
                            $that.text($that.data("old_text")).enable();

                        });
                        $("#verification_code").enable().focus();
                    },
                    error:function () {
                        alert("error");
                        $that.text($that.data("old_text")).enable();
                    }
                })
            }

            $(function () {
                $("#finish_phone").disable();
                updateValidatePhoneButtonState();
                $("#local_phone").keyup(function (e) {
                    updateValidatePhoneButtonState();
                    if (e.which == 13) {
                        sendCode();
                    }
                });

                $("#validate_phone").click(function () {
                    sendCode();
                });

                $("#verification_code").keyup(
                        function () {
                            var val = $(this).val();
                            if (val && val.length == 4) {
                                var data = $("#phone_form").serialize();
                                var $status = $("#verification_status");
                                var $code = $("#verification_code");
                                $code.disable();

                                $.ajax({
                                    url:"{% url register_passenger %}",
                                    type:"POST",
                                    data:data,
                                    beforeSend:function () {
                                        $("#finish_phone").disable();
                                        $status.removeClass("error success").addClass("sending");
                                    },
                                    complete:function () {
                                        $status.removeClass("sending");
                                    },
                                    success:function (response) {
                                        $status.addClass("success");
                                        $("#phone_form input").disable();
                                        $("#finish_phone").enable().unbind("click").bind("click", function (e) {
                                            e.preventDefault();
                                            window.location.href = response.redirect;
                                        });

                                        gaHitPage("phone_verified.html")
                                    },
                                    error:function (response) {
                                        Registrator.openWBErrorDialog("{% trans 'OOPS...' %}", response.responseText, undefined);
                                        $status.addClass("error");
                                        $code.enable();
                                    }

                                })
                            }
                        }).keydown(function (event) {
                            var permittedKeys = [8, 37, 38, 39, 40, 46];

                            if ($(this).val().length >= 4 && $.inArray(event.which, permittedKeys) < 0) {
                                return false;
                            }
                        });

                $("#local_phone").focus();
            });
        </script>
    {% endif %}

{% endblock %}
