{% extends "wb_base_site.html" %}
{% load i18n %}
{% load value_from_settings %}

{% block header %}{% endblock %}
{% block extrastyle %}
    {{ block.super }}
    <style type="text/css">
        .breadcrumb{
            background-color: inherit;
            margin-bottom: 0;
            padding: 5px 0;
        }
        .breadcrumb li{
            color: #999;
        }
        .breadcrumb .active{
            color: inherit;
        }
        .errorlist{
            list-style: none;
            color: #B94A48;
            margin: 0;
        }


        #verification_status{
            width: 122px;
            display: inline-block;
            font-size: 24px;
            line-height: 21px;
        }
        #verification_status i {
            visibility: hidden;
        }
        #verification_status.success i.icon-ok-sign {
            color: green;
            visibility: visible;
        }
        #verification_status.error i.icon-remove {
            color: #B94A48;
            visibility: visible;
        }

    </style>
{% endblock %}

{#    {% if order %}#}
{#        <div>#}
{#            Order Details:<br>{{ order }}<br> {{ order.value }} NIS#}
{#        </div>#}
{#    {% endif %}#}

{% block content %}
        <div id="content">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <div class="modal modal-flat">
                            <div class="modal-header pagination-centered">
                                <h3>{% trans "Join WAYbetter" %}</h3>
                                <ul class="breadcrumb">
                                    <li {% if step == "auth" %}class="active"{% endif %}>
                                        {% trans "Account Information" %}<span class="divider">/</span></li>
                                    <li {% if step == "phone" %}class="active"{% endif %}>
                                        {% trans "Phone Verification" %}<span class="divider">/</span></li>
                                    <li>{% trans "Billing Information" %}</li>
                                </ul>
                            </div>

                            {% if step == "auth" %}
                                <div class="modal-body">
                                    <form id="auth_form" class="form-horizontal">
                                        {% csrf_token %}
                                        {% for field in form.hidden_fields %} {{ field }}{% endfor %}
                                        {% for field in form.visible_fields %}
                                            {% ifnotequal field.html_name "agree_to_terms"  %}
                                                <div class="control-group">
                                                    <div class="control-label"><label for="{{ field.html_name }}">{{ field.label }}</label></div>
                                                    <div class="controls">
                                                        {{ field }}
                                                        <ul class="errorlist">{{ field.errors }}</ul>
                                                    </div>
                                                </div>
                                            {% endifnotequal %}
                                        {% endfor %}

                                        <div class="control-group">
                                            <div class="controls">
                                                <label class="checkbox">
                                                    <input type="checkbox" name="agree_to_terms" id="id_agree_to_terms">
                                                    {% trans "I agree to the" %}
                                                    <a class="wb_link" target="_blank" href="{% url terms %}">{% trans "Terms Of Use" %} </a>
                                                    {% trans "and" %} <a class="wb_link" target="_blank" href="{% url privacy %}">{% trans "Privacy Statement" %}.</a>
                                                    <ul class="errorlist hidden"></ul>
                                                </label>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="modal-footer">
                                    <button id="finish_auth" class="btn btn-primary pull-right">{% trans "Next" %}</button>
                                    <a href="{{ login_link }}" class="btn btn-warning pull-left">{% trans "Already a member?" %}</a>
                                </div>

                            {% else %} <!-- step == phone -->
                                <div class="modal-body">
                                    <form id="phone_form" class="form-horizontal pagination-centered">
                                        {% csrf_token %}
                                        <input name="country_code" type="hidden" value="{{ country_code }}"/>

                                        <div class="control-group">
                                            <div class="input-prepend">
                                                <span class="add-on"><i class="icon-phone"></i></span>
                                                <input id="local_phone" name="local_phone" type="text" placeholder="{% trans "Mobile Phone" %}"/>
                                            </div>
                                            <button id="validate_phone" class="btn btn-warning" disabled="disabled">{% trans "Send SMS Code" %}</button>
                                        </div>
                                        <div class="control-group">
                                            <div class="input-prepend">
                                                <span class="add-on"><i class="icon-comments"></i></span>
                                                <input id="verification_code" name="verification_code" type="text" placeholder="{% trans "SMS code" %}"/>
                                            </div>
                                            <span id="verification_status">
                                                <i class="icon-ok-sign"></i>
                                                <i class="icon-remove"></i>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button id="finish_phone" class="btn btn-primary" disabled="disabled">{% trans "Next" %}</button>
                                </div>

                            {% endif %} <!-- end steps -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}


{% block doc_ready %}
    {{ block.super }}


    <script type="text/javascript">
        var GA_EVENT_CATEGORY = "registration";

        {% if step == "auth" %}

            $(function () {
                $("#auth_form input").not(":hidden").first().focus();

                var $finish_auth = $("#finish_auth");
                $finish_auth.click(function () {
                    $.ajax({
                        url:"{% url register_user %}",
                        type:"POST",
                        data:$("#auth_form").serialize(),
                        beforeSend:function () {
                            $finish_auth.disable();
                        },
                        complete: function(){
                            $finish_auth.enable();
                        },
                        success:function (response) {
                            $(".errorlist").empty();
                            if (response.errors) {
                                $.each(response.errors, function (i, e) {
                                    $("#id_" + e.field_name).siblings(".errorlist").replaceWith(e.errors_ul);
                                });
                            }
                            else {
                                gaHitPage("user_registered.html");
                                if (response.redirect) { window.location.href = response.redirect; }
                                else { window.location.href = "{% url wb_home %}"; }
                            }
                        },
                        error:function () {
                            alert("{% trans "An error occurred, please try again" %}.");
                        }
                    });
                });

                // Google Analytics
                $("#id_name").one("keyup", function () {
                    logGAEvent(GA_EVENT_CATEGORY, "full name");
                });
                $("#id_email").one("keyup", function () {
                    logGAEvent(GA_EVENT_CATEGORY, "your email");
                });
                $("#id_password").one("keyup", function () {
                    logGAEvent(GA_EVENT_CATEGORY, "password");
                });
                $("#id_re_password").one("keyup", function () {
                    logGAEvent(GA_EVENT_CATEGORY, "password again");
                });
                $("#id_agree_to_terms").one("click", function () {
                    logGAEvent(GA_EVENT_CATEGORY, "i agree");
                });
                $finish_auth.bind("click", function () {
                    logGAEvent(GA_EVENT_CATEGORY, "next", "details");
                });
            });

        {% else %}
            var $local_phone = $("#local_phone"),
                $validate_phone = $("#validate_phone"),
                $verification_code = $("#verification_code"),
                $finish_phone = $("#finish_phone");

            function updateValidatePhoneButtonState() {
                $local_phone.val($local_phone.val().split(/\D+/).join(""));
                if ($local_phone.val().length > 9) {
                    $validate_phone.enable();
                } else {
                    $validate_phone.disable();
                }
            }

            function sendCode() {
                $.ajax({
                    url:"{% url send_verification_code %}",
                    data:$("#phone_form").serialize(),
                    type:"POST",
                    beforeSend:function () {
                        $validate_phone.disable();
                    },
                    success:function (d) {
                        $validate_phone.text("{% trans "Code Sent" %}").removeClass("btn-warning").addClass("btn-success");
                        $verification_code.enable().focus();
                        $local_phone.one("keydown", function () { $validate_phone.enable(); });
                    },
                    error:function () {
                        $validate_phone.enable();
                    }
                })
            }

            $(function () {
                $local_phone.focus();
                $finish_phone.disable();
                $verification_code.disable();

                updateValidatePhoneButtonState();
                $local_phone.keyup(function (e) {
                    updateValidatePhoneButtonState();
                    if (e.which == 13) { sendCode(); }
                });

                $validate_phone.click(function () {
                    sendCode();
                });

                $verification_code.keyup(
                        function () {
                            var val = $(this).val();
                            if (val && val.length == 4) {
                                var data = $("#phone_form").serialize();
                                var $status = $("#verification_status");
                                $verification_code.disable();

                                $.ajax({
                                    url:"{% url register_passenger %}",
                                    type:"POST",
                                    data:data,
                                    beforeSend:function () {
                                        $finish_phone.disable();
                                        $status.removeClass("error success").addClass("sending");
                                    },
                                    complete:function () {
                                        $status.removeClass("sending");
                                    },
                                    success:function (response) {
                                        $status.addClass("success");
                                        $("#phone_form input").disable();
                                        $finish_phone.enable().unbind("click").bind("click", function (e) {
                                            e.preventDefault();
                                            window.location.href = response.redirect;
                                        });

                                        gaHitPage("phone_verified.html")
                                    },
                                    error:function (response) {
                                        $status.addClass("error");
                                        $verification_code.enable();
                                    }

                                })
                            }
                        }).keydown(function (event) {
                            var permittedKeys = [8, 37, 38, 39, 40, 46];
                            if ($(this).val().length >= 4 && $.inArray(event.which, permittedKeys) < 0) {
                                return false;
                            }
                        });


                // Google Analytics
                $finish_phone.bind("click", function () {
                    logGAEvent(GA_EVENT_CATEGORY, "next", "phone");
                });
                $validate_phone.bind("click", function () {
                    logGAEvent(GA_EVENT_CATEGORY, "send validation code");
                });
                $local_phone.one("keyup", function () {
                    logGAEvent(GA_EVENT_CATEGORY, "insert phone number");
                });
                $verification_code.one("keyup", function () {
                    logGAEvent(GA_EVENT_CATEGORY, "insert validation code");
                });
            });

        {% endif %}
    </script>

{% endblock %}
