{% extends "wb_base_site.html" %}
{% load i18n %}
{% load value_from_settings %}

{% block top_left %}
    {% trans "First Time? Join the Movement...  " %}
{% endblock %}

{% block top_right %}
    {% trans "Already a member?" %} <a href="{{ login_link }}" class="wb_link">{% trans "Sign In" %}</a>
{% endblock %}

{% block content %}
    {#    {% if order %}#}
    {#        <div>#}
    {#            Order Details:<br>{{ order }}<br> {{ order.value }} NIS#}
    {#        </div>#}
    {#    {% endif %}#}

    <form id="validation">
        <div class="header">
            1. {% trans "Ride details are sent by free SMS" %}:
        </div>
        <div class="container">
            <div id="phone_container">
                <label for="local_phone">
                    {% trans "Mobile Phone" %}
                </label>
                <input id="local_phone" name="local_phone" type="text"/>
                <button type="button" class="wb_button" id="validate_phone">{% trans "Get Code" %}</button>
            </div>
            <div id="code_container">
                <label for="verification_code">
                    {% trans "Enter Code" %}
                </label>
                <input id="verification_code" name="verification_code" type="text"/>
                <input name="country_code" type="hidden" value="{{ country_code }}"/>
                <span id="verification_status"></span>
            </div>
            <div class="clear"></div>
        </div>
    </form>

    <table id="registration_details">
        <tr>
            <td colspan="3">
                <span class="header">
                    2. {% trans "Setup your account:" %}
                </span>
            </td>
        </tr>

        <tr>
            <td class="padded first">
                {% trans "Use your Facebook account for fast registration:" %}

                <div id="fb_connect">
                    <div id="fb-root"></div>
                    <fb:login-button perms="email,user_checkins">{% trans "Login with Facebook" %}</fb:login-button>
                </div>

            </td>
            <td>
                <div class="vrule"></div>
                <div>{% trans "OR" %}</div>
                <div class="vrule"></div>
            </td>
            <td class="padded">
                {% load ajax_form_utils %}
                <form id="passenger_form" action="{% url register %}" method="POST">
                    {% csrf_token %}
                    <table id="user_details">
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        {% for field in form.visible_fields %}
                            {% if field.html_name != "agree_to_terms" %}
                                <tr>
                                    <th>{{ field.label_tag }}</th>
                                    <td>{{ field }}
                                        <ul class="errorlist">{{ field.errors }}</ul>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                    <div id="terms_container">
                        <input type="checkbox" name="agree_to_terms" id="id_agree_to_terms"/>
                        <label for="id_agree_to_terms">{% trans "I agree to the" %}
                            <a class="wb_link" href="{% url terms %}">{% trans "Terms Of Use" %} </a>
                            {% trans "and" %} <a class="wb_link"
                                                 href="{% url privacy %}">{% trans "Privacy Statement" %}.</a>
                        </label>
                    </div>
                </form>
            </td>
        </tr>
    </table>

    <div id="next_container">
        <div id="bottom_login">
            {% trans "Already a member?" %} <a href="{{ login_link }}" class="wb_link">{% trans "Sign In" %}</a>
        </div>
        <button id="finish_registration" class="wb_button">{% trans "Next" %} ></button>
    </div>

{% endblock %}

{% block doc_ready %}
    {{ block.super }}
    <script type="text/javascript">
        function updateValidatePhoneButtonState() {
            var $local_phone = $("#local_phone");
            $local_phone.val($local_phone.val().split(/\D+/).join(""));
            if ($local_phone.val().length > 9) {
                $("#validate_phone").enable();
            } else {
                $("#validate_phone").disable();
            }
        }

        function setPassengerFormStatus(enable) {
            var sel = "#passenger_form input, #passenger_form button";
            if (enable) {
                $(sel).enable();
                $("#registration_details").removeClass("disabled");
//                initFbAsync();
//                $("#fb_connect").removeClass("disabled");
            } else {
                $("#registration_details").addClass("disabled");
                $("#fb_connect *").hide();
                $("#fb_connect").addClass("disabled");
                $(sel).disable();
            }
        }

        function initFbAsync() {
            window.fbAsyncInit = function() {
                var appId = {% value_from_settings "FACEBOOK" %}.appId;
                FB.init({
                    appId: appId,
                    cookie:true,
                    status:true,
                    xfbml:true
                });
            };

            $.getScript('http://connect.facebook.net/en_US/all.js', function() {
                $("#fb_connect *").show();
            });
        }

        $(function() {
            $("[href='{% url auth_login %}']").attr("href", "{{ login_link }}");


            var validations = {% render_ajax_fields form %};
            $('#passenger_form').validation(validations);

            updateValidatePhoneButtonState();
            setPassengerFormStatus(false);

            $("#local_phone").keyup(function() {
                updateValidatePhoneButtonState();
            });
            $("#verification_code").keyup(
                    function() {
                        var val = $(this).val();
                        if (val && val.length == 4) {
                            var data = $("#validation").serialize();
                            $("#verification_code").disable();
                            $("#verification_status").removeClass("error success").addClass("sending");

                            $.ajax({
                                url: "{% url validate_phone %}",
                                type: "POST",
                                data: data,
                                success: function() {
                                    $("#verification_status").addClass("success");
                                    $("#validation input").disable();
                                    setPassengerFormStatus(true);
                                },
                                error: function() {
                                    $("#verification_status").addClass("error");
                                    $("#verification_code").enable();
                                },
                                complete: function() {
                                    $("#verification_status").removeClass("sending");
                                }

                            })
                        }
                    }).keydown(function(event) {
                        var permittedKeys = [8,37,38,39,40,46];

                        if ($(this).val().length >= 4 && $.inArray(event.which, permittedKeys) < 0) {
                            return false;
                        }
                    });

            $("#validate_phone").click(function() {
                var $that = $(this);
                $.ajax({
                    url: "{% url send_verification_code %}",
                    data: $("#validation").serialize(),
                    type: "POST",
                    beforeSend: function() {
                        $that.disable().data("old_text", $that.text()).text("{% trans "Sending" %}");
                    },
                    success: function(d) {
                        $that.text("{% trans "Code Sent" %}");
                        $("#local_phone").one("keydown", function(){
                            $that.text($that.data("old_text")).enable();

                        })
                    },
                    error: function() {
                        alert("error");
                        $that.text($that.data("old_text")).enable();
                    }
                })
            });

            $("#id_agree_to_terms").change(function() {
                var valid = $('#passenger_form').valid();
                if (valid && $(this).attr("checked") == "checked") {
                    $("#finish_registration").enable();
                }
                else {
                    $("#finish_registration").disable();
                }
            });

            $("#finish_registration").disable().click(function() {
                $.ajax({
                    url: "{% url register %}",
                    type: "POST",
                    data: $("#passenger_form").serialize(),
                    beforeSend: function() {
                        var $that = $("#finish_registration");
                        $that.disable().data("old_text", $that.text()).text("{% trans "Sending" %}");
                    },
                    complete: function() {
                        var $that = $("#finish_registration");
                        $that.text($that.data("old_text")).enable();
                    },
                    success: function(response) {
                        $(".errorlist").empty();
                        if (response.errors) {
                            $.each(response.errors, function(i, e) {
                                $("#id_" + e.field_name).siblings(".errorlist").replaceWith(e.errors_ul);
                            });
                        }
                        else {
                            if (response.redirect) {
                                window.location.href = response.redirect;
                            }
                            else {
                                alert("Error");
                            }
                        }
                    },
                    error: function() {
                        alert("Error");
                    }
                });
            });
        });
    </script>
{% endblock %}
