{% load i18n %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
<html>
	<body style="font-family:Arial, sans-serif; font-size:13px" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
		<p>
            {% blocktrans %}Hi {{ passenger_name }},{% endblocktrans %}
		</p>
		<p>
            {% trans "Thank you for using WAYbetter's smart taxi service" %}
		</p>
		<p>
			<b>
                {% blocktrans %}Order details (ID: {{ order_id }}){% endblocktrans %}
			</b>
		</p>
		<table cellpadding="10" cellspacing="0" style="border:none;border-collapse:collapse;font-size:13px;text-align:{{ LANGUAGE_BIDI|yesno:"right,left" }};" width="600px" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
			<tr style="background:#CCC">
				<th style="border:1px dotted #aaa">{% trans "Pickup" %}</th>
				<th style="border:1px dotted #aaa">{% trans "Dropoff" %}</th>
				<th style="border:1px dotted #aaa">{% trans "Ride Type" %}</th>
			</tr>
			<tr>
				<td style="border:1px dotted #aaa">{{ pickup }}</td>
				<td style="border:1px dotted #aaa">{{ dropoff }}</td>
				<td style="border:1px dotted #aaa">{{ order_type }}</td>
			</tr>
		</table>
        <br>
        <table cellpadding="10" cellspacing="0" style="border:none;border-collapse:collapse;font-size:13px;text-align:{{ LANGUAGE_BIDI|yesno:"right,left" }};" width="600px" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
            <tr style="background:#CCC">
                <th style="border:1px dotted #aaa">{% trans "Estimated Pickup Time" %}</th>
                <th style="border:1px dotted #aaa">{% trans "Price" %}</th>
            </tr>
            <tr>
                <td style="border:1px dotted #aaa; direction:ltr">{{ depart_time }}</td>
                <td style="border:1px dotted #aaa; font-weight: bold">{{ price }} &#8362;</td>
            </tr>
        </table>

        <p>{% trans "Please note" %}:
            <br>* {% trans "A free SMS will remind you a few minutes before your taxi arrives" %}
            <br>* {% trans "A detailed invoice will be sent on the 1st of next month" %}
            <br>* {% trans "You can cancel this ride at no cost in out website up to one hour before the pickup time" %}
        </p>

        <p><b>
            {% trans "Have a great ride" %}!!!
        </b></p>

        <p>{% trans 'The <a href="http://www.waybetter.com">WAYbetter</a> team' %}</p>

        <p><a href="http://www.waybetter.com/{% url my_rides %}">-{% trans "View your order on our website" %}-</a></p>

    </body>
</html>
