{% extends "wb_info.html" %}

{% block content %}
    <p>
        חברת ווי בטר בע"מ (להלן – "החברה") מייחסת כבוד רב לפרטיות לקוחותיה והמשתמשים באתר שהיא מפעילה ומנהלת בכתובת
        www.waybetter.com (להלן – "האתר").
    </p>
    <p>
        מדיניות הפרטיות המובאת בזאת לפניך (להלן – "מדיניות הפרטיות") להלן מנוסחת בלשון זכר-יחיד מטעמי נוחות בלבד, וכל
        האמור בהם מתייחס, כמובן, גם לנקבה וגם לרבים.
    </p>

    <p>מדיניות הפרטיות הינה חלק אינטגראלי מתנאי השימוש המצויים באתר. אנא קרא היטב את מדיניות הפרטיות ואת תנאי השימוש
        בטרם השימוש באתר. מושגים אשר אינם מוגדרים במדיניות הפרטיות במפורש, יקבלו את המשמעות שניתנה להם בתנאי השימוש,
        בשינויים המחוייבים. הוראות מדיניות הפרטיות יחולו גם על אפליקציות ועל השירותים הניתנים באמצעות אפליקציות, וכל
        התייחסות במדיניות הפרטיות לאתר ולשירותים תחול על האפליקציות ועל השירותים המוצעים באפליקציות, בשינויים
        המחויבים.</p>

    <p>המסמך להלן מגדיר את התנאים החלים עליך כחלק ממדיניות הפרטיות בעת השימוש באתר, ומהווים חוזה מחייב בינך לבין החברה.
        אם אינך מסכים לתנאים המובאים להלן ולתנאי השימוש, עליך להימנע משימוש באתר ובשירות אותו הוא מציע.</p>

    <div class="header">שינויים במדיניות הפרטיות</div>
    <p>החברה שומרת לעצמה את הזכות לשנות את תנאי השימוש ו/או מדיניות הפרטיות בכל עת. שינויים כאמור ייכנסו לתוקף מרגע
        העלתם על ידי החברה לאתר. חלה עליך החובה להתעדכן בשינויים כאמור באופן סדיר, בטרם ביצוע כל שימוש באתר. השימוש באתר
        בכל רגע נתון כמוהו כהסכמת המשתמש לתנאי השימוש ומדיניות הפרטיות, הנכונים לרגע השימוש באתר כאמור. </p>

    <div class="header">רישום לשירותים</div>
    <p>
        חלק מהשירותים המוצעים באתר מחייבים הרשמה ופתיחת חשבון משתמש. במסגרת ההרשמה תידרש למסור מידע אישי לרבות ומבלי
        לפגוע באמור לעיל, שמך, מספר תעודת זהות או דרכון, טלפון, פרטי התקשרות עמך (כתובת ו/או כתובת דואר אלקטרוני),
        ואמצעי תשלום בו תחויב עבור כל השירותים שתזמין באתר ו/או באפליקציות (להלן – "המידע האישי"). ייתכן כי במקרים
        מסוימים בעת ההתקשרות לקבלת האישור לביצוע ההזמנה, ייווצר צורך של חברת האשראי בקבלת פרטים נוספים. במקרה זה תישלח
        הודעה נפרדת למזמין במועד ההזמנה, וניפוק פרטים דרושים יהווה תנאי להשלמתה. השדות, שחובה למלא יסומנו במפורש
        (באמצעות סמליל כוכבית או באמצעות סימון אחר שייקבע על ידי החברה). ללא מסירת המידע האישי כאמור בשדות החובה לא תוכל
        להירשם לשירותים אלו הטעונים רישום ופתיחת חשבון משתמש. על אף האמור לעיל, בקשר עם חלק מהשירותים תתבקש להוסיף
        ולמסור נתונים נוספים ("המידע הנוסף"). כך, לשם המחשה בלבד, בעת הזמנת מונית תתבקש למסור, בין היתר, את מקום האיסוף,
        שעת האיסוף ונקודת היעד.
    </p>

    <p>
        אם וככל שתמסור פרטים אישיים של צד שלישי (להלן – "מידע הנוגע לצד שלישי"), הנך מצהיר בזאת כי קיבלת את הסכמתו
        המפורשת של אותו צד שלישי למסירת המידע הנוגע לצד שלישי לחברה, לשם השימוש במידע הנוגע לצד שלישי, בהתאם למדיניות
        פרטיות זו.
    </p>

    <div class="header">שם משתמש וסיסמה</div>

    <p>בפתיחת חשבון משתמש תידרש לבחור שם משתמש וסיסמה, הכפופים לאישור החברה, אשר ישמשו אותך בכניסה לחלק מהשירותים באתר,
        ואשר יחשבו חלק מהמידע האישי. החברה רשאית לקבוע מעת לעת דרכי זיהוי נוספות או אחרות. עליך לשמור על שם המשתמש
        והסיסמה בסודיות. </p>

    <div class="header">מסירת ביקורות ותכנים נוספים</div>

    <p>החברה רשאית לאפשר לך להזין לאתר מידע כדוגמת ביקורת – בין אם בצורת תגובית (טוקבק) ובין אם בצורת מילוי שאלון – בין
        בנוגע לחברה ובין בנוגע לספקי שירות היסעים או צדדים שלישיים אחרים. במידה ותזין מידע כאמור הנך מסכים ומאשר לחברה
        לפרסם את תגובתך באתר ובאמצעי תקשורת נוספים לפי ראות עיניה של החברה, והכל בכפוף לחוק החל ולמדיניות הפרטיות.</p>

    <div class="header">מאגר מידע</div>
    <p>
        נתונים אודותיך, לרבות מידע אישי ומידע נוסף, אשר תמסור בזמן ההרשמה לשירותים באתר החברה יישמרו במאגר המידע של
        החברה המתנהל לפי החוק החל. הינך מצהיר כי אתה מכיר בזכותה של החברה לשמור נתונים אודותיך שמסרת בזמן ההרשמה אף
        לתקופה העולה על 6 חודשים. לפי חוק אינך חייב למסור לחברה את המידע כאמור, אולם מסירת המידע מהווה תנאי לשימוש
        בשירותים שמציעה החברה, וללא מסירה לא ניתן להשתמש בשירותים הללו. למען הסר ספק,החברה שומרת לעצמה את הזכות למנוע
        ממך גישה לאתר ונגישות לשירותים במקרה בו לא תמסור את המידע כאמור.
    </p>

    <div class="header">השימוש במידע</div>

    <p>בעת השימוש באתר יצטבר אודותיך מידע אישי, לרבות מידע אותו הזנת לאתר בעצמך. כמו כן יכול ויצטבר מידע עקב השימוש באתר
        ובשירותים לרבות מידע על נוהגי הגלישה שלך באתר, שירותים שרכשת באתר, מידע או פרסומות שקראת באתר, העמודים שבהם צפית
        באתר, ההצעות והשירותים שעניינו אותך, וכן יעשה שימוש בקבצי Cookies שיותקנו במחשב שלך בזמן הגלישה, אינפורמציה
        ממכשירי ניווט לוויני (GPS), אמצעי התשלום ששימשו אותך, מקום המחשב והשרת שבאמצעותו ניגשת לאתר, זמן ופרטי התחברות,
        פרטי הגלישה וכד', הכל בכפוף לחוק החל (להלן – "מידע תלוי שימוש").
        החברה תשמור את המידע האישי, המידע הנוסף, המידע הנוגע לצד שלישי והמידע תלוי השימוש (ביחד, "המידע") במאגרה.
        השימוש במידע, לרבות במידע שתמסור בעת תהליך ההרשמה ופורט לעיל, ייעשה לפי מדיניות פרטיות זו לצרכי החברה, ובין היתר
        לשיפור השירות לטובת המטרות להלן, הכל בכפוף להוראות החוק החל:
    </p>
    <ol>
        <li>כדי לאפשר לך שימוש באתר ובשירותים.</li>
        <li>כדי לזהות אותך במהלך כניסות חוזרות לאזורים טעוני הרשמה ולחסוך רישום מחדש בכל כניסה.</li>
        <li>כדי לשפר ולהעשיר את האתר ואת השירותים הניתנים באתר, לרבות שירותים חדשים המותאמים לדרישות המשתמשים באתר
            וציפיותיהם ולרבות ביטול שירותים או חלקים מהאתר.
        </li>
        <li>כדי לאפשר לך להתאים את השירותים באתר לפי העדפותיך הפרטיות.</li>
        <li>
            כדי לשלוח אליך מדי פעם בדואר אלקטרוני מידע בדבר שירותיה ומוצריה של החברה, לרבות מידע פרסומי. מידע כאמור
            בסעיף זה ישוגר אליך אם נתת הסכמה מפורשת לכך במהלך פתיחת חשבון המשתמש או בכל הזדמנות אחרת. למרות האמור לעיל,
            מידע שנאסף בגין נתוני אשראי שמסרת בעת הזמנה לא ישמש לשם דיוור ולא יימסר לצד ג' לכל שימוש שהוא. ניתן לבטל את
            הסכמתך בהתאם להוראות החוק החל, בכל עת, ולחדול מקבלת המידע כאמור בסעיף זה. החברה לא תמסור את פרטיך האישיים
            למפרסמים לשם פנייה אליך בדיוור ישיר.
        </li>
        <li>כדי ליצור קשר איתך כשהחברה סבורה, לפי שיקול דעתה הבלעדי, שיש צורך בכך.</li>
        <li>לצורך ניתוח, בקרה ומסירת מידע סטטיסטי לצדדים שלישיים. מידע כאמור בסעיף זה לא יזהה אותך אישית.</li>
        <li>לשם תפעולו התקין והפעלתו של האתר והשירותים.</li>
        <li>לכל מטרה אחרת המפורטת במדיניות פרטיות זו או בתנאי השימוש של האתר.</li>
    </ol>

    <div class="header">
        <div class="header"></div>
    </div>
    <p>החברה לא תמסור לצדדים שלישיים מידע אישי המאפשר לזהות אותך באופן אישי ופרטני, למעט במקרים המפורטים להלן, בהם עשויה
        החברה להעביר את המידע לצדדים שלישיים: </p>
    <ol>
        <li>היה ומסירת המידע לאותם צדדים שלישיים מתחייבת על מנת לאפשר לך שימוש באתר וקבלת שירותים, לרבות מבלי לגרוע
            מכלליות האמור לעיל, ספקי שירותי היסעים וחברות סליקת כרטיסי אשראי.
        </li>
        <li>היה ותבקש לרכוש שירותים משותפי תוכן של החברה עם צד שלישי או בעת שתיקח חלק בפעילויות תוכן של צד שלישי, או
            בפעילויות משותפות לחברה ולצד שלישי המוצגות באתר החברה. במקרים אלה יועבר לשותפים אלה המידע הדרוש להם לשם
            השלמת תהליך הרכישה, ניהול פעילות התוכן הרלבנטית ושמירת הקשר איתך.
        </li>
        <li>היה ותפר את תנאי השימוש באתר החברה ו/או את הוראות מדיניות הפרטיות ו/או הוראות הצמודות למי מהשירותים המוצעים
            בהם ו/או הוראה מהוראות החוק החל, ו/או אם תבצע באמצעות האתר פעולות הנחזות כמנוגדות לחוק החל, או ניסיון לבצע
            פעולות כאלה, תהיה החברה רשאית למסור את המידע, כולו או מקצתו, לצדדים שלישיים לפי הנדרש.
        </li>
        <li>היה והחברה נדרשת לפי החוק החל, ו/או נתקבל בידי החברה צו שיפוטי או הוראה מרשות מוסמכת המורה לה, למסור את
            המידע, כולו או מקצתו, לצדדים שלישיים, לפי הנדרש.
        </li>
        <li>היה ונתגלעה כל מחלוקת, טענה, תביעה, דרישה או הליכים משפטיים, אם יהיו, ככל שיהיו בינך לבין החברה, או לבין מי
            מטעמה (לרבות ספקי שירותי היסעים וחברות סליקת כרטיסי אשראי).
        </li>
        <li>היה והחברה תסבור כי מסירת המידע נחוצה כדי למנוע נזק חמור לגופך או לרכושך או לגופו או לרכושו של צד שלישי.
        </li>
        <li>היה והחברה תסבור כי יש להעביר את המידע לארגון קשור, כגון חברת אם או חברת בת, ובלבד שהם ישתמשו במידע לפי
            מדיניות פרטיות זו, כפי שזו תעודכן מעת לעת.
        </li>
        <li>היה והחברה תארגן את פעילות האתר במסגרת תאגיד אחר, וכן במקרה שתתמזג עם גוף אחר או תמזג את פעילות האתרים עם
            פעילותו של צד שלישי, תהיה החברה זכאית להעביר לתאגיד החדש העתק מן המידע, ובלבד שתאגיד זה יקבל על עצמו את
            הוראות מדיניות פרטיות זו, כפי שתעודכן מעת לעת, ובכפוף להוראות חוק החל.
        </li>
    </ol>

    <div class="header">
        <div class="header"></div>
    </div>
    <p>החברה מתירה, או עשויה להתיר, לצדדים שלישיים להציג באתר פרסומות של וייתכן שתתיר בעתיד לצד שלישי לנהל את מערך
        הפרסומות. הפרסומות באתר, לרבות הקישורים (לינקים) שמובילים אל אתר המפרסם, מגיעות ממחשביהן של אותן חברות פרסום
        ושייכות אליהן. לצורך ניהול הפרסומות, ייתכן ויותקנו קבצים במחשבך, לרבות קבצי עוגיות (Cookies) וכן יוצבו משואות
        רשת (web beacons) במודעות הפרסומת, או בדפי האתר. קבצי העוגיות ומשואות הרשת תפקידם לסייע באיסוף מידע תלוי שימוש.
        למען הסר ספק נאמר כי המידע תלוי שימוש הנאסף על ידי קבצי העוגיות ומשואות הרשת אינו מזהה אותך באופן אישי ופרטני,
        אלא מבקש להתאים את הפרסומות שיוצגו בפניך לנושאים המעניינים אותך ועולים בקנה אחד עם הרגלי הגלישה שלך. </p>

    <div class="header">איסוף מידע לצרכים סטטיסטיים</div>
    <p>החברה, בעצמה או בעזרת בצדדים שלישיים, מבצעת פילוחים סטטיסטיים אודות אופי השימוש באתר, במהלכים הם אוספים ומנתחים
        מידע (למעט מידע אישי המאפשר זיהוי אישי ופרטני שלך), בין היתר מידע לגביך, על היקף שימוש הגולשים באתר, תדירות
        השימוש בו, תדירות השימוש בחלקים בתוך האתר, מקורות הגישה של המשתמשים לאתר וכיוצא בזה. תוצר הניתוח הינו סטטיסטי
        במהותו, הוא איננו מזהה את הגולש באופן אישי ופרטני ונועד לצרכי ניתוח, מחקר ובקרה ושיפור האתר והשירותים.</p>

    <div class="header">אבטחת מידע</div>

    <p>החברה מיישמת באתר מערכות ונהלים לאבטחת מידע, לפי שיקול דעתה, בהתחשב בהסכמיה עם צדדים שלישיים, לרבות חברות סליקת
        כרטיסי אשראי. עם זאת, בעוד שמערכות ונהלים אלה מצמצמים את הסיכונים לחדירה בלתי מורשית למחשבי החברה, או לאבדן מידע
        עקב כוח עליון, אין בהם בטחון מוחלט. לכן החברה לא מתחייבת השימוש באתר ו/או בשירותים יהיו מוגנים וחסינים באופן
        מוחלט מפני גישה בלתי-מורשית למידע המאוחסן בהם, או לאבדן הנובע מסיבות שאינן תלויות בה.</p>

{% endblock %}