{% extends "base.html" %}
{% load i18n %}

{% block bodyclass %}clean_body{% endblock %}
{% block mainclass %}full_screen_main clean_main{% endblock %}

{% block content %}
    <div id="rides"></div>
{% endblock %}

{% block doc_ready %}
    <script type="text/javascript">
        {% autoescape off %}
            var rides_data = {{ rides_data }};
        {% endautoescape %}

        function renderTable(ride) {
            var $table = $('<table><thead><tr><th>{% trans 'Time' %}</th><th>{% trans 'Address' %}</th><th>{% trans '# of Passengers' %}</th></tr></thead></table>');

            $table.append("<tr class='spacer'><td colspan=3></td></tr>"); // spacer
            $table.append("<tr class='spacer'><td colspan=3 class='table_header'>{% trans 'Pickups' %}</td></tr>"); // spacer

            $.each(ride.pickups, function(i, p) {
                var $row = $("<tr class='dropoff'><td>" + p.time + "</td><td>" + p.address + "</td><td>" + p.num_passengers + " (" + p.passenger_phones.join() + ")</td></tr>");
                $table.append($row);
            });

            $table.append("<tr class='spacer'><td colspan=3></td></tr>"); // spacer
            $table.append("<tr class='spacer'><td colspan=3 class='table_header'>{% trans 'Dropoffs' %}</td></tr>"); // spacer

            $.each(ride.dropoffs, function(i, p) {
                var $row = $("<tr class='dropoff'><td>" + p.time + "</td><td>" + p.address + "</td><td>" + p.num_passengers + "</td></tr>");
                $table.append($row);
            });

            return $table;
        }

        $(function() {
            $.each(rides_data, function(i, ride) {
                $("#rides").append(renderTable(ride), "<br/>");
        });
        });



    </script>
{% endblock %}
