{% extends "base.html" %}
{% load common_filters %}

{% block bodyclass %}clean_body{% endblock %}
{% block mainclass %}full_screen_main clean_main{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" href="/static/css/jquery-ui-1.8.14.smoothness.css" type="text/css" media="all">
    <link rel="stylesheet" href="/static/css/wb.css" type="text/css" media="all">
    <style type="text/css">
        *{
            direction: ltr;
        }
        .clear {
            clear: both;
            height: 0;
            overflow: hidden;
        }
        #not_map_container {
            overflow: auto;
            width: 100%;
            height: 500px;
            margin-bottom: 20px;

        }
        #map_container {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            top: auto;
            width: 100%;
            height: 40%;
        }
        #map {
            height: 100%;
            width: 100%;
        }
        .statistics_table {
            float: left;
            margin-right: 35px;
            margin-bottom: 25px;
            border: 1px solid;
            padding: 5px;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="not_map_container">
        <div id="statistics_container">
            <h2>Name: {{ computation_set.name }}</h2>

            {% for c in computations %}
                <table class="statistics_table">
                    <thead><tr><th colspan="2">id: {{ c.id }} | factor={{ c.toleration_factor }} | minutes={{ c.toleration_factor_minutes }}</th></tr></thead>
                    <tr><td># Requests</td><td>{{ c.stat.num_requests }}</td></tr>
                    <tr><td># Rides</td><td>{{ c.stat.num_rides }}</td></tr>
                    <tr><td># Single rides</td><td>{{ c.stat.num_single_rides }}</td></tr>
                    <tr><td>Avg. occupancy</td><td>{{ c.stat.num_requests|divide:c.stat.num_rides|floatformat:"-2" }}</td></tr>
                    <tr></tr>
                    <tr><td>Avg. single price (meter)</td><td>{{ c.stat.average_single_price|floatformat:"-2" }}</td></tr>
                    <tr><td>Avg. shared price (meter)</td><td>{{ c.stat.average_sharing_price|floatformat:"-2" }}</td></tr>
                    <tr></tr>
                    <tr><td>Avg. time multiplier</td><td>{{ c.stat.average_time_multiplier|floatformat:"-2" }}</td></tr>
                    <tr><td>Max time multiplier</td><td>{{ c.stat.max_violation|floatformat:"-2" }}</td></tr>
                    <tr><td>Avg. time addition</td><td>{{ c.stat.average_time_addition|floatformat:"-2" }}</td></tr>
                    <tr><td>Max time addition</td><td>{{ c.stat.max_violation_time|floatformat:"-2" }}</td></tr>
                </table>
            {% endfor %}
        <div class="clear"></div>
        </div>

        <div id="submit_container">
            Run again >>
            {{ constrains_form.time_const_min.label_tag }}
            {{ constrains_form.time_const_min }}
            {{ constrains_form.time_const_frac.label_tag }}
            {{ constrains_form.time_const_frac }}
            <div id="submit">Go</div>
        </div>
    </div>

    <div id="map_container">
        <div id="map"></div>
    </div>

{% endblock %}

{% block doc_ready %}
    <script src="http://api.navigator.telmap.com/maps/api/js?sensor=false"></script>
    <script>
        OrderingHelper.init({
                telmap_user:                "{{ telmap_user }}",
                telmap_password:            "{{ telmap_password}}",
                telmap_languages:           "{{ telmap_languages }}"
            });

        {% autoescape off %}
            var points = {{ points }};
        {% endautoescape %}

        $.each(points, function(i, p) {
            var img_type = (p.type == {{ pickup }}) ? "from" : "to";
            var icon_image = new telmap.maps.MarkerImage("/static/images/" + img_type + "_map_marker.png");
            var point = new telmap.maps.Marker({
                map:        OrderingHelper.map,
                position:   new telmap.maps.LatLng(p.lat, p.lon),
                icon:       icon_image,
                cursor:     'pointer',
                title:      p.address
            });
            OrderingHelper.map_markers[p.id] = point;
        });

        OrderingHelper.renderMapMarkers();

        $("#submit").button().click(function() {
            var toleration_factor_minutes = $("#id_time_const_min").val();
            var toleration_factor_fractional = $("#id_time_const_frac").val();

            if (toleration_factor_minutes && toleration_factor_fractional) {
                alert("Please specify only one time constraint");
                return false;
            }

            $.ajax({
                url: "{% url sharing.staff_controller.ride_computation_stat %}{{ computation_set.id }}",
                type: "POST",
                data: {"time_const_frac": toleration_factor_fractional, "time_const_min": toleration_factor_minutes},
                beforeSend: function(){
                    $("#submit").button("disable").text("Going...");
                },
                complete: function(){
                    $("#submit").button("enable").text("Go");
                },
                success: function(response) {
                    alert(response.content);
                },
                error: function() {
                    alert("There was an error")
                }
            });
        });

    </script>

{% endblock %}