{% extends "base.html" %}
{% load i18n %}

{% block bodyclass %}clean_body{% endblock %}
{% block mainclass %}full_screen_main clean_main{% endblock %}

{% block extrastyle %}
    <style type="text/css">
        #map_container {
            position: absolute;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
        }

        #map {
            height: 100%;
            width: 100%;
        }
    </style>


{% endblock %}

{% block content %}
    <div id="map_container">
        <div id="map"></div>
    </div>
{% endblock %}


{% block doc_ready %}
    <script src="http://api.navigator.telmap.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript">
        {% autoescape off %}
            var points = {{ points }};
        {% endautoescape %}

        $(function() {
            OrderingHelper.init({
                telmap_user:                "{{ telmap_user }}",
                telmap_password:            "{{ telmap_password}}",
                telmap_languages:           "{{ telmap_languages }}"
            });

            var from_imgs = ['from_A.png', 'from_B.png', 'from_C.png', 'from_D.png'];
            var from_idx = 0;
            var to_imgs = ['to_A.png', 'to_B.png', 'to_C.png', 'to_D.png'];
            var to_idx = 0;

            // assumes the points are sorted
            $.each(points, function(i, p) {
                var img;
                switch (p.type) {
                    case {{ pickup }}:
                        img = from_imgs[from_idx++];
                        break;

                    case {{ dropoff }}:
                        img = to_imgs[to_idx++];
                        break;
                }
                var icon_image = new telmap.maps.MarkerImage("/static/images/" + img);
                var point = new telmap.maps.Marker({
                    map:        OrderingHelper.map,
                    position:   new telmap.maps.LatLng(p.lat, p.lon),
                    icon:       icon_image,
                    cursor:     'pointer',
                    title:      p.address
                });
                OrderingHelper.map_markers[p.id] = point;
            });

            OrderingHelper.renderMapMarkers();

        });

    </script>

{% endblock %}