{% extends "connected_page.html" %}
{% load i18n %}

{% block bodyclass %}clean_body{% endblock %}
{% block mainclass %}clean_main{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="/static/css/jquery-ui-1.8.14.smoothness.css" type="text/css" media="all">
    <style>
        .ui-accordion-icons .ui-accordion-header a {
            display: inline-block;
            /*padding-left: 0;*/
        }

        .ui-accordion-icons .ui-accordion-header :nth-child(2) {
            padding-left: 2.2em;
        }
    </style>

{% endblock %}

{% block content %}

    <div id="rides_accordion"></div>

{% endblock %}

{% block doc_ready %}
    <script type="text/javascript">
        {% autoescape off %}
            var rides_data = {{ rides_data }};
            var drivers_data = {{ drivers_data }};
            var taxis_data = {{ taxis_data }};
        {% endautoescape %}

        renderTableRow = function(point) {
            return $("<tr><td>" + point.num_passengers + "</td><td>" + point.address + "</td><td>" + point.time + "</td></tr>")
        };

        renderPickupTable = function(ride) {
            var $table = $('<table class="pickup_table"><tr><th>{% trans '# passengers' %}</th><th>{% trans 'Address' %}</th><th>{% trans 'Time' %}</th></tr></table>')
                    .attr("id", "pickup_table_" + ride.id);
            $.each(ride.pickups, function(i, p) {
                $table.append(renderTableRow(p));
            });
            return $table.prepend("{% trans 'From' %}");
        };

        renderDropoffTable = function(ride) {
            var $table = $('<table class="dropoff_table"><tr><th>{% trans '# passengers' %}</th><th>{% trans 'Address' %}</th><th>{% trans 'Time' %}</th></tr></table>')
                    .attr("id", "dropoff_table_" + ride.id);
            $.each(ride.dropoffs, function(i, d) {
                $table.append(renderTableRow(d));
            });
            return $table.prepend("{% trans 'To' %}");
        };

        renderMatcher = function(ride) {
            var $driver_label = '<label for="driver_sel_' + ride.id + '"> {% trans 'Select Driver' %}' + '</label>';
            var $driver_selector = $('<select class="driver_selector"></select>').attr("id", "driver_sel_" + ride.id);
            $.each(drivers_data, function(i, driver) {
                $driver_selector.append('<option value="' + driver.id +'">' + driver.name + '</option>');
            });

            var $taxi_label = '<label for="taxi_sel_' + ride.id + '"> {% trans 'Select Taxi' %}' + '</label>';
            var $taxi_selector = $('<select class="taxi_selector"></select>').attr("id", "taxi_sel_" + ride.id);
            $.each(taxis_data, function(i, taxi) {
                $taxi_selector.append('<option value="' + taxi.id +'">' + taxi.number + '</option>');
            });

            var $match_button = $("<div>{% trans 'Match Ride' %}</div>").attr("id", "match_ride_" + ride.id).button()
                    .click(function(){
                        $.ajax({
                            url: '{% url sharing.views.accept_ride %}',
                            type: 'POST',
                            data: { 'ride_id': ride.id,
                                    'taxi_id': $taxi_selector.val(),
                                    'driver_id': $driver_selector.val() },
                            success: function(){
                                console.log("success");
                            },
                            error: function(){console.log("error");}
                        });
            });
            return $('<div class="ride_matcher" id="matcher_' + ride.id + '"></div>').append($driver_label, $driver_selector, $taxi_label, $taxi_selector, $match_button);
        };


        render_ride = function(ride) {
            var $ride_header = $('<h3></h3>').attr("id", "ride_header_" + ride.id)
                    .append('<span>img</span>')
                    .append('<a>' + ride.pickups[0].address + ' (' + ride.pickups[0].time + '</a>')
                    .append('<span>' + ride.status + '</span>');

            var $ride_div = $("<div></div>").attr("id", "ride_div_" + ride.id);

            $ride_div.append(renderPickupTable(ride), renderDropoffTable(ride), "<hr/>", renderMatcher(ride));

            $("#rides_accordion").append($ride_header, $ride_div);
        };

        $(function() {
            $.each(rides_data, function(i, ride) {
                render_ride(ride);
            });

            $("#rides_accordion").accordion();
        });
    </script>
{% endblock %}
