{% extends "base_passenger.html" %}
{% load i18n %}

{% block bodyclass %}clean_body{% endblock %}
{% block mainclass %}clean_main full_screen_main{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" href="/static/css/jquery-ui-1.8.14.smoothness.css" type="text/css" media="all">
    <link rel="stylesheet" href="/static/css/sharing.css" type="text/css" media="all">
{% endblock %}


{% block content %}
    <div id="header"></div>
    <div id="map_container">
        <div id="map"></div>
    </div>

    <div id="main_content_container">
        <form id="order_form">
            {% csrf_token %}

            <div class="address_input_container">
                <span>{% trans "From" %}</span>

                <div id="pickup_input" class="address_input" type="address_input">
                    <a class="where"></a>
                    <a class="when"></a>
                </div>
            </div>

            <div id="switch" class="clickable"></div>

            <div class="address_input_container">
                <span>{% trans "To" %}</span>

                <div id="dropoff_input" class="address_input" type="address_input">
                    <a class="where"></a>
                    <a class="when"></a>
                </div>
            </div>
        </form>

        <div id="banner_and_ride_details_container">
            <div id="banner">
                <div id="slider">
                    <img src="/static/images/anim_1.png" alt=""/>
                    <img src="/static/images/anim_2.png" alt=""/>
                    <img src="/static/images/anim_3.png" alt=""/>
                </div>
                <div id="tryitnow" class="clickable">{% trans "Try It Now!" %}</div>
            </div>

            <div id="ride_details_container">
                <div id="sharing_details" class="ride_details">
                    <h2>{% trans "WAYbetter Smart Taxi Ride" %}</h2>
                    <ul>
                        <li>
                            {% trans "Price" %}
                            <span class="price" id="sharing_price"></span>
                        </li>
                        <li>
                            {% trans "Time" %}
                            <span class="time" id="sharing_time"></span>
                        </li>
                    </ul>
                    <button class="order_button" id="book_sharing">{% trans 'Order WAYbetter Ride' %}</button>
                </div>

                <div id="private_details" class="ride_details">
                    <h2>{% trans "Private Taxi Ride" %}</h2>
                    <ul>
                        <li>
                            {% trans "Price" %}
                            <span class="price" id="private_price"></span>
                        </li>
                        <li>
                            {% trans "Time" %}
                            <span class="time" id="private_time"></span>
                        </li>
                    </ul>
                    <button class="order_button" id="book_private">{% trans 'Order Private Ride' %}</button>
                </div>

                <div class="clear"></div>
            </div>
        </div>
    </div>

    <!-- anchor tips with changing content -->
    <div id="pickup_input_tip" class="tooltip"></div>
    <div id="dropoff_input_tip" class="tooltip"></div>

    <!-- hidden container to hold tooltips content -->
    <div id="tooltip_helpers_container" style="display:none;">

        <div id="select_input_helper" class="tooltip-content">
            <div class="header_icon"></div>
            <h2></h2>

            <div class="content_container">
                <div id="sel_hotspot" class="clickable">
                    <span class="img"></span>
                    <span class="link">{% trans "Select Hotspot" %}</span>
                </div>
                <div id="sel_address" class="clickable">
                    <span class="img"></span>
                    <span class="link">{% trans "Enter Address" %}</span>
                </div>
                <div class="clear"></div>
            </div>

            <div class="tooltip_footer">
                <a>{% trans "Help" %}</a>
            </div>
        </div>

        <div id="hotspot_input_helper" class="tooltip-content">
            <div class="header_icon"></div>
            <h2></h2>
            <label class="city">
                {% trans "City" %}
                <select id="id_hotspot_city" name="hotspot_city">
                    {% for city in cities %}
                        <option value="{{ city.id }}">{{ city.name }}</option>
                    {% endfor %}
{#                    <option disabled="disabled">חיפה</option>#}
{#                    <option disabled="disabled">ירושלים</option>#}
                </select>
            </label>
            <label class="hotspot">
                {% trans "Hotspot" %}
                <select id="id_hotspot_select" name="hotspot_id"></select>
            </label>

            <div class="tooltip_footer">
                <a id="switch2address">{% trans "Switch to Address" %}</a>

                <div class="next_btn"></div>
            </div>
        </div>

        <div id="address_input_helper" class="tooltip-content">
            <div class="header_icon"></div>
            <h2></h2>
            <label class="city">
                {% trans "City" %}
                <select id="id_city" name="id_city">
                    {% for city in cities %}
                        <option value="{{ city.id }}">{{ city.name }}</option>
                    {% endfor %}
                </select>
            </label>
            <label class="street_address">
                {% trans "Address" %}
                <input type="text" id="id_street_address" name="street_address"/>
                <span class="address_error"></span>
            </label>
            <label>
                {% trans "House #" %}
                <input type="text" id="id_house_number" name="house_number"/>
                <span class="hn_error"></span>
            </label>

            <div class="tooltip_footer">
                <a id="switch2hotspot">{% trans "Switch to Hotspot" %}</a>

                <div class="next_btn"></div>
                <div class="tooltip_loader"></div>
            </div>
        </div>

        <div id="datetime_input_helper" class="tooltip-content">
            <div class="header_icon"></div>
            <h2>{% trans "Define Time" %}</h2>
            <div class="content">
                <div id="time_radio">
                    <label>
                        <input id="pickup_time" type="radio" name="datetime_type"/>
                        {% trans "Pickup Time" %}
                    </label>
                    <label>
                        <input id="dropoff_time" type="radio" name="datetime_type"/>
                        {% trans "Dropoff Time" %}
                    </label>
                </div>

                <div id="time_tools">
                    <input type="text" id="id_hotspot_datepicker" name="hotspot_date"> @ 
                    <select id="id_hotspot_time" name="hotspot_time"></select>
                </div>

                <div class="clear"></div>
            </div>
            <div class="tooltip_footer">
                <span class="help">{% trans "*Times may vary due to traffic and stuff..." %}</span>

                <div class="next_btn"></div>
            </div>
        </div>
    </div>
{% endblock %}


{% block doc_ready %}
    {{ block.super }}
    <script src="http://api.navigator.telmap.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript">

        var PICKUP = "pickup",
                DROPOFF = "dropoff",
                hotspot_type = PICKUP,
                address_lat = undefined,
                address_lon = undefined,
                select_input_resolved = false,
                hotspot_resolved = false,
                address_resolved = false,
                datetime_resolved = false;


        function getAddressType(element) {
            var $element = $(element);
            var id = "";

            if ($element.attr("type") == "address_input" || $element.hasClass("tooltip")) {
                id = $element.attr("id");
            }
            else{
                id = $element.parents(".tooltip").attr("id");
            }

            return (id.split("_")[0] == PICKUP) ? PICKUP : DROPOFF;
        }

        function getAddressInput(element){
            return $("#" + getAddressType(element) + "_input");
        }

        function closeTooltips(exclude) {
            exclude = exclude || undefined;
            try{
                exclude = $(exclude).data("tooltip").getTip();
            }
            catch (e){}

            $("[type='address_input']").each(function() {
                var api = $(this).data("tooltip");
                if (api) {
                    if (exclude == api.getTip()) {
                        return true; // do not hide
                    }
                    else{
                        api.hide();
                    }
                }
            });
        }

        function openTooltipHelper(trigger, helper_type) {
            var trigger_type = getAddressType(trigger);
            var $helper = $("#" + helper_type + "_input_helper");

            // restore last saved values
            $helper.find("input, select").each(function(i, el){
                if ($(el).data("saved_val")){
                    $(el).val($(el).data("saved_val"));
                }
            });

            // helper specific stuff
            if (helper_type == "datetime") {
                $("#" + trigger_type + "_input_tip").addClass("datetime");
                $("#datetime_input_helper").find("#" + trigger_type + "_time").attr("checked", "checked");
                $helper.find("h2").text("{% trans "Define Time" %}");
                getHotspotTimes();
            }else{
                $("#" + trigger_type + "_input_tip").removeClass("datetime");
                var hdr_txt = (trigger_type == PICKUP) ? "{% trans "Your Pickup" %}" : "{% trans "Your Dropoff" %}";
                $helper.find("h2").text(hdr_txt);
            }

            // set button text
            var predicates = [hotspot_resolved, address_resolved, datetime_resolved];
            var resolved_count = predicates.sum() - window[helper_type + "_resolved"];
            var btn_txt = (resolved_count === predicates.length - 1) ? "{% trans "Finish" %}" : "{% trans "Next" %}";
            $helper.find(".next_btn").button("option", "label", btn_txt);

            // show the damn thing
            closeTooltips(trigger);
            var api = $(trigger).data("tooltip");
            if (api) {
                var tip = api.getTip();
                if (! tip){ // initialize tip
                    api.show();
                    tip = api.getTip();
                }
                $("#tooltip_helpers_container").append(tip.find(".tooltip-content")); // move old content to container
                tip.append($helper); // append new content
                api.show();
                $helper.show();
            }

            // call validator if any
            ($helper.data("validator") || function(){}).call();
        }

        function openNextTooltip(here, there){
            if (! select_input_resolved) {
                openTooltipHelper(here, "select");
            }
            else {
                if (! hotspot_resolved) {
                    openTooltipHelper(there, "hotspot");
                }
                else {
                    if (! address_resolved) {
                        openTooltipHelper(there, "address");
                    }
                    else {
                        if (! datetime_resolved) {
                            openTooltipHelper(here, "datetime");
                        }
                        else { // all resolved
                            closeTooltips();
                            showRideDetails();
                        }
                    }
                }

            }
        }

        function getHotspotTimes(){
            if (address_resolved) {
                var time_type = ($("#pickup_time").attr("checked")) ? PICKUP : DROPOFF;
                HotspotHelper.refreshTimes({hotspot_type: hotspot_type, time_type: time_type, lat: address_lat, lon: address_lon});
            }
        }

        function showRideDetails(){
            $.ajax({
                url: "{% url sharing.passenger_controller.get_hotspot_price %}",
                dataType: "json",
                data: {
                    'lon': address_lon,
                    'lat': address_lat,
                    'hotspot_id': $("#id_hotspot_select").val(),
                    'day': $("#id_hotspot_datepicker").val(),
                    'time': $("#id_hotspot_time").val()
                },
                beforeSend: function() {
                    $(".price, .time").text("{% trans "Updating..." %}");
                },
                success: function(response) {
                    if (response.sharing_price && response.sharing_time && response.private_price && response.private_time) {
                        $("#sharing_price").text(response.sharing_price + "₪");
                        $("#sharing_time").text(response.sharing_time + "{% trans "minutes" %}");
                        $("#private_price").text(response.private_price + "₪");
                        $("#private_time").text(response.private_time + "{% trans "minutes" %}");
                        $(".order_button").button("enable");
                        $("#banner").fadeOut("slow");
                        $("#ride_details").fadeIn("slow");
                        $(".order_button").enable();
                    } else {
                        $(".price, .time").text("");
                        alert("Error loading price");
                    }
                },
                error: function() {
                    alert("Error loading price");
                    $(".price, .time").text("");
                }
            });
        }

        function book_ride(is_private){
            var $form = $("#order_form");
            $(".tooltip-content").appendTo("#tooltip_helpers_container");
            $("#tooltip_helpers_container").appendTo($form);

            var hidden_inputs = {
                is_private: is_private,
                time_type: ($("#pickup_time").attr("checked")) ? PICKUP : DROPOFF,
                ride_duration: $("#id_hotspot_time").data("ride_duration"),
                hotspot_type: hotspot_type,
                lat: address_lat,
                lon: address_lon
            };

            $.each(hidden_inputs, function(k, v) {
                $form.find("input[name='" + k + "']").remove();
                $form.append($('<input type="hidden"/>').attr("name", k).attr("value", v));
            });

            $form.ajaxSubmit({
                url: "{% url sharing.passenger_controller.book_ride %}",
                type: "POST",
                beforeSend: function() {
                    $("#order_button").button("disable");
                },
                complete: function() {
                    $("#order_button").button("enable");
                },
                success: function(response) {
                    if (response.status && response.status == "booked") {
                        alert("{% trans "Order booked" %}");
                        if (response.redirect) {
                            window.location.href = response.redirect;
                        }
                    }
                    else {
                        flashError("{% trans "Error" %}");
                    }
                }
            });
        }

        function copy_input_data(source, target){
            $(target).data("resolved_as", $(source).data("resolved_as"));
            $(target).find(".where").text($(source).find(".where").text());
            $(target).find(".when").text($(source).find(".when").text());
        }

        $(function() {

            $("#slider").nivoSlider({
                controlNav: false,
                directionNav: false,
                pauseTime:4000,
                slices:1,
                animSpeed:700,
                effect: "fade",
                startSlide: 0
            });

            var tooltip_conf = {
                effect: 'slide',
                events: {
                    address_input: "click,",
                    tooltip: "mouseenter,"
                }
            };

            $("#pickup_input").tooltip($.extend({}, tooltip_conf, {tip: "#pickup_input_tip"}));
            $("#dropoff_input").tooltip($.extend({}, tooltip_conf, {tip: "#dropoff_input_tip"}));

            HotspotHelper.makeHotSpotSelector("#id_hotspot_select", "#id_hotspot_datepicker", "#id_hotspot_time");
            HotspotHelper.config.update_on_dateselect = false; // we trigger the update manually

            AddressHelper.makeStructuredAddressInput("#id_city", "#id_street_address", "#id_house_number");

            $(".order_button").disable();
            $("#ride_details").hide();
{#            $("#sharing_price").text("10 ₪");#}
{#            $("#sharing_time").text("21 {% trans "minutes" %}");#}
{#            $("#private_price").text("20₪");#}
{#            $("#private_time").text("15 {% trans "minutes" %}");#}
{#            $("#banner").hide();#}
{#            $("#ride_details").show();#}


            $("html").click(function(e) {
                var $target = $(e.target);
                var inside_tooltip = ($target.attr("id") == "tryitnow") ||
                        $target.hasClass("tooltip") || $target.parents(".tooltip").length ||
                        $target.hasClass("ui-datepicker") || $target.parents(".ui-datepicker").length ||
                        $target.hasClass("ui-datepicker-header") || $target.parents(".ui-datepicker-header").length ||
                        $target.hasClass("ui-autocomplete") || $target.parents(".ui-autocomplete").length;

                if (! inside_tooltip) {
                    closeTooltips();
                }
            });

            $("[type='address_input']").click(function(e) {
                e.stopPropagation();
                var resolved_as = $(this).data("resolved_as");
                if (resolved_as) {
                    openTooltipHelper(this, resolved_as);
                }
                else {
                    openNextTooltip(this, this);
                }
            });

            $("[type='address_input'] .when").click(function(e) {
                e.stopPropagation();
                openTooltipHelper(getAddressInput($(this).parent()), "datetime");
            });

            $("#tryitnow").click(function(){
                openNextTooltip("#pickup_input", "#dropoff_input");
            });


            $("#switch").click(function() {
                hotspot_type = (hotspot_type == PICKUP) ? DROPOFF : PICKUP;
                var $clone = $("#pickup_input").clone(true);
                copy_input_data("#dropoff_input", "#pickup_input");
                copy_input_data($clone, "#dropoff_input");
                getHotspotTimes();
            });

            $("#sel_hotspot, #sel_address").click(function(e) {
                e.stopPropagation();

                var sel_type = $(this).attr("id").split("_")[1];
                openTooltipHelper(getAddressInput(this), sel_type);
            });

            $("#switch2hotspot, #switch2address").click(function(e){
                e.stopPropagation();

                hotspot_resolved = address_resolved = datetime_resolved = select_input_resolved = false;
                address_lat = address_lon = undefined;
                $("[type='address_input']").data("resolved_as", false).each(function(){
                    $(this).find(".where, .when").text("");
                });
                var helper_type = this.id.split("2")[1];
                openTooltipHelper(getAddressInput(this), helper_type);
            });

            $("#pickup_time, #dropoff_time").change(function(){
                getHotspotTimes();
            });

            $("#hotspot_input_helper .next_btn, #address_input_helper .next_btn").button().click(function(e) {
                e.stopPropagation();

                select_input_resolved = true;

                var $input = getAddressInput(this);
                var $other_input = (getAddressType(this) == PICKUP) ? $("#" + DROPOFF + "_input") : $("#" + PICKUP + "_input");

                var $helper = $(this).parents(".tooltip-content");
                var helper_type = $helper.attr("id").split("_")[0]; // what was clicked?
                $("#" + helper_type + "_input_helper").find("input, select").each(function(i, el) {
                    $(el).data("saved_val", $(el).val());
                });
                if (helper_type == "hotspot") {
                    hotspot_resolved = true;
                    hotspot_type = getAddressType(this);
                    $input.find(".where").text($("#id_hotspot_select :selected").text());
                    $input.data("resolved_as", "hotspot");
                    openNextTooltip($input, $other_input);
                }
                else{ // helper_type == "address"
                    var $sa_input = $("#id_street_address"),
                        $hn_input = $("#id_house_number");
                    AddressHelper.resolveStructured("#id_city", $sa_input, $hn_input, {
                        beforeSend: function(){
                            $helper.find(".tooltip_loader").show();
                            $sa_input.siblings(".street_error").text("");
                            $hn_input.siblings(".hn_error").text("");
                        },
                        complete: function() {
                            $helper.find(".tooltip_loader").hide();
                        },
                        resolved: function(result) {
                            address_resolved = true;
                            address_lat = result.lat;
                            address_lon = result.lon;
                            $input.find(".where").text($sa_input.val() + " " + $hn_input.val() + " " + $("#id_city :selected").text());
                            $input.data("resolved_as", "address");
                            openNextTooltip($input, $other_input);
                        },
                        unresolved: function(errors) {
                            address_lat = undefined;
                            address_lon = undefined;
                            if (errors.house_number) {
                                $hn_input.siblings(".hn_error").text(errors.house_number);
                            }
                            if (errors.street) {
                                $sa_input.siblings(".street_error").text(errors.street);
                            }
                        }
                    });
                }
            });

            $("#datetime_input_helper .next_btn").button().click(function() {
                datetime_resolved = true;
                $("[type='address_input'] .when").text("");
                var input_type = $("#datetime_input_helper input:radio:checked").attr("id").split("_")[0];
                $("#" + input_type + "_input").find(".when").text($("#id_hotspot_datepicker").val() + " " + $("#id_hotspot_time").val());
                closeTooltips();
                showRideDetails();
            });

            /**
             * Validation
             */
            var $address_helper = $("#address_input_helper").data("validator", function() {
                $address_helper.find(".next_btn").button("disable");

                var only_digits = $("#id_house_number").val().split(/\D+/).join("");
                $("#id_house_number").val(only_digits);

                var is_valid = Boolean($("#id_street_address").data("resolved")) && Boolean($("#id_house_number").val());
                if (is_valid) {
                    $address_helper.find(".next_btn").button("enable");
                }
                return is_valid;
            });

            var $datetime_helper = $("#datetime_input_helper").data("validator", function() {
                $datetime_helper.find(".next_btn").button("disable");

                var is_valid = Boolean(!$("#id_hotspot_time:disabled").length&& $("#id_hotspot_time option:selected")) && Boolean($("#id_hotspot_datepicker").val());
                if (is_valid) {
                    $datetime_helper.find(".next_btn").button("enable");
                }
                return is_valid;
            });

            $.each([$address_helper, $datetime_helper], function(i, helper) {
                $(helper).find("input[type=text]").bind("keyup blur", function() {
                    $(helper).data("validator").call();
                });
            });
            $datetime_helper.find("input[type=radio], select").bind("change", function() {
                $datetime_helper.data("validator").call();
            });

            $("#book_sharing").click(function() {
                book_ride(false);
            });
            $("#book_private").click(function() {
                book_ride(true);
            });

        });

    </script>

{% endblock %}