{% extends "base_passenger.html" %}
{% load i18n %}

{% block bodyclass %}clean_body{% endblock %}
{% block mainclass %}clean_main full_screen_main{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" href="/static/css/jquery-ui-1.8.14.smoothness.css" type="text/css" media="all">
    <link rel="stylesheet" href="/static/css/sharing.css" type="text/css" media="all">
{% endblock %}


{% block content %}
    <div id="map_container">
        <div id="map"></div>
    </div>

    <form id="order_form" method="post" action="{% url sharing.passenger_controller.book_ride %}">
        {% csrf_token %}
        {% for field in hidden_fields %}
            <input type="hidden" id="id_p1_{{ field }}" name="p1_{{ field }}"/>
        {% endfor %}
        <input type="hidden" id="id_geocoded_p1_raw" name="geocoded_p1_raw"/>

        <ul>
            <span id="from">{% trans 'From' %}</span>
            <li id="hotspot">
                <select id="id_hotspot_select" name="hotspot_id">
                    {% for hotspot in hotspots %}
                        <option value="{{ hotspot.id }}" lat="{{ hotspot.lat }}" lon="{{ hotspot.lon }}">
                            {{ hotspot.name }}
                        </option>
                    {% endfor %}
                </select>
                <input type="text" id="id_hotspot_datepicker" name="hotspot_date">
                <select id="id_hotspot_time" name="hotspot_time"></select>
            </li>
            <span id="to">{% trans 'To' %}</span>
            <li id="p1" class="point">
                <input type=text class="big_text b_marker marker_disabled address_ac_to" id="id_p1_raw"
                       name="p1_raw"
                       placeholder="{% trans 'Enter drop-off address' %}"/>
                <span class="price"></span>
            </li>
        </ul>

        <button type=submit class="order_button" id="order_button">{% trans 'Pick Me Up' %}</button>
    </form>
{% endblock %}


{% block doc_ready %}
    {{ block.super }}
    <script src="http://api.navigator.telmap.com/maps/api/js?sensor=false"></script>
    <script src="/static/js/sharing.js"></script>
    <script type="text/javascript">

        var pickup = "pickup",
                dropoff = "dropoff",
                hotspot_type = pickup;

        function refrestHotspotMarker() {
            var lat = $("#id_hotspot_select :selected").attr("lat");
            var lon = $("#id_hotspot_select :selected").attr("lon");
            var hotsport_marker_image = '/static/images/hotspot_red_marker.png';
            var hotsport_marker_offset = {x:32, y:63};

            var icon_image = new telmap.maps.MarkerImage(hotsport_marker_image, undefined, undefined, hotsport_marker_offset);
            var point = new telmap.maps.Marker({
                map:        OrderingHelper.map,
                position:   new telmap.maps.LatLng(lat, lon),
                icon:       icon_image,
                title:      "Hotspot"
            });

            OrderingHelper.removePoint("hotspot");
            OrderingHelper.map_markers["hotspot"] = point;
            OrderingHelper.renderMapMarkers();
        }

        function updatePrice(address) {
            if (address.lon && address.lat) {
                var $price = $("#id_" + address.address_type + "_raw").siblings(".price");
                $.ajax({
                    url: "{% url sharing.passenger_controller.get_hotspot_price %}",
                    dataType: "json",
                    data: { 'lon': address.lon,
                        'lat': address.lat,
                        'hotspot_id': $("#id_hotspot_select").val(),
                        'day': $("#id_hotspot_datepicker").val(),
                        'time': $("#id_hotspot_time").val()
                    },
                    beforeSend: function() {
                        $price.text("{% trans "Updating..." %}");
                    },
                    success: function(response) {
                        var price = (response.price) ? response.price + "₪" : "No price defined";
                        $price.text(price);
                    },
                    error: function() {
                        $price.text("Err");
                        alert("Error loading price");
                    }
                });
            }
        }

        $(function() {

            $("#id_hotspot_select").change(function() {
                asHotSpotInput("#id_hotspot_select", "#id_hotspot_datepicker", "#id_hotspot_time", {
                    'labels': {'choose_date': "{% trans "Choose Date" %}", 'updating': "{% trans "Updating..." %}"},
                    'urls': {'get_hotspot_dates': "{% url sharing.passenger_controller.get_hotspot_dates %}",
                        'get_hotspot_times': "{% url sharing.passenger_controller.get_hotspot_times %}"}
                });
                refrestHotspotMarker();
                $(".price").text("");
            });
            $("#id_hotspot_select").change();

            $("#id_hotspot_time").change(function() {
                var selector = (hotspot_type == pickup) ? ".address_ac_to" : ".address_ac_from";
                $(selector).each(function(i, e) {
                    var address = Address.fromInput(e);
                    updatePrice(address);
                });
            });

            {% autoescape off %}
                OrderingHelper.config.hidden_fields = {{ hidden_fields }};
                OrderingHelper.config.update_address_callback = updatePrice;
            {% endautoescape %}

            $("#order_form").submit(function() {
                $(this).append('<input type="hidden" name="hotspot_type" value="' + hotspot_type + '"/>');

                if ($("#id_time_const_min").val() && $("#id_time_const_frac").val()) {
                    alert("Please specify only one time constraint");
                    return false;
                }
                else {
                    if ($("#id_time_const_frac").val()) {
                        $(this).append('<input type="hidden" name="time_const_frac" value="' + $("#id_time_const_frac").val() + '"/>');
                    }
                    if ($("#id_time_const_const").val()) {
                        $(this).append('<input type="hidden" name="time_const_min" value="' + $("#id_time_const_min").val() + '"/>');
                    }
                }
            });

            telmap.maps.event.addListener(OrderingHelper.map, 'click', function(e) {
                $.ajax({
                    url: "{% url ordering.passenger_controller.resolve_coordinates %}",
                    type: "GET",
                    data: { lat: e.latLng.lat(),
                        lon: e.latLng.lng()  },
                    dataType: "json",
                    success: function(resolve_result) {
                        var new_address = Address.fromServerResponse(resolve_result);
                        if (new_address.street_address) {   // only update to new address if it contains a valid street
                            new_address.address_type = "p1";
                            new_address.populateFields();
                            OrderingHelper.updateAddressChoice(new_address);
                            $('#id_' + new_address.address_type + '_raw').effect("highlight", 2000);
                        } else {                    // set previous address
                            flashMessage("No street address where you clicked");
                        }
                    }
                });
            });

        });
    </script>

{% endblock %}