{% extends "connected_page.html" %}
{% load i18n %}

{% block bodyclass %}clean_body{% endblock %}
{% block mainclass %}full_screen_main clean_main{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" href="/static/css/jquery-ui-1.8.14.smoothness.css" type="text/css" media="all">
    <link rel="stylesheet" href="/static/css/sharing.css" type="text/css" media="all">
{% endblock %}

{% block content %}
    <div id="header" class="ui-widget-header">
        <div id="tools_button">{% trans "Station Account" %}</div>
        <div id="summary">
            {% trans "Overall Status" %}:
            <span id="untaken_count">10 {% trans "Rides Untaken" %}</span>
            |
            <span id="taken_count">10 {% trans "Rides Taken" %}</span>
        </div>
        <div id="connection_status">
        </div>
        <div class="clear"></div>
    </div>
    <div id="ride_accordion_container">
        <div id="ride_accordion"></div>
    </div>
{% endblock %}

{% block doc_ready %}
    <script type="text/javascript" src="/_ah/channel/jsapi"></script>
    <script type="text/javascript" src="/static/js/mylibs/jquery.countdown.min.js"></script>

    <script type="text/javascript">
    var not_assigned_msg = "{% trans "Not Assigned Yet" %}";
    var missed_msg = "{% trans "Missed" %}";
    {% autoescape off %}
        var rides_data = {{ rides_data }};
        var taxis_data = {{ taxis_data }};
        var init_token = "{{ token }}";
        var channel_opened = false;
        var channel;
        var socket;
    {% endautoescape %}

    setupChannel = function(token) {
        $("#wcs-iframe").remove();

        channel = new goog.appengine.Channel(token);
        socket = channel.open();
        socket.onerror = function() {
            trace("socket: onerror");
            onError();
        };
        socket.onclose = function() {
            trace("socket: onclose");
            onError()
        };
        socket.onopen = function() {
            trace("socket: onopen");
            channel_opened = true;
            air("set_error_state", false);
        };
        socket.onmessage = function(msg) {
            try {
                var data = $.parseJSON(msg.data);
                renderRide(data);
                $.ajax({
                    url: "{% url ordering.station_controller.message_received %}",
                    type: "POST",
                    data: {data: msg.data}
                });
            } catch (e) {
                trace("error parsing: " + JSON.stringify(e))
            }

        };

        $(document).oneTime("10s", function() {
            if (! channel_opened) {
                trace("Channel did not open correctly");
                onError();
            }
        })
    };

{#        renderTableRow = function(point, prefix) {#}
{#            if (prefix) {#}
{#                return $("<tr><td>" + prefix + "</td><td>" + point.num_passengers + "</td><td>" + point.address + "</td><td>" + point.time + "</td></tr>")#}
{#            } else {#}
{#                return $("<tr><td>" + point.num_passengers + "</td><td>" + point.address + "</td><td>" + point.time + "</td></tr>")#}
{#            }#}
{#        };#}
{##}
{#        renderPickupTable = function(ride) {#}
{#            var $table = $('<table class="pickup_table"><colgroup class="from_to"></colgroup><colgroup span="3" class="table_body"></colgroup><tr class="table_header_row"><th></th><th>{% trans '# passengers' %}</th><th>{% trans 'Address' %}</th><th>{% trans 'Time' %}</th></tr></table>')#}
{#                    .attr("id", "pickup_table_" + ride.id);#}
{#            $.each(ride.pickups, function(i, p) {#}
{#                if (i == 0) {#}
{#                    $table.append(renderTableRow(p, "{% trans 'From' %}"));#}
{#                } else {#}
{#                    $table.append(renderTableRow(p, " "));#}
{#                }#}
{#            });#}
{#            return $table;#}
{#        };#}
{##}
{#        renderDropoffTable = function(ride) {#}
{#            var $table = $('<table class="dropoff_table"><colgroup class="from_to"></colgroup><colgroup span="3" class="table_body"></colgroup></table>')#}
{#                    .attr("id", "dropoff_table_" + ride.id);#}
{#            $.each(ride.dropoffs, function(i, d) {#}
{#                if (i == 0) {#}
{#                    $table.append(renderTableRow(d, "{% trans 'To' %}"));#}
{#                } else {#}
{#                    $table.append(renderTableRow(d, " "));#}
{#                }#}
{#            });#}
{#            return $table;#}
{#        };#}

    renderTable = function(ride) {
        var $table = $('<table><thead><tr><th></th><th>{% trans 'Time' %}</th><th>{% trans 'Address' %}</th><th>{% trans '# of Passengers' %}</th></tr></thead></table>');

        $table.append("<tr class='spacer'><td></td><td></td><td></td><td></td></tr>"); // spacer

        $.each(ride.pickups, function(i, p) {
            var $row = $("<tr class='pickup'><td>{% trans "Pickup" %}</td><td>" + p.time + "</td><td>" + p.address + "</td><td>" + p.num_passengers + "</td></tr>");
            $table.append($row);
        });

        $table.append("<tr class='spacer'><td></td><td></td><td></td><td></td></tr>"); // spacer
        $table.append("<tr class='spacer'><td></td><td></td><td></td><td></td></tr>"); // spacer

        $.each(ride.dropoffs, function(i, p) {
            var $row = $("<tr class='dropoff'><td>{% trans "Dropoff" %}</td><td>" + p.time + "</td><td>" + p.address + "</td><td>" + p.num_passengers + "</td></tr>");
            $table.append($row);
        });

        return $table;
    };

    renderInfo = function(ride) {
        var link = "{% url sharing.views.show_ride %}" + ride.id;
        var $map_link = $('<a class="map_link" href="#" target="_blank">{% trans "Show Points On Map" %}</a>')
                .click(function(e) {
                    e.preventDefault();
                    window.open(link, "Map View", 'width=800,height=600,resizable=no');
                });

        var $value = $('<span class="ride_value"></span>');

        var $info_div = $('<div class="ride_info"></div>').append($value,$map_link, '<div class="clear"></div>');
        return $info_div;
    };

    populate_drivers = function($driver_select, $taxi_selector, taxi_id) {
        $driver_select.empty().disable().append('<option>' + "{% trans "Updating..." %}" + '</option>');

        $.ajax({
            url:        "{% url sharing.views.get_drivers_for_taxi %}",
            data:       { taxi_id: taxi_id },
            dataType:   "json",
            success:    function(data) {
                $driver_select.empty();
                $.each(data, function(i, driver) {
                    $driver_select.append('<option value="' + driver.id + '">' + driver.name + '</option>');
                });
                if (data.length > 1 && ! $taxi_selector.attr("disabled")) {
                    $driver_select.enable();
                }
            },
            error:      function() {
                alert("Error loading drivers")
            }
        })
    };

    renderMatcher = function(ride) {
        var $driver_label = '<label for="driver_sel_' + ride.id + '"> {% trans 'Driver' %}' + '</label>';
        var $driver_selector = $('<select class="driver_selector"></select>').attr("id", "driver_sel_" + ride.id);

        var $taxi_label = '<label for="taxi_sel_' + ride.id + '"> {% trans 'Taxi #' %}' + '</label>';
        var $taxi_selector = $('<select class="taxi_selector"></select>').attr("id", "taxi_sel_" + ride.id);

        if (ride.taxi && ride.driver) { // accepted ride
            $taxi_selector.append('<option value="' + ride.taxi.id + '">' + ride.taxi.number + '</option>').disable();
            $driver_selector.append('<option value="' + ride.driver.id + '">' + ride.driver.name + '</option>').disable();
        }
        else {
        $.each(taxis_data, function(i, taxi) {
            $taxi_selector.append('<option value="' + taxi.id + '">' + taxi.number + '</option>');
        });
        $taxi_selector.change(function() {
                populate_drivers($driver_selector, $taxi_selector, $(this).val());
        });
            $taxi_selector.change();
        }

        var $add_driver = $('<a class="add_driver">{% trans "+ Add" %}</a>');
        var $selectors = $('<div class="select_tools"></div>')
                .append($taxi_label, $taxi_selector,$driver_label, $driver_selector);

        var $accept_button = $('<div class="accept_button">{% trans 'Finish' %}</div>').attr("id", "accept_ride_" + ride.id).button()
                .click(function() {
                    var that = this;
                    if ($taxi_selector.val() && $driver_selector.val()) {
                    $.ajax({
                        url: '{% url sharing.views.accept_ride %}',
                        type: 'POST',
                        data: { 'ride_id': ride.id,
                            'taxi_id': $taxi_selector.val(),
                            'driver_id': $driver_selector.val() },
                        beforeSend: function() {
                            $(that).button("disable");
                        },
                        success: function() {
                            acceptRide(ride);
                        },
                        error: function(response) {
                            alert(response.responseText);
                            $(that).button("enable");
                        }
                    });
                    }
                    else {
                        alert("{% trans "Please choose taxi and driver" %}");
                    }
                });
        return $('<div class="ride_matcher" id="matcher_' + ride.id + '"></div>')
                .append($selectors, $accept_button, '<div class="clear"></div>');
    };


    renderRide = function(ride) {
        ride.depart_time = new Date(ride.depart_time);
        var $ride_header = $('<h3 class="ride_header"></h3>').attr("id", "ride_header_" + ride.id)
                .append('<span class="date">' + getFullDate(ride.depart_time) + '</span>')
                .append('<span class="seperator"> - </span>')
                .append('<span class="pickup">' + ride.pickups[0].address + '</span>')
                .append('<span class="status not_assigned">' + not_assigned_msg + '</span>')

                .data("status", ride.status);

        // if ride is today, show exact time
        var now = new Date();
        if (ride.depart_time.getDate() == now.getDate()) {
            $ride_header.find(".date").html('{% trans "Today" %}, ' + getFullTime(ride.depart_time));
        }

        var $ride_div = $('<div class="ride_div"></div>').attr("id", "ride_div_" + ride.id).data("ride_time", ride.depart_time);
        $ride_div.append(renderTable(ride), renderInfo(ride), renderMatcher(ride));
//        $ride_div.append(renderPickupTable(ride), renderDropoffTable(ride), renderInfo(ride), renderMatcher(ride));

        // re-create the accordion and open it where it was opened
        var $accordion = $("#ride_accordion");
        var $active_header = $("[id^=ride_header_]")[$accordion.accordion("option", "active")];
        var append_after = getRenderPosition(ride);
        if (append_after) {
            $(append_after).after($ride_header, $ride_div);
        }
        else { // put it first
            $accordion.prepend($ride_header, $ride_div);
        }

        $accordion.accordion("destroy").accordion({ active: $("[id^=ride_header_]").index($active_header) });
    };

    getRenderPosition = function(ride) {
        // returns the ride_div after which to append the new ride_header and ride_div, or
        // undefined if no such ride_div exists (i.e., the new ride should be first).
        // assumes existing rides in the page are ordered by ride time.

        var append_after = undefined;

        $("[id^='ride_div_']").each(function(i, ride_div) {
            if ($(this).data("ride_time") <= ride.depart_time) {
                append_after = this;
            }
            else {
                return false; // break
            }
        });
        return append_after;
    };

    timeoutRide = function(ride) {
        var $rh = $("#ride_header_" + ride.id);
        $rh.data("status", {{ timed_out }}).addClass("timed_out");
        $rh.find(".status").empty().text(missed_msg);

        var $rd = $("#ride_div_" + ride.id);
        $rd.find("select").attr("disabled", "");
        $rd.find(".accept_button").button("disable");
        // ajax to server?
    };

    acceptRide = function(ride) {
        var $rh = $("#ride_header_" + ride.id);
        $rh.data("status", {{ accepted }}).addClass("accepted");
        $rh.find(".pickup").after('<span class="seperator"> - </span>',
                '<span class="taxi"> Taxi #' + $("#taxi_sel_" + ride.id).find("option:selected").text() + ' </span>');

        var $rd = $("#ride_div_" + ride.id);
        $rd.find("select").attr("disabled", "");
        $rd.find(".accept_button").button("disable");

        var $complete_ride = $('<a href="#" class="action_link"></a>').text("{% trans 'Ride Started' %}").click(function(e) {
            var that = this;
            $.ajax({
                url: '{% url sharing.views.complete_ride %}',
                type: 'POST',
                data: { 'ride_id': ride.id },
                beforeSend: function() {
                    $(that).button("disable");
                },
                success: function() {
                    $rh.remove();
                    $rd.remove();
                },
                error: function() {
                    $(that).button("enable");
                    alert("error marking ride as finished");
                }
            });
            return false; // prevent the accordion opening
        });

        if (ride.depart_time > new Date()) { // future order, show countdown
            var $countdown = $('<span></span>').countdown(
                    { compact: true, format: 'MS', until: ride.depart_time,
                        onExpiry:function() {
                            $rh.find(".status").empty().after($complete_ride);
                        }
                    });
            $rh.find(".status").empty().removeClass("not_assigned").append("{% trans 'Ride in ' %}", $countdown, "{% trans ' min' %}");
        }
        else {
            $rh.find(".status").empty().after($complete_ride);
        }


//        refreshAccordion();
    };

    refreshAccordion = function() {
        $("[id^='ride_header_']").each(function(i, ride_div) {
            if ($(this).data("status") != {{ accepted }}) {
                $("#ride_accordion").accordion("destroy").accordion({ autoHeight: false, active: i });
                return false; //break
            }
        });
    };

    trace = function(str) {
        var msg = new Date().toISOString() + ": " + str;
        air("trace", msg);
        if (window.console) {
            console.log(msg)
        }
    };

    $(function() {
        $("#tools_button").button().click(function(e) {
            window.open("{% url sharing.views.station_tools %}")
        });


        $.each(rides_data, function(i, ride) {
            renderRide(ride);

            if (ride.status == {{ accepted }}) {
                acceptRide(ride);
            }
            if (ride.status == {{ timed_out }}) {
                timeoutRide(ride);
            }

            // install timer
            $("#ride_header_" + ride.id).oneTime(Math.max(ride.depart_time - new Date(), 0), function() {
                if ($(this).data("status") == {{ assigned }}){
                    timeoutRide(ride);
                }
        });
        });

        air("set_title", "WAYbetter: {{ work_station.station.name }}");

        setupChannel(init_token);
    });
    </script>
{% endblock %}
