{% extends "base.html" %}
{% load i18n %}

{% block bodyclass %}clean_body{% endblock %}
{% block mainclass %}full_screen_main clean_main{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" href="/static/css/jquery-ui-1.8.14.smoothness.css" type="text/css" media="all">
    <link rel="stylesheet" href="/static/css/sharing.css" type="text/css" media="all">
    <style>
        .ui-accordion-icons .ui-accordion-header a {
            display: inline-block;
        }

        .ui-accordion-icons .ui-accordion-header :nth-child(2) {
            margin-left: 2.2em;
        }
    </style>
{% endblock %}

{% block content %}
    <h2>{% trans "Rides History" %} - {{ station.name }}</h2>
    <form id="date_picker" method="post" action="{% url ordering.station_controller.station_analytics %}">
        {% csrf_token %}
        {{ form }}
    </form>
    <div class="loader"></div>
    <div id="ride_accordion"></div>
    <h2 id="error_msg"></h2>
{% endblock %}

{% block doc_ready %}
    <script type="text/javascript" src="/_ah/channel/jsapi"></script>
    <script type="text/javascript" src="/static/js/mylibs/jquery.easydate-0.2.4.js"></script>

    <script type="text/javascript">
        {% autoescape off %}
            var rides_data = {{ rides_data }};
        {% endautoescape %}

        renderTableRow = function(point) {
            return $("<tr><td>" + point.num_passengers + "</td><td>" + point.address + "</td><td>" + point.time + "</td></tr>")
        };

        renderPickupTable = function(ride) {
            var $table = $('<table class="pickup_table"><caption>{% trans 'From' %}</caption><tr><th>{% trans '# passengers' %}</th><th>{% trans 'Address' %}</th><th>{% trans 'Time' %}</th></tr></table>')
                    .attr("id", "pickup_table_" + ride.id);
            $.each(ride.pickups, function(i, p) {
                $table.append(renderTableRow(p));
            });
            return $table;
        };

        renderDropoffTable = function(ride) {
            var $table = $('<table class="dropoff_table"><caption>{% trans 'To' %}</caption><tr><th>{% trans '# passengers' %}</th><th>{% trans 'Address' %}</th><th>{% trans 'Time' %}</th></tr></table>')
                    .attr("id", "dropoff_table_" + ride.id);
            $.each(ride.dropoffs, function(i, d) {
                $table.append(renderTableRow(d));
            });
            return $table;
        };

        renderTools = function(ride) {
            var link = "{% url sharing.views.show_ride %}" + ride.id;
            var $map_link = $('<a class="map_link" href="#" target="_blank">{% trans "Show on map" %}</a>')
                    .click(function(e) {
                        e.preventDefault();
                        window.open(link, "Map View", 'width=800,height=600,resizable=no');
                    });

            var $tools_div = $('<div class="ride_tools"></div>').append($map_link, '<div class="clear"></div>');
            return $tools_div;
        };

        renderRide = function(ride) {
            ride.depart_time = new Date(ride.depart_time);
            var $ride_header = $('<h3 class="ride_header"></h3>').attr("id", "ride_header_" + ride.id)
                    .append('<span class="date">' + getFullDate(ride.depart_time) + '</span>')
                    .append('<span> - ' + ride.pickups[0].address + ' >> ' + ride.dropoffs[ride.dropoffs.length - 1].address + '</span>')
                    .append('<span> {% trans "Taxi" %} ' + ride.taxi + ' - ' + ride.driver + '</span>');

            // if ride is today, show exact time
            var now = new Date();
            if (ride.depart_time.getDate() == now.getDate()) {
                $ride_header.find(".date").html('{% trans "Today" %} (' + getFullTime(ride.depart_time) + ') ');
            }

            var $ride_div = $('<div class="ride_div"></div>').attr("id", "ride_div_" + ride.id).data("ride_time", ride.depart_time);
            $ride_div.append(renderPickupTable(ride), renderDropoffTable(ride), renderTools(ride));

            $("#ride_accordion").prepend($ride_header, $ride_div).accordion("destroy").accordion();
        };

        $(function() {
            $(".loader").hide();
            var date_options = { dateFormat: 'dd/mm/yy' };
            $("#id_start_date").datepicker($.extend({}, date_options, {
                maxDate: -1,
                defaultDate: -7
            }));
            $("#id_end_date").datepicker($.extend({}, date_options, {
                defaultDate: 0
            }));
            $("#id_start_date").datepicker("setDate", "{{ start_date }}");
            $("#id_end_date").datepicker("setDate", "{{ end_date }}");

            $.each(rides_data, function(i, ride) {
                renderRide(ride);
            });

            $("#id_start_date, #id_end_date").change(function() {
                $.ajax({
                    url: "{% url sharing.views.station_history %}",
                    type: "POST",
                    dataType: 'json',
                    data: $("#date_picker").serialize(),
                    beforeSend:function() {
                        $(".loader").show();
                    },
                    complete: function() {
                        $(".loader").hide();
                    },
                    success: function(response) {
                        $("#ride_accordion, #error_msg").empty();
                        if (response.error) {
                            $("#error_msg").text("{% trans 'There was an error loading the data.' %}");
                        }
                        else {
                            if (response.rides_data && response.rides_data.length) {
                                $.each(response.rides_data, function(i, ride) {
                                    renderRide(ride);
                                });
                            }
                            else {
                                $("#error_msg").text("{% trans 'No data' %}");
                            }
                        }
                    }

                });
            });
        });
    </script>
{% endblock %}
