{% load i18n %}

{% block content %}
    <div id="header" class="ui-widget-header">
        <form id="date_picker" method="post" action="{% url ordering.station_controller.station_analytics %}">
            {% csrf_token %}
            {{ form }}
        </form>
    </div>

    <div id="ride_accordion_container">
        <div id="ride_accordion"></div>
    </div>
    <h2 id="error_msg"></h2>
{% endblock %}

{% block doc_ready %}
    <script type="text/javascript" src="/static/js/mylibs/jquery.ui.datepicker-he.js"></script>
    <script type="text/javascript">
        {% autoescape off %}
            var data = {{ data }};
        {% endautoescape %}

        renderTable = function(ride) {
            var $table = $('<table><thead><tr><th></th><th>{% trans 'Time' %}</th><th>{% trans 'Address' %}</th><th>{% trans '# of Passengers' %}</th></tr></thead></table>');

            $table.append("<tr class='spacer'><td></td><td></td><td></td><td></td></tr>"); // spacer

            $.each(ride.pickups, function(i, p) {
                var $row = $("<tr class='pickup'><td>{% trans "Pickup" %}</td><td>" + p.time + "</td><td>" + p.address + "</td><td>" + p.num_passengers + "</td></tr>");
                $table.append($row);
            });

            $table.append("<tr class='spacer'><td></td><td></td><td></td><td></td></tr>"); // spacer
            $table.append("<tr class='spacer'><td></td><td></td><td></td><td></td></tr>"); // spacer

            $.each(ride.dropoffs, function(i, p) {
                var $row = $("<tr class='dropoff'><td>{% trans "Dropoff" %}</td><td>" + p.time + "</td><td>" + p.address + "</td><td>" + p.num_passengers + "</td></tr>");
                $table.append($row);
            });

            return $table;
        };

        renderInfo = function(ride) {
            var link = "{% url sharing.station_controller.show_ride %}" + ride.id;
            var $map_link = $('<a class="map_link" href="#" target="_blank">{% trans "Show Points On Map" %}</a>')
                    .click(function(e) {
                        e.preventDefault();
                        window.open(link, "Map View", 'width=800,height=600,resizable=no');
                    });

            var $value = $('<span class="ride_value"></span>');

            var $info_div = $('<div class="ride_info"></div>').append($value, $map_link, '<div class="clear"></div>');
            return $info_div;
        };

        renderRide = function(ride) {
            ride.depart_time = new Date(ride.depart_time);
            var $ride_header = $('<h3 class="ride_header"></h3>').attr("id", "ride_header_" + ride.id)
                    .append('<span class="date">' + getFullDate(ride.depart_time) + '</span>')
                    .append('<span class="seperator"> - </span>')
                    .append('<span class="address">' + ride.pickups[0].address + ' >> ' + ride.dropoffs[ride.dropoffs.length - 1].address + '</span>')
                    .append('<span class="taxi_n_driver">{% trans "Taxi" %} #' + ride.taxi.number + ' - ' + ride.driver.name + '</span>');

            // if ride is today, show exact time
            if (ride.depart_time.getDate() == (new Date()).getDate()) {
                $ride_header.find(".date").html('{% trans "Today" %}, ' + getFullTime(ride.depart_time));
            }

            var $ride_div = $('<div class="ride_div"></div>').attr("id", "ride_div_" + ride.id)
                    .append(renderTable(ride), renderInfo(ride));
            $("#ride_accordion").prepend($ride_header, $ride_div).accordion("destroy").accordion({collapsible: true, active: false});
        };

        $(function() {
            var date_options = { dateFormat: 'dd/mm/yy', isRTL: true };
            $("#id_start_date").datepicker($.extend({}, date_options, {
                maxDate: -1,
                defaultDate: -7
            })).datepicker( "option", $.datepicker.regional[ "he" ] );

            $("#id_end_date").datepicker($.extend({}, date_options, {
                defaultDate: 0
            }));
            $("#id_start_date").datepicker("setDate", new Date({{ start_date }}));
            $("#id_end_date").datepicker("setDate", new Date({{ end_date }}));
            $("#id_start_date, #id_end_date").datepicker("option",$.datepicker.regional["he"]);
            
            $.each(data, function(i, ride) {
                renderRide(ride);
            });

            $("#id_start_date, #id_end_date").change(function() {
                $.ajax({
                    url: "{% url sharing.station_controller.station_history %}",
                    type: "POST",
                    dataType: 'json',
                    data: $("#date_picker").serialize(),
                    success: function(response) {
                        $("#ride_accordion, #error_msg").empty();
                        if (response.error) {
                            $("#error_msg").text("{% trans 'There was an error loading the data.' %}");
                        }
                        else {
                            if (response.data && response.data.length) {
                                $.each(response.data, function(i, ride) {
                                    renderRide(ride);
                                });
                            }
                            else {
                                $("#error_msg").text("{% trans 'No data' %}");
                            }
                        }
                    }

                });
            });
        });
    </script>
{% endblock %}
