{% extends "base.html" %}
{% load i18n %}

{% block bodyclass %}clean_body{% endblock %}
{% block mainclass %}full_screen_main clean_main{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" href="/static/css/jquery-ui-1.8.14.smoothness.css" type="text/css" media="all">
    <link rel="stylesheet" href="/static/css/wb.css" type="text/css" media="all">
{% endblock %}

{% block content %}
    <div id="tabs">
        <ul>
            <li><a href="{% url sharing.station_controller.station_history %}">{% trans "History" %}</a></li>
            <li><a href="{% url sharing.station_controller.station_accounting %}">{% trans "Accounting" %}</a></li>
            <li><a href="{% url sharing.station_controller.station_taxidrivers %}">{% trans "Drivers and Taxis" %}</a>
            </li>
            <li id="tab_loader">
            </li>
        </ul>
    </div>

{% endblock %}

{% block doc_ready %}
    <script type="text/javascript">
        $(function() {
            $("#tabs").tabs({
                        selected: 0,
                        select: function(event, ui) {
                            $("#tab_loader").show();
                        },
                        load: function(event, ui) {
                            $("#tab_loader").hide();
                        }
                    }
            );
            $(document).ajaxSend(function() {
                $("#tab_loader").show();
            });
            $(document).ajaxComplete(function() {
                $("#tab_loader").hide();
            })
        });
    </script>
{% endblock %}