{#uncomment for debugging (open as non-tab page)#}
{#{% extends "base.html" %}#}
{##}
{#{% block bodyclass %}clean_body{% endblock %}#}
{#{% block mainclass %}full_screen_main clean_main{% endblock %}#}
{##}
{#{% block extrastyle %}#}
{#    <link rel="stylesheet" href="/static/css/jquery-ui-1.8.14.smoothness.css" type="text/css" media="all">#}
{#    <link rel="stylesheet" href="/static/css/sharing.css" type="text/css" media="all">#}
{#{% endblock %}#}

{% load i18n %}

{% block content %}
    <div id="header" class="ui-widget-header">
        <form id="accounting_datepicker" method="post">
            {% csrf_token %}
            <tr>
                <th><label for="id_start_date_accounting">{% trans "Start Date" %}</label></th>
                <td><input type="text" name="start_date" id="id_start_date_accounting"/></td>
            </tr>
            <tr>
                <th><label for="id_end_date_accounting">{% trans "End Date" %}</label></th>
                <td><input type="text" name="end_date" id="id_end_date_accounting"/></td>
            </tr>
        </form>
    </div>

    <div id="tab_accordion_container">
        <div id="accounts_accordion"></div>
    </div>
    <h2 id="error_msg"></h2>
{% endblock %}

{% block doc_ready %}
    <script type="text/javascript" src="/static/js/mylibs/jquery.ui.datepicker-he.js"></script>
    <script type="text/javascript">
        {% autoescape off %}
            var data = {{ data }};
        {% endautoescape %}

        renderRidesTable = function(rides) {
            var col_names = ["{% trans 'Ride' %}", "{% trans 'Date' %}", "{% trans 'Taxi' %}", "{% trans 'From' %}", "{% trans 'To' %}", "{% trans '#Stops' %}", "{% trans "Value" %}", "{% trans "Payday" %}"];
            var $table = $('<table class="striped"><thead></thead></table>');

            $.each(col_names, function(i, col_name) {
                $table.find("thead").append("<th>" + col_name + "</th>");
            });

            $.each(rides, function(i, ride) {
                var ride_date = getFullDate(new Date(ride.date));
                var ride_link = $('<a class="action_link">' + ride.id + '</a>').click(function() {
                    window.open("{% url sharing.station_controller.show_ride %}" + ride.id, "Map View", 'width=800,height=600,resizable=no');
                });
                var ride_value = (ride.value) ? ride.value + " ₪" : "" ;
                var ride_payday = getFullDate(new Date(ride.payday));
                var $tr = $('<tr></tr>').appendTo($table).append($('<td></td>').append(ride_link));
                $tr.append('<td>' + ride_date + '</td><td>' + ride.taxi + '</td><td>' + ride.from + '</td><td>' + ride.to + '</td><td>' + ride.stops + '</td><td>' + ride_value + '</td><td>' + ride_payday + '</td>');
            });

            return $table;
        };

        renderDriverAccount = function(driver) {
            $("#account_header_" + driver.id + ", #account_div_" + driver.id).remove();
            var $account_header = $('<h3 class="account_header"></h3>').attr("id", "account_header_" + driver.id)
                    .append('<span class="driver_name">' + driver.name + '</span>')
                    .append('<span class="driver_total">{% trans "Total" %} ' + driver.total + ' ₪</span>');

            var $account_div = $('<div class="account_div"></div>').attr("id", "account_div_" + driver.id);

            if (driver.rides.length > 0) {
{#                var $email_link = $('<a class="action_link img_link email">{% trans "Email" %}</a>');#}
{#                var $print_link = $('<a class="action_link img_link print">{% trans "Print" %}</a>');#}
                $account_div.append(renderRidesTable(driver.rides));

            }
            else{
                $account_div.append("<div>{% trans "No Rides" %}</div>");
            }

            $("#accounts_accordion").append($account_header, $account_div).accordion("destroy").accordion({collapsible: true, active: false, autoHeight: false});
        };

        $(function() {
            var date_options = $.extend({}, $.datepicker.regional["he"], {dateFormat: 'dd/mm/yy'});
            var start_date = new Date({{ start_date }});
            var end_date = new Date({{ end_date }});
            $("#id_start_date_accounting").datepicker($.extend({}, date_options, {maxDate: -1, defaultDate: start_date}));
            $("#id_end_date_accounting").datepicker($.extend({}, date_options, {defaultDate: end_date}));
            $("#id_start_date_accounting").datepicker("setDate", start_date);
            $("#id_end_date_accounting").datepicker("setDate", end_date);

            $.each(data, function(i, driver) {
                renderDriverAccount(driver);
            });

            $("#id_start_date_accounting, #id_end_date_accounting").change(function() {
                $.ajax({
                    url: "{% url sharing.station_controller.station_accounting %}",
                    type: "POST",
                    dataType: 'json',
                    data: $("#accounting_datepicker").serialize(),
                    success: function(response) {
                        var active = $("#accounts_accordion").accordion("option", "active");
                        var active_header_id = (active !== false) ? $("[id^='account_header']")[active].id : false;
                        $("#error_msg").empty();
                        if (response.error) {
                            $("#error_msg").text("{% trans 'There was an error loading the data.' %}");
                        }
                        else {
                            if (response.data && response.data.length) {
                                $.each(response.data, function(i, driver) {
                                    renderDriverAccount(driver);
                                });
                                if (active_header_id !== false){
                                    $("#accounts_accordion").accordion("option", "active", "#" + active_header_id);
                                }
                            }
                            else {
                                $("#error_msg").text("{% trans 'No data' %}");
                            }
                        }
                    }

                });
            });
        });
    </script>
{% endblock %}
