{% extends "wb_base_site.html" %}
{% load i18n %}

{% block extrastyle %}
    {{ block.super }}
    <style type="text/css">
        .header {
            font-weight: bold;
        }
    </style>
{% endblock %}
{% block headertext %}{% trans "Terms of Service" %}{% endblock %}

{% block content %}
    <div id="content">
    <div class="container">

        {% trans "terms_content" %}

    </div>
{% endblock %}


{# Below is the actual content in editable form (po file makes a mess) #}

<p>
    תנאי השימוש המפורטים להלן (להלן – "תנאי השימוש"), חלים על השימוש שלך באתר זה
    (www.waybetter.com) (להלן – "האתר") המופעל על ידי חברת וויי בטר בע"מ (להלן – "החברה") וכן על כל השירותים
    המוצעים באתר, לרבות באמצעות אפליקציה של האתר (להלן – "אפליקציות") אשר נועדה לשימוש באמצעים טכנולוגיים (כהגדרת מושג
    זה להלן), שירותים אשר עשויים לכלול בין היתר, לפי שיקול דעתה הבלעדי של החברה וככל שהדבר יתאפשר, הזמנת מונית (כהגדרת
    מושג זה להלן) לטובת נסיעה פרטית רגילה ונסיעה משותפת (כהגדרת מושגים אלו להלן), קבלת פרטי מידע משוערים על נסיעות
    כאמור, תשלום עבור נסיעות כאמור ועבור שירותים נוספים, צפייה בסטאטוס חשבון המשתמש (כהגדרת מושג זה להלן) אפשרות לדרג
    נסיעות וכיוצא בזה (להלן – "השירותים"). תנאי השימוש מנוסחים בלשון זכר-יחיד מטעמי נוחות בלבד, וכל האמור בהם מתייחס,
    כמובן, גם לנקבה וגם לרבים. </p>
<p>
            <span class="important">
            אנא קרא את תנאי השימוש בקפידה שכן הם מהווים הסכם
            מחייב בינך לבין החברה.</span>
    כל שימוש באתר, לרבות ומבלי לגרוע מכלליות האמור, גלישה בדפי האתר השונים, צפייה
    במידע באתר, הורדת מידע מהאתר והעלאת מידע לאתר, שימוש במידע המפורסם באתר, התקנת אפליקציות ו/או תוכנות המוצעות באתר
    והשימוש בהן, בקשה לקבלת שירותים וקבלת שירותים כאמור, ותשלום עבור השירותים (להלן – "השימוש באתר"), הינו כפוף לתנאי
    השימוש. בשימושך באתר הינך נותן את הסכמתך ואישורך כי קראת והבנת את תנאי השימוש ואת מדיניות הפרטיות של החברה המפורטת
    בקישור <a class="wb_link" href="/privacy">
    מדיניות פרטיות</a>
    (להלן – "מדיניות הפרטיות"), הנך מסכים
    לתנאי השימוש ולמדיניות הפרטיות, והנך מתחייב לפעול בהתאם להם ולקיימם וכן לפעול לפי כל דין החל בקשר עם האתר ו/או
    השירותים בכל עת (להלן – "הסכמת המשתמש"). החברה רשאית, לפי שיקול דעתה הבלעדי, למנוע ממך את השימוש באתר, כולו או
    חלקו, בכל דרך שהיא, לרבות באמצעים טכנולוגיים ומשפטיים. הפרה של תנאי השימוש ו/או של מדיניות הפרטיות ו/או של הוראה
    מהוראות הדין החל בקשר עם האתר ו/או השירותים, מעבר להיותה עילה למניעת גישה שלך לאתר ו/או לשירותים, עלולה לחשוף אותך
    לאחריות אזרחית ו/או פלילית. <span class="important">
            אם אינך מסכים לתנאי השימוש ולמדיניות הפרטיות, הימנע משימוש
            באתר ובשירותים.</span>
</p>

<div class="header">
    שינויים בתנאי השימוש
</div>
<p>
    החברה שומרת לעצמה את הזכות לשנות את תנאי השימוש ו/או מדיניות
    הפרטיות בכל עת. שינויים כאמור ייכנסו לתוקף מרגע העלתם על ידי החברה לאתר. חלה עליך החובה להתעדכן בשינויים כאמור באופן
    סדיר, בטרם ביצוע כל שימוש באתר. השימוש באתר בכל רגע נתון כמוהו כהסכמת המשתמש לתנאי השימוש ומדיניות הפרטיות, הנכונים
    לרגע השימוש באתר כאמור. </p>

<div class="header">
    הצהרת המשתמש
</div>
<p>
    בשימושך באתר הינך מצהיר שהינך רשאי לפי כל דין להתחייב לתנאי השימוש ולבצע שימוש באתר, לרבות הזמנת השירותים בתשלום. אם
    באזור השיפוט בו הינך נמצא ו/או לפי החוק החל עליך ישנה מגבלת גיל או מגבלה אחרת על השימוש באתר ו/או בשירותים המוצעים
    בו, הנך מצהיר כי הינך עומד בכל המגבלות כאמור (למען הסר ספק, הינך מצהיר בזאת כי גילך הוא מעל 18 שנים). מבלי לגרוע
    מכלליות האמור לעיל, הנך מצהיר בזאת כי אתה עושה שימוש באתר לצרכיך הפרטיים למטרות שאינן מסחריות, ולא לטובת כל אדם או
    גוף אחר, אלא אם ניתנה לך הרשאה בכתב מהחברה לעשות כן, ובכפוף לתנאי ההרשאה. ידוע לך כי החברה אינה מעניקה לך, ושימושך
    באתר ו/או בשירותים אינו מעניק לך, רישיון או זכויות כלשהן באתר ו/או בשירותים, או באתרים ושירותים הניתנים על ידי ספקים
    של החברה, לרבות מבלי לגרוע מכלליות האמור, ספקי שירותי היסעים, חברות סליקת כרטיסי אשראי, חברת Google (כהגדרתה להלן) ,
    למעט רישיון הניתן, ככל שניתן, באופן מפורש תחת תנאי שימוש אלו ובכפוף להם.</p>
<p>
    בנוסף, הינך מצהיר כי שימושך באתר ו/או בשירותים: (א) יעשה בהתאם לחוק, למטרות חוקיות,
    מוסריות ומורשות בלבד; (ב) לא יעשה באופן העלול לגרום נזק, מטרד או אי נוחות לצדדים שלישיים; (ג) לא יפגע או יחבל באתר
    ו/או בשירותים; (ד) לא יגרום להפרת זכותו של אדם ו/או גוף אחר, לרבות זכויות החברה; (ד) יעשה תוך מסירת פרטים, לרבות
    פרטי זיהוי ופרטי אמצעי תשלום, נכונים ומדויקים; (ה) יעשה תוך שמירה על סודיות פרטי הזיהוי ופרטי חשבון המשתמש (כהגדרת
    מושג זה להלן) הנמסרים לך באתר; (ו) ככל שנעשה באמצעי טכנולוגי, יעשה באמצעי טכנולוגי בו הינך רשאי להשתמש למטרת השימוש
    באתר ו/או בשירותים; (ז) יעשה באופן שאינו משבש או מפריע למערכות מחשב ותקשורת כלשהן, לרבות האתר ושרתי החברה או מי
    מטעמה; (ח) במידה ונעשה תוך שימוש באמצעי תשלום, יעשה באמצעי תשלום אשר הינך רשאי להשתמש בו על פי כל דין; (ט) יעשה מבלי
    להפעיל יישום מחשב או אמצעי אחר, לרבות תוכנות אוטומטיות, Robots, Spiders או Crawlers, לשם חיפוש, סריקה, העתקה או
    אחזור אוטומטי של מידע מהאתר (כהגדרת מושג זה להלן) וללא יצירת מאגר, אוסף או לקט של מידע מהאתר.</p>
<p>
    כמו כן, הינך
    מצהיר כי אתה מודע לכך שחלק מהשירותים המוצעים באתר הינם בתשלום, וככל שיוזמנו שירותים אלו באמצעות חשבון המשתמש שלך,
    תחויב בהתאם למחירון החברה כפי שיימסר לך בעת ביצוע ההזמנה, הכל בהתאם ובכפוף לתנאי השימוש.</p>

<div class="header">
    אפליקציות ותוכנות
</div>
<p>
    במידה ומוצעות אפליקציות ו/או תוכנות לשימוש באתר או בשירותים המוצעים
    על ידי החברה באמצעים טכנולוגיים כגון טלפון סלולארי, טאבלטים, וכד' (להלן – "אמצעי טכנולוגי"), הינך האחראי הבלעדי
    להורדת האפליקציה ו/או התוכנה כאמור לאמצעי הטכנולוגי שברשותך. החברה אינה אחראית להתאמת האפליקציה ו/או התוכנה לאמצעי
    הטכנולוגי שברשותך, ואינה מתחייבת כי תתאפשר לך גישה לאתר ו/או לשירותים המוצעים על ידי החברה, כולם או מקצתם, בכל
    עת. </p>
<p>
    תנאי השימוש יחולו גם על אפליקציות ועל השירותים הניתנים באמצעות אפליקציות, וכל התייחסות בתנאי השימוש
    לאתר ולשירותים תחול על האפליקציות ועל השירותים המוצעים באפליקציות, בשינויים המחויבים. </p>

<div class="header">
    נגישות לאתר ולשירותים
</div>
<p>
    השימוש באתר ו/או בשירותים הינו באחריותך בלעדית. ידוע לך כי על
    מנת לבצע שימוש באתר ו/או בשירותים, כולם או מקצתם, ייתכן ותצטרך להשתמש באמצעים ושירותים שונים, לרבות מחשבים, מכשירים
    סלולאריים, גישה לרשת האינטרנט, חיבור לרשת סלולארית, וכד', והינך מסכים ומבין כי עליך להשיגם בעצמך וכי החברה אינה
    מספקת אמצעים ושירותים אלו. </p>
<p>
    ידוע לך כי האתר והשירותים מבוססים על טכנולוגיה וצדדים שלישיים ותלויים בהם,
    לרבות ספק שירותי ההיסעים, וכן בגורמים נוספים אשר אינם בשליטת החברה (לרבות מבלי לגרוע מכלליות האמור, פקקי תנועה
    ועומסי תנועה, סגירות כבישים, כוח עליון, ספק שירותי ההיסעים, וכד'). תיאורי השירותים, התכנים והמידע מהאתר מוגשים
    "כמות שהם" וללא אחריות כלשהי והחברה אינה מתחייבת ואינה ערבה לכך כי תיאורי השירותים, התכנים והמידע מהאתר או כל מידע
    הנמסר לך בקשר עם אלו, הינם מדויקים, אמינים, נכונים, מלאים, עדכניים או חפים משגיאות. כפועל יוצא מכך החברה אינה
    מתחייבת כי האתר ו/או השירותים יפעלו באופן רציף וללא תקלות. בנוסף, מטבע השירותים, ייתכן והשירותים יהיו זמינים באזורים
    מסוימים בלבד, והחברה שומרת לעצמה את הזכות לא לספק את השירותים באזורים מסוימים. למען הסר ספק, החברה אינה מתחייבת
    שהשירותים יהיו זמינים בכל מקום ובכל עת. </p>
<p>
    החברה אינה מתחייבת להמשיך להפעיל את האתר ו/או לספק את השירותים גם
    בעתיד, והיא רשאית לפי שיקול דעתה הבלעדי, לחסום את הגישה לאתר ו/או לשנות את האתר, כולו או מקצתו, ו/או להפסיק לספק
    ו/או לשנות את השירותים, כולם או מקצתם, לרבות את תנאי השירותים (כולל בין היתר טיבם ומחירם), הכל בין אם לצמיתות או
    לפרק זמן אחר, לפי שיקול דעתה הבלעדי וללא צורך במתן הודעה על כך.</p>

<div class="header">
    חשבון משתמש
</div>
<p>
    חלק מהשירותים המוצעים באתר מצריכים רישום מוקדם לאתר, וקבלת חשבון משתמש מהנהלת האתר, אליו ניתן להיכנס באמצעות שם
    משתמש וסיסמה אישית (להלן – "חשבון המשתמש"). במהלך הרישום ויצירת חשבון המשתמש תתבקש להזין לאתר מידע, לרבות פרטים
    מזהים, תמונה, פרטי התקשרות ופרטי אמצעי תשלום. עם קבלת כל הפרטים הנדרשים בהתאם להוראות שיופיעו באתר, תשלח אליך לכתובת
    הדואר האלקטרוני שהזנת במהלך פתיחת חשבון המשתמש, שם המשתמש והסיסמה האישית שנבחרו ואושרו על ידי החברה. הינך מתחייב כי
    הפרטים אותם תזין הינם פרטים נכונים, מלאים ועדכניים, וכן הינך מתחייב לעדכן את האתר בכל שינוי בפרטים אלו, לרבות שינוי
    בכתובת הדואר האלקטרוני, טלפון נייד ופרטי אמצעי התשלום בו בכוונתך לשלם עבור השירותים בהתאם לתנאי השימוש. עליך לשמור
    את שם המשתמש והסיסמה שיסופקו לך בסודיות מוחלטת ולא לגלותם לאף אדם או גוף ובכל אופן אתה אחראי באופן בלעדי ומלא, לשמור
    על סודיות הסיסמה וחשבון המשתמש שלך ועל כל פעילות אשר תתבצע תחת הסיסמה שלך או במסגרת חשבון המשתמש שלך. </p>
<p>
    תשומת לבך כי אמצעי התשלום האחרון שסיפקת לאתר יחויב בגין שירותים שהוזמנו
    תוך שימוש בחשבון המשתמש שלך (זאת ללא צורך בהזנה נוספת של פרטי אמצעי התשלום וללא צורך בזיהוי נוסף). כל הודעה שתשלח
    לכתובת הדואר האלקטרוני שהזנת במהלך פתיחת חשבון המשתמש תיחשב כאילו נתקבלה ברגע המשלוח. </p>
<p>
    ידוע לך כי, בכפוף
    לחוק החל ובהתאם למדיניות הפרטיות, החברה תשלח לך מעת לעת, לפי שיקול דעתה הבלעדי של החברה, מידע בדבר פעילותך באתר,
    לרבות הזמנת שירותים (ואישורי הזמנת שירותים), ומידע הקשור בחברה, בספקים של החברה (לרבות ספקי שירותי היסעים וחברות
    סליקת כרטיסי אשראי), ובצדדים שלישיים. בשימוש באתר הינך נותן הסכמתך לקבלת מידע כאמור מהחברה. </p>

<div class="header">
    תנאים כלליים להזמנת מונית דרך האתר
</div>
<p>
    החברה מציעה לבעלי חשבון משתמש אפשרות להזמין מונית
    מספק שירותי ההיסעים (כהגדרת מושג זה להלן) לצורך נסיעה פרטית רגילה ולצורך נסיעה משותפת (כהגדרת מושגים אלו להלן, וביחד
    "הנסיעות"). בעת הזמנת המונית עליך לפעול במדויק לפי ההוראות שיופיעו בעת ביצוע הזמנת המונית (להלן – "הזמנת
    המונית"). </p>
<p>
    בעת הזמנת המונית, הינך מתחייב כי תספק את המידע הנדרש לפי הוראות האתר, לרבות נקודת האיסוף, מועד האיסוף או ההגעה
    המבוקשים, כמות הנוסעים לנסיעה, תוספת כבודה או מזוודות, נקודת היעד וכל מידע נוסף שיידרש, אם וככל שיידרש (להלן –
    "נתוני הנסיעה"). הנך מתחייב כי כל המידע שתספק לאתר, לרבות נתוני הנסיעה, הינו נכון, מלא ועדכני. ידוע לך כי החברה
    מסתמכת על המידע שתספק, לרבות נתוני הנסיעה, לצורך הזמנת המונית, תמחור השירותים, הערכת משך הנסיעה המשוער, זמינות
    המונית וביצוע פעולות נוספות הנדרשות לצורך מתן השירותים. </p>
<p>
    ידוע לך כי בנוסף להסתמכות על נתוני הנסיעה לצורך תמחור השירותים, השירותים מתבססים על הנתונים הבאים: (א) הנסיעה היא
    נסיעה ישירה ולא תבקש מספק שירותי ההיסעים או מי מטעמו לבצע עצירות ו/או לעמוד לרשותך מעבר לנסיעה כפי שיקבע על ידי האתר
    ו/או הנהג (ב) הנסיעה מתבצעת ללא פריטי מטען יד, מזוודות או כל כבודה אחרת לנסיעה (להלן – "נתוני הבסיס"). ידוע לך כי כל
    חריגה מנתוני הבסיס וכל שינוי בנתוני הנסיעה ובנתונים הנוספים המפורטים בפסקה זו, יגרור שינוי במחיר אותו תישא בעצמך,
    ותשלמו ישירות לנהג.
</p>
<p>
    לאחר הזמנת המונית, לרבות במהלך הנסיעה במונית, לא תתאפשר
    נסיעה שלא לפי נתוני הנסיעה. תשומת לבך, כי במצב בו, לפי בקשתך, המונית תבצע את הנסיעה שלא לפי נתוני הנסיעה ונתוני
    הבסיס תחויב בגין כל תשלום מעבר למחיר ששולם באתר, ישירות לנהג המונית שנשלחה על ידי ספק שירותי ההיסעים, ולחברה לא תהיה
    כל אחריות בקשר עם אותה נסיעה או כל תשלום בעקבות השינוי. בנוסף תחויב בכל הוצאה ו/או נזק לחברה בגין שינויים כאמור,
    לרבות תשלומים לספק שירותי ההיסעים או כל צד שלישי אחר ולרבות ביצוע פעולות כלפי משתמשים אחרים של האתר.</p>
<p>
    עליך
    להמתין למונית במקום האיסוף במועד האיסוף, כפי שהוזנו על ידך במועד הזמנת המונית, ולהמתין למונית במקום זה במשך כעשר
    דקות ממועד האיסוף כאמור, ובמידה ולא תעשה כן, תחויב במחיר המלא אשר נמסר לך בעת ביצוע הזמנת המונית. היה והמונית לא
    תופיע במקום האיסוף בפרק הזמן שבין מועד האיסוף כאמור ועשר הדקות שלאחר מועד האיסוף כאמור (להלן – "איחור חריג"), תהיה
    רשאי לבטל את הנסיעה בהתאם להוראות המופיעות תחת תת-הפרק "ביטול הזמנת מונית (ביטול עסקאות בכרטיס אשראי)".</p>
<p>
    הינך רשאי להזמין נסיעה בתוספת כבודה או מזוודה. בעת ביצוע ההזמנה עליך להודיע לגבי תוספת כבודה או מזוודה. בעד כל כבודה
    או מזוודה עליך לשלם ישירות לנהג את התעריף הנקוב בחוק כפי שנקבע ע"י משרד התחבורה והמתעדכן מעת לעת (צו פיקוח על מחירי
    מצרכים ושירותים (מחירי נסיעה במוניות), התשע"ב-2012). במידה ולא הודעת מראש על המטען הנוסף ונהג המונית התריע על כך,
    החברה רשאית לגבות את התשלום עבור המטען הנוסף ישירות מחשבון המשתמש שלך. </p>

<div class="header">
    אופן חישוב זמנים ומחיר מקורי לנסיעה
</div>
<p>
    על מנת להעריך ולחשב את מחיר הנסיעה הפרטית ואת זמני
    הנסיעות, אנו משתמשים בחישוב מסלולים המתקבלים מספק שירותי המיפוי, חברת טלמפ בע"מ. את המסלולים המתקבלים אנו מכפילים
    בנתוני מרחק וזמן (לפי תקן מוני מוניות משרד התחבורה) ומציגים את התוצאה המתקבלת. מכיוון שקיים פער בין החישוב
    הווירטואלי לבין המציאות ייתכנו אי דיוקים במחיר הנסיעה הפרטית ובזמנים המוצגים.</p>

<div class="header">
    התנאים המיוחדים החלים על נסיעה משותפת
</div>
<p>
    בנוסף לנסיעה פרטית רגילה, החברה מציעה לבעלי
    חשבון משתמש אפשרות להזמין מונית דרך האתר, לצורך נסיעה משותפת, בשיתוף נוסעים אחרים, לרבות משתמשים אחרים של האתר,
    בדומה להזמנת מונית בטלפון מתחנת מוניות (להלן – "נסיעה משותפת"). נסיעה משותפת נועדה לאפשר לבעלי חשבון משתמש ליהנות
    מנסיעה במונית במחיר מוזל ביחס לנסיעה פרטית רגילה, ככל שהדבר מתאפשר.</p>
<p>
    על נסיעה משותפת יחולו התנאים המפורטים
    תחת תת-כותרת "התנאים המיוחדים החלים על נסיעה משותפת" וזאת בנוסף לתנאי השימוש ומבלי לגרוע מכלליות תנאי השימוש, אך
    לא יחולו על נסיעה משותפת התנאים המפורטים תחת תת-כותרת "התנאים המיוחדים החלים על נסיעה פרטית רגילה".</p>
<p>

    בהזמנת מונית לטובת נסיעה משותפת הינך מאשר לנהג המונית לשתף נוסעים נוספים בנסיעה המשותפת, על כל המשתמע מכך, לרבות
    מבלי לגרוע מכלליות האמור לעיל, העלאת והורדת נוסעים נוספים למונית, נסיעה בנתיב שאינו הנתיב הקצר ביותר בין מקום האיסוף
    לנקודת היעד, ביצוע עצירות הנדרשות לצורך העלאת והורדת נוסעים נוספים והמתנה לנוסעים נוספים במקומות האיסוף שהוזמנו על
    ידם. ידוע לך כי, בכפוף להוראות החוק החל, בהזמנת מונית לטובת נסיעה משותפת לא תהיה לך כל השפעה על נתיב הנסיעה של
    המונית ועל כמות וזהות הנוסעים הנוספים במונית.</p>

<div class="header">
    חשבונית וסטאטוס חשבון משתמש
</div>
<p>
    מדי חודש, ביום שייקבע על ידי החברה, תישלח לכתובת הדואר
    האלקטרוני של בעל חשבון משתמש חשבונית בגין החודש שחלף, המפרטת את כל השירותים אשר הוזמנו על ידי בעל חשבון המשתמש בחודש
    המדובר (להלן – "חשבונית"). בנוסף, בעל חשבון משתמש יוכל בכל עת, בכפוף לאפשרות החברה לספק גישה לכך ובכפוף לתנאי
    השימוש, לצפות בפירוט הזמנת השירותים על ידו בחודש שחלף באמצעות האתר.</p>

<div class="header">
    ביטול הזמנת מונית (ביטול עסקאות בכרטיס אשראי)
</div>
<p>
    בכפוף להוראות החוק החל, לרבות הוראות חוק
    הגנת הצרכן – התשמ"א 1981, אינך רשאי לבטל הזמנת מונית (ו/או לבטל עסקאות בכרטיס האשראי) אלא בהתאם לתת-פרק "ביטול
    הזמנות מונית (ביטול עסקאות בכרטיס אשראי)" זה.</p>
<p>
    מרגע הזמנת המונית ועד שעה לפני מועד האיסוף שהוזן על ידך
    כחלק מנתוני הנסיעה, תוכל לבטל את הזמנת המונית באמצעות מנגנון הביטול הקיים באתר ולא תחויב בכל תשלום בגין הזמנת המונית
    ו/או ביטול הזמנת המונית כאמור. </p>
<p>
    החל משעה לפני מועד האיסוף שהוזן על ידך כחלק מנתוני הנסיעה, לא תהא רשאי
    לבטל את הזמנת המונית ובכל מקרה תחויב במחיר המלא אשר נמסר לך בעת ביצוע הזמנת המונית, הכל בכפוף להוראות בדבר איחור
    חריג, כמפורט להלן.</p>
<p>
    במקרה של איחור חריג, תוכל לבטל את הזמנת המונית תוך 12 שעות ממועד האיסוף שהוזן על ידך
    כחלק מנתוני הנסיעה, ובמקרה זה לא תחויב בגין הזמנת המונית ו/או ביטול הזמנת המונית כאמור. על אף האמור לעיל, במקרה בו
    ספק שירותי ההיסעים יטען כי הוא, או נהג מטעמו, המתין במקום האיסוף במועד האיסוף או ברבע השעה שלאחר מועד האיסוף, תחויב
    במחיר המלא אשר נמסר לך בעת ביצוע הזמנת המונית. במצב זה, תהיה רשאי לפנות ישירות לספק שירותי ההיסעים, להגיש תלונתך,
    ולפתור עמם את המחלוקת בקשר עם הזמנת המונית והעמידה בתנאי נתוני הנסיעה שהוזנו. בכל מקרה, החברה לא תהיה אחראית כלפיך,
    כלפי ספק שירותי ההיסעים, או כלפי כל צד שלישי, בקשר עם הסכום שנגבה בהתאם לפסקה זו.</p>

<div class="header">
    חיוב בגין הזמנת המונית ושירותים אחרים
</div>
<p>
    בעל חשבון אשר הזמין שירותים באמצעות האתר, לרבות
    הזמנת מונית, יחויב בסכום שצוין בעת הזמנת השירותים, בכפוף לאמור בתנאי השימוש, לרבות עלות הנסיעה, סליקת מספר האשראי
    וההזמנה האלקטרונית. מועד החיוב ייקבע על פי החברה, לפי שיקול דעתה הבלעדי. בנוסף, ידוע לך כי תישא בתשלומים נוספים, אם
    וככל שתידרש לכך על ידי החברה ו/או על ידי ספק שירותי ההיסעים או מי מטעמם, בקשר עם נסיעה שתבוצע לבקשתך שלא לפי נתוני
    הנסיעה ונתוני הבסיס.</p>
<p>
    בנוסף מאפשרת החברה לבעלי חשבון משתמש לשלם באמצעות עסקת קרדיט בתשלומים, דהיינו בקשת וקבלת
    אשראי מהבנק לצורך תשלום בכמה פעימות בגין ההזמנה (להלן – "עסקת קרדיט"). בבחירה בהזמנת שירות באמצעות עסקת קרדיט,
    הינך מצהיר בזאת כי ידוע לך כי עסקת קרדיט נושאת ריבית כקבוע בין מחזיק כרטיס האשראי לבין חברת כרטיסי האשראי ו/או הבנק
    וכי אתה מתחייב לשלם ומתיר לחברה לגבות כל תשלום נלווה, לרבות ריבית כאמור, בקשר עם הזמנת השירותים על ידי חברת האשראי
    ו/או הבנק.</p>
<p>
    הינך מודע כי במידה ולא תימצא במקום האיסוף במועד האיסוף אשר הוזן על ידך במועד הזמנת המונית, תחויב
    במחיר המלא אשר נמסר לך בעת ביצוע הזמנת המונית.</p>

<div class="header">
    קניין רוחני
</div>
<p>
    ידוע לך כי האתר, הטכנולוגיה של האתר, האפליקציות והשירותים והמידע המוצג
    באתר ובאפליקציות (להלן – "המידע מהאתר"), מכיל קניין רוחני, לרבות סימני מסחר, סודות מסחריים, תוכנות, אפליקציות,
    תמונות, מוסיקה, תכני וידאו, כתבות, סמלים, טקסטים וגרפיקה (להלן – "קניין רוחני"), אשר הינם בבעלות החברה ו/או אשר
    ניתן לחברה רשות לעשות בהם שימוש. הינך מתחייב בזאת שלא להפר את זכויות הקניין כאמור, ובכלל זה הינך מתחייב, בין היתר,
    שלא לפרסם את המידע מהאתר, להעתיקו, לשכפלו, לפתחו, להתאימו, להציגו בפומבי, להציגו באמצעות טכנולוגיית framing, לסרוק
    אותו, לשתף אחרים בו, למוכרו, להשכירו, לבצע לו הנדסה לאחור ו/או דה-קומפילציה, או לעשות בו כל מעשה אשר הינו על פי דין
    מעשה הדורש את אישור הבעלים. כל זכויות הקניין והקניין הרוחני באתר, באפליקציות ובשירותים, הינם בבעלותה המלאה של החברה,
    או של ספקיה אשר נתנו לה רשות לעשות בהם שימוש, לפי העניין. </p>

<div class="header">
    הגבלת אחריות החברה
</div>
<p>
    על אף כל האמור בתנאי השימוש, באתר או בכל הודעה או חומר פרסומי של
    החברה, החברה אינה חברת תחבורה ציבורית, היסעים או מוניות, אינה בעלת רישיון להפעלת מוניות, אינה מעסיקה בעלי רישיון
    לנהיגה במוניות לטובת מתן השירותים, ואינה מספקת שירותי תחבורה ציבורית מכל סוג שהוא או שירותי היסעים (כהגדרת מושג זה
    להלן). החברה מאפשרת לך להזמין מונית מספק אשר הינו בעל רישיון להפעלת מוניות או אשר לו הסכמים עם בעלי רישיון להפעלת
    מוניות (להלן – "ספק שירותי היסעים"), אשר הינו האחראי הבלעדי להגעת המונית שהוזמנה על ידך באמצעות האתר למקום האיסוף
    ובמועד שהוזן על ידך לאתר במועד הזמנת המונית, לביצוע הנסיעה בבטחה, לפי כל דין, ובהתאם לנתונים שהוזנו על ידך לאתר
    במועד הזמנת המונית (להלן – "שירותי היסעים"). החברה משמשת כמתווך בינך לבין ספק שירותי ההיסעים, ומאפשרת להזמין
    שירותי היסעים באמצעות האתר מספק שירותי היסעים ולשלם עבורם באמצעות האתר, אך ידוע לך כי החברה אינה מעורבת, במישרין או
    בעקיפין, בעסקה אשר מתבצעת בפועל בינך לבין ספק שירותי ההיסעים.</p>
<p>
    על אף כל האמור בתנאי השימוש, באתר או בכל
    הודעה או חומר פרסומי של החברה, החברה אינה, ולא תהיה אחראית: (א) לדיוק, אמינות, נכונות או עדכניות המידע מהאתר
    והשירותים, ו/או לכל נזק ו/או הפסד ו/או איחור ו/או עגמת נפש ו/או כל נזק אחר שיגרם לך בגין הסתמכות על המידע מהאתר ו/או
    השירותים, ו/או קישורים המופיעים באתר, ו/או פרסומות המופיעות באתר, לרבות אובדן רווחים ישירים או עקיפים, אובדן
    חסכונות, או נזקים ישירים, אקראיים, מיוחדים או עקיפים, הנובעים מהשימוש באתר ו/או בשירותים, או מאי-יכולת לעשות שימוש
    בהם וכן לרבות אי דיוק בזמנים המוצגים באתר; (ב) לכל שימוש, לרבות שימוש לרעה, שימוש שלא כדין, שימוש במרמה או שימוש
    בלתי מורשה, הנעשה באמצעי התשלום שלך ו/או בחשבון המשתמש שלך; (ג) לשירותי ההיסעים, ביצועם ו/או איכותם; (ד) למהלך
    הנסיעות, לרבות מעשיו ו/או מחדליו של ספק שירותי ההיסעים או מי מטעמו או יתר הנוסעים (בין אם הינם משתמשים של האתר ובין
    אם אינם) ו/או לעמידה בלוחות זמנים בקשר עם הזמנת המונית ו/או עם הנסיעות; (ה) לתכנים ושירותים המסופקים על ידי צדדים
    שלישיים הכלולים באתר ו/או בשירותים. </p>

<div class="header">
    תנאים נוספים
</div>
<p>
    הינך מצהיר כי ידוע לך שהשימוש באתר ו/או בשירותים כרוך בקבלת שירותים של צדדים שלישיים, ובין היתר שירותי אפליקציית
    Google Maps API הניתנים על ידי חברת Google Inc. (להלן – "Google" ו"שירות Google Maps", בהתאמה) באיתור מיקומך ובהעברת
    נתוני המיקום ל Google ו/או צדדים שלישיים אחרים הקשורים במתן השירותים. כמו כן הינך מצהיר שכל הזכויות בשירות Google
    Maps (לרבות זכויות קניין רוחני) הינן בבעלות Google ומרשיה, לפי העניין, וכי השימוש בשירות Google Maps הינו על-פי
    רישיון שניתן לחברה ובהתאם למדיניות הפרטיות של Google.
</p>

<p>
    מאגר המידע הגיאוגרפי של מדינת ישראל המוצג בשירות Google Maps (להלן – "מאגר המידע") הינו רכושה הבלעדי, על כל הזכויות
    בו, של חברת Google . מאגר המידע מיועד לשימושך הפרטי באמצעות האתר והשירותים בלבד וכל העושה בו שימוש אחר, לרבות מעתיק,
    משכפל, משנה או מפיץ מאגר מידע זה או את הנתונים שבבסיסו או כל חלק מהם, מסתכן בתביעות אזרחיות ופליליות ובעונשים כבדים
    עד למקסימום הקבוע בחוק. המידע והנתונים הכלולים במאגר המידע מוגשים "כמות שהם" וללא אחריות כלשהי ולחברת Google הרשות
    לערוך בהם תוספות או שינויים לפי שיקול דעתה בכל עת והיא אינה מתחייבת לעדכן מידע ונתונים אלו.
</p>

<p>

    בשל המורכבות הרבה של שירות Google, המתבסס על רשתות תקשורת ושימוש בתוכנות ומערכות ניווט לוויני, Google ו/או מרשיה,
    החברה וכל הבאים מטעמם אינם מתחייבים כי שירות Google Maps והמידע המוצג בו יהיו רציפים או חפים מטעויות, לרבות אי-התאמה
    למקום הימצאותו האמיתי של המשתמש ו/או לדרך ותנאיה ו/או ביחס לנקודות העניין והמידע האחר המופיע בשירות Google Maps.
    הינך מודע לכך כי אין להסתמך על השירות כאמצעי ניווט או מידע יחיד. Google, מרשיה, החברה וכל הבאים מטעמם, לא ישאו בכל
    אחריות בקשר עם השימוש בשירות Google Maps והסתמכות המשתמש עליהם.
</p>

<p>

    תכנים ושירותים המסופקים על ידי צדדים שלישיים הכלולים בשירות Google Maps הינם באחריותם של הספקים האמורים ומוגשים
    "כמות שהם". Google, מרשיה, החברה וכל הבאים מטעמם אינם אחראיים לתכנים והשירותים כאמור.
</p>

<p>

    בהצטרפות לשירות ו/או עשיית שימוש בו, מצהיר ומסכים המשתמש כי הוא מסכים ומחויב בתנאים שלעיל ובנוסף בתנאי השימוש המלאים
    של Google, וספקי תכנים ושירותים אחרים (לפי העניין) הניתנים לצפייה והורדה באתר Google בכתובות האינטרנט
    https://developers.google.com/maps/iphone/terms, http://www.google.com/intl/en/policies/terms (ובעברית:
    http://www.google.com/intl/iw/policies/terms).
</p>


<div class="header">
    החוק החל
</div>
<p>
    החברה פועלת, ובכוונתה להמשיך לפעול, בהתאם לחוק החל לפי דיני
    מדינת ישראל (להלן – "החוק החל"). כל מחלוקת העולה כתוצאה מהשימוש באתר ו/או השירותים, וכל שאלה של פרשנות הוראה מתנאי
    השימוש ו/או מדיניות הפרטיות, ידונו לפי החוק הישראלי החל והסמכות הבלעדית לדיון כאמור תהיה לערכאה המוסמכת בתל-אביב.
    במקרה שהוראה מהוראות תנאי השימוש, או יישומה בהתאם לתנאי השימוש, הופך או מוצהר על ידי בית משפט מוסמך כבלתי חוקי, בטל
    או בלתי ניתן לאכיפה, יתרת תנאי השימוש יישארו בתוקף מלא ואותה הוראה כאמור תפורש, תיושם ותהא תקפה ככל שהחוק מאפשר זאת,
    ובמידה המירבית שהחוק מאפשר זאת, בהתאם לתוכן אותה הוראה. </p>

</div>
