{% extends "wb_info.html" %}
{% load i18n %}

{% block content %}
    <div id="passenger_pic"></div>

    <div id="desc">
        {% blocktrans %}
            <p class="header">
                WAYbetter offers a true cost-effective transportation alternative.
                <br/>
                Door to Door, Affordable Environmental taxi service.
            </p>

            <div class="content">
                <p>
                    We offer two types of online taxi ordering services:
                </p>
                <ol>
                    <li>
                        Private Taxi Ride: For a fixed & pre-determined price.
                    </li>
                    <li>
                        WAYbetter Taxi Ride: maximum the efficiency of the taxi in terms of occupancy, meaning you pay
                        less for the ride while still enjoying great taxi service.
                    </li>
                </ol>
                <p>
                    Both services offer a great advantage of online booking and payment.
                </p>
            </div>

            <div class="footer">
                <p>
                    <span class="remember">Remember</span> - WAYbetter rides are cheaper thanks to rides haring between
                    different passengers.
                </p>

                <p>
                    Therefore, the more passengers use the system the better it gets, price decreases and service level
                    increases.
                </p>
            </div>
        {% endblocktrans %}
    </div>
{% endblock %}