{% extends "wb_base_site.html" %}
{% load i18n %}

{% block extrastyle %}
    {{ block.super }}
    <style type="text/css">
        form{
            margin: 0;
        }
        #error .errorlist{
            list-style: none;
            color: #B94A48;
        }

        .row-fluid .details{

        }

        .initial-value, .new-value{
            margin: 0 10px;
        }
    </style>
{% endblock %}


{% block content %}
    <div id="content">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="modal modal-flat">
                        <div class="modal-header pagination-centered"><h3>{% trans "My Account" %}</h3></div>

                        <form action="" method="post">
                            {% csrf_token %}


                            <div class="modal-body">
                                <div id="error">
                                    {{ error }}
                                </div>


                                {% for entry in user_data %}
                                    {% if not passenger and entry.name == 'billing' %}
                                        {# can't change billing info if not a passenger #}
                                    {% else %}
                                        <div class="row-fluid">
                                            <div class="span10">
                                                {% if entry.name == "fullname" %}
                                                    <i class="icon-user"></i>
                                                {% else %}{% if entry.name == "email" %}
                                                    <i class="icon-envelope"></i>
                                                {% else %}{% if entry.name == "mobile"%}
                                                    <i class="icon-phone"></i>
                                                {% else %}{% if entry.name == "billing"%}
                                                    <i class="icon-credit-card"></i>
                                                {% endif %}{% endif %}{% endif %}{% endif %}
                                                <span id="value_{{ entry.name }}" class="initial-value">
                                                    {% if entry.name == 'billing' %}
                                                        &#x200E; {# force LTR for card repr #}
                                                    {% endif %}
                                                    {{ entry.value }}
                                                </span>
                                                <input id="input_{{ entry.name }}" type="text" name="{{ entry.name }}" class="new-value hidden">
                                            </div>
                                            <div class="span2">
                                                <a id="change_{{ entry.name }}">{% trans "Change" %}</a>
                                                <a id="cancel_{{ entry.name }}" class="hidden">{% trans "Cancel" %}</a>
                                            </div>
                                        </div>
                                        <hr class="dashed">
                                    {% endif %}
                                {% endfor %}


                                <div class="row-fluid">
                                    <div class="span12">
                                        <i class="icon-lock"></i>
                                        <a class="initial-value" href="{% url sharing.passenger_controller.change_credentials %}" >{% trans "Reset Password" %}</a>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">{% trans "Save Changes" %}</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block doc_ready %}
    {{ block.super }}
    <script type="text/javascript">
        $(function () {
            // trim whitespace generated by template
            $(".initial-value").each(function () {
                $(this).text($(this).text().trim());
            });
            // bind the action buttons
            $.each(["fullname", "email"], function (i, name) {
                var $value = $("#value_" + name);
                var $input = $("#input_" + name);
                var $cancel = $("#cancel_" + name);
                var $change = $("#change_" + name);

                $change.click(function () {
                    $value.addClass("hidden");
                    $input.val($value.text()); // restore initial value
                    $input.removeClass("hidden").focus();

                    $change.addClass("hidden");
                    $cancel.removeClass("hidden");
                });
                $cancel.click(function () {
                    $value.removeClass("hidden");
                    $input.addClass("hidden");
                    $input.val(undefined);

                    $change.removeClass("hidden");
                    $cancel.addClass("hidden");
                });
            });

            $("#change_mobile").click(function () {
                window.location.href = "{% url sharing.passenger_controller.registration step='phone'%}";
            });
            $("#change_billing").click(function () {

                $(this).text("{% trans "Sending" %}...").removeClass("wb_link");
                $.ajax({
                    url:"{% url sharing.passenger_controller.get_billing_url %}",
                    dataType:"json",
                    success:function (response) {
                        window.location.href = response.billing_url;
                    },
                    error:function () {
                        $("#change_billing").text("{% trans "Error" %}").removeClass("wb_link").addClass("error");
                    }
                });
            });
        })
    </script>
{% endblock %}