{% extends "wb_base_site.html" %}
{% load i18n %}

{% block content %}
    <div id="header">
        {% trans "Account Details" %}
    </div>
    <div id="error">
        {{ error }}
    </div>

    <form action="" method="post">
        {% csrf_token %}
        <table id="details">
            {% for entry in user_data %}
                {% if not passenger and entry.name == 'billing' %}
                    {# can't change billing info if not a passenger #}
                {% else %}
                    <tr class="details-row">
                    <td class="label-cntr">{{ entry.label }}:</td>
                    <td class="value-cntr">
                        <span id="value_{{ entry.name }}" class="initial-value">
                        {% if entry.name == 'billing' %}
                            &#x200E; {# force LTR for card repr #}
                        {% endif %}
                            {{ entry.value }}
                        </span>
                        <input id="input_{{ entry.name }}" type="text" name="{{ entry.name }}" class="new-value hidden">
                    </td>

                    <td class="action-cntr">
                        <span id="change_{{ entry.name }}" class="wb_link">{% trans "Change" %}</span>
                        <span id="cancel_{{ entry.name }}" class="wb_link hidden">{% trans "Cancel" %}</span>

                    </td>

                {% endif %}
            </tr>
            {% endfor %}
            <tr class="details-row">
                <td class="label-cntr">{% trans "Password" %}:</td>
                <td colspan="2">
                    <a href="{% url sharing.passenger_controller.change_credentials %}" class="wb_link">{% trans "Reset Password" %}</a>
                </td>
            </tr>

            <tr class="button-row">
                <td colspan="3">
                    <button type="submit" class="wb_button">{% trans "Save Changes" %}</button>
                </td>
            </tr>
        </table>
    </form>

{% endblock %}

{% block doc_ready %}
    {{ block.super }}
    <script type="text/javascript">
        $(function () {

            // bind the action buttons
            $.each(["fullname", "email"], function (i, name) {
                var $value = $("#value_" + name);
                var $input = $("#input_" + name);
                var $cancel = $("#cancel_" + name);
                var $change = $("#change_" + name);

                $change.click(function () {
                    $value.hide();
                    $input.val($value.text()); // restore initial value
                    $input.show().focus();

                    $change.hide();
                    $cancel.show();
                });
                $cancel.click(function () {
                    $value.show();
                    $input.hide();
                    $input.val(undefined);

                    $change.show();
                    $cancel.hide();
                });
            });

            $("#change_mobile").click(function () {
                window.location.href = "{% url sharing.passenger_controller.registration step='phone'%}";
            });
            $("#change_billing").click(function () {

                $(this).text("{% trans "Sending" %}...").removeClass("wb_link");
                $.ajax({
                    url: "{% url sharing.passenger_controller.get_billing_url %}",
                    dataType: "json",
                    success: function(response){
                        window.location.href = response.billing_url;
                    },
                    error: function(){
                        $("#change_billing").text("{% trans "Error" %}").removeClass("wb_link").addClass("error");
                    }
                });
            });
        })
    </script>
{% endblock %}