{% load i18n %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
<html>
<head>
    <title></title>
</head>
<body {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<table cellspacing="0" cellpadding="5" width="100%">
    <tr>
        <td>{% trans "Ride ID" %}: {{ ride.id }}</td>
        <td>{% trans "Date and Time" %}: {{ date_and_time }}</td>
        <td>WAYbetter</td>
    </tr>
</table>
<table border="1" cellspacing="0" cellpadding="5" width="100%">
    <tr>
        <td>{% trans "From" %}: {{ from_address }}</td><td>{% trans "To" %}: {{ to_address }}</td>
    </tr>
</table>
<table border="1" cellspacing="0" cellpadding="5" width="100%">
    <tr>
        <th>{% trans "Number of Passengers" %}</th>
        <th>{% trans "Address" %}</th>
        <th>{% trans "Stop Time" %}</th>
        <th>{% trans "Phone" %}</th>
    </tr>
    {% for stop in stops %}
    <tr>
        <td>{{ stop.count }}</td>
        <td>{{ stop.address }}</td>
        <td>{{ stop.pickup_time }}</td>
        <td>{{ stop.phones|join:"<BR>" }}</td>
    </tr>
    {% endfor %}
</table>
<table border="1" cellspacing="0" cellpadding="5" width="100%">
    <tr>
        <td>{% trans "Radio Number" %}: {{ ride.taxi.number }}</td>
        <td>{% trans "Driver Name" %}: {{ ride.driver.name}}</td>
        <td>{% trans "Ride Cost" %}: {{ ride.value }}</td>
    </tr>
</table>

</body>
</html>