{% load i18n %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
<html>
<head>
    <title></title>
</head>
<body {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>

<div width="100%" style="text-align: center;">WAYbetter LTD. {% trans "Voucher Ride Order"%}</div>

<table cellspacing="0" cellpadding="5" width="100%">
    <tr>
        <td>{% trans "Ride ID" %}: {{ ride.id }}</td>
        <td>{% trans "Ride Date" %}: {{ ride_date }}</td>
        <td>{% trans "Fax Sent" %}: {{ now_time }}</td>
    </tr>
</table>

<div width="100%">{% trans "Pickup" %}</div>
<table border="1" cellspacing="0" cellpadding="5" width="100%">
    {% for stop in pickups %}
    <tr>
        <td>{{ stop.phones|join:"<BR/>" }}</td>
        <td><b>{{ stop.count }} {% trans "Passengers" %}</b></td>
        <td><b>{{ stop.address }}</b></td>
        <td>{{ stop.pickup_time }}</td>
    </tr>
    {% endfor %}
</table>

<div width="100%">{% trans "Dropoff" %}</div>
<table border="1" cellspacing="0" cellpadding="5" width="100%">
    {% for stop in dropoffs %}
    <tr>
        <td>{{ stop.phones|join:"<BR/>" }}</td>
        <td>{{ stop.count }} {% trans "Passengers" %}</td>
        <td><b>{{ stop.address }}</b></td>
        <td>{{ stop.pickup_time }}</td>
    </tr>
    {% endfor %}
</table>

<div width="100%" style="text-align: center;">{% trans 'Please make sure drivers are <b>On Time</b>' %}</div>

</body>
</html>