{% extends "wb_info.html" %}
{% load i18n %}

{% block content %}
    {% blocktrans %}
        <p>
            WAYbetter offers a new, cost-effective transportation alternative.
            Door to door, personalized, efficient and enviormental taxi service.
        </p>
        <p>
            WAYbetter offers two different taxi services:
        </p>
        <ol>
            <li>
                A private taxi ride for a fixed, pre determined price.
            </li>
            <li>
                A WAYbetter taxi ride which maximizes the efficiency of the taxi in terms of occupancy, meaning you pay
                less for the ride while still enjoying great taxi service.
            </li>
        </ol>

        <p>
            Both services offer a great advantage of online booking and payment.
        </p>
        <p>
            Remember - WAYbetter rides are cheaper thanks to sharing between different passengers.
            Therefore, the more passengers use the system the better it gets, price decreases and service level
            increases.
        </p>
    {% endblocktrans %}
{% endblock %}