{% extends "wb_base_site.html" %}
{% load i18n %}
{% load value_from_settings %}

{% block pre_content %}
    <div id="map_container">

        <div id="cm-map"></div>

        <div id="banner">
            <div id="banner_content" class="hidden">
                <div id="banner_slides">
                    {% if LANGUAGE_CODE == "he" %}
                        <img src="/static/images/wb_site/banner01_he.png">
                        <img src="/static/images/wb_site/banner02_he.png">
                        <img id="order_now" class="clickable" src="/static/images/wb_site/banner03_he.png">
                    {% else %}
                        <img src="/static/images/wb_site/banner01.png">
                        <img src="/static/images/wb_site/banner02.png">
                        <img id="order_now" class="clickable" src="/static/images/wb_site/banner03.png">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div id="feedback"></div>
{% endblock %}

{% block content %}

    <div id="booking_container">

        <div id="savings" class="hidden">
            <div class="content">
                <span class="label">{% trans "SAVE" %} </span>
                <span class="value"></span>
            </div>
        </div>

        <div id="booking_teaser" class="booking_step hidden">
            <table>
                <tr>
                    <td class="text">{% trans "The Best Transport Service<br/>to Cenral Locations" %}</td>
                    <td><button class="order_button blue hidden">{% trans "Book a Shared Taxi Ride" %}</button></td>
                </tr>
            </table>
        </div>

        <div id="booking_content">

            <div id="hotspot_content" class="booking_step">
                <div class="title">1. {% trans "Choose a Central Location" %}</div>

                <select id="id_hotspot_select" name="hotspot_id"></select>

                <div class="btn_cntr">
                    <button id="leave_hotspot" class="wb_button hidden"></button>
                    <button id="goto_hotspot" class="wb_button hidden"></button>
                </div>
            </div>

            <div id="address_content" class="booking_step hidden">
                <div class="title"></div>

                <table>
                    <tr>
                        <td class="cntr city">
                            <label for="id_city">{% trans "City" %}:</label>
                            <select id="id_city" name="id_city">
                                {% for city in cities %}
                                    <option value="{{ city.id }}">{{ city.name }}</option>
                                {% endfor %}
                            </select>

                        </td>
                        <td class="cntr street">
                            <label for="id_street_address">{% trans "Street" %}:</label>
                            <div class="input-cntr">
                                <input type="text" id="id_street_address" name="street_address"/>
                                <div id="street_loader" class="small-loader"></div>
                            </div>
                            <div id="street_error" class="error"></div>
                        </td>
                        <td class="cntr hn">
                            <label for="id_house_number">{% trans "House No" %}:</label>
                            <input type="text" id="id_house_number" name="house_number"/>
                            <div id="house_number_error" class="error"></div>
                        </td>
                        <td class="cntr btn">
                            <button id="set_address" class="wb_button">{% trans "Next" %} >></button>
                            <div id="address_loader" class="small-loader"></div>
                        </td>
                    </tr>
                </table>

            </div>

            <div id="datetime_content" class="booking_step hidden">
                <div class="title"></div>

                <table>
                    <tr>
                        <td class="cntr date">
                            <label for="id_hotspot_datepicker">{% trans "Date" %}:</label>
                            <input type="text" id="id_hotspot_datepicker" name="hotspot_date" class="wb-menulist">
                        </td>
                        <td class="cntr time">
                            <label for="id_hotspot_time">{% trans "Time" %}:</label>
                            <select id="id_hotspot_time" name="hotspot_time"></select>
                            <div id="intervals_loader" class="small-loader"></div>

                            <div id="id_estimated_pickup">
                                (
                                <span class="text bold">{% trans "_pickup" %}: </span>
                                <span class="value"></span>
                                )
                            </div>
                        </td>
                        <td class="cntr btn">
                            <button id="set_datetime" class="wb_button">{% trans "Next" %} >></button>
                            <div id="datetime_loader" class="small-loader"></div>
                        </td>
                    </tr>
                </table>
            </div>

            <div id="details_content" class="booking_step hidden">
                <div id="ride_summary">
                    <div class="pickup">
                        <div class="dt_cntr">
                            <div class="address">
                                <span class="details_label">{% trans "Pickup" %}: </span>
                                <span class="details_label_type">({% trans 'Address' %})</span>
                                <div class="data">
                                    <p class="name"></p>
                                    <p class="desc"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="dropoff">
                        <div class="dt_cntr">
                            <div class="hotspot">
                                <span class="details_label">{% trans "Dropoff" %}: </span>
                                <span class="details_label_type">({% trans 'Hotspot' %})</span>
                                <span id="switch_direction" class="wb_link">
                                    <span id="details_loader" class="small-loader"></span>
                                    {% trans "switch direction" %}
                                </span>
                                <div class="data">
                                    <p class="name"></p>
                                    <p class="desc"></p>
                                </div>
                            </div>
                            <div class="when">
                                <span class="details_label"></span>
                                <div class="data">
                                    <p class="desc"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="num_seats">
                        <span class="details_label">{% trans "Number of Seats" %}</span>
                        <span class="radio">
                            <input type="radio" name="num_seats" value="1"/>1
                            <input type="radio" name="num_seats" value="2"/>2
                            <input type="radio" name="num_seats" value="3"/>3
                            <input type="radio" name="num_seats" value="4"/>4
                        </span>
                    </div>
                </div>

                <div id="ride_details">
                    <div id="offer">
                        <table class="price">
                            <tr class="offer-row">
                                <td class="offer-pre">{% trans "Fixed Price" %}</td>
                                <td class="offer-val">
                                    <span id="sharing_price">
                                        <span class="value">0</span>
                                        <span class="label">₪</span>
                                    </span>
                                </td>
                                <td class="offer-post">
                                    ({% trans "instead of" %}
                                    <span id="private_price">
                                        <span class="value">0</span>
                                        <span class="label">₪)</span>
                                    </span>
                                </td>
                            </tr>
                        </table>
                        <table class="time">
                            <tr class="offer-row">
                                <td class="offer-pre">{% trans "Est. Ride Duration" %}</td>
                                <td class="offer-val">
                                    <span id="sharing_time">
                                        <span class="value">0</span>
                                        <span class="label">{% trans "min" %}</span>
                                    </span>
                                </td>
                                <td class="offer-post">
                                    ({% trans "instead of" %}
                                    <span id="private_time">
                                        <span class="value">0</span>
                                        <span class="label">{% trans "min" %})</span>
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <button class="order_button blue" id="book_ride"></button>
                </div>
            </div>
        </div>

        <div id="booking_progress">
            <table>
                <tr>
                    <td><a class="hotspot step current" data-name="hotspot">1. {% trans "Central Location" %}</a></td>
                    <td><a class="address step disabled" data-name="address">2. {% trans "Address" %}</a></td>
                    <td><a class="datetime step disabled" data-name="datetime">3. {% trans "Time" %}</a></td>
                    <td><a class="details step disabled" data-name="details">4. {% trans "Get Offer" %}</a></td>
                </tr>
            </table>

        </div>
    </div>

    {% if request.user.passenger %}
        <div id="myrides_container">
            <h1>{% trans "My Next Rides" %}</h1>
            <hr>
            <table id="my_next_rides" class="myrides-table">
                {% include "myrides_table.html" %}
            </table>
            <div id="myrides_tooltip" class="hidden tooltip">
                {% include "myrides_tooltips.html" %}
            </div>
        </div>
    {% endif %}

    <div id="mobile_apps">
        <table class="container">
            <tr>
                <td class="img">
                    <span class="title bold">{% trans "Wherever You Are" %}!</span>
                    <br/>
                    <span class="content">{% trans "Download the new WAYbetter app for your mobile now (free)" %}</span>
                </td>
                <td class="iphone vendor">
                    <div class="app-icon clickable centered"></div>
                    <a href="{% value_from_settings "APPLE_WAYBETTER_ITUNES_URL" %}" class="wb_link">{% trans "Get the iPhone App" %} ></a>
                </td>
                <td>
                    <div class="vr"></div></td>
                <td class="android vendor">
                    <div class="app-icon clickable centered"></div>
                    <a href="{% value_from_settings "ANDROID_MARKET_APP_URL" %}" class="wb_link">{% trans "Get the Android App" %} ></a>
                </td>
            </tr>
        </table>
    </div>

{% endblock %}

{% block post_footer %}
    <div id="partners">
        <table class="ltr">
            <tr>
                <td>WAYbetter is proudly supported and powered by:</td>
                <td class="hr-td">
                    <div class="hr"></div>
                </td>
            </tr>
        </table>
        <table id="partner_logos">
            <tr>
                <td class="ibm-logo"></td>
                <td class="ny-taxi-logo"></td>
                <td class="peregrine-logo"></td>
                <td class="its-logo"></td>
            </tr>
            <tr>
                <td class="telmap-logo"></td>
                <td class="google-logo"></td>
                <td class="cloudmade-logo"></td>
            </tr>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="http://tile.cloudmade.com/wml/latest/web-maps-lite.js"></script>
    <script type="text/javascript" src="/static/js/mylibs/slides.js"></script>
{% endblock %}

{% block doc_ready %}
    {{ block.super }}
    <script type="text/javascript">

    {% autoescape off %}
        var order_types = {{ order_types }};
    {% endautoescape%}

    var PICKUP = "pickup",
        DROPOFF = "dropoff",
        SHARING_TIME_FACTOR = 1.2,
        BOOKING_STEPS = ["hotspot", "address", "datetime", "details"];

    var RTL = false;

    {% if LANGUAGE_BIDI %}
        RTL = true;
    {% endif %}
    var SLIDE_DIR = (RTL) ? "right" : "left";

    function startBooking() {
        return;
        $("#booking_teaser").fadeOut("fast", function(){
            $("#booking_content, #booking_progress").fadeIn("fast");
            showMap();
        });
    }

    function showMap(){
        $("#banner").hide();
        $("#banner_slides").slides("stop");
    }
    
    function showError(msg, onClose) {
        Registrator.openWBErrorDialog("{% trans 'OOPS...' %}", msg, onClose);
    }

    function selectHotspot(){
        var hotspot = HotspotHelper.getHotspotByID($("#id_hotspot_select").val());
        BookingHelper.hotspot = hotspot;
        var hs_name = (hotspot.name || "{% trans "Hotspot" %}");
        $("#leave_hotspot").text("{% trans "Leave " %}" + hs_name + " >>");
        $("#goto_hotspot").text("{% trans "Goto " %}" + hs_name + " >>");
    }

    function setHotspot(hotspot_type){
        selectHotspot();
        switchDirection(hotspot_type);
        stepCompleted("hotspot");
        if (BookingHelper.address) {
            getHotspotTimes({});
            showBookingStep("datetime");
        }
        else{
            showBookingStep("address");
        }
    }

    function switchDirection(direction) {
        if (direction && BookingHelper.hotspot_type == direction) {
            return; // do nothing
        }
        log("switchDirection:" + direction);
        if (direction){
            BookingHelper.hotspot_type = direction;
        }
        else{
            BookingHelper.hotspot_type = (BookingHelper.hotspot_type == PICKUP) ? DROPOFF : PICKUP;
        }

        if (BookingHelper.hotspot_type) {
            HotspotHelper.refreshHotspotMarker(BookingHelper.hotspot_type);
        }
        if (BookingHelper.address) {
            var add_marker_method = (BookingHelper.hotspot_type == PICKUP) ? "addBMarker" : "addAMarker";
            CMHelper[add_marker_method](BookingHelper.address.lat, BookingHelper.address.lon, {title: BookingHelper.address.name});
        }

        $("#ride_summary .dropoff .details_label").swapElement($("#ride_summary .pickup .details_label"));
        $("#ride_summary .dt_cntr").eq(0).swapElement($("#ride_summary .dt_cntr").eq(1));
        $("#ride_summary .when .details_label").text(BookingHelper.messages[BookingHelper.hotspot_type + "_time"] + ":");

        var $el = $("#switch_direction").remove();
        $("#ride_summary .dropoff .details_label_type").eq(0).after($el);
    }

    function showBookingStep(step_name) {
        $("#savings").hide();
        var current_step_name = $("#booking_progress .step.current").data("name");

        var from_index = $.inArray(current_step_name, BOOKING_STEPS);
        var to_index = $.inArray(step_name, BOOKING_STEPS);

        if (to_index > -1 && from_index > -1){
            // mark step as current
            $("#booking_progress .step").removeClass("current");
            $("#booking_progress .step." + step_name).removeClass("disabled").addClass("current");

            // trigger beforeshow
            $("#" + step_name + "_content").trigger("beforeshow");

            // show
            $("#booking_content").slides("slide", to_index + 1);
            log("showBookingStep: " + step_name + "(" + from_index + "->" + to_index + ")");
        }
    }

    function stepCompleted(step_name) {
        $("#booking_progress .step." + step_name).addClass("completed");
    }

    function getHotspotTimes(options) {
        log("getHotspotTimes");
        if (! (BookingHelper.hotspot && BookingHelper.hotspot_type)){
            showError("{% trans 'Please choose a hotspot' %}", undefined);
            if (options.onNoTimes){
                options.onNoTimes();
            }
        }
        else if (BookingHelper.address) {
            HotspotHelper.refreshHotspotSelector({
                refresh_intervals: true,
                get_intervals_data: {
                    hotspot_type: BookingHelper.hotspot_type,
                    time_type: BookingHelper.hotspot_type,
                    lat: BookingHelper.address.lat,
                    lon: BookingHelper.address.lon
                },
                beforeSend: function() {
                    $("#intervals_loader").show();
                    $("#set_datetime").disable();
                    $("#id_estimated_pickup").toggle(false);
                },
                onGotTimes: function(times) {
                    log("onGotTimes");
                    $("#set_datetime").enable();
                    if (options.onGotTimes){
                        options.onGotTimes(times);
                    }
                    if ($("#set_datetime").is(":visible")) {
                        $("#set_datetime").focus();
                    }
                },
                onNoTimes: function() {
                    if (options.onNoTimes){
                        options.onNoTimes();
                    }
                },
                complete: function() {
                    $("#intervals_loader").hide();
                    $("#id_estimated_pickup").toggle(BookingHelper.hotspot_type == DROPOFF);
                },
                error: function() {
                    showError("{% trans 'We had a problem getting available intervals. Please try again.' %}", undefined);
                }
            });
        }
        else {
            $("#id_hotspot_time").empty().disable();
        }
    }

    function clearRideDetails() {
        log("clearRideDetails");

        $("#book_ride").disable();
        $("#savings .value").text("");
        $("#sharing_price .value").text(0);
        $("#sharing_time .value").text(0);
        $("#private_price .value").text(0);
        $("#private_time .value").text(0);
    }

    function getRideDetails(options) {
        if (!(BookingHelper.hotspot && BookingHelper.address && BookingHelper.ride_date && BookingHelper.ride_time)) {
            showError("{% trans "Please fill all ride details" %}", undefined);
            return;
        }
        clearRideDetails();
        $.ajax({
            url: "{% url sharing.passenger_controller.get_hotspot_price %}",
            dataType: "json",
            data: {
                'lon': BookingHelper.address.lon,
                'lat': BookingHelper.address.lat,
                'num_seats': BookingHelper.num_seats,
                'hotspot_id': BookingHelper.hotspot.id,
                'hotspot_type': BookingHelper.hotspot_type,
                'day': BookingHelper.ride_date,
                'time': BookingHelper.ride_time
            },
            beforeSend: function() {
                $("#datetime_loader").show();
            },
            success: function(response) {
                if (response.sharing_price && response.sharing_time && response.private_price && response.private_time) {
                    $("#sharing_price .value").text(response.sharing_price);
                    $("#sharing_time .value").text(response.sharing_time);
                    $("#private_price .value").text(response.private_price);
                    $("#private_time .value").text(response.private_time);
                    $("#savings .value").text(response.savings + "%");
                    $("#book_ride").enable();

                    gaHitPage("order_ready.html");

                    if (options.onGotDetails){
                        options.onGotDetails()
                    }
                } else {
                    showError(response.error || "{% trans "Currently, there is no service to this address at the selected hour." %}", undefined);
                }
            },
            error: function() {
                showError("{% trans "We have encountered an error. Please try again." %}", undefined);
            },
            complete: function() {
                $("#datetime_loader").hide();
            }
        });
    }

    function bookRide() {
        var data = {
            num_seats: BookingHelper.num_seats,
            time_type: BookingHelper.hotspot_type,
            ride_duration: HotspotHelper.ride_duration,
            hotspot_id: BookingHelper.hotspot.id,
            hotspot_type: BookingHelper.hotspot_type,
            hotspot_date: BookingHelper.ride_date,
            hotspot_time: BookingHelper.ride_time,
            id_city: $("#id_city").val(),
            street_address: BookingHelper.address.street_address,
            house_number: BookingHelper.address.house_number,
            lat: BookingHelper.address.lat,
            lon: BookingHelper.address.lon
        };

        var err_msg = "{% trans "We have encountered an error. Please try again." %}";

        $.ajax({
            url: "{% url sharing.passenger_controller.book_ride %}",
            data: data,
            type: "POST",
            beforeSend: function() {
                $("#book_ride").disable().text("{% trans 'Sending' %}...");
            },
            success: function(response) {
                if (response.status == "booked" && response.redirect)
                    window.location.href = response.redirect;
                else {
                    showError(response.message || err_msg, function() {
                        $("#book_ride").enable().text(BookingHelper.messages.book_ride);
                        if (response.redirect) {
                            window.location.href = response.redirect;
                        }
                    });
                }
            },
            error:  function() {
                $("#book_ride").enable().text(BookingHelper.messages.book_ride);
                showError(err_msg, undefined);
            }
        });
    }


    $(function() {

        BookingHelper.messages = {
            book_ride: "{% trans "Book a Shared Taxi Ride" %}",
            pickup_time:"{% trans 'Pickup Time' %}",
            dropoff_time:"{% trans 'Dropoff Time' %}"
        };

        {% if request.user.passenger %}
            MyRidesHelper.init({
                rtl: RTL,
                order_types: order_types,
                next_rides_table: "#my_next_rides",
                next_rides_container: "#myrides_container",
                urls: {
                    get_myrides_data: "{% url sharing.passenger_controller.get_myrides_data %}",
                    get_order_status: "{% url sharing.passenger_controller.get_order_status %}",
                    cancel_order: "{% url sharing.passenger_controller.cancel_order %}"
                },
                messages: {
                    ride_cancelled: "{% trans "Ride cancelled." %}",
                    cancel_text: "{% trans "Info/Cancel" %}",
                    report_text: "{% trans "Report Ride" %}"
                }
            });

            MyRidesHelper.getData({'get_next_rides': true}, {
                        success: function(has_next, has_previous) {
                            if (has_next) $("#myrides_container").fadeIn("fast");
                        },
                        error: function() {
                            flashError("{% trans "Error getting rides data" %}")
                        }
                    });
        {% endif %}


        CMHelper.init({
            api_key: "{% value_from_settings "CLOUDMADE_API_KEY" %}",
            center_lat: 32.115985,
            center_lon: 34.835441
        });

        HotspotHelper.init({
            selectors: {
                hotspotpicker: "#id_hotspot_select",
                datepicker: "#id_hotspot_datepicker",
                timepicker: "#id_hotspot_time"
            },
            labels: {
                choose_date: "{% trans "Choose Date" %}",
                updating: "{% trans "Updating..." %}"
            },
            urls: {
                get_hotspot_data: "{% url sharing.passenger_controller.get_hotspots_data %}",
                get_hotspot_dates: "{% url sharing.passenger_controller.get_hotspot_dates %}",
                get_hotspot_times: "{% url sharing.passenger_controller.get_hotspot_times %}"
            }
        });
        HotspotHelper.makeHotSpotSelector({
            onSelectDate: function(dateText, inst) {
                getHotspotTimes({});
            },
            onSelectTime: function() {
                if (BookingHelper.hotspot_type == DROPOFF) {
                    var d = new Date($("#id_hotspot_datepicker").datepicker("getDate"));
                    var hh = $("#id_hotspot_time option:selected").text().split(":")[0];
                    var mm = $("#id_hotspot_time option:selected").text().split(":")[1];
                    d.setHours(hh);
                    d.setMinutes(mm);

                    var ride_duration_ms = HotspotHelper.ride_duration * 1000;
                    var est_pickup_private = new Date(d - ride_duration_ms);
                    var est_pickup_shared = new Date(d - ride_duration_ms * SHARING_TIME_FACTOR);
                    var time_txt = getFullTime(est_pickup_shared) + " - " + getFullTime(est_pickup_private);
                    var text = (d.getDate() == est_pickup_shared.getDate()) ?
                            time_txt : getFullDate(est_pickup_shared) + " {% trans 'at' %} " + time_txt;

                    $("#id_estimated_pickup .value").text(text);
                }
            },
            successCallback: function(){
                var $option = $("<option id='votespot'>{% trans "Other" %}</option>");
                $("#id_hotspot_select").append($option);
                $("#leave_hotspot, #goto_hotspot").fadeIn("fast");
            }
        });

        AddressHelper.init({
            urls:{
                structured_resolve_url: "{% url sharing.passenger_controller.resolve_structured_address %}"
            },
            messages:{
                choose_from_list: "{% trans "Please choose from list" %}"
            }
        });
        AddressHelper.makeStructuredAddressInput("#id_city", "#id_street_address", "#id_house_number", "#street_loader",
                {
                    success: function() {
                        $("#street_error").text("");
                    }
                }
        );

        Registrator.init({
            urls            : {
                feedback_form_template: '{% url common.registration.feedback %}',
                pilot_interest_form_template: '{% url interests.views.pilot_interest %}',
                hotspot_interest_form_template: '{% url interests.views.hotspot_interest %}',
                error_form_template: '{% url common.views.error_dialog %}'
            }
        });

        // init
        $(".small-loader").hide();

        // teaser
        $("#booking_teaser button, #order_now").click(function() {
            startBooking();
        });

        // hotspot
        $("#hotspot_content").bind("beforeshow", function() {
            selectHotspot();
        });

        $("#id_hotspot_select").change(function(e) {
            if ($(this).find("option:selected").attr("id") == "votespot"){
                e.preventDefault();
                Registrator.openHotspotInterestDialog();
                $(this).val(""); // select the first option
            }
            else{
                selectHotspot();
            }
        });

        $("#leave_hotspot").click(function() {
            setHotspot(PICKUP);
        });
        $("#goto_hotspot").click(function() {
            setHotspot(DROPOFF);
        });

        $("#leave_hotspot, #goto_hotspot").one("click", function(){showMap()});

        // address
        $("#set_address").disable();
        $("#address_content").bind("beforeshow", function() {
            var address = BookingHelper.address;
            var title = (BookingHelper.hotspot_type == PICKUP) ? "{% trans "Where are you going" %}?" : "{% trans "Where are you coming from" %}?";
            $(this).find(".title").text("2. " + title);
            if (address){
                $("#id_street_address").val(address.street_address);
                $("#id_house_number").val(address.house_number);
                $("#id_city").val(address.city);
                $("#set_address").enable();
            }
            else{
                $("#set_address").disable();
            }
        });
        $("#address_content input").keyup(function() {
            var valid = Boolean($("#id_house_number").val() && $("#id_street_address").val());
            if (valid) {
                $("#set_address").enable();
            }
            else {
                $("#set_address").disable();
            }
        });
        $("#id_street_address").change(function(){
            $("#street_error").text("");
        }).keydown(function(e) {
            if (e.keyCode == 9 && !e.shiftKey) { // on tab
                e.preventDefault();
                $("#id_house_number").focus();
            }
        });

        $("#id_house_number").change(function(){
            $("#house_number_error").text("");
        }).keydown(function(e) {
            // prevent jumping from house number on 'tab' if next_btn is disabled
            if (e.keyCode == 9 && !e.shiftKey && $("#set_address").is(":disabled")) {
                e.preventDefault();
            }
            // submit on return
            if (e.keyCode == 13) {
                $("#set_address").trigger("click");
            }
        });

        $("#set_address").click(function() {
            AddressHelper.resolveStructured({
                city_selector       : "#id_city",
                street_input        : $("#id_street_address"),
                hn_input            : $("#id_house_number"),
                callbacks           :{
                    beforeSend:function() {
                        $("#address_loader").show();
                        $("#set_address").disable();
                        $("#street_error").text("");
                        $("#house_number_error").text("");
                    },
                    resolved: function(address) {
                        BookingHelper.address = address;
                        if (BookingHelper.hotspot_type == PICKUP) {
                            CMHelper.addBMarker(address.lat, address.lon, {title: address.name})
                        }
                        else {
                            CMHelper.addAMarker(address.lat, address.lon, {title: address.name})
                        }
                        getHotspotTimes({
                            onGotTimes: function() {
                                $("#address_loader").hide();
                                stepCompleted("address");
                                showBookingStep("datetime");
                                if ($("#set_datetime").is(":visible")) {
                                    $("#set_datetime").focus();
                                }
                            },
                            onNoTimes: function(){
                                $("#address_loader").hide();
                                $("#set_address").enable();
                            }
                        });
                    },
                    unresolved:function(errors) {
                        $(".ui-autocomplete").hide();
                        $("#address_loader").hide();
                        $("#set_address").enable();
                        if (errors.house_number) {
                            $("#house_number_error").text(errors.house_number);
                        }
                        if (errors.street) {
                            $("#street_error").text(errors.street);
                        }
                    }
                }
            });
        });

        // datetime
        $("#datetime_content").bind("beforeshow", function() {
            if (BookingHelper.ride_date) {
                $("#id_hotspot_datepicker").val(BookingHelper.ride_date);
            }
            if (BookingHelper.ride_time) {
                $("#id_hotspot_time").val(BookingHelper.ride_time);
            }

            var title_text = "{% trans "Define Time" %}";

            if (BookingHelper.hotspot && BookingHelper.hotspot_type == PICKUP) {
                title_text = "{% trans "When are you leaving " %}" + BookingHelper.hotspot.name + "?";
            }
            else if (BookingHelper.hotspot && BookingHelper.hotspot_type == DROPOFF) {
                title_text = "{% trans "When do you want to be at" %} " + BookingHelper.hotspot.name + "?";
            }

            $("#datetime_content .title").text("3. " + title_text);
        });
        $("#id_hotspot_datepicker").keydown(function(e) {
            e.preventDefault(); // make it uneditable
        });
        $("#set_datetime").click(function() {
            BookingHelper.ride_date = $("#id_hotspot_datepicker").val();
            BookingHelper.ride_time = $("#id_hotspot_time").val();
            getRideDetails({
                onGotDetails: function() {
                    stepCompleted("datetime");
                    showBookingStep("details");
                }
            });
        });

        // details
        $("#details_content").bind("beforeshow", function() {
            if (BookingHelper.address && BookingHelper.hotspot && BookingHelper.ride_date && BookingHelper.ride_time) {
                var $summary = $("#ride_summary");
                $summary.find(".address .name").text(BookingHelper.address.name);
                $summary.find(".address .desc").text("");
                $summary.find(".hotspot .name").text(BookingHelper.hotspot.name);
                $summary.find(".hotspot .desc").text(BookingHelper.hotspot.description);
                $summary.find(".when .desc").text(BookingHelper.ride_date + " " + BookingHelper.ride_time);
                if (BookingHelper.hotspot_type == PICKUP) {
                    $summary.find(".when .details_label").text(BookingHelper.messages.pickup_time + ":");
                } else {
                    $summary.find(".when .details_label").text(BookingHelper.messages.dropoff_time + ":");
                }
                $("#num_seats input:radio[value=" + BookingHelper.num_seats + "]").attr("checked", "checked");
                $("#book_ride").enable().text(BookingHelper.messages.book_ride);
            }
            else{
                clearRideDetails();
            }
        });
        $("#ride_summary .hotspot .data").live("click", function() {
            showBookingStep("hotspot");
        });
        $("#ride_summary .address .data").live("click", function() {
            showBookingStep("address");
        });
        $("#ride_summary .when .data").live("click", function() {
            showBookingStep("datetime");
        });
        $("#num_seats input:radio").change(function() {
            BookingHelper.num_seats = $(this).val();
        });
        $("#num_seats input:radio").eq(0).change().attr("checked", "checked");
        $("#book_ride").click(function() {
            bookRide();
        });
        $("#switch_direction").live("click", function() {
            switchDirection();
            $("#details_loader").show();
            getHotspotTimes({
                onGotTimes: function(times) {
                    $("#details_loader").hide();
                    if (!(BookingHelper.ride_time && times.indexOf(BookingHelper.ride_time) > -1)) {
                        showBookingStep("datetime");
                    }
                }
            });
        });


        // progress
        $("#booking_progress .step").not(".details").click(function() {
            if (!$(this).hasClass("disabled")) {
                showBookingStep($(this).data("name"));
            }
        });

        // banner
        var colors = ["rgb(22, 172, 211)"];
//        $("#wb_values .header").each(function() {
//            colors.push($(this).css("color"));
//        });
        $("#banner").css("background", colors[getRandomInt(0, colors.length - 1)]);
        $("#banner_content").show();

        // slides
        $('#banner_slides').slides({
            width: 800,
            startAtSlide: 0,
            direction: SLIDE_DIR,
            preload: {
                active: true,
                image: "../static/images/wb_site/loading_large.gif"
            },
            playInterval: 30000,
            pauseInterval: 30000,
            navigation: false,
            pagination: true
        });
        $("#banner_slides").slides("play");

        // for some strange reason first slide is '1' for booking content (not 0)
        $('#booking_content').slides({
            slide: {
                interval: 600
            },
            width: 800,
            startAtSlide: 1,
            direction: SLIDE_DIR,
            navigation: false,
            pagination: false
        }).bind("navigateEnd", function(e, current) {
            var step_name = BOOKING_STEPS[current - 1];
            log("navigateEnd:" + step_name);
            if (step_name == "address") {
                $("#id_street_address").focus();
            }else if (step_name == "datetime"){
                $("#set_datetime").focus();
            }else if (step_name == "details"){
                $("#book_ride").focus();
                $("#savings").fadeIn("fast");
            }
        });

        $("#feedback").click(function() {
            Registrator.openFeedbackDialog();
        });

        $("#sitemap ul:last").append('<li><a href="#" onclick="Registrator.openPilotInterestDialog()">{% trans "Join the private Beta" %}</a></li>');
    });

    // debug
//    startBooking();
//    setTimeout(function() {
//        $("#booking_content").slides("slide", 4);
//    }, 1e3);
    </script>

{% endblock %}