{% extends "wb_base_site.html" %}
{% load i18n %}
{% load value_from_settings %}

{% block pre_content %}
    <div id="map_container">

        <div id="map_canvas"></div>

        <div id="banner">
            <div id="banner_content" class="hidden">
                <div id="banner_slides">
                    {% if LANGUAGE_CODE == "he" %}
                        <img src="/static/images/wb_site/banner01_he_a.png">
                        <img src="/static/images/wb_site/banner02_he_a.png">
                        <img src="/static/images/wb_site/banner03_he_a.png">
                    {% else %}
                        <img src="/static/images/wb_site/banner01_en_a.png">
                        <img src="/static/images/wb_site/banner02_en_a.png">
                        <img src="/static/images/wb_site/banner03_en_a.png">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div id="feedback"></div>
{% endblock %}

{% block content %}

    <div id="booking_container">
        <div id="booking_content_container">

            <div id="booking_loader" class="medium-loader"></div>

            <div id="savings" class="hidden">
                <div class="content">
                    <span class="label">{% trans "SAVE" %} </span>
                    <span class="value"></span>
                </div>
            </div>

            <div id="booking_content" class="hidden">

                <div id="hotspot_content" class="booking_step hidden">
                    <div class="title">{% trans "Choose a Hotspot" %}</div>

                    <div class="cntr select">
                        <select id="id_hotspot_select" name="hotspot_id"></select>
                        <span id="qm_votespot" class="clickable"></span>
                    </div>

                    <div class="btn_cntr">
                        <table>
                            <tr>
                                <td class="first"><button id="leave_hotspot" class="wb_button hidden"></button></td>
                                <td class="second"><button id="goto_hotspot" class="wb_button hidden"></button></td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div id="address_content" class="booking_step hidden">
                    <div class="title"></div>

                    <table>
                        <tr>
                            <td class="cntr street">
                                <label for="id_street_address">{% trans "Address or Point of Interest" %}</label>
                                <input type="text" id="id_street_address" name="street_address" placeholder=""/>
                                <div id="street_help_text"></div>
                            </td>
                            <td class="cntr btn">
                                <button id="set_address" class="wb_button">{% trans "Next" %} >></button>
                                <div id="address_loader" class="small-loader"></div>
                            </td>
                        </tr>
                    </table>

                </div>

                <div id="datetime_content" class="booking_step hidden">

                    <table>
                        <tr>
                            <td class="cntr date">
                                <div class="title"></div>
                                <div class="sms-info">({% trans "Final time will be sent via free SMS" %})</div>
                                <input type="text" id="id_hotspot_datepicker" name="hotspot_date" class="wb-menulist">
                                <div id="intervals_loader" class="small-loader"></div>
                            </td>
                            <td class="cntr intervals">
                                <div id="intervals_list"></div>
                            </td>
                            <td class="cntr btn">
                                <button id="set_datetime" class="wb_button">{% trans "Next" %} >></button>
                                <div id="datetime_loader" class="small-loader"></div>
                            </td>
                        </tr>
                    </table>
                </div>

                <div id="details_content" class="booking_step hidden">
                    <div id="ride_summary">
                        <div class="pickup">
                            <div class="dt_cntr">
                                <div class="address">
                                    <span class="details_label">{% trans "Pickup" %}: </span>
                                    <span class="details_label_type">({% trans 'Address' %})</span>
                                    <div class="data">
                                        <p class="name"></p>
                                        <p class="desc"></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="dropoff">
                            <div class="dt_cntr">
                                <div class="hotspot">
                                    <span class="details_label">{% trans "Dropoff" %}: </span>
                                    <span class="details_label_type">({% trans 'Hotspot' %})</span>
                                    <span id="switch_direction" class="wb_link">
                                        {% trans "switch direction" %}
                                    </span>
                                    <div class="data">
                                        <p class="name"></p>
                                        <p class="desc"></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="when">
                            <span class="details_label">{% trans 'Pickup Time' %}</span>
                            <div class="data">
                                <p class="desc"></p>
                            </div>
                        </div>

                        <div id="num_seats">
                            <span class="details_label">{% trans "Number of Seats" %}</span>
                            <span class="radio">
                                <input type="radio" name="num_seats" value="1" checked="checked"/>1
                                <input type="radio" name="num_seats" value="2"/>2
                                <input type="radio" name="num_seats" value="3"/>3
                            </span>
                            <span id="num_seats_loader" class="small-loader"></span>
                        </div>
                    </div>

                    <div id="ride_details">
                        <div id="offer">
                            <table class="price">
                                <tr class="offer-row">
                                    <td class="offer-pre">{% trans "Fixed Price" %}</td>
                                    <td class="offer-val">
                                        <span id="sharing_price">
                                            <span class="value">0</span>
                                            <span class="label">₪</span>
                                        </span>
                                    </td>
                                    <td class="offer-post">
                                        ({% trans "instead of about" %}
                                        <span id="private_price">
                                            <span class="value">0</span>
                                            <span class="label">₪*)</span>
                                        </span>
                                    </td>
                                </tr>
                            </table>
                            <table class="time">
                                <tr class="offer-row">
                                    <td class="offer-pre">{% trans "Est. Ride Duration" %}</td>
                                    <td class="offer-val">
                                        <span id="sharing_time">
                                            <span class="value">0</span>
                                            <span class="label">{% trans "min" %}</span>
                                        </span>
                                    </td>
                                    <td class="offer-post">
                                        ({% trans "instead of about" %}
                                        <span id="private_time">
                                            <span class="value">0</span>
                                            <span class="label">{% trans "min" %}*)</span>
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <button class="order_button blue" id="book_ride"></button>
                    </div>
                </div>
            </div>

            <div id="booking_progress" class="hidden">
                <table>
                    <tr>
                        <td><a href="#" class="hotspot step current" data-name="hotspot">1. {% trans "Choose Hotspot" %}</a></td>
                        <td><a href="#" class="address step disabled" data-name="address">2. {% trans "Enter Address" %}</a></td>
                        <td><a href="#" class="datetime step disabled" data-name="datetime">3. {% trans "Choose Time" %}</a></td>
                        <td><a href="#" class="details step disabled" data-name="details">4. {% trans "Get Offer" %}</a></td>
                    </tr>
                </table>

            </div>
        </div>

        <div id="disclaimer_container">
            <div id="disclaimer" class="hidden">*{% trans "Private price and duration are estimates calculated as detailed in our terms of service"%}.</div>
        </div>

    </div>


    {% if request.user.passenger %}
        <div id="myrides_container">
            <h1>{% trans "My Next Rides" %}</h1>
            <hr>
            <table id="my_next_rides" class="myrides-table">
                {% include "myrides_table.html" %}
            </table>
            <div id="myrides_tooltip" class="hidden tooltip">
                {% include "myrides_tooltips.html" %}
            </div>
        </div>
    {% else %}
        <div id="media_banner">
            <div class="title bold">{% trans "WAYbetter on the news" %}</div>
            <div class="ltr centered">
                <a class="media-link timeout"></a>
                <a class="media-link themarker" href="http://www.themarker.com/smartphones/applications/1.1610397" target="_blank"></a>
                <a class="media-link mako" href="http://www.mako.co.il/digital-magazine/Article-c1e7ee20983c431006.htm" target="_blank"></a>
                <a class="media-link channel10" href="http://net.nana10.co.il/Article/?ArticleID=854004" target="_blank"></a>
                <a class="media-link nrg" href="http://www.nrg.co.il/online/1/ART2/320/004.html?hp=1&cat=459" target="_blank"></a>
                <a class="media-link globes" href="http://www.globes.co.il/news/article.aspx?did=1000621642" target="_blank"></a>
            </div>
        </div>
    {% endif %}

    <div id="mobile_apps">
        <table class="container">
            <tr>
                <td class="img">
                    <span class="title bold">{% trans "Wherever You Are" %}!</span>
                    <br/>
                    <span class="content">{% trans "Download the new WAYbetter app for your mobile now (free)" %}</span>
                </td>
                <td class="iphone vendor">
                    <div class="app-icon clickable centered"></div>
                    <a href="{% value_from_settings "APPLE_WAYBETTER_ITUNES_URL" %}" class="wb_link">{% trans "Get the iPhone App" %} ></a>
                </td>
                <td>
                    <div class="vr"></div></td>
                <td class="android vendor">
                    <div class="app-icon clickable centered"></div>
                    <a href="{% value_from_settings "ANDROID_MARKET_APP_URL" %}" class="wb_link">{% trans "Get the Android App" %} ></a>
                </td>
            </tr>
        </table>
    </div>

{% endblock %}

{% block post_footer %}
    <div id="partners">
        <table class="ltr">
            <tr>
                <td>WAYbetter is proudly supported and powered by:</td>
                <td class="hr-td">
                    <div class="hr"></div>
                </td>
            </tr>
        </table>
        <table id="partner_logos">
            <tr>
                <td class="ibm-logo"></td>
                <td class="ny-taxi-logo"></td>
                <td class="peregrine-logo"></td>
                <td class="its-logo"></td>
            </tr>
            <tr>
                <td class="telmap-logo"></td>
                <td class="google-logo"></td>
                <td class="cloudmade-logo"></td>
            </tr>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    <script>
    (function placesAutoCompletePatch(){
        var input = document.getElementById("id_street_address");

        // store the original binding function
        var _addEventListener = (input.addEventListener) ? input.addEventListener : input.attachEvent;

        function addEventWrapper() {
            var type = arguments[0];
            var listener = arguments[1];

            // if binding a keydown event, replace the passed listener with a wrapped listener
            if (type == "keydown") {
                arguments[1] = function wrappedListener() {
                    var event = arguments[0];

                    // when hitting 'return' trigger a 'down arrow' first if no suggestion is selected
                    if (event.which == 13 && $(".pac-item.pac-selected").length == 0) {
                        arguments[0] = $.Event("keydown", {keyCode:40, which:40});
                        listener.apply(input, arguments);
                    }

                    // trigger the original event
                    arguments[0] = event;
                    listener.apply(input, arguments);
                };
            }

            // add the (wrapped) listener
            _addEventListener.apply(input, arguments);
        }

        if (input.addEventListener)
            input.addEventListener = addEventWrapper;
        else if (input.attachEvent)
            input.attachEvent = addEventWrapper;
    })();
    </script>

    {% if DEV %}
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false&language=he"></script>
    {% else %}
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key={% value_from_settings GOOGLE_API_BROWSER_KEY %}?libraries=places&sensor=false&language=he"></script>
    {% endif %}

    {{ block.super }}

    <script type="text/javascript" src="/static/js/mylibs/slides.js"></script>
{% endblock %}

{% block doc_ready %}
    {{ block.super }}
    <script type="text/javascript">

    {% autoescape off %}
        var order_types = {{ order_types }};
    {% endautoescape%}

    var PICKUP = "pickup",
        DROPOFF = "dropoff",
        SHARING_TIME_FACTOR = {{ sharing_time_factor }},
        SHARING_TIME_MINUTES = {{ sharing_time_minutes }},
        SHARING_CONSTRAINT = "{{ sharing_constraint }}",
        BOOKING_STEPS = ["hotspot", "address", "datetime", "details"];

    var RTL = false;

    // GA variables
    var choose_hotspot_time = undefined,
        get_offer_time = undefined,
        street_address_logged = false;

    {% if LANGUAGE_BIDI %}
        RTL = true;
    {% endif %}
    var SLIDE_DIR = (RTL) ? "right" : "left";

    function initBookingContent() {
        $("#booking_loader").hide();
        $("#booking_content, #booking_progress").fadeIn("fast");
        // for some strange reason first slide is '1' for booking content (not 0)
        $('#booking_content').slides({
            slide:{
                interval:500
            },
            width:800,
            startAtSlide:1,
            direction:SLIDE_DIR,
            navigation:false,
            pagination:false
        }).bind("navigateEnd", function (e, current) {
                    var step_name = BOOKING_STEPS[current - 1];
                    log("navigateEnd:" + step_name);
                    if (step_name == "address") {
                        $("#id_street_address").focus();
                    } else if (step_name == "datetime") {
                        $("#set_datetime").focus();
                    } else if (step_name == "details") {
                        $("#savings").fadeIn("fast");
                    }
                });
    }

    function showMap(){
        $("#banner").hide();
        $("#banner_slides").slides("stop");
    }
    
    function showError(msg, onClose) {
        logGAEvent("order", "error", msg);
        Registrator.openWBErrorDialog("{% trans 'OOPS...' %}", msg, onClose);
    }

    function selectHotspot(){
        var hotspot = HotspotHelper.getHotspotByID($("#id_hotspot_select").val());
        BookingHelper.ride_date = undefined;
        BookingHelper.ride_time = undefined;
        BookingHelper.hotspot = hotspot;
        var hs_name = (hotspot) ? hotspot.name : "{% trans "Hotspot" %}";
        $("#leave_hotspot").text("{% trans "Leave " %}" + hs_name + " >>");
        $("#goto_hotspot").text("{% trans "Goto " %}" + hs_name + " >>");

        if (BookingHelper.hotspot && BookingHelper.hotspot_type) {
            HotspotHelper.refreshHotspotMarker(BookingHelper.hotspot_type);
        }
        if (BookingHelper.hotspot) { // log Google Analytics event
            logGAEvent("order", "choose hotspot", hotspot.name);
        }

    }

    function setHotspot(hotspot_type){
        choose_hotspot_time = new Date();
        selectHotspot();
        switchDirection(hotspot_type);
        stepCompleted("hotspot");
        HotspotHelper.refreshHotspotMarker(hotspot_type, true);
        if (hotspot_type == PICKUP) {
            logGAEvent("order", "set direction", "from hotspot");
        } else {
            logGAEvent("order", "set direction", "to hotspot");
        }

        if (BookingHelper.address) {
            getIntervals({});
            showBookingStep("datetime");
        }
        else{
            showBookingStep("address");
        }
    }

    function refreshAddressMarker(){
        GoogleMapHelper.removeMarker("A, B");
        var marker_name = (BookingHelper.hotspot_type == PICKUP) ? "B" : "A";
        var add_marker_method = "add" + marker_name + "Marker"; // addAMarker, addBMarker
        GoogleMapHelper[add_marker_method](BookingHelper.address.lat, BookingHelper.address.lon, {title:BookingHelper.address.name});
        return marker_name;
    }

    function switchDirection(direction) {
        if (direction && BookingHelper.hotspot_type == direction) {
            return; // do nothing
        }
        log("switchDirection:" + direction);
        if (direction){
            BookingHelper.hotspot_type = direction;
        }
        else{
            BookingHelper.hotspot_type = (BookingHelper.hotspot_type == PICKUP) ? DROPOFF : PICKUP;
        }

        HotspotHelper.refreshHotspotMarker(BookingHelper.hotspot_type);
        if (BookingHelper.address) {
            refreshAddressMarker();
            GoogleMapHelper.fitMarkers();
        }

        $("#ride_summary .dropoff .details_label").swapElement($("#ride_summary .pickup .details_label"));
        $("#ride_summary .dt_cntr").eq(0).swapElement($("#ride_summary .dt_cntr").eq(1));

        var $el = $("#switch_direction").remove();
        $("#ride_summary .dropoff .details_label_type").eq(0).after($el);
    }

    function showBookingStep(step_name) {
        $("#savings").hide();
        $("#disclaimer").toggle(step_name == "details");

        var current_step_name = $("#booking_progress .step.current").data("name");

        var from_index = $.inArray(current_step_name, BOOKING_STEPS);
        var to_index = $.inArray(step_name, BOOKING_STEPS);

        if (to_index > -1 && from_index > -1){
            // mark step as current
            $("#booking_progress .step").removeClass("current");
            $("#booking_progress .step." + step_name).removeClass("disabled").addClass("current");

            // trigger beforeshow
            $("#" + step_name + "_content").trigger("beforeshow");

            // show
            $("#booking_content").slides("slide", to_index + 1);
            log("showBookingStep: " + step_name + "(" + from_index + "->" + to_index + ")");
        }
    }

    function stepCompleted(step_name) {
        var $el = $("#booking_progress .step." + step_name);
        $el.addClass("completed");
        $el.parent().addClass("completed");
    }

    function getIntervals(options) {
        log("getIntervals");
        if (! (BookingHelper.hotspot && BookingHelper.hotspot_type)){
            showError("{% trans 'Please choose a hotspot' %}", undefined);
            if (options.onNoIntervals){
                options.onNoIntervals();
            }
        }
        else if (BookingHelper.address) {
            HotspotHelper.getIntervals({
                data: {
                    hotspot_type: BookingHelper.hotspot_type,
                    lat: BookingHelper.address.lat,
                    lon: BookingHelper.address.lon
                },
                beforeSend: function() {
                    $("#intervals_loader").show();
                    $("#set_datetime").disable();
                    $("#id_estimated_pickup").toggle(false);
                    $("#intervals_list .interval").addClass("disabled");
                    $("#intervals_list .interval.selected").removeClass("selected");
                },
                success: function(response){
                    var intervals = response.intervals;
                    if (intervals && intervals.length){
                        log("onGotIntervals");
                        var $list = $("#intervals_list");
                        $list.empty();
                        $.each(intervals, function (i, interval) {
                            var $interval = renderInterval(interval);
                            if (i == 0){
                                selectInterval($interval);
                            }
                            $list.append($interval);
                        });
                        $("#set_datetime").enable();
                        if (options.onGotIntervals) {
                            options.onGotIntervals(intervals);
                        }
                        if ($("#set_datetime").is(":visible")) {
                            $("#set_datetime").focus();
                        }
                    }
                    else {
                        if (options.onNoIntervals) {
                            options.onNoIntervals();
                        }
                    }
                },
                complete: function() {
                    $("#intervals_loader").hide();
                    $("#id_estimated_pickup").toggle(BookingHelper.hotspot_type == DROPOFF);
                    $("#intervals_list .interval").removeClass("disabled");
                },
                error: function() {
                    showError("{% trans 'We had a problem getting available intervals. Please try again.' %}", undefined);
                    if (options.onNoIntervals) {
                        options.onNoIntervals();
                    }
                }
            });
        }
        else {
            $("#intervals_list").empty();
        }
    }

    function renderInterval(interval){
        var $price = $("<span></span>").addClass("price").text(interval.price + "₪");

        var bar_width = 60;
        var fill_width = parseInt(interval.popularity * 100) + "%";
        var $popularity_fill = $("<span></span>").addClass("inline-block popularity-fill").width(fill_width);
        var $popularity_bar = $("<span></span>").addClass("inline-block popularity-bar").width(bar_width).append($popularity_fill);
        var $popularity = $("<span></span>").addClass("inline-block").append($price, $popularity_bar);
        var $label = $("<span>{% trans "Popularity" %}</span>").addClass("popularity-label");
        var $popularity_cntr = $("<span></span>").addClass("inline-block float-farend").append($label, $popularity);

        var $time = $("<span></span>").addClass("time bold float-closeend").text(interval.time);
        return $("<div></div>").addClass("interval clickable").append($time, $popularity_cntr);
    }

    function selectInterval($interval){
        if ($interval.hasClass("disabled")){
            return;
        }

        $(".interval.selected").removeClass("selected");
        $interval.addClass("selected");

        var time = $interval.find(".time").text();
        $("#set_datetime").enable();

        logGAEvent("order", "choose time", time);
    }

    function clearRideDetails() {
        log("clearRideDetails");

        $("#book_ride").disable();
        $("#savings .label").text("{% trans "Updating..." %}");
        $("#savings .value").text("");
        $("#sharing_price .value").text(0);
        $("#sharing_time .value").text(0);
        $("#private_price .value").text(0);
        $("#private_time .value").text(0);
    }

    function getRideDetails(options) {
        if (!(BookingHelper.hotspot && BookingHelper.address && BookingHelper.ride_date && BookingHelper.ride_time)) {
            showError("{% trans "Please fill all ride details" %}", undefined);
            return;
        }
        clearRideDetails();
        $.ajax({
            url: "{% url sharing.passenger_controller.get_hotspot_price %}",
            dataType: "json",
            data: {
                'lon': BookingHelper.address.lon,
                'lat': BookingHelper.address.lat,
                'num_seats': BookingHelper.num_seats,
                'hotspot_id': BookingHelper.hotspot.id,
                'hotspot_type': BookingHelper.hotspot_type,
                'day': BookingHelper.ride_date,
                'time': BookingHelper.ride_time,
                'ride_duration': HotspotHelper.ride_duration
            },
            beforeSend: function() {
                $("#datetime_loader").show();
                $("#num_seats_loader").show();
            },
            success: function(response) {
                if (response.sharing_price && response.sharing_time && response.private_price && response.private_time) {
                    $("#sharing_price .value").text(response.sharing_price);
                    $("#sharing_time .value").text(response.sharing_time);
                    $("#private_price .value").text(response.private_price);
                    $("#private_time .value").text(response.private_time);
                    $("#savings .label").text("{% trans "SAVE" %}");
                    $("#savings .value").text(response.savings + "%");
                    $("#book_ride").enable();

                    gaHitPage("order_ready.html");

                    if (options.onGotDetails){
                        options.onGotDetails()
                    }
                } else {
                    showError(response.error || "{% trans "Currently, there is no service to this address at the selected hour." %}", undefined);
                }
            },
            error: function() {
                showError("{% trans "We have encountered an error. Please try again." %}", undefined);
            },
            complete: function() {
                $("#datetime_loader").hide();
                $("#num_seats_loader").hide();
            }
        });
    }

    function bookRide() {
        var data = {
            num_seats: BookingHelper.num_seats,
            ride_duration: HotspotHelper.ride_duration,
            hotspot_id: BookingHelper.hotspot.id,
            hotspot_type: BookingHelper.hotspot_type,
            hotspot_date: BookingHelper.ride_date,
            hotspot_time: BookingHelper.ride_time,
            city_name: BookingHelper.address.city,
            street_address: BookingHelper.address.street_address,
            house_number: BookingHelper.address.house_number,
            lat: BookingHelper.address.lat,
            lon: BookingHelper.address.lon
        };

        var err_msg = "{% trans "We have encountered an error. Please try again." %}";

        logGAEvent("order", "book", BookingHelper.hotspot.name, Math.round((new Date() - get_offer_time) / 1000));

        $.ajax({
            url: "{% url sharing.passenger_controller.book_ride %}",
            data: data,
            type: "POST",
            beforeSend: function() {
                $("#book_ride").disable().text("{% trans 'Sending' %}...");
            },
            success: function(response) {
                if (response.status == "booked" && response.redirect)
                    window.location.href = response.redirect;
                else {
                    showError(response.message || err_msg, function() {
                        $("#book_ride").enable().text(BookingHelper.messages.book_ride);
                        if (response.redirect) {
                            window.location.href = response.redirect;
                        }
                    });
                }
            },
            error:  function() {
                $("#book_ride").enable().text(BookingHelper.messages.book_ride);
                showError(err_msg, undefined);
            }
        });
    }


    $(function() {

        BookingHelper.messages = {
            book_ride: "{% trans "Book a Shared Taxi Ride" %}",
            pickup_time:"{% trans 'Pickup Time' %}",
            dropoff_time:"{% trans 'Dropoff Time' %}"
        };
        BookingHelper.hotspot_type = "dropoff";
        BookingHelper.num_seats = 1;

        {% if request.user.passenger %}
            MyRidesHelper.init({
                rtl: RTL,
                order_types: order_types,
                next_rides_table: "#my_next_rides",
                next_rides_container: "#myrides_container"
            });

            MyRidesHelper.getData({'get_next_rides': true}, {
                        success: function(has_next, has_previous) {
                            if (has_next) $("#myrides_container").fadeIn("fast");
                        },
                        error: function() {
                            flashError("{% trans "Error getting rides data" %}")
                        }
                    });
        {% endif %}


        GoogleMapHelper.init({
            map_element: 'map_canvas',
            map_options:{
                center:new google.maps.LatLng(32.115985, 34.835441),
                scrollwheel: false,
                streetViewControl: false,
                keyboardShortcuts: false,
                mapTypeId:google.maps.MapTypeId.ROADMAP
            }
        });

        // add bike layer to get a pretty map
        var bikeLayer = new google.maps.BicyclingLayer();
        bikeLayer.setMap(GoogleMapHelper.map);

        HotspotHelper.init({
            MapHelper: GoogleMapHelper,
            selectors: {
                hotspotpicker: "#id_hotspot_select",
                datepicker: "#id_hotspot_datepicker"
            },
            labels: {
                choose_date: "{% trans "Choose Date" %}",
                updating: "{% trans "Updating..." %}"
            },
            urls: {
                get_hotspot_data: "{% url sharing.passenger_controller.get_hotspots_data %}",
                get_hotspot_dates: "{% url sharing.passenger_controller.get_hotspot_dates %}",
                get_hotspot_offers: "{% url sharing.passenger_controller.get_hotspot_offers %}"
            }
        });
        HotspotHelper.makeHotSpotSelector({
            onSelectDate: function(dateText, inst) {
                getIntervals({});
            },
            successCallback: function(){
                var $option = $("<option id='opt_votespot'>** {% trans "Suggest a Hotspot" %} **</option>");
                $("#id_hotspot_select").append($option);
                initBookingContent();
            }
        });

        // init
        $(".small-loader").hide();

        // hotspot
        $("#hotspot_content").bind("beforeshow", function() {
            selectHotspot();
        });

        $("#id_hotspot_select").change(function(e) {
            if ($(this).find("option:selected").attr("id") == "opt_votespot"){
                e.preventDefault();
                Registrator.openHotspotInterestDialog();
                $(this).val(""); // select the first option
            }
            else{
                selectHotspot();
            }
        });
        $("#qm_votespot").click(function () {
            logGAEvent("help", "ordering help button", "choose hotspot");
            Registrator.openHotspotInterestDialog();
        });

        $("#leave_hotspot").click(function() {
            setHotspot(PICKUP);
        });
        $("#goto_hotspot").click(function() {
            setHotspot(DROPOFF);
        });

        $("#leave_hotspot, #goto_hotspot").one("click", function(){showMap()});

        // address
        var id_address_input = "id_street_address";
        var $address_input = $("#" + id_address_input);
        var $help_text = $("#street_help_text");
        var $set_address = $("#set_address");

        $("#address_content").bind("beforeshow", function() {
            var address = BookingHelper.address;
            var title = (BookingHelper.hotspot_type == PICKUP) ? "{% trans "Where are you going" %}?" : "{% trans "Where are you coming from" %}?";
            $(this).find(".title").text(title);
            $address_input.focus();
            if (address){
                $address_input.val(address.name);
                $set_address.enable();
            }
            else{
                $set_address.disable();
            }
        });

        var address_input_value;
        $address_input.keydown(function (e) {
            address_input_value = $(this).val();
        }).keyup(function (e) {
            if (address_input_value != $(this).val()){
                $set_address.disable();
                if (e.which != 13){ // ignore 'return' hits that trigger select first behavior
                    GoogleGeocodingHelper.showAutocomplete();
                    $help_text.text("").removeClass("error");
                }
            }
        });
        var address_ac = GoogleGeocodingHelper.newPlacesAutocomplete({
            id_textinput: id_address_input,
            map: GoogleMapHelper.map,
            beforePlaceChange: function(){
                $help_text.text("").removeClass("error");
                $set_address.disable();
            },
            onValidAddress:function (address) {
                BookingHelper.address = address;
                var marker_name = refreshAddressMarker();
                GoogleMapHelper.zoomMarker(marker_name);
                $address_input.blur().val(address.name);
                $set_address.enable().focus();
            },
            onMissingStreetNumber:function () {
                var val = $address_input.val();
                var street_text = val.substr(0, val.search(","));
                var street_parts = street_text.split(" ");
                var street_number = street_parts[street_parts.length -1];
                if (street_number == undefined || street_number.search(/\d+/) == -1){
                    // add space and place the caret after the street name
                    val = val.replace(street_text, street_text + " ");
                    $address_input.blur().val(val);
                    var pos = val.search(",");
                    document.getElementById(id_address_input).setSelectionRange(pos, pos);
                    GoogleGeocodingHelper.hideAutocomplete();
                }
                // show error also when entered house number does not exist in street
                $help_text.text("{% trans "Please enter a valid house number" %}.").addClass("error");
            },
            onNoValidPlace:function () {
                $help_text.text("{% trans "We don't know where that is" %}.").addClass("error");
            }
        });

        $set_address.disable().click(function() {
            logGAEvent("order", "next button", "address");
            $("#address_loader").show();
            $("#set_address").disable();

            getIntervals({
                onGotIntervals:function () {
                    $("#address_loader").hide();
                    stepCompleted("address");
                    showBookingStep("datetime");
                    if ($("#set_datetime").is(":visible")) {
                        $("#set_datetime").focus();
                    }
                },
                onNoIntervals:function () {
                    $("#address_loader").hide();
                    $("#set_address").enable();
                }
            });
        });

        // datetime
        $("#datetime_content").bind("beforeshow", function() {
            if (BookingHelper.ride_date) {
                $("#id_hotspot_datepicker").val(BookingHelper.ride_date);
            }
            if (BookingHelper.ride_time) {
                $(".interval.selected").removeClass("selected");
                $(".interval .time:contains(" + BookingHelper.ride_time + ")").parents(".interval").addClass("selected");
            }

            var pickup_desc = (BookingHelper.hotspot_type == PICKUP) ? BookingHelper.hotspot.name : BookingHelper.address.name;
            $("#datetime_content .title").text("{% trans "Pickup Time from " %}" + pickup_desc);
            GoogleMapHelper.fitMarkers();
            logGAEvent("order", "choose date", $("#id_hotspot_datepicker").val());
        });

        $("#id_hotspot_datepicker").keydown(function(e) {
            e.preventDefault(); // make it uneditable
        }).blur(function() {
            logGAEvent("order", "choose date", $(this).val());
        });

        $("#intervals_list .interval").live("click", function () {
            selectInterval($(this));
        });

        $("#set_datetime").click(function() {
            logGAEvent("order", "get offer", "time", Math.round((new Date() - choose_hotspot_time) / 1000));
            get_offer_time = new Date();

            BookingHelper.ride_date = $("#id_hotspot_datepicker").val();
            BookingHelper.ride_time = $(".interval.selected .time").text();
            getRideDetails({
                onGotDetails: function() {
                    stepCompleted("datetime");
                    showBookingStep("details");
                }
            });
        });

        // details
        $("#details_content").bind("beforeshow", function() {
            if (BookingHelper.address && BookingHelper.hotspot && BookingHelper.ride_date && BookingHelper.ride_time) {
                var $summary = $("#ride_summary");
                $summary.find(".address .name").text(BookingHelper.address.name);
                $summary.find(".address .desc").text("");
                $summary.find(".hotspot .name").text(BookingHelper.hotspot.name);
                if (BookingHelper.hotspot.description) {
                    $summary.find(".hotspot .desc").text("(" + BookingHelper.hotspot.description + ")");
                }
                $summary.find(".when .desc").text(BookingHelper.ride_date + " " + BookingHelper.ride_time);
                $("#num_seats input:radio[value=" + BookingHelper.num_seats + "]").attr("checked", "checked");
                $("#book_ride").enable().text(BookingHelper.messages.book_ride);
            }
            else{
                clearRideDetails();
            }
        });
        $("#ride_summary .hotspot .data").live("click", function() {
            showBookingStep("hotspot");
        });
        $("#ride_summary .address .data").live("click", function() {
            showBookingStep("address");
        });
        $("#ride_summary .when .data").live("click", function() {
            showBookingStep("datetime");
        });
        $("#num_seats input:radio").change(function() {
            BookingHelper.num_seats = $(this).val();
            getRideDetails({});
        });
        $("#book_ride").click(function() {
            bookRide();
        });
        $("#switch_direction").live("click", function() {
            switchDirection();
        });


        // progress
        $("#booking_progress .step").not(".details").click(function() {
            if (!$(this).hasClass("disabled")) {
                showBookingStep($(this).data("name"));
            }
        });

        // banner
        var colors = ["rgb(22, 172, 211)"];
//        $("#wb_values .header").each(function() {
//            colors.push($(this).css("color"));
//        });
        $("#banner").css("background", colors[getRandomInt(0, colors.length - 1)]);
        $("#banner_content").show();

        // slides
        $('#banner_slides').slides({
            width: 800,
            startAtSlide: 0,
            direction: SLIDE_DIR,
            preload: {
                active: true,
                image: "../static/images/wb_site/loading_large.gif"
            },
            playInterval: 30000,
            pauseInterval: 30000,
            navigation: false,
            pagination: true
        });
        $("#banner_slides").slides("play");

        $("#feedback").click(function() {
            Registrator.openFeedbackDialog();
        });

        $("#sitemap ul:last").append('<li><a href="#" onclick="Registrator.openPilotInterestDialog()">{% trans "Send me info" %}</a></li>');
    });

    // debug
//    setTimeout(function() {
//        $("#booking_content").slides("slide", 4);
//        $("#leave_hotspot").click();
//    }, 2e3);
    </script>

{% endblock %}