{% extends "wb_base_site.html" %}
{% load i18n %}

{% block top_left %}{% trans "About" %}{% endblock %}
{% block top_right %}
    <ul class="content_links">
        <li><a id="li_about_us" href="{% url about_us %}">{% trans "About Us" %}</a></li>
        <li><a id="li_the_service" href="{% url the_service %}">{% trans "The Service" %}</a></li>
        <li><a id="li_faq" href="{% url faq %}">{% trans "FAQ" %}</a></li>
        <li>{% trans "Press" %}</li>
        <li><a id="li_contact" href="{% url contact %}">{% trans "Contact Us" %}</a></li>
    </ul>
{% endblock %}

{% block doc_ready %}
    {{ block.super }}
    <script type="text/javascript">
        $(function() {
            var page_name = "{{ page_name }}";
            $("#li_" + page_name).addClass("active");
        });
    </script>
{% endblock %}