{% load value_from_settings %}
<html>
<head>
    <title></title>
</head>

<body style="direction:rtl">

<p>
הי {{ passenger_name }}!
</p>

<p>
    אנו שמחים שנרשמת ל- WAYbetter: הפלטפורמה שמאפשרת לשתף מוניות ולהפוך מקומות פנויים לחסכון כספי גדול עבור כולם!
</p>

בנוסף לחיסכון אתם יכולים:
<ul>
    <li>להזמין במהירות ובקלות באתר ובאפליקציות לטלפונים חכמים</li>
    <li>לעקוב אחרי מיקום המונית בזמן אמת על גבי המפה באפליקציה</li>
    <li>לנסוע בלי ארנק ולשלם על הנסיעות באשראי ובחשבונית חודשית מרוכזת</li>
    <li>להינות משירות של התחנות המוניות המורשות המובילות באיזור</li>
</ul>
ועוד...

<p>
    ♥ אז נתראה במונית!
</p>

<p>
    <img src="http://{% value_from_settings DEFAULT_DOMAIN %}/static/images/welcome_email_logo.png" style="vertical-align: text-bottom;">
    <a href="http://{% value_from_settings DEFAULT_DOMAIN %}{% url wb_home %}">WAYbetter</a>
</p>

<p>
עקבו אחרינו <a href="{% value_from_settings FACEBOOK_APP_URL %}" target="_blank">בפייסבוק</a>
    <a href="{% value_from_settings TWITTER_APP_URL %}" target="_blank">ובטוויטר</a>
</p>


</body>
</html>