{% load value_from_settings %}
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}
      class=" {% if LANGUAGE_BIDI %}rtl{% endif %}" ng-app="WorkstationApp">
<head>
    {% load i18n %}
    <meta charset="utf-8">
{% if LANGUAGE_BIDI %}
    <link href="/static/themes/bootstrap-bounce/css/bootstrap.min.rtl.css" rel="stylesheet">
    <link href="/static/themes/bootstrap-bounce/css/font-awesome.rtl.css" rel="stylesheet">
{% else %}
   <link href="/static/themes/bootstrap-bounce/css/bootstrap.min.css" rel="stylesheet">
   <link href="/static/themes/bootstrap-bounce/css/font-awesome.css" rel="stylesheet">
   <link rel="stylesheet" type="text/css" href="/static/css/wb.css"/>
{% endif %}

    <style type="text/css">
        * {
            -webkit-user-select: none
        }
        body {
            padding-top: 40px;
            overflow-x: hidden;
            font-size: 16px;
        }
        .progress-info.progress-striped .bar, .progress-striped .bar-info {
            font-size: 16px;
            line-height: 16px;
        }

        table > tbody > tr.ride-details {
            background: none;
        }
        .ride-green {
            background-color: #DFF0D8;
        }
        .ride-blue {
            background-color: #D9EDF7;
        }
        .ride-yellow {
            background-color: #FCF8E3;
        }
        .ride-red {
            background-color: #F2DEDE;

        }
        @-webkit-keyframes blink {
            0% {
                background:#F2DEDE;
            }
            50% {
                background:#B94A48;
                color:white;
            }
            100% {
                background:#F2DEDE;
            }
        }

        .loading {
            width: 100px;
            margin-bottom: 0;
        }

        .ride-red.blink {
            -webkit-animation: blink 1s;
            -webkit-animation-timing-function: ease-in-out;
            -webkit-animation-iteration-count: infinite;
        }

        .rides-table tbody + tbody {
            border-top: 1px solid #797979;
        }

        .rides-table > tbody > tr {
            cursor: pointer;
        }

        .rides-table th, .rides-table td {
            border-top: none;
        }


        .rides-table table {
            cursor: default;
        }
        .horizontal-space {
            margin-left: 5px;
            margin-right: 5px;
        }

        .ride-details > td {
            text-align: center;
        }
        .bold {
            font-weight: bold;
        }
        
        .ride-details > td {
            border-bottom: 1px solid #797979;
            padding: 0 10px;
            padding-bottom: 18px;
        }

        .ride-details i {
            margin: 0 9px;
        }

        .rides-table tr.muted {
            border-top: 1px solid #BEBEBE;
        }
        .well-center {
            display: inline-block;
            margin-top: 20px;
            width:50%;
        }

        .navbar-inner {
            border-radius: 0;
        }

        #error_modal .icon-exclamation-sign {
            font-size: 30px;
            color: #B94A48;
        }

        #error_modal.fade.in {
            top: 290px;
        }
        
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none;
        }
    </style>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/js/libs/jquery-1.8.2.min.js">\x3C/script>')</script>
    <script type="text/javascript" src="/_ah/channel/jsapi"></script>
</head>
<body ng-controller="WorkstationCtrl" ng-cloak ng-init="init()">
<!-- directive: google-channel-directive -->

<!-- NAVBAR -->
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <ul class="nav">
            <li ng-class="{'active': current_tab == tabs.NEXT}" ng-click="current_tab = tabs.NEXT"><a href="#">נסיעות לטיפול <span
                    class="badge badge-important" ng-show="next_rides().length">(( next_rides().length ))</span></a></li>

            <li class="divider-vertical"></li>

            <li ng-class="{'active': current_tab == tabs.CURRENT}" ng-click="current_tab = tabs.CURRENT"><a href="#">נסיעות נוכחיות <span
                    class="badge badge-success" ng-show="current_rides().length">(( current_rides().length ))</span></a></li>


{#            <li class="divider-vertical"></li>#}
{##}
{#            <li ng-class="{'active': current_tab == tabs.HISTORY}" ng-click="current_tab = tabs.HISTORY"><a href="#">היסטוריה</a></li>#}
        </ul>

        <ul class="nav pull-right" ng-show="updating()">
            <li><a href="#">
                <div class="progress progress-info progress-striped active loading">
                  <div class="bar" style="width: 100%">טוען</div>
                </div>
            </a></li>
        </ul>

    </div>
</div>

<!-- CURRENT RIDES -->
<div class="current-rides" ng-show="current_tab == tabs.CURRENT">
    <table class="table rides-table" ng-show="current_rides().length">
            <tbody ng-repeat="ride in current_rides()">
            <tr ng-click="select_ride(ride)" ng-class="get_ride_class(ride)">
                <td>(( ride.depart_time | date:"HH:mm"))</td>
                <td>
                    מונית (( ride.taxi ))
                </td>
                <td>(( ride.passengers | join_prop:"name":", " ))</td>
            </tr>
            <tr class="ride-details" ng-show="selected_ride == ride">
                <td colspan="3">
                    <h4>נסיעה מספר (( ride.id ))</h4>
                    <table class="table table-condensed table-striped">
                        <tr ng-repeat="stop in ride.stops">
                            <td><i ng-class="{'icon-arrow-up': stop.type == 'PICKUP', 'icon-arrow-down': stop.type == 'DROPOFF'}"></i> (( stop.address ))</td>
                            <td>
                                <span ng-repeat="passenger in stop.passengers">
                                    (( passenger.name )) <span class="muted">(( passenger.phone ))</span>
                                    <span ng-hide="$last">, </span>
                                </span>

                             </td>
                        </tr>
                    </table>
                    <div class="alert alert-success well-center">
                        הנסיעה אושרה! מונית (( ride.taxi ))
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    <div class="row pagination-centered">
        <div class="well well-large well-center" ng-hide="current_rides().length">
            אין נסיעות נוכחיות
        </div>
    </div>
</div>

<!-- NEXT RIDES -->
<div class="next-rides" ng-show="current_tab == tabs.NEXT">
    <table class="table rides-table" ng-show="next_rides().length">
        <tbody ng-repeat="ride in next_rides()">
        <tr ng-click="select_ride(ride)" ng-class="get_ride_class(ride)">
            <td>(( ride.depart_time | date:"HH:mm"))</td>
            <td>
                <span ng-repeat="stop in ride.stops">
                    (( stop.address )) <i class="icon-chevron-left horizontal-space" ng-hide="$last"></i>
                </span>

            </td>
            <td>(( ride.passengers | join_prop:"name":", " ))</td>
        </tr>
        <tr class="ride-details" ng-show="selected_ride == ride">
            <td colspan="3">
                <h4>נסיעה מספר (( ride.id ))</h4>
                <table class="table table-condensed table-striped">
                    <tr ng-repeat="stop in ride.stops">
                        <td><i ng-class="{'icon-arrow-up': stop.type == 'PICKUP', 'icon-arrow-down': stop.type == 'DROPOFF'}"></i> (( stop.address ))</td>
                        <td>
                            <span ng-repeat="passenger in stop.passengers">
                                (( passenger.name )) <span class="muted">(( passenger.phone ))</span>
                                <span ng-hide="$last">, </span>
                            </span>

                         </td>
                    </tr>
                </table>
                <ng-switch on="ride.status == status.VIEWED">
                    <button class="btn btn-large btn-danger bold" ng-switch-when="true" ng-click="accept_ride(ride)" ng-disabled="updating()"><i class="icon-ok-sign"></i> ההזמנה התקבלה בתחנה</button>
                    <div class="alert alert-success well-center" ng-switch-when="false" ng-hide="ride.future">
                        <strong>אישור נשלח לנוסעים. נא לצוות מונית</strong>
                    </div>
                </ng-switch>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="row pagination-centered">
        <div class="well well-large well-center" ng-hide="next_rides().length">
אין נסיעות לטיפול
        </div>
    </div>
</div>

<!-- HISTORY RIDES -->
<div class="history-rides" ng-show="current_tab == tabs.HISTORY">
    <div class="row pagination-centered">
        <div class="well well-large well-center" ng-hide="history_rides.length">
אין נסיעות בהיסטוריה
        </div>
    </div>
</div>

<!-- ERROR MODAL -->
<div class="modal hide fade" id="error_modal">
  <div class="modal-header">
    <h3><i class="icon-exclamation-sign"></i> שגיאה</h3>
  </div>
  <div class="modal-body">
    <p>אירעה שגיאה - אנא המתן</p>

      <div class="progress progress-danger progress-striped active">
          <div class="bar" style="width: 100%"></div>
      </div>

  </div>
</div>

<script src="/static/themes/bootstrap-bounce/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/libs/angular-1.0.2.min.js"></script>

{% if LANGUAGE_CODE == "he" %}
    <script type="text/javascript" src="/static/js/wb-ng/messages.he.js"></script>
{% else %}
    <script type="text/javascript" src="/static/js/wb-ng/messages.en.js"></script>
{% endif %}
<script type="text/javascript" src="/static/js/wb-ng/filters.js"></script>
<script type="text/javascript" src="/static/js/utils.js"></script>
<script type="text/javascript" src="/static/js/libs/html2canvas.min.js"></script>
<script type="text/javascript" src="/static/js/libs/jquery.plugin.html2canvas.min.js"></script>

<script type="text/javascript">
    var app = angular.module("WorkstationApp", ['wbFilters']);
    app.config(function ($interpolateProvider, $httpProvider) {
        $interpolateProvider.startSymbol('((');
        $interpolateProvider.endSymbol('))');

        $httpProvider.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
        $httpProvider.defaults.transformRequest.push(function (data, headersGetter) {
            if (data) {
                return jQuery.param(angular.fromJson(data));
            } else {
                return data;
            }
        });
    });


    // setup a default exception handler
    app.factory('$exceptionHandler', function(ErrorService, AirService) {
        return function(exception, cause) {
            AirService.log("exception: ", exception);
            ErrorService.error_handler();
        };
    });

    app.constant("Status", {
        'ASSIGNED':'ASSIGNED',
        'ACCEPTED':'ACCEPTED',
        'APPROVED':'APPROVED',
        'PENDING':'PENDING',
        'VIEWED':'VIEWED',
        'COMPLETED':'COMPLETED',
        'FAILED':'FAILED'
    });

    app.constant("Defaults", {
        version: "{{ current_version }}",
        heartbeat_check_interval: 30 * 1000
    });

    app.constant("Tabs", {
        CURRENT: "CURRENT",
        NEXT: "NEXT",
        HISTORY: "HISTORY"
    });

    app.service("AirService", function() {
        return {
            call: function() {
                var args = Array.prototype.slice.call(arguments);
//                console.log("AirService.call: " , args);
                var func_name = args.shift();
                if (window.parentSandboxBridge && window.parentSandboxBridge[func_name]) {
                    return window.parentSandboxBridge[func_name].apply(window.parentSandboxBridge, args);
                } else {
                    return false
                }
            },
            log: function () {
                var args = Array.prototype.slice.call(arguments);
                if (window.parentSandboxBridge && window.parentSandboxBridge.trace) {
                    window.parentSandboxBridge.trace(args.join(", "))
                } else if (window.console) {
                    console.log.apply(console, args);
                }
            }
        }
    });

    app.service("ErrorService", function() {
        return {
            is_error: false,
            error_handler:function () {
                this.is_error = true;
                $("#error_modal").modal({
                    keyboard: false,
                    backdrop: "static"
                });
            }
        }
    });

    app.controller("GoogleChannelController", function ($scope, ErrorService, AirService, Defaults) {
        return {
            on_message:function (msg) {
                AirService.log("on_message: ", msg.data);
                $scope.pending_push = false;
                var data = angular.fromJson(msg.data);
                if (data.action == "update_ride") {
                    $scope.update_ride(data.ride, data.expand_ride);
                }
                if (data.action == "exit") {
                    AirService.call("exit_app", true); // exit silently
                }
                if (data.action == "remove_ride") {
                    $scope.remove_ride(data.ride);
                }
                if (data.action == "update_all") {
                    $scope.sync_state();
                }
                if (data.action == "refresh") {
                    ErrorService.error_handler()
                }
                if (data.action == "get_snapshot") {
                    $scope.render_app();
                }

                if (data.heartbeat) {
                    AirService.log("heartbeat received");
                    $scope.last_heartbeat = new Date(); // save last heartbeat time
                    if (data.heartbeat != Defaults.version) { // new version detected
                        AirService.log("new version detected: ", data.heartbeat);
                        ErrorService.error_handler();
                    }
                }
            },
            on_error:function () {
                AirService.log("channel: on_error");
                ErrorService.error_handler();
            },
            on_open:function () {
                AirService.log("channel: on_open");
                $scope.channel_opened = true;
            },
            on_close:function () {
                AirService.log("channel: on_close");
                ErrorService.error_handler();
            }
        }
    });

    app.directive("googleChannelDirective", function () {
        var channel = new goog.appengine.Channel("{{ channel_token }}");
        var socket = channel.open();

        return {
            restrict:'M',
            controller:'GoogleChannelController',
            link:function (scope, element, attrs, controller) {
                socket.onmessage = function () {
                    controller.on_message.apply(controller, arguments);
                };
                socket.onerror = function () {
                    controller.on_error.apply(controller, arguments);
                };
                socket.onopen = function () {
                    controller.on_open.apply(controller, arguments);
                };
                socket.onclose = function () {
                    controller.on_close.apply(controller, arguments);
                };
            }
        }
    });

    app.controller("WorkstationCtrl", function($scope, $http, $filter, $timeout, Tabs, Status, AirService, ErrorService, Defaults) {
        var filter = $filter("filter"),
            order_by = $filter("orderBy"),
            last_click_dt = new Date(),
            always_on_top_id = undefined;

        $scope.tabs = Tabs;
        $scope.status = Status;
        $scope.error_service = ErrorService;
        $scope.pending_push = false;
        $scope.last_heartbeat = new Date();
        $scope.channel_opened = false;

        $scope.rides = [];
        $scope.history_rides = [];
        $scope.current_tab = Tabs.NEXT;
        $scope.selected_ride = undefined;

        $scope.render_app = function() {
            $("body").html2canvas({
                onrendered : function(canvas) {
                    var img_data = canvas.toDataURL();
                    $http.post("/workstation/snapshot/", {
                        img_data: img_data
                    })
                }
            });
        };

        $scope.init = function () {
            AirService.call("set_app_loaded", true);
            AirService.call("set_visible", true);
            AirService.call("set_title", "WAYbetter - {{ station_name }}");

            $scope.sync_state();

            // check that the channel is open
            $timeout(function () {
                if (! $scope.channel_opened) {
                    AirService.log("channel failed to open");
                    ErrorService.error_handler();
                }
            }, 1000 * 10);

        };

        $scope.updating = function () {
            return $http.pendingRequests.length > 0 || $scope.pending_push;
        };

        $scope.update_ride = function (updated_ride, expand) {
            var ride = filter($scope.rides, {id: updated_ride.id});
            if (ride.length) {
                angular.extend(ride[0], updated_ride);
            } else {
                $scope.rides.push(updated_ride);
            }
            if (expand) {
                $scope.selected_ride = filter($scope.rides, {id: updated_ride.id})[0];
            }
        };

        $scope.remove_ride = function(ride_to_remove) {
            $scope.rides = $scope.rides.filter(function (ride) {
                return ride.id != ride_to_remove.id
            })
        };

        $scope.current_rides = function() {
            return filter($scope.rides, {'tab':Tabs.CURRENT});
        };
        $scope.next_rides = function() {
            return order_by(filter($scope.rides, {'tab':Tabs.NEXT}), "depart_time");
        };

        $scope.sync_state = function () {
            $http.get("{% url sharing.station_controller.sharing_workstation_data %}").success(function (data) {
                $scope.rides = data.rides;
            })
            .error(function(err) {
//                console.log("sync_state error: ", err);
                ErrorService.error_handler();
            })
        };

        $scope.select_ride = function (ride) {
            if ($scope.updating() || (new Date() - last_click_dt) < 500 ){ return }  // prevent duplicate calls issued by double clicks

            last_click_dt = new Date();
            if ($scope.selected_ride == ride ) {
                $scope.selected_ride = undefined;
            } else if (ride.tab == Tabs.NEXT && ride.status == Status.ASSIGNED && !ride.future) {
                $scope.pending_push = true;
                $http.post("/ride_viewed/" + ride.id + "/").error(function() {
                    ErrorService.error_handler();
                })
            } else {
                $scope.selected_ride = ride;
            }
        };

        $scope.accept_ride = function(ride) {
            if ($scope.updating()){ return }  // prevent duplicate calls issued by double clicks

            $scope.pending_push = true;
            $http.post("/ride_accepted/" + ride.id + "/").error(function() {
                ErrorService.error_handler();
            });
        };

        $scope.get_ride_class = function (ride) {
            var result = "";
            if (ride.tab == Tabs.CURRENT) {
                result = "ride-green"
            } else if (ride.tab == Tabs.NEXT) {
                if (ride.status == Status.ASSIGNED) {
                    if (ride.future) {
                        result = "ride-blue"
                    } else {
                        result = "ride-red blink"
                    }
                } else if (ride.status == Status.VIEWED) {
                    result = "ride-red"
                } else { // accepted
                    result = "ride-yellow"
                }
            }

            if ($scope.selected_ride && ride != $scope.selected_ride) {
                result += " muted"
            }
            return result;
        };

        // watch for new 'NEXT' rides
        $scope.$watch(function () {
            return filter($scope.rides, {'tab':Tabs.NEXT, 'status':Status.ASSIGNED, future: false}).length;
        }, function(needs_attention_rides) {
            if (needs_attention_rides) {
                AirService.call("start_notification_sound");
            } else {
                AirService.call("stop_notification_sound");
            }
        });

        $scope.$watch(function () {
            return filter($scope.rides, {'tab':Tabs.NEXT}).length;
        }, function(active_rides) {
            if (active_rides) {
                if (! always_on_top_id) {
                    always_on_top_id = setInterval(function () {
                        AirService.call("set_always_infront", false);
                        AirService.call("set_always_infront", true);
                        AirService.call("center");
                    }, 1000)
                }
            } else {
                if (always_on_top_id) {
                    clearInterval(always_on_top_id);
                    always_on_top_id = undefined;
                }
                AirService.call("set_always_infront", false);
            }
        });
        
        // update air about error
        $scope.$watch("error_service.is_error", function (is_error) {
            AirService.call("set_error_state", is_error);
        });
        
        $scope.$watch("current_tab", function (selected_tab) {
            $scope.selected_ride = undefined;
        });

        setInterval(function () {
            // assign rides to tabs according to ride depart time and taxi assignment
            $scope.$apply(function() {
                var start_handle_time = new Date().getTime() + {{ handle_time }} * 60 * 1000;
                angular.forEach($scope.rides, function (ride) {
                    if ([Status.FAILED, Status.COMPLETED].indexOf(ride.status) > -1) {
                        ride.tab = undefined; // don't show these rides
                    } else {
                        var is_future = (ride.depart_time >= start_handle_time && ride.status == Status.ASSIGNED);
                        if (ride.future && !is_future && $scope.selected_ride == ride){ // currently viewing a future ride that is turned into 'next' ride
                            $scope.selected_ride = undefined;
                        }
                        ride.future = is_future;

                        if (ride.taxi) {
                            ride.tab = Tabs.CURRENT;
                        } else if (ride.status != Status.COMPLETED) {
                            if (ride.tab != Tabs.NEXT) {
                                ride.tab = Tabs.NEXT;
                                $scope.current_tab = Tabs.NEXT;
                            }
                        } else {
                            ride.tab = undefined;
                        }
                    }
                })
            });
        }, 1000);

        setInterval(function () {
            $scope.$apply(function () {
                AirService.log("heartbeat check");
                if (new Date() - $scope.last_heartbeat > 2.5 * Defaults.heartbeat_check_interval) {
                    AirService.log("heartbeat check failed");
                    ErrorService.error_handler();
                }
            })
        }, Defaults.heartbeat_check_interval);

    });
</script>
</body>
</html>
