<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>
<!-- link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/themes/base/jquery-ui.css" type="text/css" media="all" /-->
<link rel="stylesheet" href="/static/css/custom-theme/jquery-ui-1.8.4.custom.css" type="text/css" media="all" />
<link rel="stylesheet" href="/static/css/jquery.ui.stars.css" type="text/css" media="all" />

{% block extrastyle %}

    <!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}css/ie.css{% endblock %}" /><![endif]-->
{% if LANGUAGE_BIDI %}
    <link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}/static/css/rtl.css{% endblock %}" />
{% else %}
    <link rel="stylesheet" type="text/css" href="/static/css/waybetter.css" />
{% endif %}

   
{% endblock %}


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.timers-1.2.min.js"></script>
<script type="text/javascript">
    $(function() {
        $("#banner > h1").click(function() {
            window.location = "/";
        })
    })
</script>

{% block extrahead %}
<script type="text/javascript" src="/static/js/jquery.ui.stars.min.js"></script>
<script type="text/javascript" src="/static/js/utils.js"></script>
{% endblock %}

{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
<!-- Google Analytics -->
</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">

<!-- Container -->
<div id="main-container">

    {% if not is_popup %}
    <!-- Header -->
    <div id="header-container">
        <div id="header">
            <div id="banner">
                <a href="/">{% trans 'WAYbetter' %}</a>
                <h3>{% block sub-header %}{% trans 'Get Your Taxis Online (FREE)' %}{% endblock %}</h3>
            </div>
            <div id="user_tools">
                {% block usertools %}
                {% if request.user.is_authenticated %}
                    <strong>{% trans 'Hi' %} {{ request.user.username }}! | <a href="/logout?next=/">{% trans 'Log out' %}</a></strong>
                {% else %}
                    {% block join_or_login %}{% endblock join_or_login %}
                {% endif %}
                {% endblock usertools %}
            </div>
            <div class="clear"></div>
        </div>
        {% block nav-global %}{% endblock %}
    </div>
    <!-- END Header -->
    {% endif %}

    {% if messages %}
    <ul class="messagelist">{% for message in messages %}<li>{{ message }}</li>{% endfor %}</ul>
    {% endif %}

    <!-- Content -->
    <div id="main" class="{% block coltype %}colM{% endblock %}">
        {% block pretitle %}{% endblock %}
        {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
        {% block connection_status %}{% endblock %}
        {% block content %}{% endblock content %}
        {% block sidebar %}{% endblock %}
        <div class="clear"></div>
    </div>
    <!-- END Content -->

    <div id="footer">{% block footer %}{% endblock %}</div>
</div>
<!-- END Container -->

<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18077675-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{%  block extra-body %}{% endblock %}
</body>

</html>
