{% extends "base.html" %}
{% load i18n %}
{% block connection_status %}
 <script type="text/javascript">
     var is_in_error = false;
     var last_error_text = "";

     function onError(XMLHttpRequest, textStatus, errorThrown) {
         is_in_error = true;
         if (XMLHttpRequest) {
             last_error_text = XMLHttpRequest.responseText;
         } else {
            last_error_text = "{% trans 'No connection to server' %}";    
         }
         renderStatus();
         if (window.parentSandboxBridge) {
             //TODO: fix this on the air side as well - make sure only one instance of the refresh task is running
             parentSandboxBridge.set_error_state(false);
             parentSandboxBridge.refresh();
             parentSandboxBridge.set_error_state(true);
         }
     }

     function renderStatus() {
         if (is_in_error) {
             var error_img = $("#connection_status #error_message").empty().append(last_error_text);
             $("#connection_status").show();

         } else {
             $("#connection_status").hide();
         }
     }

     function clearError() {
         is_in_error = false;
         renderStatus();
         if (window.parentSandboxBridge) {
             parentSandboxBridge.set_error_state(false);
         }
     }

 </script>

<div id="connection_status" style="display:none">
    <img src='/static/images/offline_small.gif'>
    <span id="error_message"></span>
    <img src="/static/images/indicator_small.gif">
</div>
{% endblock connection_status %}