{% extends "wb_base.html" %}
{% load i18n %}

{% block bodyclass %}base-site{% endblock %}

{% block body %}
    <!-- Container -->
    <div id="main-container">

        {% if not is_popup %}
            <!-- Header -->
            <div id="header-container">
                <div id="site-header">
                    <div id="wb_logo"></div>
                    <ul class="hz">
                        <li>WAYbetter</li>
                        <li>{% trans "Community" %}</li>
                        <li>{% trans "Help" %}</li>
                        <li>{% trans "About" %}</li>
                        <li>{% trans "Log-in" %}</li>
                    </ul>
                </div>
            </div>
            <!-- END Header -->
        {% endif %}


        <!-- Content -->
        <div class="clear"></div>

        <div id="content-container" class="{% block mainclass %}{% endblock %}">
            {% block pre_content %}
            {% endblock %}

            <div id="site-content">
                {% block content %}{% endblock content %}
            </div>
        </div>

        <div class="clear"></div>
        <!-- END Content -->

        {% if not is_popup %}
            <div id="footer-container">
                <div id="site-footer">
                    <div id="sitemap">
                        <ul>
                            <li>WAYbetter</li>
                            <li>{% trans "Home" %}</li>
                            <li>{% trans "Mobile" %}</li>
                            <li>{% trans "Stations" %}</li>
                        </ul>
                        <ul>
                            <li>{% trans "Community" %}</li>
                            <li>{% trans "Votespot" %}</li>
                            <li>{% trans "Developer" %}</li>
                        </ul>
                        <ul>
                            <li>{% trans "Profile" %}</li>
                            <li>{% trans "My Rides" %}</li>
                            <li>{% trans "My Profile" %}</li>
                        </ul>
                    </div>
                    <div class="tools">
                        <ul class="hz">
                            <li>Language</li>
                            <li>F</li>
                            <li>t</li>
                        </ul>
                        <ul id="lang-drpodown">
                            <li>English</li>
                            <li>עברית</li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        {% endif %}

    </div>
    <!-- END Container -->

{% endblock body %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="/static/css/nivo-slider.css" type="text/css" media="screen"/>
{% endblock %}

{% block doc_ready %}
    <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.validate/1.7/jquery.validate.pack.js"></script>

    {{ block.super }}
    <!-- scripts concatenated and minified via ant build script-->
    <script type="text/javascript" src="/static/js/mylibs/jquery.ui.stars.min.js"></script>
    <script type="text/javascript" src="/static/js/mylibs/jquery.placeheld.min.js"></script>
    <script type="text/javascript" src="/static/js/mylibs/jquery.marquee.js"></script>
    <script type="text/javascript" src="/static/js/mylibs/jquery.form.js"></script>
    <script type="text/javascript" src="/static/js/mylibs/jquery.ajax_forms.js"></script>
    <script type="text/javascript" src="/static/js/mylibs/jquery.ajax_forms.validation.js"></script>
    <script type="text/javascript" src="/static/js/mylibs/jquery.formset.min.js"></script>
    <script type="text/javascript" src="/static/js/mylibs/jquery.nivo.slider.pack.min.js"></script>

    <script type="text/javascript" src="/static/js/mylibs/tooltip.js"></script>
    <script type="text/javascript" src="/static/js/mylibs/tooltip.slide.js"></script>

    <script type="text/javascript" src="/static/js/helpers.js"></script>
    <!-- end scripts-->

    <script>
        $(document).ready(function() {
            HotspotHelper.init({
                labels: {
                    choose_date: "{% trans "Choose Date" %}",
                    updating: "{% trans "Updating..." %}"
                },
                urls: {
                    get_hotspot_data: "{% url sharing.passenger_controller.get_hotspots_data %}",
                    get_hotspot_dates: "{% url sharing.passenger_controller.get_hotspot_dates %}",
                    get_hotspot_times: "{% url sharing.passenger_controller.get_hotspot_times %}"
                }
            });

            AddressHelper.init({
                urls:{
                    structured_resolve_url: "{% url sharing.passenger_controller.resolve_structured_address %}"
                }
            });
        });
    </script>
{% endblock %}