{% extends "wb_base.html" %}
{% load i18n %}
{% load value_from_settings %}

{% block bodyclass %}base-site{% endblock %}

{% block body %}
    <!-- Container -->
    <div id="main-container">

        {% if not is_popup %}
            <!-- Header -->
            <div id="header-container">
                <div id="site-header">
                    <div class="clickable" id="wb_logo"></div>
                    {% block header_links %}
                        <ul class="links hz">
                            <li class="first">
                                {% if LANGUAGE_CODE == "he" %}
                                    <a id="change_lang" class="menu_link clickable" data-code="en">English</a>
                                {% else %}
                                    <a id="change_lang" class="menu_link clickable" data-code="he">עברית</a>
                                {% endif %}
                            </li>
                            <li><a name="about" class="menu_link dropdown-trigger">{% trans "About" %}</a></li>
                            <li>
                                {% if request.user.is_authenticated %}
                                    <a name="account" class="menu_link dropdown-trigger bold">{% trans "Hi" %}
                                        {% if request.user.first_name %}
                                            {{ request.user.first_name }}
                                        {% else %}
                                            {{ request.user.username }}
                                        {% endif %}
                                    </a>
                                {% else %}
                                    <a class="menu_link" href="{% url auth_login %}">{% trans "Log-in" %}</a>
                                {% endif %}
                            </li>
                        </ul>
                    {% endblock %}
                    <div class="clear"></div>
                </div>

                <ul class="wbdropdown-list hidden" name="lang" id="lang_dropdown">
                    <li data-code="he" class="clickable"><a>עברית</a></li>
                    <li data-code="en" class="clickable"><a>English</a></li>
                </ul>
                <ul class="wbdropdown-list hidden" name="about">
                    <li><a href="{% url the_service %}">{% trans "The Service" %}</a></li>
                    <li><a href="{% url about_us %}">{% trans "About Us" %}</a></li>
                    <li><a href="{% url faq %}">{% trans "FAQ" %}</a></li>
                    <li><a href="{% url contact %}">{% trans "Contact Us" %}</a></li>
                </ul>
                <ul class="wbdropdown-list hidden" name="account">
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url my_rides %}">{% trans "Rides" %}</a></li>
                        <li><a href="{% url auth_logout %}">{% trans "Log Out" %}</a></li>
                    {% else %}
                        <li><a href="{% url auth_login %}">{% trans "Log In" %}</a></li>
                        <li><a href="{% url join %}">{% trans "Join" %}</a></li>
                    {% endif %}
                </ul>

                <form action="/i18n/setlang/" method="post" id="lang_form" class="hidden">
                    {% csrf_token %}
                    <input type="hidden" name="language" id="language"/>
                </form>

            </div>
            <!-- END Header -->
        {% endif %}


        <!-- Content -->
        <div class="clear"></div>

        <div id="content-container" class="{% block mainclass %}{% endblock %}">

            {% block pre_content %}
                <div id="top-container">
                    <div id="top-left">
                        {% block top_left %}{% endblock %}
                    </div>
                    <div id="top-right">
                        {% block top_right %}{% endblock %}
                    </div>
                    <div class="clear"></div>
                </div>
            {% endblock %}

            <div id="site-content">
                {% block content %}{% endblock content %}
            </div>

            {% block post_content %}
                <div id="values_learnmore">
                    <div class="service learnmore-content wb-tooltip">
                        <div class="header">WAYbetter {% trans "Service" %}</div>
                        <div class="content">{% trans "learnmore_service_content" %}</div>
                    </div>
                    <div class="community learnmore-content wb-tooltip">
                        <div class="header">WAYbetter {% trans "Community" %}</div>
                        <div class="content">{% trans "learnmore_community_content" %}</div>
                    </div>
                    <div class="env learnmore-content wb-tooltip">
                        <div class="header">WAYbetter {% trans "Environment" %}</div>
                        <div class="content">{% trans "learnmore_environment_content" %}</div>
                    </div>
                    <div class="eff learnmore-content wb-tooltip">
                        <div class="header">WAYbetter {% trans "Efficiency" %}</div>
                        <div class="content">{% trans "learnmore_efficiency_content" %}</div>
                    </div>
                </div>

                <div id="wb_values">
                    <div class="value service" data-value-name="service">
                        <span class="header">{% trans "Service" %}</span>
                        {% trans "gist_service_content" %}
                    </div>
                    <div class="value community" data-value-name="community">
                        <span class="header">{% trans "Community" %}</span>
                        {% trans "gist_community_content" %}
                    </div>
                    <div class="value env" data-value-name="env">
                        <span class="header">{% trans "Environment" %}</span>
                        {% trans "gist_environment_content" %}
                    </div>
                    <div class="value eff last" data-value-name="eff">
                        <span class="header">{% trans "Efficiency" %}</span>
                        {% trans "gist_efficiency_content" %}
                    </div>
                </div>
            {% endblock %}
        </div>

        <div class="clear"></div>
        <!-- END Content -->

        {% if not is_popup %}
            <div id="footer-container">
                <div id="site-footer">
                    {% block footer %}
                        <div id="sitemap">
                            <ul>
                                <li>WAYbetter</li>
                                <li><a href="{% url wb_home %}">{% trans "Home" %}</a></li>
                                <li><a href="{% url pickmeapp %}">{% trans "PickMeApp" %}</a></li>
                                <li><a href="{% url terms %}">{% trans "Terms of Use" %}</a></li>
                                <li><a href="{% url privacy %}">{% trans "Privacy Policy" %}</a></li>
                            </ul>
                            <ul>
                                <li><a>{% trans "About" %}</a></li>
                                <li><a href="{% url the_service %}">{% trans "The Service" %}</a></li>
                                <li><a href="{% url about_us %}">{% trans "About Us" %}</a></li>
                                <li><a href="{% url faq %}">{% trans "FAQ" %}</a></li>
                                <li><a href="{% url contact %}">{% trans "Contact Us" %}</a></li>
                            </ul>
                            <ul>
                                <li><a>{% trans "Community" %}</a></li>
                                <li><a href="{% value_from_settings FACEBOOK_APP_URL%}" target="_blank">{% trans "Facebook" %}</a></li>
                            </ul>

                            <ul>
                                {% if request.user.is_authenticated %}
                                    <li><a>{% trans "My Account" %}</a></li>
                                    <li><a href="{% url my_rides %}">{% trans "Rides" %}</a></li>
{#                                    <li><a>{% trans "Profile" %}</a></li>#}
                                    <li><a href="{% url auth_logout %}">{% trans "Log Out" %}</a></li>
                                {% else %}
                                    <li><a href="{% url auth_login %}">{% trans "Log In" %}</a></li>
                                    <li>
                                        <a href="{% url join %}">{% trans "Join" %}</a>
                                    </li>
                                {% endif %}

                            </ul>
                        </div>
                        <div id="footer_tools">
                            <div class="ltr dropdown-trigger white" name="lang">
                                <div class="footer-icon lang"></div>
                                <div class="lang-code">
                                    {{ LANGUAGE_CODE|capfirst }}
                                </div>
                            </div>
                            <div class="footer-icon fb clickable"></div>
{#                            <div class="footer-icon tt"></div>#}
                        </div>
                        <div class="clear"></div>
                    {% endblock %}
                    {% block post_footer %}{% endblock %}
                </div>
                {% block copyright %}
                   <div id="copyright-container">
                       <div id="copyright" class="ltr">© 2011 WAYbetter™ LTD. All rights reserved. Patent pending.</div>
                   </div>
                {% endblock %}
            </div>
        {% endif %}

    </div>
    <!-- END Container -->

    <div id="gcf_dialog" class="hidden">
        <div class="intro">
            <div>{% trans "To view WAYbetter in Internet Explorer you need to install" %}</div>
            <div><span class="get_gcf wb_link">Google Chrome Frame Plugin</span> ({% trans "Free" %})</div>
        </div>
        <button class="get_gcf">{% trans "Install Google Chrome Frame" %}</button>
        <div class="or">{% trans "Or, use one of these browsers" %}:</div>
        <div class="broswers">
            <div class="dl-browser chrome">
                <div class="img"></div>
                <div class="wb_link">Chrome</div>
            </div>
            <div class="dl-browser safari">
                <div class="img"></div>
                <div class="wb_link">Safari</div>
            </div>
            <div class="dl-browser firefox">
                <div class="img"></div>
                <div class="wb_link">Firefox</div>
            </div>
        </div>
    </div>

{% endblock body %}

{% block extrastyle %}
    {{ block.super }}
{% endblock %}

{% block scripts %}
    <script type="text/javascript"
            src="http://ajax.microsoft.com/ajax/jquery.validate/1.7/jquery.validate.pack.js"></script>
    {% if LANGUAGE_CODE == 'he' %}
        <script type="text/javascript" src="/static/js/mylibs/jquery.ui.datepicker-he.js"></script>
    {% endif %}

    {{ block.super }}

    <!-- when not dev these scripts should be included in the concatenated js by build script-->
    {% if DEV %}
        <!-- scripts concatenated and minified via ant build script-->
        <script type="text/javascript" src="/static/js/mylibs/jquery.ui.stars.min.js"></script>
        <script type="text/javascript" src="/static/js/mylibs/jquery.placeheld.min.js"></script>
        <script type="text/javascript" src="/static/js/mylibs/jquery.marquee.js"></script>
        <script type="text/javascript" src="/static/js/mylibs/jquery.form.js"></script>
        <script type="text/javascript" src="/static/js/mylibs/jquery.ajax_forms.js"></script>
        <script type="text/javascript" src="/static/js/mylibs/jquery.ajax_forms.validation.js"></script>
        <script type="text/javascript" src="/static/js/mylibs/jquery.formset.min.js"></script>
        <script type="text/javascript" src="/static/js/mylibs/jquery.nivo.slider.pack.min.js"></script>

        <script type="text/javascript" src="/static/js/mylibs/tooltip.js"></script>

        <script type="text/javascript" src="/static/js/helpers.js"></script>
        <script type="text/javascript" src="/static/js/registration.js"></script>

        <!-- end scripts-->
    {% endif %}

{% endblock scripts %}

{% block doc_ready %}
    {{ block.super }}

    <script>
        function getGCF(popup) {
            // no admin privileges needed version
            var gcf_url = 'http://www.google.com/chromeframe/eula.html?user=true';
            if (popup)
                window.open(gcf_url, '_getGCF');
            else
                window.location.href = gcf_url;
        }
        function getChrome() { window.location.href = 'http://www.mozilla.com/firefox/'; }
        function getSafari() { window.location.href = 'http://www.apple.com/safari/'; }
        function getFirefox() { window.location.href = 'http://www.google.com/chrome/'; }
    </script>
    <!--[if IE ]>
        <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
        <script>
        window.attachEvent("onload",function(){
            CFInstall.check({
                destination: '{% url wb_home %}',
                onmissing:function(){
                    $(".get_gcf").click(function() { getGCF(true); });
                    $(".dl-browser.firefox").click(function(){getChrome()});
                    $(".dl-browser.chrome").click(function(){getFirefox()});
                    $(".dl-browser.safari").click(function(){getSafari()});
                    $("#gcf_dialog").dialog({
                        title: '{% trans "Get yourself a modern browser" %}',
                        width: 500,
                        modal: true,
                        resizable: false,
                        close: function() {
                            getGCF(false);
                        }
                    });
                }
            })
        })
        </script>
    <![endif]-->
    <script type="text/javascript">
        $(document).ready(function() {
            $("#wb_logo").click(function() {
                window.location.href = "{% url wb_home %}";
            });
            $(".footer-icon.fb").click(function () {
                window.location.href = "{% value_from_settings FACEBOOK_APP_URL%}";
            });

            // dropdown triggers and lists
            $("html").click(function(e) {
                var $target = $(e.target);
                $(".wbdropdown-list").hide();
                var $trigger = ($target.hasClass("dropdown-trigger")) ? $target : $target.parents(".dropdown-trigger").eq(0);
                if ($trigger){
                    var name = $trigger.attr("name");
                    $(".wbdropdown-list[name='" + name + "']").show();
                }
            });
            $(".dropdown-trigger").click(function() {
                var offset = $(this).offset();
                offset.top = offset.top + $(this).height() + 5;

                var name = $(this).attr("name");
                var $list = $(".wbdropdown-list[name='" + name + "']");
                if ($("html").hasClass("rtl")) {
                    offset.left = offset.left - ($list.outerWidth() - $(this).outerWidth()) + 1;
                }
                $list.show().offset(offset);
            });

            // language
            $("#change_lang, #lang_dropdown li").click(function() {
                var code = $(this).data("code");
                logGAEvent("languages", "change language", code);

                if (code != "{{ LANGUAGE_CODE }}" && !$(this).hasClass("disabled")) {
                    $("#lang_form #language").val(code);
                    $("#lang_form").submit();
                }
            });

            // values tooltips
            $("#wb_values .value").each(function() {
                var name = $(this).data("value-name");
                var position, left;
                if ($("html").hasClass("rtl")) {
                    position = "center right";
                    left = 6;
                    if (name == "service" || name == "community") {
                        position = "center left";
                        left = -left;
                    }
                }
                else {
                    position = "center left";
                    left = -6;
                    if (name == "service" || name == "community") {
                        position = "center right";
                        left = -left;
                    }
                }
                $(this).tooltip({
                    effect: 'fade',
//                    relative: true,
                    delay: 3,
                    position: position,
                    offset: [-80, left],
                    tip: "#values_learnmore ." + name,
                    events:{
                        def: "mouseover, mouseleave"
                    }
                });
            });
        });
    </script>
{% endblock %}