{% load value_from_settings %}
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}
      class="{{ page_specific_class }} {% if LANGUAGE_BIDI %}rtl{% endif %}" {% block htmlattr %}{% endblock %}>
<head>
    {% load i18n %}

    <meta charset="utf-8">
    <meta name="google-site-verification" content="6M7E60YhxlrZR6e8sXaMr2_9hy-TwfdXM-orIbAlwXA"/>

    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
         Remove this if you use the .htaccess -->
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->

    <!-- addresses issue: http://code.google.com/p/googleappengine/issues/detail?id=4780 -->
    <!--[if IE 9]><meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8,chrome=1"><![endif]-->


    <title>{% block title %}WAYbetter - {% trans "Shared Taxi Rides" %}{% endblock %}</title>

    <meta name="description"
          content="{% trans 'Revolution in Transportation: Shared taxi rides to Hotspots. Book a shared taxi online: comfortable, hassle free ride, save tens of dollars.'%}"/>
    <meta name="keywords" content="{% trans 'smart,iPhone,way better,order taxi, share' %}"/>
    <meta name="author" content="WAYbetter LTD."/>

    <!-- Facebook open graph tags -->
    <meta property="og:title" content="WAYbetter - {% trans "Half Price Taxi Rides" %}"/>
    <meta property="og:description"
          content="{% trans 'Revolution in Transportation: Half-priced taxi rides. Book a shared taxi online: comfortable, hassle free ride, save tens of dollars.'%}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="http://www.waybetter.com/static/images/wb_site/FB_thumb.png"/>
    <meta property="og:url" content="http://www.waybetter.com"/>
    <meta property="og:site_name" content="WAYbetter"/>
    <meta property="fb:app_id" content="280509678631025"/>

    {% block extrahead %}{% endblock %}

    {% block extrastyle %}
        <!-- css concatenated and minified via ant build script-->
        <link rel="stylesheet" href="/static/css/jquery-ui-1.8.14.smoothness.css" type="text/css" media="all">
        <!-- end css-->
    {% endblock %}


    {% block jquery %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/js/libs/jquery-1.8.2.min.js">\x3C/script>')</script>
    {% endblock jquery %}
</head>

<body class="{% block bodyclass %}{% endblock %}" {% block bodyattr %}{% endblock %}>

{% block body %}{% endblock %}

<!-- JavaScript at the bottom for fast page loading -->
{% block scripts %}
    <!-- All JavaScript at the bottom, except for Modernizr and Respond.
         Modernizr enables HTML5 elements & feature detects; Respond is a polyfill for min/max-width CSS3 Media Queries -->
    <script src="/static/js/libs/modernizr-1.7.min.js"></script>
    <script src="/static/js/libs/respond.min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
    <script>window.jQuery.ui || document.write('<script src="/static/js/libs/jquery-ui-1.8.13.min.js">\x3C/script>')</script>

    <!-- scripts concatenated and minified via ant build script-->
    <script type="text/javascript" src="/static/js/mylibs/json2.min.js"></script>
    <script type="text/javascript" src="/static/js/mylibs/jquery.timers-1.2.min.js"></script>

    <script type="text/javascript" src="/static/js/utils.js"></script>
    <script type="text/javascript" src="/static/js/wb_init.js"></script>
    <!-- end scripts-->
{% endblock scripts %}

{% block helpers_init %}
    <script>
        if (window.Registrator){
            Registrator.init({
                urls:{
                    feedback_form_template:'{% url common.registration.feedback %}',
                    pilot_interest_form_template:'{% url interests.views.pilot_interest %}',
                    m2m_interest_form_template:'{% url interests.views.m2m_interest %}',
                    hotspot_interest_form_template:'{% url interests.views.hotspot_interest %}',
                    error_form_template:'{% url common.views.error_dialog %}'
                }
            });
        }
        if (window.SocialHelper) {
            var social_msg = "{% trans 'Social revolution in public transportation. WAYbetter allows you to order shared taxi rides , for a (very) low fixed price. It’s green, it’s fast and it’s cheap. Check it out: www.waybetter.com' %}";
            SocialHelper.init({
                messages:{
                    email:{
                        subject:"WAYbetter אלטרנטיבה חדשה ומשתלמת לתנועה בעיר!",
                        body:"רציתי לספר לך על WAYbetter - אפליקציה חברתית חדשה שעושה מהפכה בתחבורה.\nבאפליקציה ניתן להזמין נסיעות משותפות במונית ספיישל, תוך חסכון אדיר (ומובטח!) של עשרות שקלים לנסיעה.\nזה משתלם, זה חברתי וזה ירוק.\n\nשווה להיות חלק:\nwww.waybetter.com"
                    },
                    facebook:{
                        share_msg:social_msg
                    },
                    twitter:{
                        share_msg:social_msg
                    }
                }
            });
        }
        if (window.MyRidesHelper) {
            MyRidesHelper.init({
                urls: {
                    get_myrides_data: "{% url sharing.passenger_controller.get_myrides_data %}",
                    get_order_status: "{% url sharing.passenger_controller.get_order_status %}",
                    cancel_order: "{% url sharing.passenger_controller.cancel_order %}"
                },
                messages: {
                    cancel_ride_link: "{% trans 'Cancel Ride' %}",
                    ride_cancelled: "{% trans 'Ride cancelled.' %}",
                    cancel_text: "{% trans 'Info/Cancel' %}",
                    report_text: "{% trans 'Report Ride' %}"
                }
            });
        }
    </script>
{% endblock helpers_init %}

{% block doc_ready %}
    {# more IE7 fixes #}
    <!--[if IE 7]>
    <script type="text/javascript">
    //<![CDATA[
         $(document).ready(function(){
            $(".waybetter").html("WAYbetter")
        });
    //]]>
    </script>
    <![endif]-->

    <!-- Google Analytics -->
    <!-- mathiasbynens.be/notes/async-analytics-snippet Change UA-XXXXX-X to be your site's ID -->
    <script>
    //<![CDATA[
        var _gaq = [
            ['_setAccount', '{% value_from_settings "GA_ACCOUNT_ID" %}'],
            ['_setAllowLinker', true],
            ['_trackPageview'],
            ['_trackPageLoadTime']
        ];
        (function(d, t) {
            var g = d.createElement(t),s = d.getElementsByTagName(t)[0];
            g.async = 1;
            g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g, s)
        }(document, 'script'));
    //]]>
    </script>

    <!-- Google Code for Remarketing tag -->
    <!-- Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. For instructions on adding this tag and more information on the above requirements, read the setup guide: google.com/ads/remarketingsetup -->
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 996846636;
        var google_conversion_label = "grlECPS6mwMQrNiq2wM";
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt=""
                 src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/996846636/?value=0&amp;label=grlECPS6mwMQrNiq2wM&amp;guid=ON&amp;script=0"/>
        </div>
    </noscript>

{% endblock doc_ready %}

{% block extra-body %}{% endblock %}
</body>

</html>
