{% extends "wb_base.html" %}
{% load i18n %}

{% block extrastyle %}
    {{ block.super }}
{% endblock extrastyle %}

{% block doc_ready %}
    {{ block.super }}
    <script src="http://api.navigator.telmap.com/maps/api/js?sensor=false"></script>
    <script>
        $(document).ready(function() {
            TelmapHelper.init({
                telmap_user:                "{{ telmap_user }}",
                telmap_password:            "{{ telmap_password}}",
                telmap_languages:           "{{ telmap_languages }}"
            });

            HotspotHelper.init({
                labels: {
                    choose_date: "{% trans "Choose Date" %}",
                    updating: "{% trans "Updating..." %}"
                },
                urls: {
                    get_hotspot_data: "{% url sharing.passenger_controller.get_hotspots_data %}",
                    get_hotspot_dates: "{% url sharing.passenger_controller.get_hotspot_dates %}",
                    get_hotspot_times: "{% url sharing.passenger_controller.get_hotspot_times %}"
                }
            });

            AddressHelper.init({
                urls:{
                    structured_resolve_url: "{% url sharing.passenger_controller.resolve_structured_address %}"
                }
            });

            $("input[placeholder]").placeHeld();
        });
    </script>
{% endblock %}