{% extends "wb_base_mobile.html" %}
{% load i18n %}
{% load value_from_settings %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="/static/js/js-webshim/modernizr.yepnope.js"></script>
    <script type="text/javascript" src="/static/js/js-webshim/dev/polyfiller.js"></script>
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <style type="text/css">
        .form-row {
            position: relative;
            margin-bottom: 25px;
        }
        .input-append .add-on, .input-prepend .add-on{
            height: 23px;
            width: 35%;
        }
        .input-append input, .input-prepend input{
            height: 23px;
            margin: 0 !important;
            width: 55%;
        }

        #billing_input:active{
            background: #d3d3d3;
        }
        .icon-lock{
            color: #5E5E5E;
        }

        #billing_submit{
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            margin: 0;
            z-index: 10;
            opacity: 0;
        }

        #submit{
            margin-top: 20px;
        }
        #disclaimer{
            padding-top: 10px;
            font-size: 12px;
            text-align: center;
        }
        #disclaimer input{
            margin: 0;
        }
        #disclaimer a{
            color: white;
            text-decoration: underline;
        }
    </style>
{% endblock %}

{% block body %}
    <div data-role="page" data-theme="a">
        <div data-role="header" class="top-header ui-header ui-bar-a" role="banner">
            <div class="header-center ng-binding">{{ title }}</div>
        </div>

        <div data-role="content">

            <div id="glasspane"></div>

            <form method="post" id="registration_form" data-ajax="false">
                {% csrf_token %}

                <div class="form-row">
                    <div class="input-prepend">
                        <span class="add-on">{% trans "Your Name" %}</span>
                        <input type="text" id="name" name="name" required value="{{ name }}" data-role="none">
                    </div>
                </div>
                <div class="form-row">
                    <div class="input-prepend">
                        <span class="add-on">{% trans "Mobile Phone" %}</span>
                        <input type="tel" pattern="[0-9]{10}" name="phone" id="phone" required value="{{ phone }}" data-role="none">
                    </div>
                </div>
                <div class="form-row">
                    <div class="input-prepend">
                        <span class="add-on">{% trans "Email" %}</span>
                        <input type="email" name="email" id="email" required value="{{ email }}" data-role="none">
                    </div>
                </div>
                <div class="form-row">
                    <div class="input-prepend">
                        <span class="add-on">{% trans "Password" %}</span>
                        <input type="password" name="password" id="password" required value="{{ password }}" data-role="none">
                    </div>
                </div>
                <div class="form-row">
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-lock"></i> {% trans "Payment Method" %}</span>
                        <input type="text" name="billing_input" id="billing_input" value="{% if billing_info %}&#x200E;**** **** **** {{ billing_info }}{% endif %}" data-role="none">
                    </div>
                    <button id="billing_submit" data-role="none" type="submit"></button>
                    {% if credit_card_error %}
                        <div><i class="icon-exclamation-sign"></i> {{ credit_card_error }}</div>
                    {% endif %}
                </div>

                <div class="form-row">
                    <button id="submit" data-role="none" class="btn btn-warning btn-block btn-large" type="submit">{% trans 'SAVE_AS_IN_SAVE_A_FILE' %}</button>
                    {% if not request.user.is_authenticated %}
                        <div id="disclaimer">
                        <input type="checkbox" name="agree" id="agree" checked required data-role="none">
                            <span>
                                {% trans "I have read and agree to the" %} <a href="#terms_page" data-transition="slideup" data-role="none">{% trans "Terms Of Use" %}</a>
                                  {% trans 'and' %} <a href="#privacy_page" data-transition="slideup" data-role="none"> {% trans "Privacy Statement" %}</a>.
                            </span>
                        </div>
                    {% endif %}
                </div>
            </form>

{# uncomment if/when we have promo codes #}
{#            <hr>#}
{##}
{#            <div class="form-row">#}
{#                <div class="label">#}
{#                    <label for="promo-code">{% trans "Promo Code" %}</label>#}
{#                </div>#}
{#                <div class="input-prepend">#}
{#                    <div class="input-append">#}
{#                        <input type="text" name="promo-code" id="promo-code">#}
{#                        <button id="apply-promo" data-role="none" class="btn" type="button">{% trans 'Submit' %}</button>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}

        </div>
    </div>

    <div id="terms_page" data-role="page" data-theme="a">
        <div data-role="header" class="top-header ui-header ui-bar-a" role="banner">
            <div class="header-center ng-binding">{% trans "Terms of Service" %}</div>
            <div class="header-left top-header-button">
                <a href="#" data-rel="back" data-transition="slidedown">{% trans "Close" %}</a>
            </div>
        </div>
        <div data-role="content">{% trans "terms_content" %}</div>
    </div>

    <div id="privacy_page" data-role="page" data-theme="a">
        <div data-role="header" class="top-header ui-header ui-bar-a" role="banner">
            <div class="header-center ng-binding">{% trans "Privacy Policy" %}</div>
            <div class="header-left top-header-button">
                <a href="#" data-rel="back" data-transition="slidedown">{% trans "Close" %}</a>
            </div>
        </div>
        <div data-role="content" class="privacy">{% trans "privacy_content" %}</div>
    </div>
{% endblock %}

{% block doc_ready %}
    {{ block.super }}
    <script type="text/javascript">
        jQuery.webshims.polyfill('forms'); // must be called before doc ready

        $(function(){

            // html5 form validation rocks!
            var fname = document.getElementById("name"),
                phone = document.getElementById("phone"),
                email = document.getElementById("email"),
                password = document.getElementById("password"),
                agree = document.getElementById("agree");

            var fields = [fname, phone, email, password];
            {% if not request.user.is_authenticated %}
                fields.push(agree);
            {% endif %}

            for (var i = 0; i < fields.length; i++) {
                fields[i].oninput = function (e) {
                    e.target.setCustomValidity("");
                };

                fields[i].oninvalid = function (e) {
                    e.target.setCustomValidity("");
                    if (e.target.validity.valueMissing) {
                        e.target.setCustomValidity("{% trans 'This field is required' %}");
                    }
                    if (e.target == agree) {
                        if (agree.validity.valueMissing) agree.setCustomValidity("{% trans 'Please agree to join' %}");
                    }
                    if (e.target == phone) {
                        if (phone.validity.patternMismatch) phone.setCustomValidity("{% trans 'Please enter a 10 digit mobile number' %}");
                    }
                    if (e.target == email) {
                        if (email.validity.patternMismatch) email.setCustomValidity("{% trans 'Please enter a valid email address' %}");
                    }
                };
            }
            // end validation setup

            var form = $("#registration_form");
            var submit = $("#submit");
            var billing_submit = $("#billing_submit");
            var apply_promo = $("#apply-promo");

            function submit_form(continue_to_billing) {
                if (!form.checkValidity()) return;

                $.ajax({
                    type:'POST',
                    data:form.serialize()
                }).done(function (response) {
                    if (continue_to_billing && response.billing_url) {window.location.href = response.billing_url; return; }
                    if (response.redirect) {window.location.href = response.redirect; return; }

                    if (response.account_exists) {
                        if (confirm(response.error + "\n{% trans 'Login?' %}")) {
                            window.location.href = "{% url mobile_auth_login %}";
                        }
                    }
                    else {  // we have an error
                        alert(response.error || "{% trans 'An error occurred. Please try again.' %}");
                    }

                }).fail(function (error_response) {
                    alert("{% trans 'An error occurred. Please try again.' %}");
                });
            }

            function do_apply_promo() {
                $.ajax({
                    url:"{% url ordering.account_controller.apply_promo_code %}"
                }).done(function () {
                    alert("OK");
                }).fail(function () {
                    alert("FAILED");
                });
            }

            form.submit(function (e) {
                // validation only, don't submit
                e.preventDefault();
            });
            submit.click(function () {
                submit_form(false);
            });
            billing_submit.click(function () {
                submit_form(true);
            });

            apply_promo.click(do_apply_promo);
        });
    </script>

{% endblock %}