{% extends "wb_base_mobile.html" %}
{% load i18n %}

{% block body %}
    <div data-role="page">
        <div data-role="header" data-theme="a">
            <h1>{% trans "Change Credentials" %}</h1>
        </div>
        <div data-role="content">
            <form action="" method="post" data-ajax="false">
                {% csrf_token %}
                {% for field in form %}
                    <div>{{ field.label_tag }}</div>
                    <div>{{ field }}</div>
                    <div>{{ field.errors }}</div>
                {% endfor %}
                <button type="submit" data-theme="c">{% trans "Next" %}</button>
            </form>
        </div>
    </div>
{% endblock %}