{% extends "wb_base_mobile.html" %}
{% load i18n %}

{% block extrastyle %}
    {{ block.super }}
    <style type="text/css">
        input{
            height: auto !important;
        }
    </style>
{% endblock %}
{% block body %}
    <div data-role="page">
        <div data-role="header" class="top-header ui-header ui-bar-a" role="banner">
            <div class="header-center">{% trans "Change Credentials" %}</div>
        </div>
        <div data-role="content">
            <form action="" method="post" data-ajax="false">
                {% csrf_token %}
                {% for field in form %}
                    <div>{{ field.label_tag }}</div>
                    <div>{{ field }}</div>
                    <div>{{ field.errors }}</div>
                {% endfor %}
                <button type="submit" data-theme="c">{% trans "Next" %}</button>
            </form>
        </div>
    </div>
{% endblock %}