{% extends "wb_base_mobile.html" %}
{% load i18n %}

{% block body %}
    <div id="login_page" data-role="page">
        <div data-role="header">
            <h1>{% trans "Login To Your Account" %}</h1>
            <a href="{% url wb_home %}" data-icon="wb_custom" data-rel="back" data-theme="b" data-iconpos="notext"
               data-transition="pop" class="ui-btn-right"></a>
        </div>
        <div data-role="content">
            <div class="bold center">{% trans "Login and enjoy a WAYbetter Taxi experience" %}</div>

            {{ form.non_field_errors }}

            <form data-ajax="false" method="post" id="login-form">{% csrf_token %}
                <input type="hidden" name="this_is_the_login_form" value="1"/>
                <input type="hidden" name="next" value="{{ next }}"/>
                <input type="hidden" name="token" id="id_token">

                <input type="email" name="username" id="id_username" placeholder="{% trans 'Email' %}"/>
{#                {{ form.username.errors }}#}
                <input type="password" name="password" id="id_password" placeholder="{% trans 'Password' %}"/>
{#                {{ form.password.errors }}#}

                <input  id="submit" type="submit" data-theme="d" value="{% trans 'Log in' %}"/>
            </form>

            <hr/>

            <a data-ajax="false" href="{% url join %}" data-role="button" data-theme="d">{% trans 'New Member? Join Now' %}</a>

            <div id="advtgs">
                <div class="bold">יתרונות השירות:</div>
                <ul>
                    <li>אין דמי מנוי. אתה חוסך, כולם מרוויחים</li>
                    <li>סע בלי מזומן! תשלום באשראי מהאפליקציה</li>
                    <li>תזכורת חינם ב-SMS בטרם הגעת המונית</li>
                    <li>חסכון מובטח של עשרות שקלים בכל נסיעה</li>
                    <li>ניהול נסיעות, חשבונית מס חודשית מפורטת</li>
                    <li>שירות יעיל, ירוק וידידותי לסביבה ולאדם</li>
                </ul>
            </div>

        </div>
    </div>
{% endblock %}

{% block doc_ready %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {

            $("#id_username, #id_password").keyup(function() {
                var valid = Boolean($("#id_username").val() && $("#id_password").val());
                if (valid){
                    $("#submit").button().button("enable");
                }
                else{
                    $("#submit").button().button("disable");
                }
            }).trigger("keyup");
        });

    </script>
{% endblock %}