{% extends "wb_base_mobile.html" %}
{% load i18n %}


{% block extrastyle %}
    {{ block.super }}
    <style>
        #fb_connect {
            margin: 0 auto;
        }

        table {
            width: 100%;
        }

        td.or {
            width: 50px;
            text-align: center;
        }

        label.ui-input-text {
            margin-top: 20px;
        }

        label[for=id_agree_to_terms] .ui-btn-text {
            font-size: 11px;
            text-align: center;
        }

        label[for=id_agree_to_terms].ui-btn {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    </style>
{% endblock %}

{% block body %}
    <div id="registration_page" data-role="page">
        <div data-role="header">
            <h1>{% trans "Registration" %}</h1>
            <a href="#" data-rel="back">{% trans 'Back' %}</a>
        </div>
        <div data-role="content">
            <div id="fb_cntr">
                <div id="fb_connect">
                    <div id="fb-root"></div>
                    <fb:login-button perms="email,user_checkins"></fb:login-button>
                </div>
            </div>

            <table>
                <tbody>
                <tr>
                    <td>
                        <hr/>
                    </td>
                    <td class="or">{% trans "OR" %}</td>
                    <td>
                        <hr/>
                    </td>
                </tr>
                </tbody>
            </table>

            <div>
                {% load ajax_form_utils %}
                <form id="passenger_form" action="{% url register %}" method="POST">
                    {% csrf_token %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}

                    {% for field in form.visible_fields %}
                        <!-- separate the fields for .siblings, see below -->
                        {% if field.html_name != "agree_to_terms" %}
                            {{ field.label_tag }}
                            {{ field }}
                            <div class="errorlist-placeholder"></div>
                        {% endif %}
                    {% endfor %}
                    <input type="checkbox" name="agree_to_terms" id="id_agree_to_terms" data-theme="b"/>
                    <label for="id_agree_to_terms">{% trans "I agree to the" %}
                        <a href="{% url terms %}">{% trans "Terms Of Use" %} </a>{% trans "and" %}
                        <a href="{% url privacy %}"> {% trans "Privacy Statement" %}.</a>
                    </label>
                </form>
            </div>

            <button id="finish_registration" data-theme="d">{% trans "Next" %}</button>
        </div>
    </div>



{% endblock %}

{% block doc_ready %}
    <script type="text/javascript" src="/static/js/mylibs/jquery.ajax_forms.js"></script>
    <script type="text/javascript" src="/static/js/mylibs/jquery.ajax_forms.validation.js"></script>

    {{ block.super }}

    <script type="text/javascript">

        $(document).ready(function(){
//        $("#registration_page").bind("pageinit", function(e) {

            $('#passenger_form').validation({% render_ajax_fields form %});

            $("#finish_registration").button("disable").click(function() {
                var $that = $("#finish_registration");
                $.ajax({
                    url: "{% url register %}",
                    type: "POST",
                    data: $("#passenger_form").serialize(),
                    beforeSend: function() {
                        $that.disable().data("old_text", $that.text()).text("{% trans "Sending" %}");
                    },
                    complete: function() {
                        $that.text($that.data("old_text")).enable();
                    },
                    success: function(response) {
                        $(".errorlist-placeholder, .errorlist").empty();
                        if (response.errors) {
                            $.each(response.errors, function(i, e) {
                                $("#id_" + e.field_name).siblings(".errorlist-placeholder, .errorlist").replaceWith(e.errors_ul);
                            });
                        }
                        else {
                            if (response.redirect) {
                                window.location.href = response.redirect;
                            }
                        }
                    },
                    error: function() {
                        alert("Error");
                    }
                });
            });

            $("#id_agree_to_terms").change(function() {
                if ($(this).attr("checked") == "checked") {
                    $("#finish_registration").button("enable");
                }
                else {
                    $("#finish_registration").button("disable");
                }
            });
        });
    </script>
{% endblock %}
