{% extends "wb_base_mobile.html" %}
{% load i18n %}

{% block extrastyle %}
    {{ block.super }}
    <style>
    .privacy .header {
        font-weight: bold;
    }
    </style>
{% endblock %}

{% block body %}
    <div id="privacy_page" data-role="page" data-theme="a">
        <div data-role="header">
            <h1>{% trans "Privacy Policy" %}</h1>
        </div>
        <div data-role="content" class="privacy">
            {% trans "privacy_content" %}
        </div>
    </div>
{% endblock %}