<div id="startup_message" data-role="page">
    <div data-role="header">
        <h1>Update Required</h1>
    </div>
    <div data-role="content">
        <p>
            We are sorry for the inconvenience but you must update the application in order to book a ride.
        </p>
        <p>(It takes only 10 seconds)</p>
        <a href="/" data-direction="reverse" data-role="button" data-theme="d">Update Now</a>
        <a href="#" data-rel="back" data-direction="reverse" data-role="button">Close</a>
    </div>
</div>