{% load value_from_settings %}
<div id="startup_message" data-role="page">
    <div data-role="header">
        <h1>עדכון הכרחי</h1>
    </div>
    <div data-role="content">
        <p>
כדי להנות משירות WAYbetter יש לעדכן את האפליקציה שברשותכם
        </p>
        {% if is_android %}
            <a data-role="button" data-theme="c" rel="external" href="{% value_from_settings ANDROID_MARKET_APP_URL %}">עדכן אפליקציה עכשיו</a>
        {% endif %}

        {% if is_ios %}
            <a data-role="button" data-theme="c" rel="external" href="{% value_from_settings APPLE_WAYBETTER_ITUNES_URL %}">עדכן אפליקציה עכשיו</a>
        {% endif %}
    </div>
</div>