{% extends "wb_home.html" %}
{% load i18n %}
{% load custom_tags %}
{% block jquery %}
    <script src="/static/js/libs/jquery-1.6.4.min.js"></script>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="/static/js/pg_helpers.js"></script>
{% endblock %}

{% block doc_ready %}
    {{ block.super }}

    <script defer="defer">
    var welcome_screen_shown = false;

    function updateAuthStatus() {
        MobileHelper.isUserAuthenticated(
            function(username){
                $("#myrides_btn").show();
                $("#myrides_login_btn").hide();
            },
            function() {
                $("#myrides_btn").hide();
                $("#myrides_login_btn").show();
                if (!welcome_screen_shown) {
                    welcome_screen_shown = true;
                    $.mobile.changePage("#welcome_page");
                }
            }
        )
    }

    function bookRide(is_private) {
        var $form = $("<form></form>");

        var hidden_inputs = {
            is_private: is_private,
            time_type: MobileHelper.hotspot_type,
            ride_duration: $("#ride-time").data("ride_duration"),
            hotspot_id: MobileHelper.hotspot.id,
            hotspot_type: MobileHelper.hotspot_type,
            hotspot_time: $("#ride-time").val(),
            hotspot_date: $("#ride-date").val(),
            id_city: $("#id_city").val(),
            street_address: MobileHelper.address.street_address,
            house_number: MobileHelper.address.house_number,
            lat: MobileHelper.address.lat,
            lon: MobileHelper.address.lon
        };

        $.each(hidden_inputs, function(k, v) {
            $form.find("input[name='" + k + "']").remove();
            $form.append($('<input type="hidden"/>').attr("name", k).attr("value", v));
        });

        $.ajax({
            url: "{% absurl sharing.passenger_controller.book_ride %}",
            data: $form.serialize(),
            type: "POST",
            beforeSend: function() {
                $(".order_button").disable();
            },
            success: function(response) {
                if (response.status && response.status == "booked" && response.redirect) {
                    window.location.href = response.redirect;
                }
                else {
                    //TODO_WB: redirect to error page
                    var message = "{% trans "We have encountered an error. Please try again." %}";
                    if (response.message) {
                        message = response.message;
                    }
                    showError(message);
                    $(".order_button").enable();
                }
            },
            error: function() {
                // TODO_WB: show error message/redirect to error page
                $(".order_button").enable();
            }
        });
    }

    function PG_init() {
        PhoneGapHelper.init({
            urls: {
                is_user_authenticated: "{% absurl is_user_authenticated %}"
            }
        });
    }

    </script>

{% endblock doc_ready %}
{% block init %}
    PG_init();
{% endblock init %}

