{% extends "wb_base_mobile.html" %}
{% load i18n %}

{% block extrastyle %}
    {{ block.super }}
    <style>
        .address_type_indicator {
            font-style: italic;
            font-weight: normal;
            font-size: 12px;
            margin: 0 5px;
        }

        .err_msg {
            color: red;
        }
    </style>
{% endblock %}

{% block doc_ready %}
    {{ block.super }}

    <script defer="defer">
    var hotspots = [];
    var city_ids = [];
    {% for city in cities %}
        city_ids.push({{ city.id }});
    {% endfor %}

    var choose_pickup_time_msg = "{% trans 'Choose Pickup Time' %}";
    var choose_dropoff_time_msg = "{% trans 'Choose Dropoff Time' %}";
    var pickup_time_msg = "{% trans 'Pickup Time' %}";
    var dropoff_time_msg = "{% trans 'Dropoff Time' %}";
    var pickup_msg = "{% trans 'Pickup' %}";
    var dropoff_msg = "{% trans 'Dropoff' %}";

    function showDialog(dialog_name) {
        alert(dialog_name);
    }
    function showError(msg) {
        alert(msg);
    }

    function getIntervals(select_nearest_interval) {
        if (! (MobileHelper.hotspot && MobileHelper.address)) {
            return; // do nothing if hotspot and address are not defined yet
        }

        $.mobile.changePage("#interval_page");
        
        console.log("get intervals");
        var day = $("#ride-date").val();
        var $time_sel = $("#ride-time");
        HotspotHelper.getIntervals({
            data: {
                hotspot_id: MobileHelper.hotspot.id,
                day: day,
                hotspot_type: MobileHelper.hotspot_type,
                time_type: MobileHelper.hotspot_type,
                lat: MobileHelper.address.lat,
                lon: MobileHelper.address.lon },
            success: function(response) {
                if (response.times) {
                    $time_sel.empty();
                    $.each(response.times, function(i, t) {
                        $time_sel.append("<option>" + t + "</option>");
                    });
                    if (response.ride_duration) {
                        $time_sel.data("ride_duration", response.ride_duration);
                    }
                    $time_sel.selectmenu().selectmenu('refresh', true);
                    if (select_nearest_interval) {
                        $("#select-interval-form").submit();
                    } else {
//                        $.mobile.changePage("#interval_page");
                    }
                }
            },
            complete: function() {
                updateChooseTimesButton();
            }
        });
    }

    function resetAddress() {
        MobileHelper.address = undefined;
        $("#choose_address_btn").find(".header").text("{% trans 'Enter Address' %}");
    }
    // TODO_WB: check hotspot_type to decide where the updated text should go
    function selectAddress(address) {
        if ($.inArray(address.city, city_ids) < 0) {
            showDialog("{% trans "Currently we can't offer service in " %}: " + address.name);
            return false;
        }

        $("#choose_address_btn").find(".header").text(address.name);
        try {
            $("#id_city").val(address.city).selectmenu('refresh');
        } catch(e) {
            log("selectmenu refresh failed")
        }

        $("#id_street").val(address.street_address);
        $("#id_house_number").val(address.house_number);
        if (!(MobileHelper.address && MobileHelper.address.description == address.description)) {
            console.log("select address");
            MobileHelper.address = address;
            getIntervals(false);
        }
        return true;
    }

    function resetHotspot() {
        $("#choose_hotspot_btn").find(".header").text("{% trans 'Choose Hotspot' %}");
        $("#choose_hotspot_btn").find(".desc").text("");
    }
    // TODO_WB: check hotspot_type to decide where the updated text should go
    function selectHotspot(hotspot) {
        if (hotspot !== MobileHelper.hotspot) {
            console.log("select hotspot");
            MobileHelper.hotspot = hotspot;

            $("#choose_hotspot_btn").find(".header").text(hotspot.name);
            $("#choose_hotspot_btn").find(".desc").text(hotspot.description + ", " + hotspot.address);

            var $date_sel = $("#ride-date").empty();

            // set hotspot dates
            $.each(hotspot.next_dates, function(i, date) {
                var d = getFullDate(new Date(date));
                var $option = $('<option value="' + d + '">' + d + '</option>');
                $date_sel.append($option);
            });

            // update intervals
            getIntervals(false);
        }
    }

    function getRideDetails() {
        console.log("ride details");
        $.ajax({
            url: "{% url sharing.passenger_controller.get_hotspot_price %}",
            dataType: "json",
            data: {
                'lat': MobileHelper.address.lat,
                'lon': MobileHelper.address.lon,
                'hotspot_id': MobileHelper.hotspot.id,
                'day': $("#ride-date").val(),
                'time': $("#ride-time").val()
            },
            success: function(response) {
                if (response.sharing_price && response.sharing_time && response.private_price && response.private_time) {
                    $("#sharing_price .value").text(response.sharing_price);
                    $("#sharing_time .value").text(response.sharing_time);
                    $("#private_price .value").text(response.private_price);
                    $("#private_time .value").text(response.private_time);
                    $(".ride_summary .ride_discount").text("{% trans 'SAVE' %} " + response.savings + "%");
                    $(".order_button").enable();
                    $.mobile.changePage("#choose_ride_page");
                } else {
                    showError("{% trans "Currently, there is no service to this address." %}");
                }
            },
            error: function() {
                showError("{% trans "We have encountered an error. Please try again." %}");
            }
        });
    }

    function switchOrderingDirection(direction) {
        if (direction && MobileHelper.hotspot_type == direction) {
            return; // do nothing
        }

        $(".booking_widget").eq(0).swap($(".booking_widget").eq(1));
        $(".booking_label .type").eq(0).swap($(".booking_label .type").eq(1));

        $("#ride_details_page .dropoff .details_label").swap($("#ride_details_page .pickup .details_label"));
//        $("#ride_details_page .dropoff .details_label_type").swap($("#ride_details_page .pickup .details_label_type"));
        $("#ride_details_page .dropoff").swap($("#ride_details_page .pickup"));

        if (MobileHelper.hotspot_type == "pickup") {
            MobileHelper.hotspot_type = "dropoff";
            $("#interval_page").find("[data-role=header] h1").text(choose_dropoff_time_msg);
            $("#choose_time_btn").find(".header").text(choose_dropoff_time_msg);
        } else {
            MobileHelper.hotspot_type = "pickup";
            $("#interval_page").find("[data-role=header] h1").text(choose_pickup_time_msg);
            $("#choose_time_btn").find(".header").text(choose_pickup_time_msg);
        }


        
        getIntervals(false);
    }

    function updateChooseTimesButton() {
        var $parent_ul = $("#choose_time_btn").closest("ul");
        var $links = $parent_ul.find("a");
        $parent_ul.children().remove();

        $.each($links, function(i, e) {
            var $new_li = $("<li></li>").attr("data-theme", "a").attr("data-icon", "arrow-l");
            $new_li.append(e);
            if ($(e).attr("id") == "choose_time_btn" && ! (MobileHelper.address && MobileHelper.hotspot)) {
                $new_li.attr("data-theme", "e").attr("data-icon", "none");
            }

            $parent_ul.append($new_li);
        });

        try {
            $parent_ul.listview("refresh");
        } catch (e) {
            log("listview refresh failed");
            $parent_ul.listview();
        }

    }

    function bookRide(is_private) {
        var $form = $("#order_form");

        var hidden_inputs = {
            is_private: is_private,
            time_type: MobileHelper.hotspot_type,
            ride_duration: $("#ride-time").data("ride_duration"),
            hotspot_id: MobileHelper.hotspot.id,
            hotspot_type: MobileHelper.hotspot_type,
            hotspot_time: $("#ride-time").val(),
            hotspot_date: $("#ride-date").val(),
            id_city: $("#id_city").val(),
            street_address: MobileHelper.address.street_address,
            house_number: MobileHelper.address.house_number,
            lat: MobileHelper.address.lat,
            lon: MobileHelper.address.lon
        };

        $.each(hidden_inputs, function(k, v) {
            $form.find("input[name='" + k + "']").remove();
            $form.append($('<input type="hidden"/>').attr("name", k).attr("value", v));
        });

        $form.ajaxSubmit({
            url: "{% url sharing.passenger_controller.book_ride %}",
            type: "POST",
            beforeSend: function() {
                $(".order_button").disable();
            },
            success: function(response) {
                if (response.status && response.status == "booked" && response.redirect) {
                    window.location.href = response.redirect;
                }
                else {
                    //TODO_WB: redirect to error page
                    var message = "{% trans "We have encountered an error. Please try again." %}";
                    if (response.message) {
                        message = response.message;
                    }
                    showError(message);
                    $(".order_button").enable();
                }
            },
            error: function() {
                // TODO_WB: show error message/redirect to error page
                $(".order_button").enable();
            }
        });
    }

    $(function() {
        $(document).ajaxSend(function() {
            $.mobile.showPageLoadingMsg();
        });
        $(document).ajaxComplete(function() {
            $.mobile.hidePageLoadingMsg();
        });
//        $.mobile.changePage("#home", { transition: "none"});

        MobileHelper.init({
            urls:{
                resolve_coordinates: "{% url ordering.passenger_controller.resolve_coordinates %}",
                get_myrides_data: "{% url sharing.passenger_controller.get_myrides_data %}",
                cancel_order: "{% url sharing.passenger_controller.cancel_order %}",
                get_order_status: "{% url sharing.passenger_controller.get_order_status %}"
            },
            callbacks:{
                locationSuccess: function (position) {
                    MobileHelper.resolveLonLat(position.coords.longitude, position.coords.latitude, {onNewAddress: selectAddress});
                },
                locationError: function() {
                    $("#choose_address_btn").find(".header").text("{% trans 'Could not find your current location' %}");
                    MobileHelper.address = undefined;
                }
            }
        });

        HotspotHelper.init({
            labels: {
                choose_date: "{% trans "Choose Date" %}",
                updating: "{% trans "Updating..." %}"
            },
            urls: {
                get_hotspot_data: "{% url sharing.passenger_controller.get_hotspots_data %}",
                get_hotspot_dates: "{% url sharing.passenger_controller.get_hotspot_dates %}",
                get_hotspot_times: "{% url sharing.passenger_controller.get_hotspot_times %}"
            }
        });

        AddressHelper.init({
            urls:{
                structured_resolve_url: "{% url sharing.passenger_controller.resolve_structured_address %}"
            }
        });

        HotspotHelper.getHotspotData({
            data: {numdays: 7},
            beforeSend: function() {
            },
            success: function(response) {
                var $hotspot_list = $("#hotspot_list");
                var hs_by_city_name = {};
                $.each(response.data, function(i, hotspot) {
                    hotspots.push(hotspot);
                    if (hs_by_city_name[hotspot.city_name]) {
                        hs_by_city_name[hotspot.city_name].push(hotspot);
                    }
                    else {
                        hs_by_city_name[hotspot.city_name] = [hotspot];
                    }
                });
                $.each(hs_by_city_name, function(city_name, hotspots) {
                    $hotspot_list.append('<li data-role="list-divider">' + city_name + '</li>');
                    $.each(hotspots, function(i, hotspot) {
                        var $a = $('<a href="#"><h1>' + hotspot.name + '</h1><p>' + hotspot.address + '</p></a>');
                        var $li = $('<li data-icon="arrow-l"></li>').prepend($a);
                        $a.click(function() {
//                            $.mobile.changePage("#booking_page");
                            selectHotspot(hotspot);
                        });
                        $hotspot_list.append($li);
                    });
                });

                var $suggest_li = $("<li data-icon='arrow-l'></li>").addClass("suggest_hotspot");
                var $suggest_link = $("<a><h1>"+"{% trans 'Suggest a new hotspot' %}"+"</h1></a>").attr("href", "mailto:support@waybetter.com?subject=My suggested hotspot");
                $suggest_li.append($suggest_link);
                $hotspot_list.append($suggest_li);

                MobileHelper.getCurrentLocation({
                    locationSuccess: function(p) {
                        $.each(hotspots, function(i, hs) {
                            if (MobileHelper.distance(p.coords.latitude, p.coords.longitude, hs.lat, hs.lon) <= 0.4) {
                                console.log("IN HOTSPOT");
                                console.log(hs);
                                selectHotspot(hs);
                                resetAddress();
                                switchOrderingDirection("pickup");
                                return false; //break
                            } else {
                                MobileHelper.resolveLonLat(p.coords.longitude, p.coords.latitude, {onNewAddress: selectAddress});
                            }
                        });
                    }
                });

            }
        });

        // home
        $("#home_book_order_btn").click(function() {
            $.mobile.changePage("#booking_page");
        });

        // booking page
        $("#switch_direction_btn").click(function() {
            switchOrderingDirection()
        });
        
        $("#choose_time_btn").live("click", function() {
            if (MobileHelper.address && MobileHelper.hotspot) {
                $.mobile.changePage("#interval_page");
            }
        });

        $("#calculate_ride_btn").button().button("disable");
        $("#calculate_ride_btn").click(function() {
            getRideDetails();
        });

        // choose ride page
        $(".order_button").disable();
        $("#book_sharing").click(function() {
            bookRide(false);
        });

        $("#book_private").click(function() {
            bookRide(true);
        });

        // address page
        $("#gps").click(function() {
            MobileHelper.getCurrentLocation();
        });
        $("#address-form").submit(function() {
            var that = this;
            var $sa_input = $("#id_street"),
                    $hn_input = $("#id_house_number");

            AddressHelper.resolveStructured({
                city_selector       : "#id_city",
                street_input        : $sa_input,
                hn_input            : $hn_input,
                return_multiple     : true,
                callbacks           :{
                    beforeSend: function() {
                        $("#hn_error, #street_error").text("");
                    },
                    resolved:function(results) {
                        if (results.length > 1) {
                            var $addresss_list = $("#address_list");
                            $addresss_list.empty();

                            $.each(results, function (i, result) {
                                var $a = $("<a href='#'>" + result.name + "</a>");
                                $a.click(function() {
                                    $.mobile.changePage("#booking_page");
                                    selectAddress(result);
                                });
                                $addresss_list.append($a);
                                $a.wrap("<li/>")
                            });
                            $.mobile.changePage("#address_list_page");
                            $addresss_list.listview("refresh");

                        } else {
                            $.mobile.changePage("#booking_page");
                            selectAddress(results[0]);
                        }
                    },
                    unresolved:function(errors) {
                        if (errors.house_number) {
                            $("#hn_error").text(errors.house_number);
                        }
                        else if (errors.street) {
                            $("#street_error").text(errors.street);
                        }
                        else {
                            showError("{% trans 'Could not resolve address' %}");
                        }
                    }
                }
            });
            return false;
        });

        // intervals page
        $("#ride-date").change(function() {
            getIntervals(false);
        });

        $("#interval_page").bind("pagebeforeshow", function(e, data) {
            // TODO_WB: remove jqmData usage from here
            $("#ride-date").val($("#ride-date").jqmData("saved_val")).selectmenu("refresh");
            $("#ride-time").val($("#ride-time").jqmData("saved_val")).selectmenu("refresh");
        });

        // update booking_page button
        $("#select-interval-form").submit(function() {

            MobileHelper.ride_date = $("#ride-date").val();
            MobileHelper.ride_time = $("#ride-time").val();

            if (MobileHelper.ride_date && MobileHelper.ride_time) {
                $("#ride-date").jqmData("saved_val", MobileHelper.ride_date);
                $("#ride-time").jqmData("saved_val", MobileHelper.ride_time);
                $("#choose_time_btn").find(".desc").text(MobileHelper.ride_date + " " + MobileHelper.ride_time);
                $("#calculate_ride_btn").button("enable");
            } else {
                $("#calculate_ride_btn").button("disable");
            }

            return false;
        });
        $("#select-interval-form button").click(function() {
            $("#select-interval-form").submit();
            $.mobile.changePage("#booking_page");
            return false;
        });

        // share page
        $("#share_fb").click(function() {
            window.shareByFB();
        });
        $("#share_email").click(function() {
            window.shareByEmail();
        });


        // ride details page
        $("#ride_details_page").live("pagebeforeshow", function() {
            $("#ride_details_page .address p").text(MobileHelper.address.name);
            $("#ride_details_page .hotspot p").text(MobileHelper.hotspot.name);
            $("#ride_details_page .when p").text(MobileHelper.ride_date + " " + MobileHelper.ride_time);
            if (MobileHelper.hotspot_type == "pickup") {
                $("#ride_details_page .when .details_label_type").text(pickup_time_msg);
            } else {
                $("#ride_details_page .when .details_label_type").text(dropoff_time_msg);
            }
        });

    });
    </script>

{% endblock doc_ready %}

{% block body %}

    <div id="home" data-role="page" data-theme="a">
        <div data-role="header">
            <h1></h1>
        </div>
        <div data-role="content">
            <div class="ui-grid-a"> {#  2-column grid #}
                <div class="ui-block-a">
                    <a href="#" id="home_book_order_btn" data-role="button" data-theme="g" data-iconpos="top"
                       data-icon="wb_custom">
                        {% trans 'Order Now' %}
                    </a>
                </div>
                <div class="ui-block-b">
                    <a href="{% if user.is_authenticated %}{% url my_rides %}{% else %}{% url mobile_auth_login %}{% endif %}"
                       id="myrides_btn" data-role="button" data-theme="g" data-iconpos="top" data-icon="wb_custom">
                        {% trans 'My Rides' %}
                    </a>
                </div>
            </div>
            <div class="ui-grid-a">
                <div class="ui-block-a">
                    <a href="#share_page" id="share_btn" data-role="button" data-theme="g" data-iconpos="top"
                       data-icon="wb_custom">{% trans 'Share' %}</a>
                </div>
                <div class="ui-block-b">
                    <a href="#settings_page" id="settings_btn" data-role="button" data-theme="g" data-iconpos="top"
                       data-icon="wb_custom">{% trans 'More' %}</a>
                </div>
            </div>
            <div class="ui-grid-b"> {#  3-column grid #}
                <div class="ui-block-a"></div>
                <div class="ui-block-b">
                    <a href="mailto:support@waybetter.com" id="feedback_btn" data-role="button" data-theme="g"
                       data-iconpos="top" data-icon="wb_custom">{% trans 'Feedback' %}</a>
                </div>
                <div class="ui-block-c"></div>
            </div>

        </div>
    </div>

    <div id="booking_page" data-role="page" data-theme="a">
        <div data-role="header">
            <a href="#home" data-icon="wb_custom" data-theme="b" data-iconpos="notext" data-transition="pop"
               class="ui-btn-right"></a>

            <h1>{% trans 'Your WAY' %}</h1>
            {#            <a href="#">{% trans 'Map' %}</a>#}
        </div>
        <div data-role="content">
            <div class="booking_label from_label">
                <span class="label_box">{% trans "From" %}</span>
                <span class="type">{% trans "Address" %}</span>
            </div>

            <div class="booking_widget">
                <ul data-role="listview" class="rtl-listview narrow" data-inset="true">
                    <li data-icon="arrow-l">
                        <a href="#address_page" id="choose_address_btn">
                            <h1 class="header">{% trans "Enter Address" %}</h1>
                        </a>
                    </li>
                </ul>
            </div>

            <div id="switch_direction_container">
                <button type="button" id="switch_direction_btn" data-role="button" data-icon="wb-switchdir"
                        data-theme="f">{% trans "Switch Ride Direction" %}</button>
            </div>

            <div class="booking_label to_label">
                <span class="label_box">{% trans "To" %}</span>
                <span class="type">{% trans "Central Location" %}</span>
            </div>

            <div class="booking_widget">
                <ul data-role="listview" class="rtl-listview narrow" data-inset="true">
                    <li data-icon="arrow-l">
                        <a href="#hotspot_page" id="choose_hotspot_btn">
                            <h1 class="header">{% trans "Choose Hotspot" %}</h1>

                            <p class="desc"></p>
                        </a>
                    </li>
                    <li data-icon="none" data-theme="e">
                        <a href="#" id="choose_time_btn">
                            <h1 class="header">{% trans "Choose Dropoff Time" %}</h1>
                            <p class="desc"></p>
                        </a>
                    </li>
                </ul>
            </div>
            <hr/>
            <button type="button" id="calculate_ride_btn" data-theme="d">{% trans "Calculate Ride" %}</button>
        </div>
    </div>


    <div id="choose_ride_page" data-role="page" data-theme="a">
        <div data-role="header">
            <a href="#" data-rel="back" class="ui-btn-right" data-theme="h">{% trans "Back" %}</a>

            <h1>{% trans 'Your WAY' %}</h1>
            {#            <a href="#">{% trans 'Map' %}</a>#}
        </div>
        <div data-role="content">
            <a href="#ride_details_page" data-role="button" data-theme="g" data-icon="info" data-transition="flip">{% trans 'View Ride Details' %}</a>
            <form id="order_form" method="post">
                {% csrf_token %}
                <div class="ride_summary">
                    <div class="ride_discount">
                        
                    </div>
                    <h3>{% trans "Shared Taxi Ride" %}</h3>

                    <div>
                        <p id="sharing_price">{% trans "Ride Price" %}: <span class="value">0</span> ₪</p>

                        <p id="sharing_time">{% trans "Est. Ride Duration" %}: <span
                                class="value">0</span> {% trans "min" %}</p>
                    </div>
                    <button id="book_sharing" data-theme="d">{% trans 'Book Shared' %}</button>

                    <hr/>
                    <h3>{% trans "Private Taxi Ride" %}</h3>

                    <div>
                        <p id="private_price">{% trans "Ride Price" %}: <span class="value">0</span> ₪</p>

                        <p id="private_time">{% trans "Est. Ride Duration" %}: <span
                                class="value">0</span> {% trans "min" %}</p>
                    </div>
                    <button id="book_private" data-theme="c">{% trans 'Book Private' %}</button>

                </div>
            </form>
        </div>
    </div>

    <div id="ride_details_page" data-role="page">
        <div data-role="header">
            <a href="#" data-rel="back" data-theme="h" class="ui-btn-right">{% trans "Back" %}</a>
            <h1>{% trans 'Ride Details' %}</h1>
            <a href="#booking_page" data-theme="h" class="ui-btn-left">{% trans "Edit" %}</a>
        </div>
        <div data-role="content">
            <a href="#" data-rel="back" data-role="button" data-theme="g" data-icon="back">{% trans 'Back To Ride Order' %}</a>

            <div class="ride_summary">
                <div class="pickup">
                    <div class="address">
                        <span class="details_label">{% trans "Pickup" %}</span>
                        <span class="details_label_type">
                            {% trans 'Address' %}
                        </span>

                        <p>bla bla </p>
                    </div>
                </div>
                <hr/>
                <div class="dropoff">
                    <div class="hotspot">
                        <span class="details_label">{% trans "Dropoff" %}</span>
                        <span class="details_label_type">
                            {% trans 'Hotspot' %}
                        </span>
                        <p>bla bla </p>
                    </div>
                    <hr/>
                    <div class="when">
                        <span class="details_label_type">

                        </span>
                        <p>bla bla </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="hotspot_page" data-role="page" data-theme="a">
        <div data-role="header">
            <a href="#" data-rel="back" class="ui-btn-right" data-theme="h">{% trans 'Cancel' %}</a>

            <h1>{% trans 'Choose Hotspot' %}</h1>
        </div>
        <div data-role="content">
            <ul id="hotspot_list" class="rtl-listview" data-role="listview" data-theme="a">
                <li data-theme="d" class="center">
                    {% trans 'Hotspots are areas where WAYbetter offers cheap taxis' %}
                </li>
            </ul>
        </div>
    </div>

    <div id="address_page" data-role="page" data-theme="a">
        <div data-role="header">
            <a href="#" data-rel="back" data-theme="h" class="ui-btn-right">{% trans 'Cancel' %}</a>

            <h1>{% trans 'Enter Address' %}</h1>
            <a id="gps" data-theme="h" class="ui-btn-left">{% trans 'GPS' %}</a>

        </div>
        <div data-role="content">
            <form action="" id="address-form">
                <div data-role="fieldcontain">
                    <select id="id_city" name="id_city">
                        {% for city in cities %}
                            <option value="{{ city.id }}">{{ city.name }}</option>
                        {% endfor %}
                    </select>
                    <input type="text" name="street" id="id_street" placeholder="{% trans 'Street' %}"/>
                    <span id="street_error" class="err_msg"></span>
                    <input type="tel" name="house_number" id="id_house_number" placeholder="{% trans 'House #' %}"/>
                    <span id="hn_error" class="err_msg"></span>
                </div>
                <button data-theme="b">{% trans 'Next' %}</button>
            </form>
        </div>
    </div>

    <div id="address_list_page" data-role="page" data-theme="a">
        <div data-role="header">
            <a href="#" data-rel="back">{% trans 'Back' %}</a>

            <h1>{% trans 'Select Address' %}</h1>
        </div>
        <div data-role="content">
            <ul data-role="listview" id="address_list" data-theme="a"></ul>
        </div>
    </div>

    <div id="interval_page" data-role="page" data-theme="a">
        <div data-role="header">
            <a href="#" data-rel="back" class="ui-btn-right" data-theme="h">{% trans 'Cancel' %}</a>

            <h1>{% trans 'Pickup Time' %}</h1>
        </div>

        <div data-role="content">
            <form action="" id="select-interval-form">
                <label for="ride-date">{% trans "Choose day" %}</label>
                <select name="ride-date" id="ride-date" data-theme="a"></select>
                <label for="ride-time">{% trans "Choose time" %}</label>
                <select name="ride-time" id="ride-time" data-theme="a"></select>
                <button data-theme="b">{% trans 'Next' %}</button>
            </form>
        </div>
    </div>

    <div id="share_page" data-role="page" data-theme="a">
        <div data-role="header">
            <a href="#home" data-icon="wb_custom" data-theme="b" data-iconpos="notext" data-transition="pop"
               class="ui-btn-right"></a>

            <h1>{% trans "Feedback" %}</h1>
        </div>
        <div data-role="content">
            <ul class="rtl-listview" data-role="listview">
                <li data-icon="arrow-l"><a id="share_fb" href="#">{% trans "Share on Facebook" %}</a></li>
                <li data-icon="arrow-l"><a id="share_email" href="#">{% trans "Tell a Friend (email)" %}</a></li>
            </ul>
        </div>
    </div>

    <div id="settings_page" data-role="page" data-theme="a">
        <div data-role="header">
            <a href="#home" data-icon="wb_custom" data-theme="b" data-iconpos="notext" data-transition="pop"
               class="ui-btn-right"></a>
            <h1>{% trans "More" %}</h1>
        </div>
        <div data-role="content">
            <ul class="rtl-listview" data-role="listview">
                <li data-icon="arrow-l"><a href="#about_page">{% trans "About" %}</a></li>
                <li data-icon="arrow-l"><a href="{% url faq %}">{% trans "FAQ" %}</a></li>
                <li data-icon="arrow-l"><a href="{% url privacy %}">{% trans "Privacy Policy" %}</a></li>
                <li data-icon="arrow-l"><a href="{% url terms %}">{% trans "Terms of Use" %}</a></li>
            </ul>
        </div>
    </div>

    <div id="about_page" data-role="page" data-theme="a">
        <div data-role="header">
            <a href="#" data-rel="back" data-theme="h" class="ui-btn-right">{% trans 'Back' %}</a>
            <h1>{% trans "About" %}</h1>
        </div>
        <div data-role="content">
            <fieldset class="ui-grid-a">
                <div class="about_icon ui-block-a">

                </div>
                <div class="about_header ui-block-b">
                    <h1>Shared Taxi</h1>
                    <p>{% trans "Version" %} 1.0</p>
                </div>
            </fieldset>
            <p>{% trans "All rights reserved to WAYbetter" %} &copy;2011</p>
            <div class="telmap_logo"></div>
            <div class="mapa_logo"></div>
        </div>
    </div>


{% endblock body %}
