{% extends "mobile/wb_home.html" %}
{% load i18n %}
{% load custom_tags %}

{% block jquery %}
    <script src="http://localhost:8080/target/target-script-min.js#anonymous"></script>
    {# TODO_WB: <-- remove this, used for debug #}

    <script src="/static/js/libs/jquery-1.6.4.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="phonegap-1.2.0.js"></script>
    <script type="text/javascript" charset="utf-8" src="ChildBrowser.js"></script>
    <script type="text/javascript">
        var url_handlers = {
            "/faq/":function () {
                closeOnNavigate.apply(arguments)
            },
            "/privacy/":function () {
                closeOnNavigate.apply(arguments)
            },
            "/terms/":function () {
                closeOnNavigate.apply(arguments)
            },
            "/accounts/mobile_login/":function (key, current_url) {
                console.log("url handler callback: " + current_url);
                closeOnNavigate(key, current_url);
                PhoneGapHelper.isUserAuthenticated(
                        function (username) {
                            if ($.mobile.activePage.attr("id") == "welcome_page") {
                                $.mobile.changePage("#home");
                            }
                        }
                        , undefined)
            }
        },
        current_cb_url = undefined,
        cb = undefined,
        cb_is_open = false,
        welcome_screen_shown = false;

        // If you want to prevent dragging, uncomment this section
        /*
         function preventBehavior(e)
         {
         e.preventDefault();
         };
         document.addEventListener("touchmove", preventBehavior, false);
         */

        function onBodyLoad() {
            document.addEventListener("deviceready", onDeviceReady, false);
        }


        /* When this function is called, PhoneGap has been initialized and is ready to roll */
        /* If you are supporting your own protocol, the var invokeString will contain any arguments to the app launch.
         see http://iphonedevelopertips.com/cocoa/launching-your-own-application-via-a-custom-url-scheme.html
         for more details -jm */
        function onDeviceReady() {
            cb = ChildBrowser.install();
            cb.beforeLocationChange = cbLocationChange;
            cb.onClose = function() {
                cb_is_open = false;
            };
//            init();
        }
        function cbOpen(url) {
            current_cb_url = url;
            if (! cb_is_open) { // prevent double opening of cb
                cb_is_open = true;
                cb.showWebPage(url);
            }
        }

        function cbClose() {
            cb.close();
            cb_is_open = false;
        }

        function cbLocationChange(new_location) {
            console.log("new_location: " + new_location);
            console.log("current_cb_url: " + current_cb_url);
            console.log("url_handlers: " + JSON.stringify(url_handlers));

            var keys = $.map(url_handlers, function (v, k) {
                return k
            });
            $.each(keys, function (i, e) {
                if (current_cb_url.endsWith(e)) {
                    var callback = url_handlers[e];
                    if ($.isFunction(callback)) {
                        callback(e, new_location); // call callback
                    }
                    return false;
                }
            });

//        console.log("url_settings: " + JSON.stringify(url_settings));
//        if ((! url_settings ) || new_location == current_cb_url) {
//            return; // do nothing.. this is the correct page
//        }

//        console.log("after if");
//        $.each(url_settings.urls, function(i, url) {
//            console.log("url = " + url);
//            if (url == "*" || new_location.endsWith(url)) {
//                current_cb_url = undefined;
//                cb.close();
//                if (urls_settings.callback) {
//                   window[url_settings.callback]();
//                }
//                return false;
//            }
//        });
        }
    </script>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="/static/js/pg_helpers.js"></script>
{% endblock %}

{% block welcome_page %}{% endblock %}

{% block settings_list %}{% endblock settings_list %}


{% block myrides_btn %}
    <a id="myrides_btn" href="#" id="myrides_btn" data-role="button" data-iconpos="top" data-icon="wb_custom">
        {% trans 'My Rides' %}
    </a>
{% endblock myrides_btn %}

{% block doc_ready %}
    {{ block.super }}
    <script defer="defer">

        function PG_init() {
            PhoneGapHelper.init({
                urls:{
                    is_user_authenticated:"{% absurl is_user_authenticated %}"
                }
            });

            $("#home").bind("pagebeforeshow", function () {
                updateAuthStatus();
            });

            $("#myrides_btn").click(function () {
                PhoneGapHelper.isUserAuthenticated(
                        function (username) {
                            $.mobile.changePage("#myrides_page");
                        },
                        function () {
                            cbOpen("{% absurl mobile_auth_login %}");
                        }
                );
            });

            // setting page
            $("#settings_page").bind("pagebeforeshow", function () {
                updateSettingsWithAuthStatus()
            });

            $("#login_link").live("click", function () {
                cbOpen("{% absurl mobile_auth_login %}");
            });

            $("#logout_link").live("click", function () {
                $.ajax({
                    url:"{% absurl auth_logout %}",
                    error:function (e) {
                        alert("{% trans "Error while logging out" %}");
                    },
                    success:function () {
                        updateSettingsWithAuthStatus();
                    }
                });
            });
        }

        function closeOnNavigate(key, current_url) {
            if (!current_url.endsWith(key)) {
                cbClose();
            }
        }

        function updateAuthStatus() {
            PhoneGapHelper.isUserAuthenticated(
                    function (username) {
                    },
                    function () {
                        if (!welcome_screen_shown) {
                            welcome_screen_shown = true;
                            $.mobile.changePage("#welcome_page");
                        }
                    }
            )
        }

        function updateSettingsWithAuthStatus() {
            var $settings_list = $("#auth_list");
            var $li = undefined;
            PhoneGapHelper.isUserAuthenticated(
                    function (username) {
                        if ($settings_list.find("#logout_item").length == 0) {
                            $li = $('<li id="logout_item" data-icon="arrow-l"><a id="logout_link" data-ajax="false" href="#">{% trans "Logout" %} (' + username + ')</a></li>');
                        }
                        if ($settings_list.find("#login_item").length) {
                            $("#login_item").remove();
                        }
                    },
                    function () {
                        if ($settings_list.find("#login_item").length == 0) {
                            $li = $('<li id="login_item" data-icon="arrow-l"><a id="login_link" data-ajax="false" href="#">{% trans "Login" %}</a></li>');
                        }
                        if ($settings_list.find("#logout_item").length) {
                            $("#logout_item").remove();
                        }
                    }, false // makes this call synchronous
            );
            if ($li) {
                $settings_list.append($li);
                $settings_list.listview("refresh");
            }
        }

        function bookRide(is_private) {
            var $form = $("<form></form>");

            var hidden_inputs = {
                is_private:is_private,
                time_type:MobileHelper.hotspot_type,
                ride_duration:$("#ride-time").data("ride_duration"),
                hotspot_id:MobileHelper.hotspot.id,
                hotspot_type:MobileHelper.hotspot_type,
                hotspot_time:$("#ride-time").val(),
                hotspot_date:$("#ride-date").val(),
                id_city:$("#id_city").val(),
                street_address:MobileHelper.address.street_address,
                house_number:MobileHelper.address.house_number,
                lat:MobileHelper.address.lat,
                lon:MobileHelper.address.lon
            };

            $.each(hidden_inputs, function (k, v) {
                $form.find("input[name='" + k + "']").remove();
                $form.append($('<input type="hidden"/>').attr("name", k).attr("value", v));
            });

            $.ajax({
                url:"{% absurl sharing.passenger_controller.book_ride %}",
                data:$form.serialize(),
                type:"POST",
                beforeSend:function () {
                    $(".order_button").disable();
                },
                success:function (response) {
                    if (response.status && response.status == "booked" && response.redirect) {
                        window.location.href = response.redirect;
                    }
                    else {
                        //TODO_WB: redirect to error page
                        var message = "{% trans "We have encountered an error. Please try again." %}";
                        if (response.message) {
                            message = response.message;
                        }
                        showError(message);
                        $(".order_button").enable();
                    }
                },
                error:function () {
                    // TODO_WB: show error message/redirect to error page
                    $(".order_button").enable();
                }
            });
        }


    </script>

{% endblock doc_ready %}

{% block init %}
    PG_init();
{% endblock init %}

