{% load i18n %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}"
      {% if LANGUAGE_BIDI %}class="rtl"{% endif %}>
{#<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl" class="rtl"{% endif %}>#}
<head>
    <title>WAYbetter</title>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1"/>

    {#    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.css" />#}
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b3/jquery.mobile-1.0b3.min.css"/>
    <link rel="stylesheet" href="/static/css/wb.mobile.css"/>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="/static/js/utils.js"></script>
    <script src="/static/js/helpers.js"></script>

    <!-- Because the mobileinit event is triggered immediately upon execution,
    you'll need to bind your event handler before jQuery Mobile is loaded -->
    <script>
        $(document).bind("mobileinit", function() {
            $.extend($.mobile, {
                loadingMessage: "{% trans 'Loading...' %}"
            });
            $.mobile.page.prototype.options.backBtnText = "{% trans 'Back' %}";
//            $.mobile.page.prototype.options.addBackBtn = true;
        });

        $("#hotspot_page").live("pagecreate", function(event) {
            console.log("init");
            HotspotHelper.init({
                labels: {
                    choose_date: "{% trans "Choose Date" %}",
                    updating: "{% trans "Updating..." %}"
                },
                urls: {
                    get_hotspot_data: "{% url sharing.passenger_controller.get_hotspots_data %}",
                    get_hotspot_dates: "{% url sharing.passenger_controller.get_hotspot_dates %}",
                    get_hotspot_times: "{% url sharing.passenger_controller.get_hotspot_times %}"
                }
            });

            HotspotHelper.getHotspotData({
                beforeSend: function() {
                },
                success: function(response) {
                    var $hotspot_list = $("#hotspot_list");
                    var hs_by_city_name = {};
                    $.each(response.data, function(i, hotspot) {
                        if (hs_by_city_name[hotspot.city_name]) {
                            hs_by_city_name[hotspot.city_name].push(hotspot);
                        }
                        else {
                            hs_by_city_name[hotspot.city_name] = [hotspot];
                        }
                    });
                    $.each(hs_by_city_name, function(city_name, hotspots) {
                        $hotspot_list.append('<li data-role="list-divider">' + city_name + '</li>');
                        $.each(hotspots, function(i, hotspot) {
                            $hotspot_list.append('<li><h1>' + hotspot.name + '</h1><p>' + hotspot.address + '</p></li>')
                        })
                    });
                    $hotspot_list.listview("refresh");
                }
            });
        });

    </script>
    {#    <script src="http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.js"></script>#}
    <script src="http://code.jquery.com/mobile/1.0b3/jquery.mobile-1.0b3.min.js"></script>


    <script defer="defer">

        $(document).ready(function() {
            AddressHelper.init({
                urls:{
                    structured_resolve_url: "{% url sharing.passenger_controller.resolve_structured_address %}"
                }
            });

            $(window).bind("pagebeforechange", function(event, data) {
                if (data.toPage == "#booking_page"){
                    // do something
                }
            });

            $("#book_ride").click(function() {
                $.mobile.changePage("#booking_page");
            });

            $("#address-form").submit(function() {
                var that = this;
                var $sa_input = $("#id_street"),
                        $hn_input = $("#id_house_number");

                AddressHelper.resolveStructured({
                    city_selector       : "#id_city",
                    street_input        : $sa_input,
                    hn_input            : $hn_input,
                    return_multiple     : true,
                    callbacks           :{
                        beforeSend:function() {
                            $.mobile.showPageLoadingMsg();
                        },
                        complete:function() {
                            $.mobile.hidePageLoadingMsg();
                        },
                        resolved:function(results) {
                            if (results.length > 1) {
                                var $addresss_list = $("#address_list");
                                $addresss_list.empty();

                                $.each(results, function (i, result) {
                                    var $li = $("<li>" + result.name + "</li>");
                                    $li.click(function() {
                                        MobileHelper.pickup_address = result;
                                        $("#pickup_name").text(MobileHelper.pickup_address.name);
                                        $.mobile.changePage("#booking_page");
                                    });
                                    $addresss_list.append($li);
                                });
                                $.mobile.changePage("#select_address_page");
                                $addresss_list.listview("refresh");

                            } else {
                                MobileHelper.pickup_address = results[0];
                                $("#pickup_name").text(MobileHelper.pickup_address.name);
                                $.mobile.changePage("#booking_page")
                            }
                        },
                        unresolved:function(errors) {
                            alert("{% trans 'Could not resolve address' %}");
                        }
                    }
                });
                return false;
            });
        });
    </script>
</head>

<body>
{# HOME PAGE #}
<div id="home" data-role="page" data-fullscreen="true">
    <div data-role="header">
        <h1>WAYbetter</h1>
    </div>
    <div data-role="content">
        <div class="ui-grid-a"> {#  2-column grid #}
            <div id="book_ride" class="ui-block-a">
                <button data-iconpos="top" data-icon="check">
                    {% trans 'Order a Ride' %}
                </button>
            </div>
            <div class="ui-block-b">
                <button data-iconpos="top" data-icon="check">
                    {% trans 'My Account' %}
                </button>
            </div>
            <div class="ui-block-a">
                <button data-iconpos="top" data-icon="check">
                    {% trans 'Feedback' %}
                </button>
            </div>
            <div class="ui-block-b">
                <button data-iconpos="top" data-icon="check">
                    {% trans 'More' %}
                </button>
            </div>
        </div>
        <div class="ui-grid-b"> {# 3-column grid #}
            <div class="ui-block-a"></div>
            <div class="ui-block-b">
                <button data-iconpos="top" data-icon="check">
                    {% trans 'Invite' %}
                </button>
            </div>
            <div class="ui-block-c"></div>
        </div>
    </div>
</div>

<div id="booking_page" data-role="page" data-fullscreen="true">
    <div data-role="header" data-theme="b">
        <a href="#" data-icon="grid" data-rel="back" data-iconpos="notext"></a>

        <h1>{% trans 'Your WAY' %}</h1>
        <a href="#">{% trans 'Map' %}</a>
    </div>
    <div data-role="content">
        <ul data-role="listview" data-inset="true">
            <li>
                <a href="#address_page">
                    <h1>{% trans "From" %}</h1>
                    <p id="pickup_name">{% trans "Finding your location" %}</p>
                </a>
            </li>
            <li>
                <a href="#hotspot_page">
                    <h1>{% trans "To" %}</h1>
                    <p>Ramat Hachail</p>
                    <p>Habarzel 1, Tel Aviv Yafo</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <h1>{% trans "When" %}</h1>
                    <p></p>
                </a>
            </li>
        </ul>
        <ul data-role="listview" data-inset="true" data-theme="b">
            <li>
                <h3>{% trans "WAYbetter Taxi Ride" %}</h3>
                <div class="ui-li-aside">
                    <p>Ride price: 0 NIS</p>
                    <p>Estimated time: 0 min</p>
                </div>

            </li>
            <li>
                <h3>{% trans "Private Taxi Ride" %}</h3>
                <div class="ui-li-aside">
                    <p>Ride price: 0 NIS</p>
                    <p>Estimated time: 0 min</p>
                </div>
            </li>
        </ul>
    </div>
</div>

<div id="hotspot_page" data-role="page" data-fullscreen="true">
    <div data-role="header" data-theme="b">
        <a href="#" data-rel="back">{% trans 'Cancel' %}</a>

        <h1>{% trans 'Select HotSpot' %}</h1>
    </div>
    <div data-role="content">
        <ul id="hotspot_list" data-role="listview">
            <li data-theme="c">
                {% trans 'Hotspots are areas where WAYbetter offers cheap taxis' %}
            </li>
        </ul>
    </div>
</div>

<div id="address_page" data-role="page" data-fullscreen="true">
    <div data-role="header" data-theme="b">
        <a href="#" data-rel="back">{% trans 'Cancel' %}</a>

        <h1>{% trans 'Enter Address' %}</h1>
        <a href="#">{% trans 'GPS' %}</a>

    </div>
    <div data-role="content">
        <form action="" id="address-form">
            <div data-role="fieldcontain">
                <select name="city" id="id_city">
                    <option value="">{% trans 'Choose City' %}</option>
                    <option value="485" selected="selected">{% trans 'Tel Aviv' %}</option>
                </select>
                <input type="text" name="street" id="id_street" placeholder="{% trans 'Street' %}"/>
                <input type="tel" name="house_number" id="id_house_number" placeholder="{% trans 'House #' %}"/>
            </div>
            <button>{% trans 'Next' %}</button>
        </form>
    </div>
</div>

<div id="select_address_page" data-role="page" data-fullscreen="true">
    <div data-role="header" data-theme="b">
        <a href="#" data-rel="back">{% trans 'Back' %}</a>

        <h1>{% trans 'Select Address' %}</h1>
    </div>
    <div data-role="content">
        <ul data-role="listview" id="address_list"></ul>
    </div>
</div>

<div id="datetime_page" data-role="page" data-fullscreen="true">
    <div data-role="header" data-theme="b">
        <a href="#" data-icon="grid" data-rel="back" data-iconpos="notext"></a>

        <h1>{% trans 'Define Time' %}</h1>

        <div data-role="navbar" class="nav-big-icons">
            <ul>
                <li><a href="#" id="nav-departure" data-icon="custom" class="ui-btn-active">{% trans 'Departure' %}</a>
                </li>
                <li><a href="#" id="nav-arrival" data-icon="custom">{% trans 'Arrival' %}</a>
                </li>
            </ul>
        </div>
    </div>
    <div data-role="content">
        <form action="" id="define-time-form">
            <fieldset>
                <select name="ride-date" id="ride-date"></select>
                <select name="ride-time" id="ride-time"></select>
                <button>{% trans 'Next' %}</button>
            </fieldset>
        </form>
    </div>
</div>

<script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-18077675-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
</script>
</body>

</html>
