{% extends "wb_base_mobile.html" %}
{% load i18n %}
{% load value_from_settings %}
{% block extrastyle %}
    {{ block.super }}
    <style>
        .err_msg {
            color: red;
        }
        #error_dialog {
            display: block;
            position: absolute;
            right: 50%;
            margin-right: -135px;
            top: 200px;
            width: 250px;
            background: -webkit-linear-gradient(top, #C47E7E 0%, #AE4E4E 100%);
            border: 1px  white solid;
            -webkit-box-shadow: 0px 0px 7px 0px rgba(30, 30, 30, 1);
            color: white;
            font-family: sans-serif;
            font-weight: normal;
            padding: 10px;
            text-shadow: none;
        }
        #error_dialog .header {
            font-weight: bold;
            margin-bottom: 5px;
            text-align: center;
        }

        #select_hotspot_help {
            background-position: 0 -117px;
        }
        #select_hotspot_help:active {
            background-position: 0 -148px;
        }

        #gac {
            display: inline-block;
            width: 60%;
            padding-left: 30px;
            margin-left: 5px;
        }

        .upper_toolbar_container {
            height: 45px;
            border-bottom: 2px solid gray;
            box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.8);
            margin: -15px -15px 0 -15px;
            padding: 5px 15px 0 15px;
            position: relative;
            /*z-index: 100;*/
        }
        #select_hotspot_page .upper_toolbar_container .ui-select {
            display: inline-block;
            width: 80%;
        }
        #select_time_page .upper_toolbar_container {
            height: 90px;
            margin-bottom: 15px;
        }

        #clear_input {
            height           : 20px;
            width            : 20px;
            background-image : url(/static/images/mobile/clear_icon.gif);
            position         : relative;
            top              : 4px;
            margin-right     : -32px;
            margin-left      : 7px;
            display          : inline-block;
        }
        #clear_input:active {
            opacity: 0.5;
        }
        .map_container {
            width         : auto;
            margin        : 0 -15px;
            border-bottom : 1px solid gray  ;
            position      : relative;
        }
        #select_hotspot_page .map_container {
            height: 260px;
        }

        #address_input_page .map_container {
            height: 305px;
        }

        #map_canvas {
            width: 100%;
            height: 100%;
        }
        #map_canvas img {
            max-width: none;
        }

        #select_time_page .ui-link-inherit {
            padding-top: 1em;
            padding-bottom: 1em;
        }
        .popularity_container {
            float: right;
            text-align: center;
            font-size: 11px;
            font-weight: normal;
            color: #656565;
            margin-right: 40px;
            margin-top: 5px;
        }
        .popularity_meter_bg {
            width: 60px;
            height: 15px;
            background: #b1b1b1;
            box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.55);
            position: relative;
            padding: 0 2px;
        }
        .popularity_meter_fg {
            background: #196338; /* Old browsers */
            background: -moz-linear-gradient(top, #196338 0%, #2aa338 12%, #22843d 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#196338), color-stop(12%,#2aa338), color-stop(100%,#22843d)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, #196338 0%,#2aa338 12%,#22843d 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, #196338 0%,#2aa338 12%,#22843d 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, #196338 0%,#2aa338 12%,#22843d 100%); /* IE10+ */
            background: linear-gradient(top, #196338 0%,#2aa338 12%,#22843d 100%); /* W3C */

            position: absolute;
            left: 0;
            top: 2px;
            height: 12px;
        }

        .popularity_price {
            font-size: 13px;
            font-weight: bold;
        }

        #house_number_bubble {
            background-color: darkRed;
            border: 1px solid white;
            position: absolute;
            padding: 5px;
            z-index: 1000;
            color: white;
            border-radius: 5px;
            display: none;
        }
        #house_number_bubble:after {
            content: "";
            position: absolute;
            top: -10px;
            right: 10px;
            border-width: 0 10px 10px;
            border-style: solid;
            border-color: darkRed transparent;
            display: block;
            width: 0;
        }
        #center_target {
            position: absolute;
            width: 26px;
            height: 26px;
            background-image: url(/static/images/mobile/map_target.png);
            margin-top: -13px;
            margin-left: -13px;
            display: none;
            left: 50%;
            top: 50%;
            z-index: 1000;
        }
        #list_container {
            /*height: 300px;*/
            overflow-y: scroll;
            margin: -15px;
        }

        #list_container .ui-listview {
            margin: 0;
        }

        .booking_widget .direction {
            font-weight: bold;
        }
        .booking_widget .description {
            font-weight: normal;
        }
        .booking_widget .address {
            font-size: 1em;
            color: #969696;
            margin-top: 5px;
        }
        .booking_widget ul.ui-listview-inset {
            margin: 0.5em 0;
        }
        #price_quote {
            text-align  : center;
            font-weight : bold;
            font-size   : 1.3em;
            color       : #3d3d3c;
            margin-top  : -0.5em;
        }

        /* TODO_WB: these should always come from the server in case google change their markup */
        .pac-container {
            width      : 100% !important;
            left       : 0 !important;
            overflow-y : auto;
            height     : 6.9em;
            top        : 5.8em !important;
            z-index    : 1000;
            position   : absolute;
        }
        .pac-item {
            color: black;
            border-bottom: 1px solid gray;
            padding: 0.6em;
            font-family: sans-serif;
        }
        .address_controls {
            display: inline-block;
            height: 1em;
        }
        .toolbar-divider {
            width: 0;
            height: 22px;
            display: inline-block;
            border-left: 1px solid gray;
            /*margin: 0 3px 0 2px;*/
        }
        .address-control {
            display: inline-block;
            width: 22px;
            background-image: url(/static/images/mobile/history_gps.png);
            height: 22px;
            margin: 0 3px;
        }
        #gps_btn:active, #gps_btn.active {
            background-position: 0 -58px;
        }
        #history_btn {
            background-position: 0 -29px;
        }
        #history_btn:active, #history_btn.active {
            background-position: 0 -87px;
        }

     /*for HD devices (iPhone retina, etc.)*/
    @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
           only screen and (min--moz-device-pixel-ratio: 1.5),
           only screen and (min-resolution: 240dpi) {
        .address-control {
            background-image: url(/static/images/mobile/history_gps_retina.png);
            background-size: 22px;
        }

        #gps_btn:active, #gps_btn.active {
            background-position: 0 -64px;
        }

        #history_btn {
            background-position: 0 -31px;
        }

        #history_btn:active, #history_btn.active {
            background-position: 0 -95px;
        }
        #select_hotspot_help {
            background-position: 0 -130px;
        }
        #select_hotspot_help:active {
            background-position: 0 -162px;
        }

    }

    /*  JQM scroll hack */
        /**.ui-listview *.ui-btn-up-c,*/
        /**.ui-listview *.ui-btn-down-c,*/
        /**.ui-listview *.ui-btn-hover-c*/
          /*{*/
          /* Copy your .ui-btn-up styles here */
          /*}*/
        /**.ui-listview *.ui-btn-up-a,*/
        /**.ui-listview *.ui-btn-down-a,*/
        /**.ui-listview *.ui-btn-hover-a*/
          /*{*/
            /*border: 1px solid #bfbfbf;*/
            /*background: #eee;*/
            /*font-weight: bold;*/
            /*color: #424242;*/
            /*text-shadow: 0 1px 1px #f6f6f6;*/
            /*background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#ffffff));*/
            /*background-image: -webkit-linear-gradient(#FFFFFF, #ffffff);*/
            /*background-image: -moz-linear-gradient(#FFFFFF, #ffffff);*/
            /*background-image: -ms-linear-gradient(#FFFFFF, #ffffff);*/
            /*background-image: -o-linear-gradient(#FFFFFF, #ffffff);*/
            /*background-image: linear-gradient(#FFFFFF, #ffffff);*/
        /*}*/

        /*.ui-btn-up-a a.ui-link-inherit {*/
            /*color: #424242;*/
            /* Copy your .ui-btn-up styles here */
          /*}*/
        /**.ui-listview *.ui-btn-up-b,*/
        /**.ui-listview *.ui-btn-down-b,*/
        /**.ui-listview *.ui-btn-hover-b*/
          /*{*/
          /* Copy your .ui-btn-up styles here */
          /*}*/
    </style>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="/static/js/infobubble.js"></script>
    {{ block.super }}
    <script>
        (function placesAutoCompletePatch() {
            var input = document.getElementById("gac");

            // store the original binding function
            var _addEventListener = (input.addEventListener) ? input.addEventListener : input.attachEvent;

            function addEventWrapper() {
                var type = arguments[0];
                var listener = arguments[1];

                // if binding a keydown event, replace the passed listener with a wrapped listener
                if (type == "keydown") {
                    arguments[1] = function wrappedListener() {
                        var event = arguments[0];
                        var trigger_blur = false;
                        // when hitting 'return' trigger a 'down arrow' first
                        if (event.which == 13) {
                            arguments[0] = $.Event("keydown", {keyCode:40, which:40});
                            listener.apply(input, arguments);
                            trigger_blur = true;
                        }

                        // trigger the original event
                        arguments[0] = event;
                        listener.apply(input, arguments);

                        if (trigger_blur) {
                            $(input).blur();
                        }
                    };
                }

                // add the (wrapped) listener
                _addEventListener.apply(input, arguments);
            }

            if (input.addEventListener)
                input.addEventListener = addEventWrapper;
            else if (input.attachEvent)
                input.attachEvent = addEventWrapper;
        })();
    </script>
{% endblock %}

{% block doc_ready %}
{#    {{ block.super }}#}
    {% if DEV %}
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false&language=he"></script>
    {% else %}
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key={% value_from_settings GOOGLE_API_BROWSER_KEY %}?libraries=places&sensor=false&language=he"></script>
    {% endif %}

    <script defer="defer">
    //<![CDATA[
    var hotspots                = [];

    var choose_pickup_time_msg  = "{% trans 'Choose Pickup Time' %}";
    var choose_dropoff_time_msg = "{% trans 'Choose Dropoff Time' %}";
    var pickup_time_msg         = "{% trans 'Pickup Time' %}";
    var dropoff_time_msg        = "{% trans 'Dropoff Time' %}";
    var pickup_msg              = "{% trans 'Pickup' %}";
    var dropoff_msg             = "{% trans 'Dropoff' %}";
    var showing_history_select  = false;

    function showDialog(dialog_name) {
        alert(dialog_name);
    }

    function showNoServiceDialog(address) {
        showDialog("{% trans 'Currently we can not offer service in' %} " + address.name);
    }

    function showError(msg) {
        {% block show_error %}
        alert(msg);
        {% endblock show_error %}
    }
    function showNotification(msg, title) {
    {% block show_notification %}
        alert(msg);
    {% endblock show_notification %}
    }

    function showErrorDialog(error_msg, title) {
        var $err_dialog_div = $("#error_dialog");
        if ($err_dialog_div.length == 0) {
            $err_dialog_div = $('<div id="error_dialog"><div class="header"></div><div class="body"></div><a href="#" id="focus_link"></a></div>').appendTo("body").hide();
        }
        $err_dialog_div.find(".header").text(title);
        $err_dialog_div.find(".body").text(error_msg);

        $err_dialog_div.fadeIn('slow');

        $err_dialog_div.find("#focus_link").bind("blur", function() {
            $err_dialog_div.fadeOut('fast');
        }).focus();
    }

    function renderNumseats(){
        var text = undefined, label = undefined;
        if (MobileHelper.num_seats == 1) {
            text = "{% trans 'One seat' %}";
        } else {
            label = "{% trans 'Seats' %}";
            text = MobileHelper.num_seats + " " + label;
        }
        $("#numseats_btn h1").text(text);
    }

    // TODO_WB: check hotspot_type to decide where the updated text should go

    function resetHotspot() {
        MobileHelper.hotspot = undefined;
        $("#choose_hotspot_btn").find(".header").text("{% trans 'Choose Hotspot' %}");
        $("#choose_hotspot_btn").find(".desc").text("");
    }

    function showHotspot(hotspot) {
        var $date_sel = $("#select_date");
        addMarker({
            name : hotspot.address,
            lat  : hotspot.lat,
            lon  : hotspot.lon,
            type : "hotspot"
        }, true);

        $("#leave_hs_btn").set_button_text("לצאת מ" + hotspot.name).enable();
        $("#get_to_hs_btn").set_button_text("להגיע אל " + hotspot.name).enable();

        // set hotspot dates
        $date_sel.empty();
        $.each(hotspot.next_dates, function (i, date) {
            var d = getFullDate(new Date(date));
            var today = getFullDate(new Date());
            var $option = $('<option value="' + d + '">' + ((d == today) ? "{% trans "Today" %}" : d ) + '</option>');
            $date_sel.append($option);
        });
    }

    function selectHotspot(hotspot) {
        log("select hotspot");
        MobileHelper.hotspot = hotspot;
        MobileHelper.ride_date = undefined;
        MobileHelper.ride_time = undefined;
    }

    function resetSeats() {
        MobileHelper.num_seats = 1;
        renderNumseats();
    }

    function dismissHistoryList () {
        $("#history_list").hide();
        $("#history_btn").removeClass("active");
    }

    function toggleHistoryList() {
        var $address_input_page = $("#address_input_page");
        var list_height = window.screen.availHeight - $address_input_page.find(".upper_toolbar_container").height() - $(this).find(".ui-header").height();
        var $history_list = $("#history_list");
        if ($history_list.length == 0) {
            $history_list = $('<div class="pac-container" id="history_list"></div>').appendTo("body").hide();
        }
        $history_list.css({height: list_height + "px"});

        if ($history_list.is(":visible")) {
            dismissHistoryList()
        } else {
            $history_list.empty();
            $("#history_btn").addClass("active");
            var used_addresses = {};
            MobileHelper.getRideHistory(function(prev_rides) {
                var addresses = [];
                $.each(prev_rides, function(i, data) {
                    $.each(['from', 'to'], function(i, address_type) {
                        if (! (data[address_type] in used_addresses)) {
                            used_addresses[data[address_type]] = true;
                            addresses.push({
                                name : data[address_type],
                                lon  : data[address_type + "_lon"],
                                lat  : data[address_type + "_lat"]
                            });
                        }
                    });
                });

                $.each(addresses, function(i, address) {
                    var $item = $('<div class="pac-item"></div>').text(address.name).appendTo($history_list).jqmData("address", address);
                    $item.click(function() {
                        dismissHistoryList();
                        updateAddress($(this).jqmData("address"));
                    });
                });

                $history_list.show();
            });
        }
    }

    function bookRide(is_private) {
        var $form = $("<form></form>");

        var hidden_inputs = {
            city_name      : MobileHelper.address.city,
            hotspot_date   : MobileHelper.ride_date,
            hotspot_id     : MobileHelper.hotspot.id,
            hotspot_time   : MobileHelper.ride_time,
            hotspot_type   : MobileHelper.hotspot_type,
            house_number   : MobileHelper.address.house_number,
            is_private     : is_private,
            lat            : MobileHelper.address.lat,
            lon            : MobileHelper.address.lon,
            num_seats      : MobileHelper.num_seats,
            order_type     : MobileHelper.order_type,
            street_address : MobileHelper.address.street_address,
            time_type      : MobileHelper.hotspot_type
        };

        $.each(hidden_inputs, function(k, v) {
            $form.find("input[name='" + k + "']").remove();
            $form.append($('<input type="hidden"/>').attr("name", k).attr("value", v));
        });

        $.ajax({
            url: "{% url sharing.passenger_controller.book_ride %}",
            data: $form.serialize(),
            type: "POST",
            beforeSend: function() {
                $(".order_button").disable();
            },
            success: function(response) {
                {% block book_ride_success %}
                if (response.status && response.status == "booked" && response.redirect) {
                    if (! response.authenticated ) {
                        $.mobile.changePage("#login_or_register_page");
                    } else {
                        window.location.href = response.redirect;
                    }
                }
                else {
                    //TODO_WB: redirect to error page
                    var message = "{% trans 'We have encountered an error. Please try again.' %}";
                    if (response.message) {
                        message = response.message;
                    }
                    showError(message);
                    $(".order_button").enable();
                }
                {% endblock book_ride_success %}

            },
            error: function(err) {
                // TODO_WB: show error message/redirect to error page
                showError("{% trans 'We have encountered an error handling your order. Please try again'%}");
                $(".order_button").enable();
            }
        });
    }

    function clearAddressInput() {
        $("#gac").val("");
        $("#clear_input").hide();
        $("#house_number_bubble").hide();
        GoogleMapHelper.clearMarkers();
        $("#select_address_btn").disable();
    }

    function handleMissingHouseNumber(result) {
        if (result.address) {
            GoogleMapHelper.setCenter(result.address.lat, result.address.lon);
            var street_name = result.address.street_address;
            var $gac = $("#gac");
            var input_value = $gac.val();
            if (input_value.indexOf(street_name) > -1) {
                var house_number_start_index = input_value.indexOf(street_name) + street_name.length;
                $gac.val([input_value.substr(0, house_number_start_index), " ", input_value.substr(house_number_start_index, input_value.length)].join(""));
                var size = getRenderedSize(street_name + "I", $gac[0]);
                $("#house_number_bubble").css({right: size.width}).fadeIn("fast");
                $gac.one("keydown", function () {
                    $("#house_number_bubble").hide();
                });
//                $gac.setCaretPosition(house_number_start_index + 1); // this triggers the autocomplete again
            }

        }
    }
    function addMarker(address, zoom) {
        var image_url = "/static/images/mobile/red_marker.png";
        var size = new google.maps.Size(10, 10);
        var scaled_size  = new google.maps.Size(10, 10);
        if (window.devicePixelRatio && window.devicePixelRatio >= 2) {
            log("using retina image");
            image_url = "/static/images/mobile/red_marker_retina.png";
            size = new google.maps.Size(20, 20)
        }
        var markerImage = new google.maps.MarkerImage(image_url, size, undefined, new google.maps.Point(5, 5), scaled_size);
        GoogleMapHelper.addMarker(address, {icon: markerImage, marker_name: address.type, show_info:true});

        if (zoom) {
            GoogleMapHelper.setCenter(address.lat, address.lon);
            GoogleMapHelper.map.setZoom(17);
        }
    }

    function updateAddress(valid_address, lat, lon) {
        clearAddressInput();
        if (valid_address) {
            valid_address.type = "address";
            $("#gac").val(valid_address.description || valid_address.name);
            $("#clear_input").show();
            addMarker(valid_address, true);
            MobileHelper.address = valid_address;
            $("#select_address_btn").enable();
        } else {
            addMarker({ // fake, unknown address
                lat: lat,
                lon: lon,
                name: "כתובת לא ידועה",
                type: "address"
            });
        }
    }

    function getStartupMessage() {
        $.ajax({
            url:"{% url startup_message %}",
            dataType:"json",
            success:function (data) {
                if (data && data.show_message) {
                    var $message = $(data.page);
                    var $page = $("#" + $message.attr("id"));
                    $page.html($message.html());
                    $page.page();
                    $.mobile.changePage($page);
                }
            }
        });
    }
    function selectInterval() {
        var interval = $(this).jqmData("interval");
        MobileHelper.ride_date = $("#select_date").val();
        MobileHelper.ride_time = interval.time;
        MobileHelper.ride_price = interval.price;
        MobileHelper.order_type = interval.type;
        $.mobile.changePage("#booking_page");
    }

    function renderIntervals(data) {
        var $list = $("#interval_list");
        $list.empty();
        if (data.intervals) {
            $.each(data.intervals, function(i, interval) {
                var s = '<li><div class="popularity_container"><div class="popularity_text">פופולוריות</div><div class="popularity_meter_bg"><div class="popularity_meter_fg"></div></div><div class="popularity_text">מקסימום <span class="popularity_price"></span> ₪</div></div><a href="#"></a></li>';
                var $li = $(s);
                $li.find(".popularity_meter_fg").css({width: interval.popularity * 100 + "%"});
                $li.find(".popularity_price").text(interval.price);
                $li.find("a").jqmData("interval", interval).text(interval.time).click(selectInterval);
                $list.append($li);
            });
            try {
                $list.listview("destroy").listview();
            } catch (e) { } // ignore this
        }
    }
    function updateTimes(change_page) {
        HotspotHelper.getIntervals({
            data: {
                hotspot_type: MobileHelper.hotspot_type,
                lat: MobileHelper.address.lat,
                lon: MobileHelper.address.lon
            },
            success: function(data) {
                if (! (data.intervals && data.intervals.length > 0)) {
                    $.mobile.changePage("#address_input_page");
                    showErrorDialog("{% trans "The service is not operating in your specified address yet. Please try again soon." %}", "{% trans "Address Not Covered" %}");
                } else {
                    renderIntervals(data);
                    if (change_page) $.mobile.changePage("#select_time_page");
                }
            }
        });
    }

    function handleHotspotChange() {
        GoogleMapHelper.clearMarkers();
        if (MobileHelper.address) {
            updateTimes(true);
        } else {
            $.mobile.changePage("#address_input_page");
        }
    }
    function setupMapEvents() {
        // hide error dialog of it's visible
        google.maps.event.addListener(GoogleMapHelper.map, 'mousedown', function() {
            $("#error_dialog:visible").fadeOut('fast');
        });

        google.maps.event.addListener(GoogleMapHelper.map, 'dragstart', function() {
            if ($.mobile.activePage.attr("id") != "address_input_page") return; // work only on address_input_page
            log("drag start");
            GoogleMapHelper.setMarkersVisibility(false);
            $("#center_target").show();

            GoogleMapHelper.do_drag = true;
        });

        google.maps.event.addListener(GoogleMapHelper.map, 'dragend', function() {
            if ($.mobile.activePage.attr("id") != "address_input_page") return; // work only on address_input_page

            log("drag end");
            $("#center_target").hide();
            if (GoogleMapHelper.do_drag) {
                clearAddressInput();
                var center = GoogleMapHelper.map.getCenter();
                var input_id = "#gac";
                GoogleGeocodingHelper.reverseGeocodeToPickupAddress(center.lat(), center.lng(), input_id, updateAddress);
            } else {
                GoogleMapHelper.showMarkersByName("address");
            }
        });

        google.maps.event.addListener(GoogleMapHelper.map, 'zoom_changed', function() {
            if ($.mobile.activePage.attr("id") != "address_input_page") return; // work only on address_input_page

            log("zooom_changed");
            GoogleMapHelper.do_drag = false; // this was a zoom operation
            $.mobile.hidePageLoadingMsg();
        });
    }
    function initGoogle() {
        GoogleMapHelper.init({
            map_element: 'map_canvas',
            map_options:{
                center:new google.maps.LatLng(32.115985, 34.835441),
                scrollwheel: false,
                streetViewControl: false,
                keyboardShortcuts: false,
                mapTypeControl: false,
                zoomControl: true,
                mapTypeId:google.maps.MapTypeId.ROADMAP
            }
        });

        GoogleGeocodingHelper.newPlacesAutocomplete({
            id_textinput: "gac",
            map: GoogleMapHelper.map,
            onValidAddress:function (address) {
                gac_dirty = false;
                updateAddress(address);
            },
            onMissingStreetNumber: handleMissingHouseNumber,

            onNoValidPlace:function () {
                log("onNoValidPlace");
            }
        });

        setupMapEvents();
    }
    function init() {
        var gac_dirty = false;
        var gac_clean_value = undefined;

        $("#gac").keydown(function(e) {
            log("gac keydown event", gac_dirty, gac_clean_value);
            if (! gac_dirty) {
                gac_clean_value = $(this).val();
                gac_dirty = true;
            }
        }).blur(function(e) { // done button might have been pressed
            log("gac blur event", gac_dirty, gac_clean_value);
            if (gac_dirty && gac_clean_value) {
                setTimeout(function() {
                    $("#gac").val(gac_clean_value);
                    log("gac val after change", $("#gac").val());
                    gac_dirty = false;
                }, 1);
            }
        }).focus(function() {
            dismissHistoryList();
        });

        log("init");



        $(document).ajaxStart(function() {
            log("ajaxStart");
            $.mobile.showPageLoadingMsg();
        });
        $(document).ajaxStop(function() {
            log("ajaxStop");
            $.mobile.hidePageLoadingMsg();
        });

        // check for startup message
        getStartupMessage();

        // helpers init

        MobileHelper.init({
            urls:{
                resolve_coordinates     : "{% url ordering.passenger_controller.resolve_coordinates %}",
                get_myrides_data        : "{% url sharing.passenger_controller.get_myrides_data %}",
                cancel_order            : "{% url sharing.passenger_controller.cancel_order %}",
                get_order_status        : "{% url sharing.passenger_controller.get_order_status %}",
                get_sharing_cities      : "{% url get_sharing_cities %}"
            },
            labels: {
                pickup      : "{% trans 'From' %}",
                pickupat    : "{% trans '_pickupat' %}",
                dropoff     : "{% trans 'To' %}",
                price       : "{% trans 'Price' %}",
                cancel_ride : "{% trans 'Cancel Ride' %}",
                report_ride : "{% trans 'Report Ride' %}",
                sms_sent    : "{% trans 'An SMS notification will be sent (at no charge) prior to your pickup' %}.",
                final_pickup: "{% trans 'Final Pickup Time' %}",
                taxi_number : "{% trans 'Taxi Number' %}",
                taxi_station: "{% trans 'Taxi Station' %}",
                order_cancelled: "{% trans 'Order Cancelled' %}"
            },
            selectors: {
                ride_details_page   : "#myride_details_page",
                my_rides_page       : "#myrides_page",
                ride_details        : "#myride_details_page .ride_summary",
                ride_details_btn    : "#ride_details_btn"
            },
            callbacks:{
                locationSuccess: function (position) {
                    GoogleMapHelper.setCenter(position.coords.latitude, position.coords.longitude);
                    GoogleGeocodingHelper.reverseGeocodeToPickupAddress(position.coords.latitude, position.coords.longitude, "#gac", updateAddress);
                    $("#gps_btn").removeClass("active");

                },
                locationError: function() {
                    $("#gps_btn").removeClass("active");
                    //TODO_WB: handle error
                }
            }
        });

        HotspotHelper.init({
            selectors: {
                hotspotpicker: "#select_hotspot",
                datepicker: "#select_date"
            },
            labels: {
                choose_date: "{% trans "Choose Date" %}",
                updating: "{% trans "Updating..." %}"
            },
            urls: {
                get_hotspot_data: "{% url sharing.passenger_controller.get_hotspots_data %}",
                get_hotspot_dates: "{% url sharing.passenger_controller.get_hotspot_dates %}",
                get_hotspot_offers: "{% url sharing.passenger_controller.get_hotspot_offers %}"
            }
        });

        HotspotHelper.getHotspotData({
            data: {numdays: 7},
            beforeSend: function() {
            },
            success: function(response) {
                var $hotspot_list = $("#select_hotspot");
                $hotspot_list.empty();
                $.each(response.data, function(i, hs) {
                    hotspots.push(hs);
                    var option = $("<option value='" + hs.id + "'>" + hs.name + "</option>").jqmData("hotspot", hs);
                    $hotspot_list.append(option);

                    if (hotspots.length == response.data.length) {
                        try {
                            $hotspot_list.selectmenu("refresh", true);
                        } catch (e) {
                            // do nothing
                        }
                    }
                });
            }
        });

        initGoogle();

        $("#booking_page").bind("pagebeforeshow", function() {
            var first_selector, second_selector;
            if (MobileHelper.hotspot_type == "pickup") {
                first_selector = "#pickup_widget";
                second_selector = "#dropoff_widget";
            } else {
                first_selector = "#dropoff_widget";
                second_selector = "#pickup_widget";
            }
            $(this).find(first_selector).find(".description").text(MobileHelper.hotspot.name);
            $(this).find(first_selector).find(".address").text([MobileHelper.hotspot.address, MobileHelper.hotspot.city_name].join(", "));
            $(this).find("#price_quote .price").text(MobileHelper.ride_price);

            if (MobileHelper.address.description) {
                $(this).find(second_selector).find(".address").text(MobileHelper.address.name);
                $(this).find(second_selector).find(".description").text(MobileHelper.address.description);
            } else {
                $(this).find(second_selector).find(".description").text(MobileHelper.address.name);
                $(this).find(second_selector).find(".address").text("");
            }
            var date = MobileHelper.ride_date;
            if (getFullDate(new Date()) == date) {
                date = "היום";
            }
            $(this).find("#time_widget").find(".description").text([date, MobileHelper.ride_time].join(", "));

        });

        $("#choose_pickup_btn").click(function() {
            if (MobileHelper.hotspot_type == "pickup") {
                $.mobile.changePage("#select_hotspot_page");
            } else {
                $.mobile.changePage("#address_input_page");
            }
        });

        $("#choose_dropoff_btn").click(function() {
            if (MobileHelper.hotspot_type == "pickup") {
                $.mobile.changePage("#address_input_page");
            } else {
                $.mobile.changePage("#select_hotspot_page");
            }
        });

        $("#address_input_page").bind("pagebeforeshow", function() { // page-before-show
            var title;
            if (! MobileHelper.address) {
                $(this).find("button").disable();
            }

            if (MobileHelper.hotspot_type == "pickup") {
                title = "כתובת מוצא";
            } else {
                title = "כתובת יעד";
            }

            $(this).find("h1").text(title);

        }).bind("pageshow", function () {
            var map_div = GoogleMapHelper.map.getDiv();
            $(".map_container", $(this)).append(map_div);
            $(map_div).show();
            GoogleMapHelper.showMarkersByName("address");
        }).bind("pagebeforehide", function() { // page-before-hide
            var map_div = GoogleMapHelper.map.getDiv();
            $(map_div).hide();
            dismissHistoryList();
        });


        $("#select_hotspot_page").bind("pagebeforeshow", function() {
            if (! MobileHelper.hotspot) {
                $(this).find("button").set_button_text("-").disable();
                showHotspot(hotspots[0]);
            } else {
                showHotspot(MobileHelper.hotspot);
            }
        }).bind("pageshow", function() {
            var map_div = GoogleMapHelper.map.getDiv();
            $(".map_container", $(this)).append(map_div);
            $(map_div).show();
            google.maps.event.trigger(GoogleMapHelper.map, 'resize');
            GoogleMapHelper.showMarkersByName("hotspot");
        }).bind("pagebeforehide", function () {
            var map_div = GoogleMapHelper.map.getDiv();
            $(map_div).hide();
        });

        $("#select_time_page").bind("pagebeforeshow", function() {
            var list_height = window.screen.availHeight - $(this).find(".upper_toolbar_container").height() - $(this).find(".ui-header").height();
            $("#list_container").css({height: list_height + "px"});
        });

        $("#select_hotspot").change(function() {
            showHotspot($("#select_hotspot").find("option:selected").jqmData("hotspot"));
        });

        $("#leave_hs_btn").click(function() {
            selectHotspot($("#select_hotspot").find("option:selected").jqmData("hotspot"));
            MobileHelper.hotspot_type = "pickup";
            handleHotspotChange();
        });

        $("#get_to_hs_btn").click(function() {
            selectHotspot($("#select_hotspot").find("option:selected").jqmData("hotspot"));
            MobileHelper.hotspot_type = "dropoff";
            handleHotspotChange();
        });

        {% block init %}{% endblock %}

        // booking page

        $("#gac").bind("keyup", function() {
            if ($(this).val()) {
                $("#clear_input").show();
            } else {
                $("#clear_input").hide()
            }
        });

        $("#clear_input").hide().click(clearAddressInput);

        $("#select_address_btn").click(function() {
            updateTimes(true);
        });

        $("#select_date").change(function() {
            updateTimes();
        });

        $("#calculate_ride_btn").click(function() {
            bookRide();
        });

        // numseats page
        $(".choose-numseats").click(function(){
            MobileHelper.num_seats = $(this).data("numseats");
            renderNumseats();
        });

        $("#gps_btn").click(function() {
            $(this).addClass("active");
            dismissHistoryList();
            MobileHelper.getCurrentLocation();
        });

        $("#history_btn").click(toggleHistoryList);

        $("#home").bind("pagebeforeshow", function() {
            MobileHelper.updateMyRidesBubble("#myrides_btn");
        });

        // choose ride page
        $(".order_button").disable();

        $("#select_hotspot_help").click(function() {
            $.mobile.changePage("#select_hotspot_help_page");
        });

        // my rides page
        $("#myrides_page").bind("pagebeforeshow", function(e, data) {
            if ((data.prevPage.attr("id") == "myride_details_page")) {
                // if we get here from a ride details page dont get new data
            }
            else{
                $("#upcoming_rides_btn").click();
            }
        });
        $("#upcoming_rides_btn").click(function() {
            MobileHelper.getMyRidesData({get_next_rides: true}, "#rides_list");
        });
        $("#ride_history_btn").click(function() {
            MobileHelper.getMyRidesData({get_previous_rides: true}, "#rides_list");
        });

        {% block sharing_link %}
        // share page
//        $("#share_fb").click(function(e) {
//            window.location.href = SocialHelper.getFacebookShareLink(true);
//            e.preventDefault();
//        });
        $("#like_fb").click(function(e) {
            window.location.href = SocialHelper.getFacebookLikeLink(true);
            e.preventDefault();
        });
        {% endblock sharing_link %}

        $("#share_email").click(function() {
            window.location.href = SocialHelper.getEmailShareLink();
        });

        {% block welcome_page %}
        {% if not request.user.is_authenticated %}
//            $.mobile.changePage("#welcome_page");
        {% endif %}
        {% endblock welcome_page %}

    }

    {% block init_call %}
    $(document).one("pageinit", init);
    {% endblock init_call %}
    //]]>
    </script>

{% endblock doc_ready %}

{% block body %}
    <div id="home" data-role="page" data-theme="a">
        <div data-role="header" class="wb-header"></div>
        <div class="sub-header">{% trans 'Shared Taxis to Central Locations' %}</div>
        <div data-role="content">
            <div class="ui-grid-a"> {#  2-column grid #}
                <div class="ui-block-a">
                    <a href="#select_hotspot_page" id="home_book_order_btn" data-role="button" data-iconpos="top"
                       data-icon="wb_custom">
                        {% trans 'Order Now' %}
                    </a>
                </div>

                <div class="ui-block-b">
                    {% block myrides_btn %}
                    <a id="myrides_btn" data-role="button" data-iconpos="top" data-icon="wb_custom"
                            {% if request.user.is_authenticated %}
                            href="#myrides_page"
                            {% else %}
                            href="{% url mobile_auth_login %}" data-ajax="false"
                            {% endif %}
                        >{% trans 'My Rides' %}
                    </a>
                    {% endblock myrides_btn %}
                </div>
            </div>
            <div class="ui-grid-a">
                <div class="ui-block-a">
                    <a href="mailto:support@waybetter.com" id="feedback_btn" data-role="button"
                       data-iconpos="top" data-icon="wb_custom">{% trans 'Feedback' %}</a>
                </div>

                <div class="ui-block-b">
                    <a href="#settings_page" id="settings_btn" data-role="button" data-iconpos="top"
                       data-icon="wb_custom">{% trans 'More' %}</a>
                </div>
            </div>
            <div class="ui-grid-b"> {#  3-column grid #}
                <div class="ui-block-a quarter"></div>
                <div class="ui-block-b half">
                    <a href="#share_page" id="share_btn" data-role="button" data-iconpos="top"
                       data-icon="wb_custom">{% trans 'Share' %}</a>
                </div>
                <div class="ui-block-c quarter"></div>
            </div>

        </div>
    </div>

    <div id="select_hotspot_page" data-role="page">
        <div data-role="header">
            <h1>בחר HotSpot</h1>
            <a href="#" data-rel="back" class="ui-btn-right" data-theme="h">{% trans "Back" %}</a>
        </div>
        <div data-role="content">
            <div class="upper_toolbar_container">
                <select id="select_hotspot"></select>
                <div class="address_controls">
                    <div id="select_hotspot_help" class="address-control"></div>
                </div>
            </div>
            <div class="map_container">
                <div id="map_canvas"></div>
            </div>
            <button data-theme="d" id="leave_hs_btn">Leave</button>
            <button data-theme="d" id="get_to_hs_btn">Get To</button>
        </div>
    </div>

    <div id='select_hotspot_help_page' data-role="dialog" data-overlay-theme="a">
        <div data-role="header">
            <h1>מה זה HotSpot?</h1>
        </div>
        <div data-role="content">
            <p>
                ‏‫HotSpots הם מקומות או אירועים בהם WAYbetter פועלת ומציעה נסיעות במחירים מוזלים בזכות הנוסעים הרבים החולקים מוניות‬
            </p>
            <a href="mailto:support@waybetter.com" data-theme="d" data-rel="back" data-role="button">‫הצע HotSpot‬</a>
            <a href="#" data-theme="b" data-rel="back" data-role="button">Close</a>
        </div>
    </div>

    <div id="address_input_page" data-role="page">
        <div data-role="header">
            <h1>בחר כתובת</h1>
            <a href="#" data-rel="back" class="ui-btn-right" data-theme="h">{% trans "Back" %}</a>
        </div>
        <div data-role="content">
            <div class="upper_toolbar_container">
                <input id="gac" type="text">
                <span id="clear_input"></span>
                <div class="address_controls">
                    <div id="history_btn" class="address-control"></div>
                    <span class="toolbar-divider"></span>
                    <div id="gps_btn" class="address-control"></div>
                </div>
                <div id="house_number_bubble">השלם מספר בית</div>
            </div>
            <div class="map_container">
                <span id="center_target"></span>
            </div>
            <button id="select_address_btn" data-theme="d">המשך</button>
        </div>
    </div>

    <div id="select_time_page" data-role="page">
        <div data-role="header">
            <h1>זמן איסוף</h1>
            <a href="#" data-rel="back" class="ui-btn-right" data-theme="h">{% trans "Back" %}</a>
        </div>
        <div data-role="content">
            <div class="upper_toolbar_container">
                <select id="select_date"></select>

                <h4>
                    בחר שעת איסוף
                </h4>
            </div>
{#            <div id="list_container">#}
                <ul data-role="listview" id="interval_list">
                    <li>
                        <div class="popularity_container">
                            <div class="popularity_text">Popularity</div>
                            <div class="popularity_meter_bg">
                                <div class="popularity_meter_fg" style="width:90%"></div>
                            </div>
                            <div class="popularity_text">max <span class="popularity_price">₪ 22</span></div>
                        </div>
                        <a href="#">08:20 - 08:40</a>
                    </li>
                    <li>
                        <div class="popularity_container">
                            <div class="popularity_text">Popularity</div>
                            <div class="popularity_meter_bg">
                                <div class="popularity_meter_fg" style="width:15%"></div>
                            </div>
                            <div class="popularity_text">max <span class="popularity_price">₪ 60</span></div>
                        </div>
                        <a href="#">08:20 - 08:40</a>
                    </li>
                </ul>
{#            </div>#}
        </div>
    </div>

    <div id="startup_message" data-role="page"></div>

    <div id="booking_page" data-role="page" data-theme="a">
        <div data-role="header">
            <h1>{% trans 'Your WAY' %}</h1>
            <a href="#home" data-icon="wb_custom" data-theme="h" data-iconpos="notext" data-transition="pop"></a>

        </div>
        <div data-role="content">

            <div id="pickup_widget" class="booking_widget">
                <ul data-role="listview" class="rtl-listview narrow" data-inset="true">
                    <li data-icon="arrow-l">
                        <a href="#" id="choose_pickup_btn">
                            <h1 class="header"><span class="direction">מוצא:</span> <span class="description">Bla bla st</span></h1>
                            <p class="address">dasldjaklsdj alskjakls d</p>
                        </a>
                    </li>
                </ul>
            </div>

            <div id="dropoff_widget" class="booking_widget">
                <ul data-role="listview" class="rtl-listview narrow" data-inset="true">
                    <li data-icon="arrow-l">
                        <a href="#" id="choose_dropoff_btn">
                            <h1 class="header"><span class="direction">יעד:</span> <span class="description">Bla bla st</span></h1>
                            <p class="address">dasldjaklsdj alskjakls d</p>
                        </a>
                    </li>
                </ul>
            </div>

            <div id="time_widget" class="booking_widget">
                <ul data-role="listview" class="rtl-listview narrow" data-inset="true">
                    <li data-icon="arrow-l">
                        <a href="#select_time_page" id="choose_pickup_time_btn">
                            <h1 class="header"><span class="direction">שעת איסוף:</span> <span class="description">Bla bla st</span></h1>
                        </a>
                    </li>
                </ul>
            </div>
                <div class="booking_widget" id="seat_selector_wrapper" >
                <ul data-role="listview" class="rtl-listview narrow" data-inset="true">
                    <li data-icon="arrow-l">
                        <a href="#numseats_page" id="numseats_btn">
                            <h1 class="header">{% trans "One seat" %}</h1>
                            <p class="desc"></p>
                        </a>
                    </li>
                </ul>
            </div>
            <hr>
            <div id="price_quote">מחיר נסיעה מובטח: <span class="price"></span> ₪</div>
            <button type="button" id="calculate_ride_btn" data-theme="d">הזמן נסיעה</button>
        </div>
    </div>

    <div id="welcome_page" data-role="page" data-theme="a">
        <div data-role="header" class="wb-header"></div>
        <div data-role="content" class="center">
            <div class="text">
                <p><strong>{% trans 'Welcome' %}</strong></p>

                <p>{% trans "mobile_app_welcome_txt" %}</p>

                <p><strong>{% trans 'This app is free (as in free beer)' %}</strong></p>
            </div>
            <hr/>
            <div class="buttons">
                <a href="#home" data-role="button" data-transition="fade" data-theme="d"
                   class="first">{% trans 'Enter App' %}</a>
                <a href="#login_or_register_page" data-ajax="false" data-role="button"
                   data-theme="f">{% trans 'Login/Join Now' %}</a>
            </div>

            <div class="welcome-img"></div>
        </div>
    </div>

    <div id="login_or_register_page" data-role="page" data-theme="a">
        <div data-role="header">
            <h1>{% trans "Login To Your Account" %}</h1>
            <a href="#" data-rel="back" data-theme="h" class="ui-btn-right">{% trans 'Back' %}</a>
        </div>
        <div data-role="content" class="center">
            <div class="bold center">{% trans "Login to enjoy WAYbetter taxi service" %}</div>

            <p></p>
            <a data-ajax="false" href="{% url join %}" data-role="button" data-theme="d">{% trans 'New Member? Join Now!' %}</a>
            <p></p>
            <a data-ajax="false" href="{% url mobile_auth_login %}?next={% url login_redirect %}" data-role="button" data-theme="d">{% trans 'Memebers Entrance' %}</a>

            <hr/>

            <div id="advtgs">
                <div class="bold">יתרונות השירות:</div>
                <ul>
                    <li>אין דמי מנוי. אתה חוסך, כולם מרוויחים</li>
                    <li>סע בלי מזומן! תשלום באשראי מהאפליקציה</li>
                    <li>תזכורת חינם ב-SMS בטרם הגעת המונית</li>
                    <li>חסכון מובטח של עשרות שקלים בכל נסיעה</li>
                    <li>ניהול נסיעות, חשבונית מס חודשית מפורטת</li>
                    <li>שירות יעיל, ירוק וידידותי לסביבה ולאדם</li>
                </ul>
            </div>
        </div>
    </div>

    <div id="numseats_page" data-role="page">
        <div data-role="header">
            <a href="#" data-rel="back" class="ui-btn-right" data-theme="h">{% trans "Back" %}</a>
            <h1>{% trans 'Number of Seats' %}</h1>
        </div>
        <div data-role="content">
            <ul data-role="listview" class="rtl-listview" data-inset="true">
                <li data-icon="arrow-l">
                    <a href="#" class="choose-numseats" data-numseats="1" data-rel="back">{% trans "Order 1 seat" %}</a>
                </li>
                {% for i in "234" %}
                    <li data-icon="arrow-l">
                        <a href="#" class="choose-numseats" data-numseats="{{ i }}" data-rel="back">{% blocktrans %}Order {{ i }} seats{% endblocktrans %}</a>
                    </li>
                {% endfor %}


            </ul>
        </div>
    </div>

    <div id="myrides_page" data-role="page">
        <div data-role="header">
            <a href="#home" data-icon="wb_custom" data-theme="h" data-iconpos="notext" data-transition="pop"
               class="ui-btn-right"></a>

            <h1>{% trans "My Rides" %}</h1>

            <div data-role="navbar">
                <ul class="ui-body-g">
                    <li><a id="upcoming_rides_btn" href="#" class="ui-btn-active">{% trans 'Upcoming Rides' %}</a></li>
                    <li><a id="ride_history_btn" href="#">{% trans 'Ride History' %}</a></li>
                </ul>
            </div>
        </div>
        <div data-role="content">
            <ul id="rides_list" data-role="listview" class="rtl-listview" data-theme="a">
            </ul>
        </div>
    </div>

    <div id="myride_details_page" data-role="page">
        <div data-role="header">
            <a href="#" data-rel="back" data-theme="h" class="ui-btn-right">{% trans 'Back' %}</a>

            <h1>{% trans "Ride Details" %}</h1>
        </div>
        <div data-role="content">
            <div class="ride_summary">
                <div class="pickup">
                    <span class="details_label">{% trans "From" %}</span>
                    <div class="text"></div>
                </div>
                <hr/>
                <div class="dropoff">
                    <span class="details_label">{% trans "To" %}</span>
                    <div class="text"></div>
                </div>
                <hr/>
                <div class="when">
                    <span class="details_label">{% trans "_pickupat" %}: </span>
                    <span class="text"></span>
                </div>
                <div class="price">
                    <span class="details_label">{% trans "Price" %}: </span>
                    <span class="text"></span>
                </div>
            </div>

            <div class="ride_details_comment"></div>
            <a id="ride_details_btn" data-role="button" href="#" data-theme="f"></a>
        </div>
    </div>

    <div id="share_page" data-role="page" data-theme="a">
        <div data-role="header">
            <a href="#home" data-icon="wb_custom" data-theme="h" data-iconpos="notext" data-transition="pop"
               class="ui-btn-right"></a>

            <h1>{% trans "Share" %}</h1>
        </div>
        <div data-role="content">
            <ul class="rtl-listview" data-role="listview" data-inset="true">
{#                <li data-icon="arrow-l"><a id="share_fb" href="#" data-ajax="false">{% trans "Share on Facebook" %}</a></li>#}
                <li data-icon="arrow-l"><a id="like_fb" href="#" data-ajax="false">{% trans "Like us" %}</a></li>
                <li data-icon="arrow-l"><a id="share_email" href="#">{% trans "Tell a Friend (email)" %}</a></li>
                <li data-icon="arrow-l"><a target="_blank" rel="external" id="rate_on_itunes" href="{% value_from_settings "APPLE_WAYBETTER_ITUNES_URL" %}">{% trans "Rate Us" %}</a></li>
            </ul>
            <div class="note">{% trans "Remember, the more passengers using this app the better it becomes (higher efficiency, cheaper rides and better availablity). <br/><br/>Thanks :)" %}</div>
        </div>
    </div>

    <div id="settings_page" data-role="page" data-theme="a">
        <div data-role="header">
            <a href="#home" data-icon="wb_custom" data-theme="h" data-iconpos="notext" data-transition="pop"
               class="ui-btn-right"></a>
            <h1>{% trans "More" %}...</h1>
        </div>
        <div data-role="content">
            <ul id="settings_list" class="rtl-listview" data-role="listview" data-inset="true">
                <li data-icon="arrow-l"><a href="#about_page">{% trans "About" %}</a></li>
                <li data-icon="arrow-l"><a href="{% url faq %}" data-ajax="false">{% trans "FAQ" %}</a></li>
            </ul>
            <ul class="rtl-listview" data-role="listview" data-inset="true">
                <li data-icon="arrow-l"><a href="{% url privacy %}" data-ajax="false">{% trans "Privacy Policy" %}</a></li>
                <li data-icon="arrow-l"><a href="{% url terms %}" data-ajax="false">{% trans "Terms of Use" %}</a></li>
            </ul>

            <ul id="auth_list" class="rtl-listview" data-role="listview" data-inset="true">
                {% block settings_list %}
                {% if request.user.is_authenticated %}
                <li data-icon="arrow-l"><a data-ajax="false" href="{% url auth_logout %}">{% trans "Logout" %} ({{ request.user.username }})</a></li>
                {% else %}
                <li data-icon="arrow-l"><a data-ajax="false" href="{% url mobile_auth_login %}">{% trans "Login" %}</a></li>
                {% endif %}
                {% endblock settings_list %}
            </ul>

        </div>
    </div>

    <div id="about_page" data-role="page" data-theme="a">
        <div data-role="header">
            <a href="#" data-rel="back" data-theme="h" class="ui-btn-right">{% trans 'Back' %}</a>

            <h1>{% trans "About" %}</h1>
        </div>
        <div data-role="content">
            <div class="ui-grid-a">
                <div class="ui-block-a">
                    <div class="about_icon"></div>
                </div>
                <div class="about_header ui-block-b">
                    <h1>WAYbetter</h1>
                    <p>1.0</p>
                </div>
            </div>
            <div class="copyright" class="ltr">© 2011 WAYbetter™ LTD. All rights reserved.<br/><span class="bold">Patent pending.</span></div>
            <div id="partners_logos"></div>
        </div>
    </div>

{% endblock body %}
