<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
{% block html_declare %}
<html lang="en">
{% endblock %}

<head>
    <title>{% if user.is_authenticated %}Hello {{ user }}{% else %}Please login{% endif %}</title>
    <link rel="stylesheet" type="text/css" media="screen"  href="{{ MEDIA_URL }}css/socialauth.css" />
    {% block extra_head %}
    {% endblock %}
</head>

<body>
    <h1>social-auth</h1>
		{% if FACEBOOK_APP_ID %}
		  <div id="fb-root"></div>
          <script src="http://connect.facebook.net/en_US/all.js" type="text/javascript"></script>                   
		  <script>
			FB.init({appId: '{{ FACEBOOK_APP_ID }}', status: true, cookie: true, xfbml: true});
            FB.getLoginStatus(function(response) {
                if (response.session) {
                    FB.noNeedForFBLogin = true;
                }
            });
			FB.Event.subscribe('auth.sessionChange', function(response) {
			  if (response.session) {
                  alert('FB: login done!');
				  window.location = '{% url socialauth_facebook_login_done %}';
			  } else {
                  alert('FB: logout done!');
				  //window.location = '{% url socialauth_social_logout %}';
			  }
			});
		  </script>    
		{% endif %}    
    {% block extra_body %}
    {% endblock %}
    
    {% block main_content %}
    {% endblock %}
    
    {% block content %}
    {% endblock %}
    <!-- Insert your content here -->
</body>
</html>
