#yellow_header {
    height: 57px;
}
#taxi_tab {
    top: -50px;
    left: 100px;
    width: 184px;
    height: 42px;
    background-image: url(../img/taxi_tab.png);
}
#taxi_tab > h1 {
    margin-top: 10px;
    font-size: 27px;
}
