{% extends "admin/map_points.html" %}

{% block extrahead %}
    {{ block.super }}

    <script type="text/javascript">
        $(function() {
            $.extend(MapPointsHelper, {
                hotspot_marker      : undefined,
                hotspot_lat         : {{ original.lat }},
                hotspot_lon         : {{ original.lon }},

                renderHotspot       : function () {
                    var that = this;
                    var icon_image = new telmap.maps.MarkerImage("/static/images/hotspot_marker.png", undefined, undefined, {x:20, y:20});
                    var point = new telmap.maps.LatLng(that.hotspot_lat, that.hotspot_lon);
                    that.hotspot_marker = new telmap.maps.Marker({
                        map:        OrderingHelper.map,
                        position:   point,
                        draggable:  false,
                        icon:       icon_image,
                        title:      'Hotspot'
                    });
                },
                centerMap: function () {
                    var that = this;
                    var bounds = new telmap.maps.LatLngBounds();
                    if (that.hotspot_marker) {
                        bounds.extend(that.hotspot_marker.getPosition());
                    }
                    $.each(that.polygons, function(i, polygon) {
                        $.each(polygon.getPath().array, function(i, point) {
                            bounds.extend(point);
                        })
                    });
                    if (! bounds.isEmpty()) {
                        OrderingHelper.map.fitBounds(bounds);
                        OrderingHelper.map.panToBounds(bounds);
                    }
                }
            });

            $(document).bind("map_loaded", function() {
                MapPointsHelper.renderHotspot();
            });
        });


    </script>
{% endblock %}