/* top right bottom left */	
/*#chrome {*/
	/*position: absolute;*/
	/*bottom: 0px;*/
	/*left: 0px;*/
	/*right: 0px;*/
	/*top: 0px;*/
	/*border-width: 59 17 17 17; */
	/*-webkit-border-image: url(../images/station-module-example.png) 59 17 17 17 stretch stretch;*/
/*}*/


#chrome_top {
	background-image: url(../images/station_module_normal_top.png);
	background-repeat: no-repeat;
	position: absolute;
	height: 44px;
	top: 0px;
	left: 0px;
	right: 0px;
}

#chrome_bottom {
	background-image: url(../images/station_module_normal_buttom.png);
	background-repeat: no-repeat;
	position: absolute;
	height: 24px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

#app {
	position: absolute;
	bottom: 24px;
	left: 2px;
	right: 2px;
	top: 44px;
    height: 528px;
    width: 328px;
	/*border-width: 1 2 2 2; */
	/*-webkit-border-image: url(../images/workspace.png) 1 2 2 2 stretch stretch;*/
}

#grip {
	position: absolute;
	right: 8px;
	bottom: 12px;	
}

.controls {
	#background-image: url(../images/top_separator.png);
	background-repeat: no-repeat;
	position: absolute;
	height: 60px;
	top: -1px;
}

.window {
	width: 75px;
	right: 0px;
	padding-top: 24px;
}

.window div {
	float: left;	
}

#title {
	position: absolute;
	right: 40px;
	top: 10px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #2C2C2C;
	-webkit-user-select: none;
	cursor: default;	
}

#minimize {
	margin-left: 16px;
	background-image: url(../images/icon_minimize13.png);
	background-repeat: no-repeat;
	height: 13px;
	width: 13px;
}

#minimize:hover {
	background-image: url(../images/icon_minimize_over13.png);
}

#maximize {
	background-image: url(../images/icon_maximize13.png);
	background-repeat: no-repeat;
	height: 13px;
	width: 13px;
}

#maximize:hover {
	background-image: url(../images/icon_maximize_over13.png);
}

#close {
	background-image: url(../images/icon_close13.png);
	background-repeat: no-repeat;
	height: 13px;
	width: 13px;	
}

#close:hover {
	background-image: url(../images/icon_close_over13.png);
}

.button {
	background-image: url(images/button_skin.png);
	background-repeat: no-repeat;
	height: 29px;
	width: 31px;
	position: absolute;
}

.button:hover {
	background-image: url(images/button_over_skin.png);
}

#add {
	right: 80px;
	top: 15px;
}

#add img {
	float: left;
	margin-left: 11px;
	margin-top: 11px;
}